Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

refactor: remove CreateCertificate method and related audit handling from CA services
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/services/ca.go
  core/pkg/services/ca.go
Due: core, backend

refactor: clean up CA publisher test configuration and convenience wrappers
  backend/pkg/middlewares/audit/ca_test.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
Due: none

refactor: remove unused code and clean up CA error handling
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/errs/ca.go
Due: core, backend

add independent svc
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
Due: backend

adding changes
  backend/pkg/services/ca.go
  core/pkg/resources/careq.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: core, backend

implement changes
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
Due: backend

fixing signig process
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
Due: backend

added tag to KMS key
  backend/pkg/assemblers/kms_create_import_tags_metadata_test.go
  backend/pkg/assemblers/kms_tags_test.go
  core/pkg/resources/careq.go
Due: core

fix migrations ca_certificate_requests
  engines/storage/postgres/migrations_test/ca_test.go
Due: none

add doc
  .github/openapi-doc/kms-openapi.yaml
Due: none

move docs
  doc/kms-openapi.yaml
Due: none

backend test first in ci
  .github/workflows/ci-test.yaml
Due: none

Added OTEL tracing to HTTP, DB and internal calls. Very experimental metric support added (more work is required).
  .gitignore
  LICENSE
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/middlewares/otel/crl.go
  backend/pkg/middlewares/otel/kms.go
  backend/pkg/routes/utils.go
  core/pkg/errs/device.go
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  engines/storage/postgres/utils.go
  go.work.sum
  otel/config.alloy
  otel/docker-compose.yaml
  otel/grafana-datasources.yaml
  otel/jaeger.yaml
  otel/jaeger/docker-compose.yaml
  otel/loki.yaml
  otel/prometheus.yaml
  otel/tempo.yaml
  sdk/ca.go
  sdk/go.mod
  sdk/go.sum
  sdk/otel.go
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

Update OpenTelemetry dependencies and refactor metrics handling in CA and KMS middleware
  backend/go.mod
  backend/go.sum
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/middlewares/otel/kms.go
  engines/crypto/filesystem/filesystem.go
  go.work.sum
  sdk/otel.go
Due: sdk, crypto-filesystem, backend

Refactor context handling in service and controller methods to use context.Request.Context() for improved traceability and consistency
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/est.go
  backend/pkg/controllers/kms.go
  backend/pkg/services/ca.go
  backend/pkg/services/crl.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/kms.go
  backend/pkg/x509engines/x509engine.go
  engines/crypto/software/software.go
Due: backend

Modified prometheus and grafana sampling rate. Added tracing to CRL creation
  backend/pkg/services/crl.go
  otel/grafana-datasources.yaml
  otel/prometheus.yaml
  sdk/otel.go
Due: sdk, backend

add dependency to Watermill
  backend/go.sum
  backend/pkg/eventbus/pubsub.go
  core/pkg/engines/eventbus/messaging.go
  core/pkg/services/eventhandling/handler.go
Due: core, backend

feat: integrate OpenTelemetry for tracing in Watermill messaging
  backend/go.mod
  backend/go.sum
  backend/pkg/eventbus/pubsub.go
  backend/pkg/middlewares/eventpub/utils.go
  core/go.mod
  core/go.sum
  core/pkg/engines/eventbus/messaging.go
  go.work.sum
  sdk/go.mod
  sdk/go.sum
Due: core, sdk, backend

Update dependencies to latest versions across multiple modules
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/kms_create_import_tags_metadata_test.go
  backend/pkg/assemblers/kms_tags_test.go
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

feat: add signature verification test case and update CA service import logic
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  go.work.sum
Due: backend

fix: remove redundant backend module from CI matrix and ensure proper formatting in LICENSE
  .github/workflows/ci-test.yaml
  .gitignore
  LICENSE
Due: none

fix: correct import alias for helpers in DMS manager service
  backend/pkg/assemblers/dms-manager.go
Due: backend

Added Dockerfiles for hybrid deployment
  ci/devmanager.dockerfile
  ci/pq_alerts.dockerfile
  ci/pq_devmanager.dockerfile
  ci/pq_dmsmanager.dockerfile
  ci/pq_va.dockerfile
Due: none

Added makefile for ease of development
  Makefile
Due: none

Update dependencies across multiple modules
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

fix: ca: Root CA Extended Key Usages
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/x509engines/x509engine.go
Due: backend

chore: update go.work.sum for dependency synchronization
  go.work.sum
Due: none

chrore(deps): sync workspace deps (#369)
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

fix: ca: Root CA Extended Key Usages (#370)
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/x509engines/x509engine.go
Due: backend

feat: add CA issuance profile support for CreateCA functionality
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  sdk/ca.go
Due: core, sdk, backend

feat: enhance Root CA tests with additional EKU scenarios and enforce SignAsCA in inline profiles
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/services/ca.go
Due: backend

feat: enforce SignAsCA requirement for inline CA issuance profiles and enhance certificate template handling
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/helpers/cryptoutils.go
Due: core, backend

feat: implement issuance profile validation for certificate templates
  backend/pkg/x509engines/x509engine.go
Due: backend

feat: add crypto enforcement tests for CA issuance profiles
  backend/pkg/assemblers/tests/ca/ca_main_test.go
Due: none

feat: add backward compatibility test for CA creation without profile
  backend/pkg/assemblers/tests/ca/ca_main_test.go
Due: none

Implemented necessary changes to complete the merge. PQ support is back.
  .gitignore
  backend/go.mod
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_sign_test.go
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  connectors/awsiot/pkg/assembler.go
  core/go.mod
  core/pkg/engines/eventbus/messaging.go
  core/pkg/models/events.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/storage/postgres/cmd/goose-lamassu/main.go
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/ca.go
  shared/subsystems/go.sum
Due: core, sdk, crypto-filesystem, storage-postgres, backend

feat: add optional CA issuance profile fields to OpenAPI schema and clarify compatibility in CreateRootCA
  backend/pkg/x509engines/x509engine.go
  docs/ca-openapi.yaml
Due: backend

feat: add CA issuance profile support for CreateCA functionality (#371)
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  docs/ca-openapi.yaml
  sdk/ca.go
Due: core, sdk, backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
