Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

add dependency to Watermill
  backend/go.sum
  backend/pkg/eventbus/pubsub.go
  core/pkg/engines/eventbus/messaging.go
  core/pkg/services/eventhandling/handler.go
Due: core, backend

feat: integrate OpenTelemetry for tracing in Watermill messaging
  backend/go.mod
  backend/go.sum
  backend/pkg/eventbus/pubsub.go
  backend/pkg/middlewares/eventpub/utils.go
  core/go.mod
  core/go.sum
  core/pkg/engines/eventbus/messaging.go
  go.work.sum
  sdk/go.mod
  sdk/go.sum
Due: core, sdk, backend

Modified prometheus and grafana sampling rate. Added tracing to CRL creation
  backend/pkg/services/crl.go
  otel/grafana-datasources.yaml
  otel/prometheus.yaml
  sdk/otel.go
Due: sdk, backend

test: enhance logger configuration tests with trace ID handling
  core/pkg/helpers/logger_test.go
Due: none

feat: integrate OpenTelemetry SDK with service configurations and enhance context handling
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/ca.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/dms.go
  backend/pkg/config/kms.go
  backend/pkg/config/va.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors_test.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  core/pkg/config/otel.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
  sdk/otel.go
Due: core, sdk, backend

feat: add signature verification test case and update CA service import logic
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  go.work.sum
Due: backend

test: remove redundant call to updateContextWithRequestWithSource in context update test
  backend/pkg/routes/middlewares/basic-header-extractors/extractors_test.go
Due: none

Update dependencies to latest versions across multiple modules
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/kms_create_import_tags_metadata_test.go
  backend/pkg/assemblers/kms_tags_test.go
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

feat: update context handling to store HTTP request in context and refactor header extractor function
  backend/pkg/routes/middlewares/basic-header-extractors/extractors.go
  backend/pkg/services/dmsmanager.go
  core/context.go
Due: core, backend

test: update context handling in TestUpdateContextWithRequest for source verification
  backend/pkg/routes/middlewares/basic-header-extractors/extractors_test.go
Due: none

fix: remove redundant backend module from CI matrix and ensure proper formatting in LICENSE
  .github/workflows/ci-test.yaml
  .gitignore
  LICENSE
Due: none

fix: update logger configuration to use request context and standardize trace ID extensions
  backend/pkg/routes/middlewares/basic-logger/logger.go
  core/pkg/helpers/events.go
Due: core, backend

fix: correct import alias for helpers in DMS manager service
  backend/pkg/assemblers/dms-manager.go
Due: backend

fix: remove unused endpoint field from OTELMetricsConfig
  core/pkg/config/otel.go
  otel/config.alloy
  otel/docker-compose.yaml
  otel/grafana-datasources.yaml
  otel/jaeger.yaml
  otel/loki.yaml
  otel/prometheus.yaml
  otel/tempo.yaml
Due: core

feat: enhance context handling in VA routes and improve logging with OpenTelemetry trace IDs
  backend/pkg/controllers/va.go
  core/pkg/helpers/events.go
  core/pkg/helpers/logger.go
  otel/docker-compose.yaml
Due: core, backend

feat: rename and refactor certificate signing methods in CAOTelTracer
  backend/pkg/middlewares/otel/ca.go
Due: backend

feat: enhance device event logging with previous and new status tracking
  backend/pkg/services/devicemanager.go
Due: backend

add doc
  .github/openapi-doc/kms-openapi.yaml
Due: none

add independent svc
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
Due: backend

move docs
  doc/kms-openapi.yaml
Due: none

fix migrations ca_certificate_requests
  engines/storage/postgres/migrations_test/ca_test.go
Due: none

backend test first in ci
  .github/workflows/ci-test.yaml
Due: none

adding changes
  backend/pkg/services/ca.go
  core/pkg/resources/careq.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: core, backend

added tag to KMS key
  backend/pkg/assemblers/kms_create_import_tags_metadata_test.go
  backend/pkg/assemblers/kms_tags_test.go
  core/pkg/resources/careq.go
Due: core

implement changes
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
Due: backend

fixing signig process
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
Due: backend

Update OpenTelemetry dependencies and refactor metrics handling in CA and KMS middleware
  backend/go.mod
  backend/go.sum
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/middlewares/otel/kms.go
  engines/crypto/filesystem/filesystem.go
  go.work.sum
  sdk/otel.go
Due: sdk, crypto-filesystem, backend
