Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

fix(dms): restore full re-enrollment auth dispatch and update tests
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager_est.go
Due: backend

test(cmp): update postgres CMP transaction store tests to current model
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/test/cmptxstore_test.go
Due: storage-postgres

test(dms): set enrollment protocol in minimal DMS test fixtures
  backend/pkg/assemblers/tests/dms-manager/main_test.go
Due: none

test(cmp): pass -tls_used so openssl cmp E2E works on OpenSSL 3.0.x
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
Due: none

fix(ci): install cmp-test-suite deps instead of the un-buildable package
  scripts/run-cmp-test-suite.sh
Due: none

fix(ci): install cmp-test-suite deps from an extracted requirements list
  scripts/run-cmp-test-suite.sh
Due: none

fix(ci): install liboqs-python so cmp-test-suite setup doesn't crash
  scripts/run-cmp-test-suite.sh
Due: none

fix(ci): run cmp-test-suite PQ-free; drop liboqs source build
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  scripts/run-cmp-test-suite.sh
Due: none

chore: adds azure tests to CI
  .github/workflows/ci-test.yaml
Due: none

chore: adds azure to go.work
  go.work
Due: none

fix(cryptoengines): prevents checking for clientid and clientsecret when auth mode is emulator
  engines/crypto/azure/keyvault_test.go
Due: none

feat(monolithic): add support for Azure cryptoengines
  monolithic/cmd/development/main.go
  shared/subsystems/pkg/test/subsystems/subsystems.go
Due: none

fix(cryptoengines): resolves key by lamassu tag before deleting
  engines/crypto/azure/keyvault.go
Due: none

chore: sets version for floci-az container
  shared/azure/docker-emulator.go
Due: none

fix(cryptoengines): prevents checking for clientid and clientsecret when auth mode is emulator
  shared/azure/sdk.go
Due: none

feat(cryptoengines): adds some checks before performing azure auth
  shared/azure/sdk.go
Due: none

feat(cryptoengines): adds support for default auth in azure
  shared/azure/config.go
  shared/azure/sdk.go
Due: none

feat(cryptoengines): add Azure KeyVault Keys and Secrets support as cryptoengines
  backend/pkg/cryptoengines/builder/registrar_azure.go
  core/pkg/config/cryptoengines.go
  core/pkg/models/cryptoengine.go
  engines/crypto/azure/config.go
  engines/crypto/azure/go.mod
  engines/crypto/azure/go.sum
  engines/crypto/azure/keyvault.go
  engines/crypto/azure/keyvault_test.go
  engines/crypto/azure/registrar.go
  engines/crypto/azure/secrets.go
  engines/crypto/azure/secrets_test.go
  engines/crypto/azure/subsystem/subsystem.go
  go.work
  go.work.sum
  shared/azure/config.go
  shared/azure/docker-emulator.go
  shared/azure/go.mod
  shared/azure/go.sum
  shared/azure/sdk.go
Due: core, backend

refactor: removes duplicated code
  engines/crypto/azure/keyvault.go
Due: none

fix(authz): correct spelling of "decommission" in routes, OpenAPI spec, and authorization rules refactor(authz): update context key usage in SDK and middleware for consistency
  backend/pkg/routes/devmanager.go
  backend/pkg/specs/device-manager-openapi.yaml
  connectors/authz/cmd/preload/lamassu.a97075a0-93c2-4ff3-b91f-d28d58cb093d.json
  connectors/authz/pkg/engine/filter_test.go
  connectors/authz/pki.json
  connectors/authz/sdk/context.go
  connectors/authz/sdk/gin-middleware/middleware.go
  connectors/authz/sdk/gorm/plugin.go
  connectors/authz/sdk/gorm/plugin_test.go
Due: backend

feat(cryptoengines): fixes subsystem aftersuite and error handling
  engines/crypto/azure/subsystem/subsystem.go
Due: none

feat(cryptoengines): sets lamassu tag in import and aligns key name with create using uuid
  engines/crypto/azure/keyvault.go
Due: none

feat(cryptoengines): returns error in case tagging fails
  engines/crypto/azure/keyvault.go
Due: none

feat(cryptoengines): removes global logging
  engines/crypto/azure/keyvault.go
Due: none

feat(cryptoengines): removes unused cryptoengine type
  core/pkg/models/cryptoengine.go
Due: core

feat(cryptoengines): sets correct security level
  engines/crypto/azure/keyvault.go
Due: none

feat(cryptoengines): fixes test
  engines/crypto/azure/keyvault_test.go
Due: none

Refactor PrincipalManager and DefaultMatchService for improved error handling
  backend/go.mod
  backend/go.sum
  connectors/authz/go.mod
  connectors/authz/go.sum
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/ext_authz_controller.go
  connectors/authz/pkg/engine/capabilities.go
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/middlewares/otel/authz.go
  connectors/authz/pkg/service/capabilities.go
  connectors/authz/pkg/service/identity.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/store/matcher.go
  engines/crypto/software/go.mod
  go.work.sum
  sdk/go.sum
Due: sdk, backend

chore: remove duplicate import of specs in assembler.go
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/engine/engine.go
Due: none

chore: remove redundant package declaration in authz.go
  connectors/authz/pkg/middlewares/otel/authz.go
Due: none

chore: enhance OTEL tracing in eventbus and SDK components
  backend/pkg/eventbus/pubsub.go
  core/pkg/engines/eventbus/messaging.go
  sdk/utils.go
Due: core, sdk, backend

chore: replace svcTracerName with models.OtelTracerName for consistent OTEL tracing
  connectors/authz/pkg/middlewares/otel/authz.go
  connectors/authz/pkg/models/events.go
  connectors/authz/pkg/service/capabilities.go
  connectors/authz/pkg/service/identity.go
Due: none

feat: enhance ML-KEM integration with context-aware encapsulation and decapsulation methods
  engines/crypto/softwarev2/handle_mlkem.go
  monolithic/cmd/v2/main.go
Due: none

feat: add WFX service integration and new crypto engine tests
  core/pkg/engines/cryptoengines_v2/backend.go
  core/pkg/engines/cryptoengines_v2/backendregistry/multi.go
  core/pkg/engines/cryptoengines_v2/backendregistry/single.go
  core/pkg/engines/cryptoengines_v2/backendregistry/support.go
  core/pkg/engines/cryptoengines_v2/caps_agree.go
  core/pkg/engines/cryptoengines_v2/caps_encrypt.go
  core/pkg/engines/cryptoengines_v2/caps_kem.go
  core/pkg/engines/cryptoengines_v2/caps_mac.go
  core/pkg/engines/cryptoengines_v2/caps_sign.go
  core/pkg/engines/cryptoengines_v2/caps_wrap.go
  core/pkg/engines/cryptoengines_v2/errors.go
  core/pkg/engines/cryptoengines_v2/key_handle.go
  core/pkg/engines/cryptoengines_v2/key_types.go
  core/pkg/engines/cryptoengines_v2/operations.go
  core/pkg/engines/cryptoengines_v2/registry.go
  core/pkg/engines/cryptoengines_v2/registry/builtin.go
  core/pkg/engines/cryptoengines_v2/registry/static.go
  core/pkg/engines/cryptoengines_v2/service.go
  core/pkg/engines/cryptoengines_v2/service_impl.go
  core/pkg/engines/cryptoengines_v2/service_ops_spec.go
  core/pkg/engines/cryptoengines_v2/service_specs.go
  core/pkg/engines/cryptoengines_v2/store.go
  core/pkg/engines/cryptoengines_v2/store/memory/store.go
  core/pkg/engines/cryptoengines_v2/validate.go
  engines/crypto/softwarev2/algorithms.go
  engines/crypto/softwarev2/backend.go
  engines/crypto/softwarev2/go.mod
  engines/crypto/softwarev2/go.sum
  engines/crypto/softwarev2/handle_aes.go
  engines/crypto/softwarev2/handle_base.go
  engines/crypto/softwarev2/handle_ecdsa.go
  engines/crypto/softwarev2/handle_mlkem.go
  engines/crypto/softwarev2/handle_rsa.go
  engines/crypto/softwarev2/material.go
  go.work
  monolithic/cmd/v2/main.go
Due: core

feat: implement ECDH and HMAC handling with corresponding tests
  engines/crypto/softwarev2/backend.go
  engines/crypto/softwarev2/backend_test.go
  engines/crypto/softwarev2/handle_ecdh.go
  engines/crypto/softwarev2/handle_hmac.go
  go.work.sum
  monolithic/cmd/v2/main.go
Due: none

feat: streamline Postgres migration handling and remove WFX integration
  engines/storage/postgres/utils.go
Due: storage-postgres

feat(kms-v2): introduce new KMS v2 API for key management
  backend/pkg/controllers/kmsv2.go
  backend/pkg/routes/kmsv2.go
  core/pkg/engines/cryptoengines_v2/http.go
  core/pkg/engines/cryptoengines_v2/key_types.go
  core/pkg/engines/cryptoengines_v2/service_impl.go
  docs/kms-v2-openapi.yaml
Due: core, backend

Add filesystem engine to lamassuiot and update gocloud.dev dependency
  backend/go.mod
  backend/go.sum
  connectors/authz/go.mod
  connectors/authz/go.sum
  engines/crypto/software/go.mod
  engines/crypto/softwarev2/go.mod
  engines/crypto/softwarev2/go.sum
  go.work.sum
  monolithic/go.mod
Due: backend

feat: add KMS v2 API support with updated algorithms and OpenAPI specifications
  backend/pkg/specs/embed.go
  backend/pkg/specs/kms-v2-openapi.yaml
  core/pkg/engines/cryptoengines_v2/algorithms.go
  engines/crypto/softwarev2/backend.go
Due: core, backend
