Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

Refactor code structure cmp files
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_enrollment.go
  backend/pkg/controllers/cmp_genmsg.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_message_samples/0001.ip
  backend/pkg/controllers/cmp_message_samples/0002.cr
  backend/pkg/controllers/cmp_rfc_compliance_test.go
Due: backend

chore: untrack .claude directory
  .gitignore
Due: none

Refactoring code to move routes into controllers and add x509 cert as first class param in functions
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_enrollment_variants_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_kga_dispatch_test.go
  backend/pkg/controllers/cmp/cmp_nested_batch_test.go
  backend/pkg/controllers/cmp/cmp_p10cr.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/cmp_rfc_compliance_test.go
  backend/pkg/controllers/cmp/cmp_testhelpers_test.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/routes/cmp.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_policy_test.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/cmp_mock.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

Remove obsolete RFC 9811 and add RFC index table in ietf.md
  docs/rfcs/external/RFC4210.txt
  docs/rfcs/external/RFC4211.txt
  docs/rfcs/external/RFC5280.txt
  docs/rfcs/external/RFC6712.txt
  docs/rfcs/external/RFC9480.txt
  docs/rfcs/external/RFC9481.txt
  docs/rfcs/external/RFC9483.txt
  docs/rfcs/external/RFC9810.txt
  docs/rfcs/external/RFC9811.txt
  docs/rfcs/ietf.md
Due: none

fix: CMP Sample files
  backend/pkg/controllers/cmp/cmp_message_samples/0001.ip
  backend/pkg/controllers/cmp/cmp_message_samples/0002.cr
Due: backend

Fix: "Switch authentication options CMP"
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/models/dms_est_options.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/services/lwcmp.go
Due: core, backend

refactor models for CMPTransactions
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_enrollment_variants_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/cmp_rfc_compliance_test.go
  backend/pkg/controllers/cmp/cmp_testhelpers_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/jobs/cmp-confirmation-monitor-job.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  ci/wfx.dockerfile
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/models/cmp_transaction.go
  core/pkg/resources/cmpresp.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/mock/dms_mock.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/test/cmptxstore_test.go
  sdk/dmsmanager.go
Due: core, sdk, storage-postgres, backend

fix: CMP Sample files
  .github/workflows/ci-test.yaml
  .github/workflows/test-report.yaml
  scripts/run-cmp-test-suite.sh
Due: none

Refactor: "Match v4 branch"
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_auth.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
Due: backend

test(cmp): pass -tls_used so openssl cmp E2E works on OpenSSL 3.0.x
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
Due: none

refactor: update LWCRevokeCertificate to include signer certificate parameter
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_enrollment_variants_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_nested_batch_test.go
  backend/pkg/controllers/cmp/cmp_rfc_compliance_test.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/cmp_mock.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

fix: test result report not appearing correctly
  .github/workflows/ci-test.yaml
  scripts/run-cmp-test-suite.sh
Due: none

fix: reconcile CMP test helpers with v4 test-harness refactor after rebase
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  engines/storage/postgres/test/cmptxstore_test.go
Due: none

fix: add checkout step for test report job to resolve annotation paths
  .github/workflows/ci-test.yaml
Due: none

fix(ci): run cmp-test-suite PQ-free; drop liboqs source build
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  scripts/run-cmp-test-suite.sh
Due: none

fix: test result report not appearing correctly
  scripts/run-cmp-test-suite.sh
Due: none

fix(core): add GetCMPTransactionStorage to MockStorageEngine
  core/pkg/engines/storage/engine_test.go
Due: none

refactor: " Restore EST model auth"
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_protection.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp_policy_test.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  backend/pkg/x509engines/x509engine_subject_test.go
  core/pkg/models/dms_est_options.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/models/est.go
  monolithic/pkg/sampledata/generator.go
Due: core, backend

fix: test result report not appearing correctly
  .github/workflows/ci-test.yaml
Due: none

fix(ci): install cmp-test-suite deps from an extracted requirements list
  scripts/run-cmp-test-suite.sh
Due: none

test(dms): set enrollment protocol in minimal DMS test fixtures
  backend/pkg/assemblers/tests/dms-manager/main_test.go
Due: none

fix(dms): restore independent re-enrollment auth config lost in CMP auth refactor
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager_est.go
  core/pkg/models/dms_est_options.go
  monolithic/pkg/sampledata/generator.go
Due: core, backend

fix(ci): install liboqs-python so cmp-test-suite setup doesn't crash
  scripts/run-cmp-test-suite.sh
Due: none

fix(ci): pin cmp-test-suite checkout to the patch's base commit
  .github/workflows/ci-test.yaml
Due: none

feat(cmp): validate KUR oldCertId control, reject mismatch as badCertId
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_enrollment.go
Due: backend

refactor: remove identityextractors and update client certificate retrieval in DMSManagerServiceBackend
  backend/pkg/services/dmsmanager.go
Due: backend

fix(ci): install cmp-test-suite deps instead of the un-buildable package
  scripts/run-cmp-test-suite.sh
Due: none

feat(cmp): general messages (genm/genp) and RFC 9483 conformance refinements
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_certconf_decode_test.go
  backend/pkg/controllers/cmp_genmsg.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/controllers/cmp_unit_test.go
  backend/pkg/controllers/cmp_validator.go
  backend/pkg/services/dmsmanager_lwcmp.go
  monolithic/pkg/sampledata/generator.go
Due: backend

Remove obsolete ASN.1 module and object definitions from load_mod.txt and load_obj.txt
  docs/rfcs/cmp_audit_2023_03_13.md
  docs/rfcs/openssl_cmp.md
  pyasn1/README.md
  pyasn1/index.html
  pyasn1/main.py
  pyasn1/myasn1/AlgorithmInformation-2009.asn
  pyasn1/myasn1/AttributeCertificateVersion1-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2010.asn
  pyasn1/myasn1/CryptographicMessageSyntaxAlgorithms-2009.asn
  pyasn1/myasn1/KEMAlgorithmInformation-2023.asn
  pyasn1/myasn1/PKCS-10.asn
  pyasn1/myasn1/PKCS-9.asn
  pyasn1/myasn1/PKIX-CommonTypes-2009.asn
  pyasn1/myasn1/PKIX-X400Address-2009.asn
  pyasn1/myasn1/PKIX1-PSS-OAEP-Algorithms-2009.asn
  pyasn1/myasn1/PKIX1Explicit-2009.asn
  pyasn1/myasn1/PKIX1Implicit-2009.asn
  pyasn1/myasn1/PKIXAlgs-2009.asn
  pyasn1/myasn1/PKIXAttributeCertificate-2009.asn
  pyasn1/myasn1/PKIXCRMF-2009.asn
  pyasn1/myasn1/SecureMimeMessageV3dot1-2009.asn
  pyasn1/myasn1/cmp.asn
  pyasn1/myasn1/cmp_comp.json
  pyasn1/myasn1/cmp_comp.py
  pyasn1/myasn1/load_mod.txt
  pyasn1/myasn1/load_obj.txt
Due: none

simplfy code
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
Due: backend

chore: untrack .claude directory
  .claude/skills
Due: none

simplfy code
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/services/dmsmanager_lwcmp.go
Due: backend

ci: take CMP test suite from lamassuiot fork instead of patching upstream
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  .github/patches/cmp-test-suite/lamassu.robot
  .github/workflows/ci-test.yaml
  scripts/cmp-tests.sh
  scripts/run-cmp-test-suite.sh
Due: none

fix: floor phased-approval delivery window to cover a full poll cycle
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
Due: backend

feat(cmp): add end-to-end tests for CMP enrollment and re-enrollment flows
  backend/pkg/assemblers/tests/dms-manager/cmp/ir_test.go
  backend/pkg/assemblers/tests/dms-manager/cmp/openssl_e2e_test.go
  backend/pkg/assemblers/tests/dms-manager/cmp/setup_test.go
  backend/pkg/specs/dms-manager-openapi.yaml
Due: backend

feat(cmp): add KMS client setup and update HTTP client initialization
  backend/cmd/dms-manager/main.go
Due: backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
