Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

refactor: improve logging in CloudEventHandler by using context-aware logger
  core/pkg/services/eventhandling/handler.go
Due: core

feat(http): streamline OpenTelemetry integration in HTTP client setup
  sdk/utils.go
  shared/http/pkg/helpers/httpclientbuilder.go
Due: shared-http, sdk

feat: integrate ML-DSA key generation and verification into KMS and crypto engines
  backend/pkg/services/kms.go
  core/pkg/helpers/cryptoutils.go
  engines/crypto/software/software.go
Due: core, backend

feat: add OpenAPI spec handling and API diff agent workflow
  .github/agents/api-diff.agent.md
  .github/workflows/api-diff.yaml
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/ca.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/dms.go
  backend/pkg/config/kms.go
  backend/pkg/config/va.go
  backend/pkg/routes/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: backend

feat: add PR comment step to API Diff Agent workflow for assessment reporting
  .github/workflows/api-diff.yaml
Due: none

refactor: clarify API Diff Agent documentation for PR commit analysis
  .github/agents/api-diff.agent.md
Due: none

feat: refactor OpenAPI configuration handling across services and routes
  .github/agents/api-diff.agent.md
  .github/workflows/api-diff.yaml
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/ca.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/dms.go
  backend/pkg/config/kms.go
  backend/pkg/config/va.go
  backend/pkg/routes/utils.go
  core/pkg/config/openapi.go
Due: core, backend

feat: enhance OpenAPI integration by enabling dynamic spec loading and version injection
  backend/pkg/assemblers/alerts.go
  backend/pkg/routes/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
Due: backend

feat: add CMP ASN.1 Inspector interface and update PEM loading logic
  pyasn1/index.html
  pyasn1/main.py
Due: none

Chore: Refactor Service Dockerfiles for Distroless Containers and Optimized Builds (#668)
  .github/workflows/dev-release.yaml
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
Due: none

feat: Implement Lightweight CMP service methods in DMSManager
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/audit/dms_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

Implement CMP RA Protocol as per RFC 4210 and RFC 9480
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_parse_test.go
  core/pkg/services/lwcmp.go
  docs/rfcs/cmp_audit_2023_03_13.md
  docs/rfcs/external/RFC4210.txt
  docs/rfcs/external/RFC4211.txt
  docs/rfcs/external/RFC5280.txt
  docs/rfcs/external/RFC6712.txt
  docs/rfcs/external/RFC9480.txt
  docs/rfcs/external/RFC9481.txt
  docs/rfcs/external/RFC9483.txt
  docs/rfcs/external/RFC9810.txt
  docs/rfcs/external/RFC9811.txt
  docs/rfcs/internal/RFC004-DynamicDeviceGroups.md
  docs/rfcs/internal/RFC005-jsonpath-sorting.md
  docs/rfcs/internal/RFC007-idslot-jsonb.md
  docs/rfcs/internal/RFC008-filtered-stats.md
  docs/rfcs/internal/RFC009-cmp.md
Due: core, backend

feat(cmp): validate KUR oldCertId control, reject mismatch as badCertId
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_enrollment.go
Due: backend

feat: add README for pyasn1 tooling and enhance main.py with argument parsing
  pyasn1/README.md
  pyasn1/main.py
Due: none

feat: add tests for SenderNonce and CertReqID in CMP message parsing
  backend/pkg/controllers/cmp_parse_test.go
Due: none

chore: untrack committed __pycache__ artifacts
  scripts/__pycache__/cmp_certconf.cpython-314.pyc
  scripts/__pycache__/cmp_pollreq.cpython-314.pyc
Due: none

fix(ci): repair CMP E2E pipeline
  .github/workflows/ci-test.yaml
Due: none

Feat: Add BasePath to OTELTracesConfig and update tracer provider setup (#669)
  core/pkg/config/otel.go
  sdk/otel.go
Due: core, sdk

Add CMP certConf client script for certificate confirmation
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/config/dms.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/jobs/cmp-confirmation-monitor-job.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/errs/dms.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/resources/cmpresp.go
  core/pkg/resources/fields.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/migrations/dmsmanager/20260521120000_cmp_transactions_request_metadata.sql
  monolithic/pkg/assembler.go
  monolithic/pkg/storage/sqlite/schema.go
  scripts/__pycache__/cmp_certconf.cpython-314.pyc
  scripts/__pycache__/cmp_pollreq.cpython-314.pyc
  scripts/cmp-drop-and-poll.sh
  scripts/cmp_certconf.py
Due: core, storage-postgres, backend

feat: enhance CMP transaction management and bootstrap setup
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/resources/cmpresp.go
  core/pkg/resources/fields.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/mock/dms_mock.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/migrations/dmsmanager/20260519120000_cmp_transactions_persistence.sql
  go.work.sum
  monolithic/pkg/storage/sqlite/schema.go
  scripts/cmp-bootstrap-setup.sh
  scripts/cmp-disconnect-recovery.sh
  scripts/cmp-drop-and-poll.sh
  scripts/cmp-full-lifecycle.sh
  sdk/dmsmanager.go
Due: core, sdk, storage-postgres, backend

feat: Enhance CMP protection and enrollment options
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/cmp_mock.go
  core/pkg/services/mock/dms_mock.go
  docs/rfcs/internal/RFC010-lwc-cmp-rfc9483.md
  sdk/dmsmanager.go
Due: core, sdk, backend

fix(ci): pin cmp-test-suite checkout to the patch's base commit
  .github/workflows/ci-test.yaml
Due: none

Add ASN.1 module definitions for PKIX and related algorithms
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_parse_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/routes/cmp.go
  backend/pkg/services/dmsmanager.go
  cmp.ir
  core/pkg/helpers/readcerts.go
  core/pkg/services/lwcmp.go
  docs/rfcs/openssl_cmp.md
  pyasn1/main.py
  pyasn1/myasn1/AlgorithmInformation-2009.asn
  pyasn1/myasn1/AttributeCertificateVersion1-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2010.asn
  pyasn1/myasn1/CryptographicMessageSyntaxAlgorithms-2009.asn
  pyasn1/myasn1/KEMAlgorithmInformation-2023.asn
  pyasn1/myasn1/PKCS-10.asn
  pyasn1/myasn1/PKCS-9.asn
  pyasn1/myasn1/PKIX-CommonTypes-2009.asn
  pyasn1/myasn1/PKIX-X400Address-2009.asn
  pyasn1/myasn1/PKIX1-PSS-OAEP-Algorithms-2009.asn
  pyasn1/myasn1/PKIX1Explicit-2009.asn
  pyasn1/myasn1/PKIX1Implicit-2009.asn
  pyasn1/myasn1/PKIXAlgs-2009.asn
  pyasn1/myasn1/PKIXAttributeCertificate-2009.asn
  pyasn1/myasn1/PKIXCRMF-2009.asn
  pyasn1/myasn1/SecureMimeMessageV3dot1-2009.asn
  pyasn1/myasn1/cmp.asn
  pyasn1/myasn1/cmp_comp.json
  pyasn1/myasn1/cmp_comp.py
  pyasn1/myasn1/load_mod.txt
  pyasn1/myasn1/load_obj.txt
Due: core, backend

feat(cmp): general messages (genm/genp) and RFC 9483 conformance refinements
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_certconf_decode_test.go
  backend/pkg/controllers/cmp_genmsg.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/controllers/cmp_unit_test.go
  backend/pkg/controllers/cmp_validator.go
  backend/pkg/services/dmsmanager_lwcmp.go
  monolithic/pkg/sampledata/generator.go
Due: backend

Implement CMP (Certificate Management Protocol) HTTP handler and ASN.1 encoding/decoding
  backend/go.mod
  backend/go.sum
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/routes/cmp.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms.go
  go.work.sum
Due: core, backend

feat: refactor CMP routing and update CMP path in scripts
  cmp.ir
  cmp.sh
  monolithic/pkg/assembler.go
  scripts/cmp-ir.sh
Due: none

small fixes
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_handler_test.go
  core/pkg/models/dms_lwcmp_options.go
Due: core, backend

Add CMP simulation scripts for drop-and-poll and full lifecycle testing
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_parse_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/engines/storage/engine.go
  core/pkg/errs/dms.go
  core/pkg/models/dms.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/services/ca.go
  core/pkg/services/devicemanager.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/cmp_mock.go
  docs/rfcs/internal/RFC009-cmp.md
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrations/dmsmanager/20260511120000_cmp_transactions.sql
  engines/storage/postgres/migrations/dmsmanager/20260518120000_cmp_transactions_async.sql
  engines/storage/postgres/test/cmptxstore_test.go
  go.work.sum
  monolithic/pkg/assembler.go
  monolithic/pkg/sampledata/generator.go
  monolithic/pkg/storage/sqlite/engine.go
  monolithic/pkg/storage/sqlite/schema.go
  scripts/__pycache__/cmp_pollreq.cpython-314.pyc
  scripts/cmp-disconnect-recovery.sh
  scripts/cmp-drop-and-poll.sh
  scripts/cmp-full-lifecycle.sh
  scripts/cmp_pollreq.py
Due: core, storage-postgres, backend

fix(sampledata): align CMP sample DMS with refactored ReEnrollmentSettings
  monolithic/pkg/sampledata/generator.go
Due: none

feat: add WFX configuration to MonolithicConfig and update DMS Manager service
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/config/dms.go
  backend/pkg/controllers/cmp.go
  backend/pkg/integrations/wfx/cmp.go
  backend/pkg/integrations/wfx/cmp_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  ci/wfx.dockerfile
  go.work.sum
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: backend

feat: Enhance DMS Manager Service with KMS integration and CMP improvements
  backend/cmd/dms-manager/main.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/config/dms.go
  backend/pkg/controllers/cmp.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
  cmp.sh
  core/pkg/models/dms.go
  core/pkg/models/dms_est_options.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/services/lwcmp.go
  monolithic/pkg/assembler.go
Due: core, backend

fix(monolithic): unify CMP WFX wiring onto v4 North/South ports
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  monolithic/cmd/development/main.go
  monolithic/go.mod
  monolithic/go.sum
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
Due: shared-aws, shared-http, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

hotfix: update WFX Docker repository to use official Siemens image
  monolithic/cmd/development/main.go
Due: none

feat: Update DMS Manager to support Lightweight CMP (RFC 9483) features
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms_lwcmp_options.go
  docs/rfcs/internal/RFC010-lwc-cmp-rfc9483.md
Due: core, backend

feat: enhance CMP handling with base64 metadata and WFX integration
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_handler_test.go
Due: backend

Feat/wfx (#667)
  engines/storage/postgres/migrate.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/utils.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: storage-postgres

test(cmp): e2e test runner + bootstrap trust for renewals
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  .github/patches/cmp-test-suite/lamassu.robot
  .gitignore
  go.work.sum
  scripts/cmp-bootstrap-setup.sh
  scripts/run-cmp-test-suite.sh
Due: none

Implement CMP Transaction Management and Confirmation Timeout Tests
  .claude/skills
  backend/go.mod
  backend/go.sum
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_parse_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/controllers/cmp_rfc_compliance_test.go
  backend/pkg/controllers/cmp_types.go
  core/pkg/engines/storage/dmsmanager.go
  engines/storage/postgres/cmptxstore.go
  scripts/cmp-certconf-explicit.sh
  scripts/cmp-ir-explicit.sh
Due: core, storage-postgres, backend

feat: update logging level to None for event bus configurations and add CORS support in monolithic assembler
  backend/pkg/integrations/wfx/cmp.go
  engines/eventbus/amqp/subsystem/subsystem.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
Due: eventbus-amqp, backend
