Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

chore: Bump dependencies (#278)
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

fix: KMS - corrected string in algorithm definition
  backend/pkg/services/ca.go
Due: backend

feat: DMS: add certificate Issuance Profile support (#276)
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/errs/dms.go
  core/pkg/models/dms.go
Due: core, backend

first impl
  backend/pkg/assemblers/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/services/ca.go
  core/pkg/engines/storage/ca.go
  core/pkg/engines/storage/engine.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/models/ca.go
  core/pkg/models/issuance_profiles.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/issuance_profile.go
  engines/storage/postgres/migrations/ca/20250702124800_create_issuance_profile.sql
  monolithic/pkg/assembler.go
Due: core, storage-postgres, backend

fix endpoints
  backend/pkg/controllers/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/go.sum
  core/pkg/models/issuance_profiles.go
  core/pkg/resources/careq.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrations/ca/20250702124800_create_issuance_profile.sql
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

add labels and standard ports
  backend/pkg/assemblers/service-assembler_test.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager_test.go
  engines/crypto/aws/subsystem/subsystem.go
  engines/crypto/pkcs11/docker/emulator.go
  engines/crypto/pkcs11/pkcs11_test.go
  engines/crypto/pkcs11/subsystem/subsystem.go
  engines/crypto/vaultkv2/docker/test_suite.go
  engines/crypto/vaultkv2/docker/vaultkv2.go
  engines/crypto/vaultkv2/subsystem/subsystem.go
  engines/crypto/vaultkv2/vaultkv2_test.go
  engines/eventbus/amqp/engine_test.go
  engines/eventbus/amqp/subsystem/subsystem.go
  engines/eventbus/amqp/test/rabbitmq.go
  engines/eventbus/aws/engine_test.go
  engines/storage/postgres/migrations_test/utils.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/postgres_test.go
  engines/storage/postgres/test/test_suite.go
  monolithic/cmd/development/main.go
  shared/aws/docker-emulator.go
  shared/subsystems/pkg/test/subsystems/subsystems.go
  shared/subsystems/pkg/test/subsystems/subsystems_test.go
Due: shared-aws, crypto-aws, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp

fix tests
  backend/pkg/x509engines/x509engine_test.go
Due: none

fix SubjectKeyIDs
  backend/pkg/services/ca.go
  backend/pkg/services/handlers/va-handlers.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  connectors/awsiot/pkg/service.go
  core/pkg/models/ca.go
  engines/storage/postgres/migrations/ca/20250704101200_add_version_schema.sql
Due: core, storage-postgres, backend

fix crl
  backend/pkg/services/ca.go
Due: backend

feat: va: Remove get roles (#280)
  backend/pkg/controllers/va.go
  backend/pkg/routes/va.go
Due: backend

chore: monolithic: add labels and standard ports in docker containers (#281)
  backend/pkg/assemblers/service-assembler_test.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager_test.go
  engines/crypto/aws/subsystem/subsystem.go
  engines/crypto/pkcs11/docker/emulator.go
  engines/crypto/pkcs11/pkcs11_test.go
  engines/crypto/pkcs11/subsystem/subsystem.go
  engines/crypto/vaultkv2/docker/test_suite.go
  engines/crypto/vaultkv2/docker/vaultkv2.go
  engines/crypto/vaultkv2/subsystem/subsystem.go
  engines/crypto/vaultkv2/vaultkv2_test.go
  engines/eventbus/amqp/engine_test.go
  engines/eventbus/amqp/subsystem/subsystem.go
  engines/eventbus/amqp/test/rabbitmq.go
  engines/eventbus/aws/engine_test.go
  engines/storage/postgres/migrations_test/utils.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/postgres_test.go
  engines/storage/postgres/test/test_suite.go
  monolithic/cmd/development/main.go
  shared/aws/docker-emulator.go
  shared/subsystems/pkg/test/subsystems/subsystems.go
  shared/subsystems/pkg/test/subsystems/subsystems_test.go
Due: shared-aws, crypto-aws, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp

fix import tests
  backend/pkg/assemblers/ca_test.go
  backend/pkg/helpers/x509utils.go
  backend/pkg/services/ca.go
Due: backend

feat: KMS - Storage engine added
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/services/ca.go
  core/pkg/engines/storage/engine.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/engines/storage/kms.go
  core/pkg/models/ca.go
  core/pkg/models/kms.go
  core/pkg/resources/careq.go
  core/pkg/resources/caresp.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/kmsstorage.go
  engines/storage/postgres/migrations/kms/00000000000001_create_table.sql
  engines/storage/postgres/subsystem/subsystem.go
  monolithic/cmd/development/main.go
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

fix va role fetching
  backend/pkg/assemblers/va_test.go
Due: none

feat: KMS - name field for key added
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/kms.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  engines/storage/postgres/migrations/kms/00000000000001_create_table.sql
Due: core, storage-postgres, backend

fix: KMS - modified 'size' field type from string to int
  backend/pkg/services/ca.go
  core/pkg/models/kms.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  engines/storage/postgres/migrations/kms/00000000000001_create_table.sql
Due: core, storage-postgres, backend

feat: KMS - Storage engine added
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/assemblers/ca_csr_test.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/kms_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/kms.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  sdk/ca.go
Due: core, sdk, backend

feat: implement update DMS metadata endpoint
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/events.go
  core/pkg/models/patches.go
  core/pkg/resources/dmsreq.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

test: add test cases to event publisher test
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
Due: none

feat: add PATCH method to endpoint
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  connectors/awsiot/pkg/event-handlers.go
Due: backend

feat: add PATCH method to metadata endpoints
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/devicemanager.go
Due: backend

fix crl urls
  backend/pkg/routes/va.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/models/va.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: core, backend

fix: ca: fix crl urls in generated certificates to include hex encoded with colons (#279)
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/helpers/x509utils.go
  backend/pkg/routes/va.go
  backend/pkg/services/ca.go
  backend/pkg/services/handlers/va-handlers.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  connectors/awsiot/pkg/service.go
  core/pkg/models/ca.go
  core/pkg/models/va.go
  engines/storage/postgres/migrations/ca/20250704101200_add_version_schema.sql
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: core, storage-postgres, backend

feat: DMS: implement update metadata endpoint (#283)
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  connectors/awsiot/pkg/event-handlers.go
  core/pkg/models/events.go
  core/pkg/models/patches.go
  core/pkg/resources/dmsreq.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

feat: add PATCH method to metadata endpoints (#284)
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/devicemanager.go
Due: backend

fix: update ECDSA signing method to use SignASN1 for improved signature handling
  backend/pkg/services/ca.go
Due: backend

refactor: streamline ECDSA signing and verification methods for improved clarity
  backend/pkg/services/ca.go
Due: backend
