Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

chore: adjust monolithic monitoring job (#239)
  monolithic/cmd/development/main.go
Due: none

feat: enhance event filters to use encoded event data for processing
  backend/pkg/services/alerts/event_filters/javascriptfilter.go
  backend/pkg/services/alerts/event_filters/javascriptfilter_test.go
  backend/pkg/services/alerts/event_filters/jsonpathfilter.go
  backend/pkg/services/alerts/event_filters/jsonpathfilter_test.go
  backend/pkg/services/alerts/event_filters/jsonschemafilter.go
  backend/pkg/services/alerts/event_filters/jsonschemafilter_test.go
Due: backend

chore: fix pkcs11 build on new ci ubuntu image
  .github/workflows/ci-test.yaml
Due: none

fix: update conditions in alert tests to reference 'data' object
  backend/pkg/assemblers/alerts_test.go
Due: none

feat: enhance event filters to use full event data for processing (#242)
  .github/workflows/ci-test.yaml
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/services/alerts/event_filters/javascriptfilter.go
  backend/pkg/services/alerts/event_filters/javascriptfilter_test.go
  backend/pkg/services/alerts/event_filters/jsonpathfilter.go
  backend/pkg/services/alerts/event_filters/jsonpathfilter_test.go
  backend/pkg/services/alerts/event_filters/jsonschemafilter.go
  backend/pkg/services/alerts/event_filters/jsonschemafilter_test.go
Due: backend

adding otel log
  loki/config.alloy
  loki/docker-compose.yaml
  loki/loki.yaml
  monolithic/cmd/development/main.go
  monolithic/go.mod
  monolithic/go.sum
Due: none

adding traces to alloy
  backend/pkg/routes/middlewares/basic-header-extractors/extractors.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/routes/utils.go
  core/pkg/helpers/logger.go
  docker-compose.yaml
  loki/config.alloy
  loki/docker-compose.yaml
  monolithic/cmd/development/main.go
  monolithic/go.mod
  monolithic/go.sum
  otel/loki/config.alloy
  otel/loki/docker-compose.yaml
  otel/loki/grafana-datasources.yaml
  otel/loki/loki.yaml
  otel/loki/prometheus.yaml
  otel/loki/tempo.yaml
Due: core, backend

adding otel http cli
  backend/go.mod
  backend/go.sum
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
  core/go.mod
  core/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  sdk/utils.go
Due: core, sdk, backend

adding OTEL ctx to webhook calls
  backend/pkg/helpers/webhook-client/client.go
Due: backend

adding kid uri refactor
  backend/pkg/services/alerts/output_channels/msteams.go
  backend/pkg/services/alerts/output_channels/webhook.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/kms-schemaversions.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, backend

changing AWS SM storage for keys
  engines/crypto/aws/secretsmanager.go
Due: crypto-aws

fix compile issues
  backend/pkg/services/alerts/output_channels/msteams.go
  backend/pkg/services/alerts/output_channels/webhook.go
  backend/pkg/services/dmsmanager.go
Due: backend

fix: monolithic ui port now being served correctly (#240)
  monolithic/cmd/development/main.go
Due: none

adding logs in role tests
  backend/pkg/routes/middlewares/authz/authz_test.go
Due: none

feat: VA: assemble service conditionally based on config
  backend/pkg/assemblers/va.go
Due: backend

fix: monolithic: update CRLMonitoringJob configuration to use provided monitoring settings
  monolithic/pkg/assembler.go
Due: none

feat: VA: assemble service conditionally based on config (#244)
  backend/pkg/assemblers/va.go
  monolithic/pkg/assembler.go
Due: backend

implement AWS KMS import keys
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
Due: crypto-aws

improove dedup
  engines/crypto/aws/awskms.go
Due: crypto-aws

feat: CA: refactor crypto engine keys migration from v1 to v2 to be performed from assembler and based on an user defined property
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/config/ca.go
  backend/pkg/services/ca.go
Due: backend

feat: CA: refactor crypto engine keys migration (#246)
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/config/ca.go
  backend/pkg/services/ca.go
Due: backend

feat: CA: implement AWS KMS import keys (#245)
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
Due: crypto-aws

fix: DMS Manager: add a null check when decommissioning a device without identity
  backend/pkg/services/devicemanager.go
Due: backend

first poc for audit events
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/va.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/audit/crl.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/audit/utils.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/middlewares/eventpub/crl.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/middlewares/eventpub/devices_publisher_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
  backend/pkg/middlewares/eventpub/utils.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors_test.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/services/handlers/alerts-handlers.go
  backend/pkg/services/handlers/device-handlers.go
  backend/pkg/services/handlers/va-handlers.go
  connectors/awsiot/pkg/event-handlers.go
  core/context.go
  core/pkg/helpers/events.go
  core/pkg/helpers/events_test.go
  core/pkg/helpers/logger.go
  core/pkg/helpers/logger_test.go
  core/pkg/services/eventhandling/handler.go
  core/pkg/services/eventhandling/handler_test.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
Due: core, backend

fix: DMS Manager: add a null check when decommissioning a device wihtout identity (#250)
  backend/pkg/services/devicemanager.go
Due: backend

feat: add DeleteDMS method in service and repo interfaces
  core/pkg/engines/storage/dmsmanger.go
  core/pkg/models/events.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/mock/dms_mock.go
  engines/storage/postgres/dmsmanager.go
Due: core, storage-postgres

fix: fix some linter issues
  core/pkg/config/loader.go
  core/pkg/config/loader_test.go
  core/pkg/engines/storage/alerts.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/engines/storage/utils.go
Due: core

feat: implement DeleteDMS method in SDK
  sdk/dmsmanager.go
Due: sdk

feat: implement DeleteDMS method
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
Due: backend

adding minor fiuxes in re enroll
  backend/pkg/services/dmsmanager.go
Due: backend

test: add tests for DeleteDMS method
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
Due: none

fix: remove duplicated if statement
  engines/crypto/software/software.go
Due: none

refactor: reuse URI params structs in controllers
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/va.go
Due: backend

Potential fix for code scanning alert no. 246: Clear-text logging of sensitive information
  shared/http/pkg/utils/gindump/request.go
Due: shared-http

fix: make URI param variable exportable
  backend/pkg/controllers/dmsmanager.go
Due: backend

fix: rename file dmsmanger.go to dmsmanager.go
  core/pkg/engines/storage/dmsmanager.go
Due: core

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
