Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

feat: KMS Service v1 (#267)
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/ca_certificates_test.go
  backend/pkg/assemblers/ca_csr_test.go
  backend/pkg/assemblers/ca_issuance_profile_crud_test.go
  backend/pkg/assemblers/ca_issuance_profile_edit_test.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/kms_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/pkg/engines/storage/engine.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/engines/storage/kms.go
  core/pkg/errs/ca.go
  core/pkg/models/events.go
  core/pkg/models/kms.go
  core/pkg/resources/careq.go
  core/pkg/resources/caresp.go
  core/pkg/resources/fields.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/kmsstorage.go
  engines/storage/postgres/migrations/kms/00000000000001_create_table.sql
  engines/storage/postgres/subsystem/subsystem.go
  monolithic/cmd/development/main.go
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

fix: correct typo in CertificateFilterableFields reference in test
  backend/pkg/controllers/utils_test.go
Due: none

fix: include missing KMS database
  backend/pkg/assemblers/ca_certificates_test.go
Due: none

fix tests
  backend/pkg/assemblers/ca_certificates_test.go
  backend/pkg/controllers/utils_test.go
Due: none

fix: test configuration and database dependency issues (#327)
  backend/pkg/assemblers/ca_certificates_test.go
  backend/pkg/controllers/utils_test.go
Due: none

Update DeleteCA to allow cascade deletion of child CAs and certificates
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/services/ca.go
Due: core, backend

Refactor DeleteCA
  backend/pkg/services/ca.go
Due: backend

Add configuration-level control to allow cascade delete
  backend/pkg/assemblers/ca.go
  backend/pkg/config/ca.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/errs/ca.go
  sdk/ca.go
Due: core, sdk, backend

Add test cases for new logic
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/services/ca.go
Due: backend

Delete private key after deleting CA
  backend/pkg/services/ca.go
Due: backend

Add tests for private key deletion
  backend/pkg/assemblers/ca_test.go
Due: none

Update TestDeleteCA to include KMS database in cascade delete tests
  backend/pkg/assemblers/ca_test.go
Due: none

feat: CA: enhanced CA deletion with cascade operations and private key management (#308)
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/config/ca.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/errs/ca.go
  core/pkg/services/ca.go
  sdk/ca.go
Due: core, sdk, backend

fix: DMS creation date filtering functionality
  backend/pkg/controllers/utils_test.go
  core/pkg/resources/fields.go
Due: core

fix: DMS creation date filtering functionality (#329)
  backend/pkg/controllers/utils_test.go
  core/pkg/resources/fields.go
Due: core

Added support for Chameleon Root CA Creation
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  sdk/ca.go
Due: core, sdk, backend

rm key casting
  backend/pkg/services/ca.go
Due: backend

fix: remove key casting in kms module (#331)
  backend/pkg/services/ca.go
Due: backend

fix ts for revoked certs
  backend/pkg/services/crl.go
Due: backend

fix: VA: Use certificate’s actual revocation timestamp in CRL calculation (#333)
  backend/pkg/services/crl.go
Due: backend

Refactored x509Engine to set the grounds for PQ hybrid CSR signing
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
Due: backend

Refactored x509engine to remove unused parameters from the newly created function's signature
  backend/pkg/x509engines/x509engine.go
Due: backend

Added support for chameleon root CA creation, chameleon subordinate CA creation in progress.
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  engines/crypto/filesystem/filesystem.go
  sdk/ca.go
Due: core, sdk, crypto-filesystem, backend

fix: improve KMS key and alias retrieval with pagination support
  engines/crypto/aws/awskms.go
Due: crypto-aws

test: add pagination support tests for AWS KMS key management
  engines/crypto/aws/awskms_test.go
Due: none

fix: improve AWS KMS key and alias retrieval with pagination support (#336)
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
Due: crypto-aws

test: add unit tests
  engines/storage/postgres/test/migrate_test.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/postgres_test.go
  engines/storage/postgres/test/test_suite.go
Due: storage-postgres

Added support for Subordinate Chameleon CA creation
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/helpers/cryptoutils_test.go
  core/pkg/helpers/readcerts.go
  core/pkg/services/ca.go
  sdk/ca.go
Due: core, sdk, backend

feat: update CLI tool to use goose
  ci/goose-custom.dockerfile
  engines/storage/postgres/cmd/goose-custom/README.md
  engines/storage/postgres/cmd/goose-custom/main.go
  engines/storage/postgres/cmd/migrate-db/MANUAL_MIGRATION_GUIDE.md
  engines/storage/postgres/cmd/migrate-db/QUICK_REFERENCE.md
  engines/storage/postgres/cmd/migrate-db/README.md
  engines/storage/postgres/cmd/migrate-db/main.go
  engines/storage/postgres/utils.go
Due: storage-postgres

CA: added metadata to hybrid delta cas
  backend/pkg/assemblers/ca_test.go
  backend/pkg/services/ca.go
Due: backend

CA: removed old metadata so as to conform to the new specification
  backend/pkg/services/ca.go
Due: backend

refactor: remove migration logic from Postgres storage engine
  engines/storage/postgres/config/config.go
  engines/storage/postgres/engine.go
Due: storage-postgres

rename goose-custom to goose-lamassu
  ci/goose-lamassu.dockerfile
  engines/storage/postgres/cmd/goose-lamassu/README.md
  engines/storage/postgres/cmd/goose-lamassu/main.go
Due: storage-postgres

fix: add issuance profile validation on CA creation and import
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/errs/ca.go
  sdk/ca.go
Due: core, sdk, backend

fix: add issuance profile validation on CA profile update
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  sdk/ca.go
Due: sdk, backend

fix: failing tests
  backend/pkg/assemblers/ca_test.go
Due: none
