Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

Implement CMP RA Protocol as per RFC 4210 and RFC 9480
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_parse_test.go
  core/pkg/services/lwcmp.go
  docs/rfcs/cmp_audit_2023_03_13.md
  docs/rfcs/external/RFC4210.txt
  docs/rfcs/external/RFC4211.txt
  docs/rfcs/external/RFC5280.txt
  docs/rfcs/external/RFC6712.txt
  docs/rfcs/external/RFC9480.txt
  docs/rfcs/external/RFC9481.txt
  docs/rfcs/external/RFC9483.txt
  docs/rfcs/external/RFC9810.txt
  docs/rfcs/external/RFC9811.txt
  docs/rfcs/internal/RFC004-DynamicDeviceGroups.md
  docs/rfcs/internal/RFC005-jsonpath-sorting.md
  docs/rfcs/internal/RFC007-idslot-jsonb.md
  docs/rfcs/internal/RFC008-filtered-stats.md
  docs/rfcs/internal/RFC009-cmp.md
Due: core, backend

feat: add CMP message sample files and parsing tests
  backend/pkg/controllers/cmp_message_samples/0001.ip
  backend/pkg/controllers/cmp_message_samples/0002.cr
  backend/pkg/controllers/cmp_parse_test.go
Due: backend

Implement CMP (Certificate Management Protocol) HTTP handler and ASN.1 encoding/decoding
  backend/go.mod
  backend/go.sum
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/routes/cmp.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms.go
  go.work.sum
Due: core, backend

feat: add tests for SenderNonce and CertReqID in CMP message parsing
  backend/pkg/controllers/cmp_parse_test.go
Due: none

feat: Implement Lightweight CMP service methods in DMSManager
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/audit/dms_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

feat: Enhance DMS Manager Service with KMS integration and CMP improvements
  backend/cmd/dms-manager/main.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/config/dms.go
  backend/pkg/controllers/cmp.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
  cmp.sh
  core/pkg/models/dms.go
  core/pkg/models/dms_est_options.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/services/lwcmp.go
  monolithic/pkg/assembler.go
Due: core, backend

feat: Update DMS Manager to support Lightweight CMP (RFC 9483) features
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms_lwcmp_options.go
  docs/rfcs/internal/RFC010-lwc-cmp-rfc9483.md
Due: core, backend

feat: Enhance CMP protection and enrollment options
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/cmp_mock.go
  core/pkg/services/mock/dms_mock.go
  docs/rfcs/internal/RFC010-lwc-cmp-rfc9483.md
  sdk/dmsmanager.go
Due: core, sdk, backend

Add ASN.1 module definitions for PKIX and related algorithms
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_parse_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/routes/cmp.go
  backend/pkg/services/dmsmanager.go
  cmp.ir
  core/pkg/helpers/readcerts.go
  core/pkg/services/lwcmp.go
  docs/rfcs/openssl_cmp.md
  pyasn1/main.py
  pyasn1/myasn1/AlgorithmInformation-2009.asn
  pyasn1/myasn1/AttributeCertificateVersion1-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2010.asn
  pyasn1/myasn1/CryptographicMessageSyntaxAlgorithms-2009.asn
  pyasn1/myasn1/KEMAlgorithmInformation-2023.asn
  pyasn1/myasn1/PKCS-10.asn
  pyasn1/myasn1/PKCS-9.asn
  pyasn1/myasn1/PKIX-CommonTypes-2009.asn
  pyasn1/myasn1/PKIX-X400Address-2009.asn
  pyasn1/myasn1/PKIX1-PSS-OAEP-Algorithms-2009.asn
  pyasn1/myasn1/PKIX1Explicit-2009.asn
  pyasn1/myasn1/PKIX1Implicit-2009.asn
  pyasn1/myasn1/PKIXAlgs-2009.asn
  pyasn1/myasn1/PKIXAttributeCertificate-2009.asn
  pyasn1/myasn1/PKIXCRMF-2009.asn
  pyasn1/myasn1/SecureMimeMessageV3dot1-2009.asn
  pyasn1/myasn1/cmp.asn
  pyasn1/myasn1/cmp_comp.json
  pyasn1/myasn1/cmp_comp.py
  pyasn1/myasn1/load_mod.txt
  pyasn1/myasn1/load_obj.txt
Due: core, backend

feat: add Dockerfile for CA to KMS migration tool and update workflows
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
  ci/ca-to-kms-migration.dockerfile
Due: none

feat: Enhance CMP handling by including signer cert in extraCerts and improving EE certificate parsing
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_protection.go
Due: backend

fix: update test command path in README
  backend/cmd/ca-to-kms-migration/README.md
Due: backend

fix: reorder public key extraction in collectKeys function for better clarity
  backend/pkg/migration/catokms/migration.go
Due: backend

fix: derive algorithm/size from the parsed x509 certificate’s public key
  backend/pkg/migration/catokms/migration.go
  backend/pkg/migration/catokms/migration_test.go
Due: backend

feat: add conflict error handling for engine ID mismatches in key migration
  backend/pkg/migration/catokms/migration.go
  backend/pkg/migration/catokms/migration_test.go
Due: backend

feat: update config struct to reuse KMSConfig
  backend/cmd/ca-to-kms-migration/README.md
  backend/cmd/ca-to-kms-migration/main.go
  backend/pkg/migration/catokms/migration.go
Due: backend

feat: add EST authentication modes
  core/pkg/models/est.go
Due: core

feat(est): implement mTLS + webhook auth flow in enroll
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager.go
Due: backend

refactor: extract mTLS and webhook logic to enhance enroll method
  backend/pkg/services/dmsmanager.go
Due: backend

feat: implement webhook and mTLS + webhook auth flows in re-enroll
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager.go
Due: backend

refactor: rename mTLS-related functions and constants to client certificate terminology
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/est.go
Due: core, backend

feat: add CA-to-KMS key migration tool (#614)
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
  backend/cmd/ca-to-kms-migration/README.md
  backend/cmd/ca-to-kms-migration/main.go
  backend/pkg/migration/catokms/migration.go
  backend/pkg/migration/catokms/migration_test.go
  ci/ca-to-kms-migration.dockerfile
Due: backend

refactor: reduce cognitive complexity in helper methods
  backend/pkg/services/dmsmanager.go
Due: backend

fix: rename external webhook field to external_webhook_settings for clarity
  core/pkg/models/dms.go
Due: core

fix(DMS): rename external_webhook JSON field to external_webhook_settings (#618)
  core/pkg/models/dms.go
Due: core

feat: remove develop test-webhook server.
  backend/cmd/test-webhook/main.go
Due: backend

fix: call external webhook during reenrollment when auth mode is ClientCertificateExternalWebhook
  backend/pkg/services/dmsmanager.go
Due: backend

feat: add ESTAuthMode constants and combined cert+webhook enrollment auth
  backend/cmd/test-webhook/main.go
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/est.go
  go.work.sum
Due: core, backend

feat: update Docker configuration to expose CBOMkit API port and log the port number
  monolithic/cmd/development/main.go
Due: none

add event bus dlq
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/va.go
  connectors/awsiot/pkg/assembler.go
Due: backend

CA: added support for the creation of pure PQC CA Roots using ML-DSA (44, 65 and 87)
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/services/casigner.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/models/cryptokey.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/storage/postgres/utils.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, backend

Added more tests for MLDSA CA creation. Modified the CryptoEngine interface to add the ImportMLDSAPrivateKey operation and added the required changes in the different engines.
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/controllers/ca.go
  core/go.mod
  core/go.sum
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/services/ca.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, backend

Added the ImportMLDSAPrivateKey function to fulfill the interface requirements
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  engines/crypto/pkcs11/pkcs11.go
Due: crypto-pkcs11

Added CA Sign and Verify support for MLDSA certificates. CRL generation and verification has been fixed
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/services/ca.go
Due: core, backend

CryptoEngine supports Ed25519 key generation
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11

Added function ImportEd25519PrivateKey to all cryptoengines. Some of them will require implementation further on
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11

Added support for Ed25519 CA creation in x509Engine.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  core/pkg/helpers/cryptoutils.go
Due: core

Added CA Creation tests for the assembler
  backend/pkg/assemblers/tests/ca/ca_main_test.go
Due: none

Added support for the Ed25519 CA creation and certificate issuing via CSR.
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  core/pkg/helpers/cryptoutils.go
Due: core, backend

x509engine: added support for chameleon root CA creation
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/cryptokey.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
