Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

Updated images to use custom go fork. Replaced normal dockerfiles with their pq equivalents.
  ci/alerts.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/pq_alerts.dockerfile
  ci/pq_ca.dockerfile
  ci/pq_devmanager.dockerfile
  ci/pq_dmsmanager.dockerfile
  ci/pq_kms.dockerfile
  ci/pq_va.dockerfile
  ci/va.dockerfile
Due: none

feat: update Dockerfiles to use custom golang-pqc image instead of golang:1.26.2-bookworm
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/monolithic.dockerfile
Due: none

feat: refactor CMP routing and update CMP path in scripts
  cmp.ir
  cmp.sh
  monolithic/pkg/assembler.go
  scripts/cmp-ir.sh
Due: none

feat(DMS): support external webhook auth in reenrollment (#643)
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager.go
Due: backend

feat(cmp): enhance ASN.1 decoding for ExtraCerts and improve protection verification logic
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_protection.go
Due: backend

feat(cmp): implement cert-request-level rejection handling and improve RFC compliance
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_enrollment.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_rfc_compliance_test.go
Due: backend

feat: Implement SSE support for device events with new SSE hub and handlers
  backend/pkg/assemblers/device-manager.go
  backend/pkg/config/devicemanger.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/sse_hub.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/handlers/device-sse-handlers.go
  core/pkg/models/events.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: core, backend

feat: Add real-world device data migration tests for device events
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: none

feat(devmanager): add device events with audit trail, SSE, and validation
  backend/pkg/assemblers/device-manager.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/services/devicemanager.go
  docs/alerts-openapi.yaml
  docs/device-manager-openapi.yaml
  engines/storage/postgres/migrations/devicemanager/20260317120000_create_device_events.sql
  monolithic/pkg/storage/sqlite/schema.go
Due: storage-postgres, backend

refactor: Remove local real-world device data test from migration tests
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: none

feat: Implement device event management
  backend/pkg/assemblers/tests/alerts/main_test.go
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/alerts.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  connectors/awsiot/pkg/service.go
  core/pkg/engines/storage/alerts.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/models/device.go
  core/pkg/resources/caresp.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/resources/fields.go
  core/pkg/services/alerts.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  docs/alerts-openapi.yaml
  engines/storage/postgres/device_events.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/eventstore.go
  engines/storage/postgres/migrations/devicemanager/20260317120000_create_device_events.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
  sdk/alerts.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

fix(devmanager): address PR review feedback on device events + SSE
  backend/pkg/controllers/devmanager.go
  backend/pkg/services/devicemanager.go
  core/pkg/resources/fields.go
  docs/device-manager-openapi.yaml
Due: core, backend

fix(devmanager): address second-round PR review on device events
  backend/pkg/services/handlers/device-sse-handlers.go
  core/pkg/models/device.go
  core/pkg/models/device_test.go
  sdk/devicemanager.go
Due: core, sdk, backend

fix(devmanager): restore service-* attribution; use omitzero for event_ts
  backend/pkg/controllers/devmanager.go
  core/pkg/resources/devreq.go
Due: core, backend

feat: add stored events and event retention settings management
  backend/pkg/assemblers/alerts.go
  backend/pkg/config/alerts.go
  backend/pkg/controllers/alerts.go
  backend/pkg/jobs/alerts-event-cleanup-job.go
  backend/pkg/routes/alerts.go
  backend/pkg/services/alerts.go
  core/pkg/engines/storage/alerts.go
  core/pkg/engines/storage/engine.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/models/alerts.go
  core/pkg/resources/fields.go
  core/pkg/services/alerts.go
  docs/alerts-openapi.yaml
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrations/alerts/00000000000002_add_stored_events.sql
  engines/storage/postgres/retentionsettingsstore.go
  engines/storage/postgres/storedeventsstore.go
  monolithic/pkg/storage/sqlite/engine.go
  monolithic/pkg/storage/sqlite/schema.go
  sdk/alerts.go
Due: core, sdk, storage-postgres, backend

fix(devmanager): per-process SSE queue; add UNKNOWN event type
  backend/pkg/assemblers/device-manager.go
  core/pkg/models/device.go
  docs/device-manager-openapi.yaml
Due: core, backend

feat: update event retention settings to use TimeDuration type
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/controllers/alerts.go
  backend/pkg/resources/alertsreq.go
  backend/pkg/services/alerts.go
  core/pkg/helpers/logger.go
  core/pkg/models/alerts.go
  core/pkg/resources/alertsreq.go
  core/pkg/services/alerts.go
  engines/storage/postgres/retentionsettingsstore.go
  sdk/alerts.go
Due: core, sdk, storage-postgres, backend

feat: configure default audit event TTL and cleanup interval in monolithic PKI
  backend/pkg/assemblers/alerts.go
  monolithic/pkg/assembler.go
Due: backend

fix(devmanager): refine source attribution logic for device events
  backend/pkg/controllers/devmanager.go
  backend/pkg/services/devicemanager.go
Due: backend

Fixed key import errors for PQ keys
  backend/pkg/services/kms.go
  core/pkg/helpers/readcerts.go
  go.work.sum
  sdk/ca.go
Due: core, sdk, backend

#621
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms-noproxy.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
Due: none

Device events v2 (#405)
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/alerts/main_test.go
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/config/devicemanger.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/sse_hub.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/alerts.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/handlers/device-sse-handlers.go
  connectors/awsiot/pkg/service.go
  core/pkg/engines/storage/alerts.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/models/device.go
  core/pkg/models/device_test.go
  core/pkg/models/events.go
  core/pkg/resources/caresp.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/resources/fields.go
  core/pkg/services/alerts.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  docs/alerts-openapi.yaml
  docs/device-manager-openapi.yaml
  engines/storage/postgres/device_events.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/eventstore.go
  engines/storage/postgres/migrations/devicemanager/20260317120000_create_device_events.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
  monolithic/pkg/storage/sqlite/schema.go
  sdk/alerts.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

Refactor PostgreSQL storage to support schemas instead of databases
  engines/storage/postgres/cmd/goose-lamassu/main.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrate.go
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/migrations_test/utils.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/test/migrate_test.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/postgres_test.go
  engines/storage/postgres/test/test_suite.go
  engines/storage/postgres/utils.go
Due: storage-postgres

Enhance logging and HTTP client configuration
  backend/go.mod
  backend/pkg/assemblers/device-manager.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/kms.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  backend/pkg/routes/devmanager.go
  core/pkg/resources/query.go
  docs/RFC-004-DynamicDeviceGroups.md
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/sampledata/generator.go
Due: core, storage-postgres, backend

feat: enhance identity extraction with additional context for JWT and client certificates
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
  core/context.go
Due: core, backend

feat: integrate authorization middleware in CA and device manager routes
  backend/pkg/assemblers/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
Due: backend

feat: update authorization middleware parameters for CA and device manager routes
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
Due: backend

feat: enhance authorization integration in device manager and PostgreSQL storage
  backend/pkg/controllers/utils.go
  backend/pkg/routes/devmanager.go
  engines/storage/postgres/utils.go
Due: storage-postgres, backend

feat: unify context key type for client certificate and JWT extractors
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
Due: backend

Enhance HTTP Client Configuration with Custom Headers
  backend/go.mod
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  go.work.sum
  monolithic/pkg/assembler.go
Due: backend

fix: update FilterQuery calls in tests to use nil context
  backend/pkg/controllers/utils_test.go
Due: none

fix: update authz path in go.mod to correct directory
  backend/go.mod
Due: backend

feat: enhance HTTP client configuration with custom headers for KMS and sample data population
  monolithic/pkg/assembler.go
  monolithic/pkg/sampledata/generator.go
Due: none

feat: integrate authorization middleware across various services and routes
  backend/go.mod
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/kms.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/sampledata/generator.go
Due: storage-postgres, backend

feat: refactor authorization middleware to use simplified version and update key URI parsing
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  core/pkg/models/kms.go
Due: core, backend

feat: update principal policy handling to return detailed grant information
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/authz/identity_resolver.go
  connectors/authz/pkg/authz/ports.go
  connectors/authz/pkg/authz/principal_manager.go
  connectors/authz/pkg/authz/principal_manager_test.go
  connectors/authz/pkg/authz/principal_store_gorm.go
  connectors/authz/sdk/gin-middleware/middleware.go
  connectors/authz/sdk/gin-middleware/middleware_test.go
  connectors/authz/sdk/sdk.go
  connectors/authz/sdk/sdk_test.go
Due: none

feat: Implement PrincipalManager and GormPrincipalStore for managing principals and policies
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/log_formatter.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/api/schema_controller.go
  connectors/authz/pkg/authz/capabilities.go
  connectors/authz/pkg/engine/capabilities.go
  connectors/authz/pkg/engine/control_test.go
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/engine/engine_test.go
  connectors/authz/pkg/engine/filter.go
  connectors/authz/pkg/engine/filter_test.go
  connectors/authz/pkg/engine/graph.go
  connectors/authz/pkg/engine/graph_test.go
  connectors/authz/pkg/engine/policy.go
  connectors/authz/pkg/engine/policy_test.go
  connectors/authz/pkg/engine/ports.go
  connectors/authz/pkg/engine/schema.go
  connectors/authz/pkg/engine/schema_test.go
  connectors/authz/pkg/service/authz.go
  connectors/authz/pkg/service/capabilities.go
  connectors/authz/pkg/service/capabilities_integration_test.go
  connectors/authz/pkg/service/capabilities_test.go
  connectors/authz/pkg/service/identity.go
  connectors/authz/pkg/service/policy.go
  connectors/authz/pkg/service/policy_manager_test.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/store/gorm.go
  connectors/authz/pkg/store/matcher.go
  connectors/authz/sdk/sdk.go
Due: none

Refactor authorization logic and introduce new PrincipalMatcher
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/authz/identity_resolver.go
  connectors/authz/pkg/authz/policy_manager.go
  connectors/authz/pkg/authz/policy_manager_test.go
  connectors/authz/pkg/authz/ports.go
  connectors/authz/pkg/authz/principal_manager.go
  connectors/authz/pkg/authz/principal_manager_test.go
  connectors/authz/pkg/authz/principal_matcher.go
  connectors/authz/pkg/authz/principal_store_gorm.go
  connectors/authz/pkg/authz/service.go
Due: none
