Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

feat: add JWT and client certificate authentication to OpenAPI specifications
  docs/alerts-openapi.yaml
  docs/ca-openapi.yaml
  docs/device-manager-openapi.yaml
  docs/dms-manager-openapi.yaml
  docs/kms-openapi.yaml
  docs/va-openapi.yaml
Due: none

feat: add OpenAPI spec handling and API diff agent workflow
  .github/agents/api-diff.agent.md
  .github/workflows/api-diff.yaml
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/ca.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/dms.go
  backend/pkg/config/kms.go
  backend/pkg/config/va.go
  backend/pkg/routes/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: backend

feat: add PR comment step to API Diff Agent workflow for assessment reporting
  .github/workflows/api-diff.yaml
Due: none

refactor: clarify API Diff Agent documentation for PR commit analysis
  .github/agents/api-diff.agent.md
Due: none

chore: openapi - standardize authentication schemes (#372)
  docs/alerts-openapi.yaml
  docs/ca-openapi.yaml
  docs/device-manager-openapi.yaml
  docs/dms-manager-openapi.yaml
  docs/kms-openapi.yaml
  docs/va-openapi.yaml
Due: none

feat: implement SQLite storage engine with connection management and schema initialization
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/go.mod
  monolithic/go.sum
  monolithic/pkg/storage/sqlite/connection.go
  monolithic/pkg/storage/sqlite/engine.go
Due: none

feat: add in-memory eventbus implementation
  monolithic/cmd/development/main.go
  monolithic/pkg/eventbus/builder.go
  monolithic/pkg/eventbus/inmemory/engine.go
  monolithic/pkg/eventbus/inmemory/engine_test.go
  monolithic/pkg/eventbus/inmemory/pubsub.go
  monolithic/pkg/storage/sqlite/schema.go
Due: none

Fixed issues with the generation of certain types of certificates. PQ support seems fully fixed.
  Makefile
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_sign_test.go
  sdk/ca.go
Due: sdk, backend

feat: add support for jsonb metadata in database migrations and queries
  backend/pkg/controllers/utils.go
  core/pkg/resources/careq.go
  core/pkg/resources/query.go
  engines/storage/postgres/migrations/ca/20251217120000_metadata_text_to_jsonb.sql
  engines/storage/postgres/migrations/devicemanager/20251217120000_metadata_text_to_jsonb.sql
  engines/storage/postgres/migrations/dmsmanager/20251217120000_metadata_text_to_jsonb.sql
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/migrations_test/devicemanager_test.go
  engines/storage/postgres/migrations_test/dms_test.go
  engines/storage/postgres/utils.go
Due: core, storage-postgres, backend

fix: case-insensitive LIKE replacement in SQLite
  engines/storage/postgres/utils.go
  monolithic/pkg/storage/sqlite/connection.go
  monolithic/pkg/storage/sqlite/connection_test.go
Due: storage-postgres

chore: update module dependencies in go.mod and go.sum files
  core/go.mod
  core/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
Due: core, storage-postgres

feat: enable Docker-less local development via SQLite storage and In-Memory bus (#374)
  core/go.mod
  core/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  engines/storage/postgres/utils.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/go.mod
  monolithic/go.sum
  monolithic/pkg/eventbus/builder.go
  monolithic/pkg/eventbus/inmemory/engine.go
  monolithic/pkg/eventbus/inmemory/engine_test.go
  monolithic/pkg/eventbus/inmemory/pubsub.go
  monolithic/pkg/storage/sqlite/connection.go
  monolithic/pkg/storage/sqlite/connection_test.go
  monolithic/pkg/storage/sqlite/engine.go
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres

feat: implement device filtering statistics functionality
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/services/devicemanager.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/services/devicemanager.go
  docs/device-manager-openapi.yaml
  engines/storage/postgres/devicemanager.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

feat: add device filtering statistics functionality
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/utils.go
Due: storage-postgres

feat: enhance device filtering statistics functionality
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/services/devicemanager.go
Due: backend

feat: update openapi spec
  docs/device-manager-openapi.yaml
Due: none

feat: implement device filtering statistics functionality (#376)
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/services/devicemanager.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/services/devicemanager.go
  docs/device-manager-openapi.yaml
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/utils.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

feat: add expiration date handling for device identity slots
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/device.go
Due: core, backend

feat: add expiration date info for device identity slots (#377)
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/device.go
Due: core, backend

feat: add migration test for converting metadata from text to jsonb format
  engines/storage/postgres/migrations_test/ca_test.go
Due: none

feat: Implement CA reissuance functionality
  backend/pkg/assemblers/ca_reissuance_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/pkg/errs/ca.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  sdk/ca.go
Due: core, sdk, backend

refactor: clean up CA reissuance test structure and remove unused helper functions
  backend/pkg/assemblers/tests/ca/ca_reissuance_test.go
Due: none

test: Add unit tests for CA reissuance functionality
  backend/pkg/assemblers/ca_reissuance_test.go
Due: none

refactor: remove unnecessary testcases CA event publisher test
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
Due: none

refactor: remove CreateCertificate method and related audit handling from CA services
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/services/ca.go
  core/pkg/services/ca.go
Due: core, backend

refactor: reuse profile selection logic in CreateCA and ReissueCA
  backend/pkg/services/ca.go
Due: backend

feat: Generate a CSR from cert for reissuance
  backend/pkg/services/ca.go
Due: backend

test: Add unit tests for CA reissuance service and SDK
  backend/pkg/assemblers/ca_reissuance_test.go
Due: none

update API documentation for CA lifecycle operations adding Reissue CA
  docs/ca-openapi.yaml
Due: none

feat: Refactor CA reissuance process and enhance CSR generation with SAN support
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_san_test.go
  core/pkg/helpers/cryptoutils.go
Due: core, backend

feat: Implement enhancements for CA reissuance process and validity checks
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
Due: backend

restore certificate expiration check on reissuance
  backend/pkg/services/ca.go
Due: backend

refactor: remove unused code and clean up CA error handling
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/errs/ca.go
Due: core, backend

refactor: clean up CA publisher test configuration and convenience wrappers
  backend/pkg/middlewares/audit/ca_test.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
Due: none

feat: Enhance CA reissuance with issuance profile and validity checks
  backend/pkg/assemblers/ca_reissuance_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
Due: backend

refactor: update createTestCA function to handle expiration and adjust CA reissuance logic
  backend/pkg/assemblers/tests/ca/ca_reissuance_test.go
  backend/pkg/services/ca.go
Due: backend

refactor: correct OID naming for Subject Alternative Name extensions
  backend/pkg/x509engines/x509engine.go
Due: backend

fix: apply changes after rebasing main with new kms
  backend/pkg/assemblers/tests/ca/ca_reissuance_test.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_san_test.go
Due: backend

feat: Add audit event publisher tests for CA, CRL, devices, and DMS functionalities
  backend/pkg/middlewares/audit/ca_test.go
  backend/pkg/middlewares/audit/crl_test.go
  backend/pkg/middlewares/audit/devices_test.go
  backend/pkg/middlewares/audit/dms_test.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
Due: none

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
