Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

feat(db): add migration to update already registered DMS
  engines/storage/postgres/migrations/dmsmanager/20250612100530_est_verify_csr_signature.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/dms_test.go
Due: storage-postgres

refactor: avoid duplicated type assertion
  backend/pkg/services/dmsmanager.go
  engines/storage/postgres/migrations/dmsmanager/20250612100530_est_verify_csr_signature.go
Due: storage-postgres, backend

feat: DMS Manager: add option to toggle CSR signature verification during Enrollment/Reenrollment (#268)
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/test/e2e/usecase-1.go
  core/pkg/models/dms.go
  engines/storage/postgres/migrations/dmsmanager/20250612100530_est_verify_csr_signature.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/dms_test.go
Due: core, storage-postgres, backend

feat: add filter operations that ignore case
  backend/pkg/controllers/utils.go
  core/pkg/resources/query.go
  engines/storage/postgres/utils.go
Due: core, storage-postgres, backend

feat: add case-insensitive filtering support (#270)
  backend/pkg/controllers/utils.go
  core/pkg/resources/query.go
  engines/storage/postgres/utils.go
Due: core, storage-postgres, backend

feat: add InitCRLRole method to CRLService and its implementations
  backend/pkg/middlewares/eventpub/crl.go
  backend/pkg/services/handlers/va-handlers.go
  core/pkg/services/crl.go
  core/pkg/services/mock/crl_mock.go
Due: core, backend

feat: refactor by adding InitCRLRole method to CRLService and its implementations (#271)
  backend/pkg/middlewares/eventpub/crl.go
  backend/pkg/services/handlers/va-handlers.go
  core/pkg/services/crl.go
  core/pkg/services/mock/crl_mock.go
Due: core, backend

fix: update bookmark encoding to use URL-safe base64 encoding
  engines/storage/postgres/utils.go
Due: storage-postgres

fix: update bookmark encoding to use URL-safe base64 encoding (#272)
  engines/storage/postgres/utils.go
Due: storage-postgres

feat: KMS - Moving endpoints to CA service.
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/kms_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/config/ca.go
  backend/pkg/config/kms.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/kms.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/kms.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/kms.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  core/pkg/errs/ca.go
  core/pkg/errs/kms.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/models/kms.go
  core/pkg/models/serviceinfo.go
  core/pkg/resources/careq.go
  core/pkg/resources/kmsreq.go
  core/pkg/services/ca.go
  core/pkg/services/kms.go
  core/pkg/services/mock/caservice_mock.go
  monolithic/pkg/assembler.go
  sdk/ca.go
  sdk/kms.go
Due: core, sdk, backend

obnibus commit
  backend/pkg/services/crl.go
  backend/pkg/services/handlers/va-handlers.go
  core/pkg/engines/eventbus/messaging.go
  core/pkg/resources/careq.go
  engines/storage/postgres/castore.go
  monolithic/cmd/development/main.go
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

test: fix sdk encoding query params to do not overwrite existing ones in url
  sdk/utils.go
Due: sdk

fix: query params with bookmark
  sdk/utils.go
Due: sdk

fix: add check if query params is nil
  sdk/utils.go
Due: sdk

Fix: CRL Initialization on event (#273)
  backend/pkg/services/crl.go
  backend/pkg/services/handlers/va-handlers.go
  core/pkg/engines/eventbus/messaging.go
  core/pkg/resources/careq.go
  engines/storage/postgres/castore.go
  monolithic/cmd/development/main.go
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

fix(ca): add the pending signing algorithms
  backend/pkg/services/casigner.go
Due: backend

Fix typo
  backend/pkg/services/casigner.go
Due: backend

fix(ca): add the pending signing algorithms (#275)
  backend/pkg/services/casigner.go
Due: backend

feat: KMS - New signing algorithms added.
  backend/pkg/services/kms.go
Due: backend

feat: KMS - Error messages corrected.
  backend/pkg/services/ca.go
Due: backend

feat: KMS - Comments removed.
  backend/pkg/services/ca.go
Due: backend

feat: Key Management System
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/kms_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/config/ca.go
  backend/pkg/config/kms.go
  backend/pkg/controllers/kms.go
  backend/pkg/middlewares/eventpub/kms.go
  backend/pkg/routes/kms.go
  backend/pkg/services/kms.go
  core/pkg/errs/kms.go
  core/pkg/models/events.go
  core/pkg/models/kms.go
  core/pkg/models/serviceinfo.go
  core/pkg/resources/kmsreq.go
  core/pkg/services/kms.go
  monolithic/pkg/assembler.go
  sdk/kms.go
Due: core, sdk, backend

feat: KMS - Signing method corrected
  backend/pkg/services/ca.go
Due: backend

No tmp_dir for fileblob persistence
  engines/fs-storage/localfs/registrar.go
Due: none

fix: no tmp_dir for fileblob persistence (#277)
  engines/fs-storage/localfs/registrar.go
Due: none

feat: KMS - Refactor method GetKeys
  backend/pkg/services/ca.go
Due: backend

feat: provide enrollment CA's IssuanceProfile as default
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms.go
Due: core, backend

test: fix tests
  backend/pkg/assemblers/dms-manager_test.go
Due: none

test: add/update tests to cover the new configuration
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/test/e2e/usecase-1.go
Due: backend

test: add test for default issuance profile
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/test/e2e/usecase-1.go
Due: backend

feat: use Issuance Profile definition from DMS during enroll and reenroll
  backend/pkg/services/dmsmanager.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/models/dms.go
Due: core, backend

feat: KMS - Refactoring
  backend/pkg/services/ca.go
Due: backend

chore: Bump dependencies
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

Update dev-release.yaml
  .github/workflows/dev-release.yaml
Due: none

feat: validate issuance profile on create/update
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  core/pkg/errs/dms.go
Due: core, backend

fix: KMS - Sign and Verify endpoints corrected
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
Due: core, backend

fix: KMS - Engine ID added to CreateKey and ImportKey Methods
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
Due: core, backend

Remove get roles
  backend/pkg/controllers/va.go
  backend/pkg/routes/va.go
Due: backend

fix crl urls
  backend/pkg/routes/va.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/models/va.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: core, backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
