Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

docs: leave unrelated internal RFC drafts untouched at their v4 paths
  docs/RFC-004-DynamicDeviceGroups.md
  docs/RFC005-jsonpath-sorting.md
  docs/RFC007-idslot-jsonb.md
  docs/RFC008-filtered-stats.md
Due: none

refactor: remove unused import and add context for CMP signer certificate
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
Due: backend

Enhance and several fixes for CMP KGA functionality and tests
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_kga_dispatch_test.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/internal/kga/kga.go
  backend/pkg/controllers/cmp/internal/kga/kga_test.go
  backend/pkg/controllers/cmp/internal/kga/signeddata.go
  core/pkg/cmp/kga.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_cmp_operations_test.go
Due: core, backend

fix: restore client certificate propagation for EST enrollment auth
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
Due: backend

fix: test result report not appearing correctly
  .github/workflows/ci-test.yaml
Due: none

Implement CMS for Central Key Management
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_kga.go
  backend/pkg/controllers/cmp/cmp_kga_crypto_test.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/internal/kga/cms_asn1.go
  backend/pkg/controllers/cmp/internal/kga/kga.go
  backend/pkg/controllers/cmp/internal/kga/kga_test.go
  backend/pkg/controllers/cmp/internal/kga/recipients.go
  backend/pkg/controllers/cmp/internal/kga/signeddata.go
  core/pkg/cmp/decoding.go
  core/pkg/cmp/kga.go
  core/pkg/cmp/message.go
  core/pkg/cms/akp.go
  core/pkg/cms/asn1.go
  core/pkg/cms/build_enveloped.go
  core/pkg/cms/build_signed.go
  core/pkg/cms/cms_test.go
  core/pkg/cms/decode.go
  core/pkg/cms/doc.go
  core/pkg/cms/kdf.go
  core/pkg/cms/keywrap.go
  core/pkg/cms/oids.go
  core/pkg/cms/rand.go
  core/pkg/cms/technique.go
Due: core, backend

feat: Enhance CMP functionality with new features and validations
  .gitignore
  backend/cmd/dms-manager/main.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/config/dms.go
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_genmsg.go
  backend/pkg/controllers/cmp/cmp_genmsg_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_cmp_settings.go
  core/pkg/models/dms_cmp_settings_test.go
  core/pkg/services/lwcmp.go
  monolithic/pkg/assembler.go
Due: core, backend

feat: Add support for central key generation (CKG) and improve transaction handling
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_genmsg.go
  backend/pkg/controllers/cmp/cmp_genmsg_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_kga_dispatch_test.go
  backend/pkg/controllers/cmp/cmp_nested.go
  backend/pkg/controllers/cmp/cmp_nested_batch_test.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/cmp_testhelpers_test.go
  backend/pkg/jobs/cmp-confirmation-monitor-job.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/cmp_optional_interfaces_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_policy_test.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  core/pkg/cmp/crmf.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/models/cmp_transaction.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/services/lwcmp.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/test/cmptxstore_test.go
Due: core, storage-postgres, backend

feat(cmp): enhance PKIHeader structure and decoding
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_crosscert.go
  backend/pkg/controllers/cmp/cmp_crosscert_test.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_kga_dispatch_test.go
  backend/pkg/controllers/cmp/cmp_nested.go
  backend/pkg/controllers/cmp/cmp_protection.go
  backend/pkg/controllers/cmp/cmp_testhelpers_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  core/pkg/cmp/message.go
  core/pkg/cmp/message_test.go
  core/pkg/cmp/types.go
  core/pkg/cmp/wire.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/models/cmp_transaction.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_cmp_settings_test.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/cmptxstore_devicelock_test.go
  engines/storage/postgres/migrations/dmsmanager/20260730150000_cmp_transactions_central_key_generation.sql
  engines/storage/postgres/migrations/dmsmanager/20260730160000_cmp_reg_token_claims.sql
Due: core, storage-postgres, backend

feat(cmp): enhance handlePoll to report CMP state and handle response DER
  backend/pkg/controllers/cmp/cmp.go
  connectors/authz/pki.json
Due: backend

storing cmp ctx info
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_crosscert.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_enrollment_variants_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_p10cr.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/cmp_security_metadata_test.go
  core/pkg/models/cmp_transaction.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/migrations/dmsmanager/20260521120000_cmp_tables.sql
Due: core, storage-postgres, backend

fix some tests
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_cmp_settings.go
  core/pkg/models/dms_cmp_settings_test.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/test/cmptxstore_test.go
  monolithic/pkg/sampledata/generator.go
Due: core, storage-postgres, backend

feat(cmp): enhance logging for CMP failures and add principals tracking in transitions
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_logging_test.go
  backend/pkg/integrations/wfx/cmp.go
  backend/pkg/integrations/wfx/cmp_test.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
Due: backend

feat(cmp): remove deprecated registration mode and existing device policy from CMP settings
  backend/pkg/assemblers/tests/dms-manager/cmp/settings_roundtrip_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/context.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_cmp_settings.go
  core/pkg/models/dms_cmp_settings_test.go
  monolithic/pkg/sampledata/generator.go
Due: core, backend

fix kur poll
  backend/pkg/controllers/cmp/cmp.go
Due: backend

feat(cmp): enforce signer certificate presence in LWCRevokeCertificate method
  backend/pkg/services/dmsmanager_lwcmp.go
Due: backend

Remove v3_drop_and_poll.sh script as part of codebase cleanup
  .github/workflows/ci-test.yaml
  backend/go.mod
  backend/go.sum
  scripts/cmp-certconf-explicit.sh
  scripts/cmp-disconnect-recovery.sh
  scripts/cmp-drop-and-poll.sh
  scripts/cmp-full-lifecycle.sh
  scripts/cmp-ir-explicit.sh
  scripts/cmp-ir-implicit.sh
  scripts/cmp-ir-no-certconf.sh
  scripts/cmp-ir.sh
  scripts/cmp-phased-poll.sh
  scripts/cmp-tests.sh
  scripts/cmp_certconf.py
  scripts/cmp_pollreq.py
  scripts/v3_drop_and_poll.sh
Due: backend

ci: pin actions to SHAs and install tinyec without running setup.py
  .github/workflows/ci-test.yaml
  scripts/run-cmp-test-suite.sh
Due: none

[Task]: Fix gosec SARIF upload permissions (#725)
  .github/workflows/gosec.yml
Due: none

add event bus dlq
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/va.go
  connectors/awsiot/pkg/assembler.go
  go.work.sum
Due: backend

CA: added support for the creation of pure PQC CA Roots using ML-DSA (44, 65 and 87)
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/services/casigner.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/models/cryptokey.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/storage/postgres/utils.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, backend

Added more tests for MLDSA CA creation. Modified the CryptoEngine interface to add the ImportMLDSAPrivateKey operation and added the required changes in the different engines.
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/controllers/ca.go
  core/go.mod
  core/go.sum
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/services/ca.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, backend

Added the ImportMLDSAPrivateKey function to fulfill the interface requirements
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  engines/crypto/pkcs11/pkcs11.go
Due: crypto-pkcs11

Added CA Creation tests for the assembler
  backend/pkg/assemblers/tests/ca/ca_main_test.go
Due: none

Added support for Ed25519 CA creation in x509Engine.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  core/pkg/helpers/cryptoutils.go
Due: core

CryptoEngine supports Ed25519 key generation
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11

Added CA Sign and Verify support for MLDSA certificates. CRL generation and verification has been fixed
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/services/ca.go
Due: core, backend

Added function ImportEd25519PrivateKey to all cryptoengines. Some of them will require implementation further on
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11

Added support for the Ed25519 CA creation and certificate issuing via CSR.
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  core/pkg/helpers/cryptoutils.go
Due: core, backend

x509engine: added support for chameleon root CA creation
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/cryptokey.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, backend

Added support for Chameleon Root CA Creation
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  sdk/ca.go
Due: core, sdk, backend

Refactored x509engine to remove unused parameters from the newly created function's signature
  backend/pkg/x509engines/x509engine.go
Due: backend

Added support for Subordinate Chameleon CA creation
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/ca.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/helpers/cryptoutils_test.go
  core/pkg/helpers/readcerts.go
  core/pkg/services/ca.go
Due: core, backend

Added makefile for ease of development
  Makefile
Due: none

Added Dockerfile for hybrid CA deployment
  ci/pq_ca.dockerfile
Due: none

Added Dockerfiles for hybrid deployment
  ci/pq_alerts.dockerfile
  ci/pq_devmanager.dockerfile
  ci/pq_dmsmanager.dockerfile
  ci/pq_va.dockerfile
  core/pkg/helpers/readcerts.go
Due: core

Added support for chameleon root CA creation, chameleon subordinate CA creation in progress.
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  engines/crypto/filesystem/filesystem.go
Due: core, crypto-filesystem, backend

CA: removed old metadata so as to conform to the new specification
  backend/pkg/services/ca.go
Due: backend

CA: added metadata to hybrid delta cas
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
Due: backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
