Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

Improved ImportCA to update level based on DSN and KID (#224)
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/helpers/x509utils.go
  backend/pkg/services/ca.go
  backend/pkg/services/crl.go
  core/pkg/engines/storage/ca.go
  core/pkg/models/ca.go
  core/pkg/services/ca.go
  engines/storage/postgres/castore.go
  engines/storage/postgres/migrations/ca/20250123125500_ca_aws_metadata.go
  engines/storage/postgres/migrations/ca/20250226114600_ca_add_kids.go
  engines/storage/postgres/migrations/dmsmanager/20241230124809_serverkeygen_revokereenroll.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/ca_test.go
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

fix va role key ID to caSki
  engines/storage/postgres/vastore.go
Due: storage-postgres

Refactor job scheduler tests and update VA role key ID constraint
  backend/pkg/jobs/job-scheduler_test.go
  engines/storage/postgres/migrations/va/00000000000001_create_table.sql
Due: storage-postgres

Refactor job scheduler tests and update VA role key ID constraint
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/services/crl.go
  backend/pkg/services/handlers/va-handlers.go
Due: backend

Refactor VA test for CRL certificate revocation
  backend/pkg/assemblers/va_test.go
Due: none

Refactor CRL certificate revocation and update VA role key ID constraint
  backend/pkg/assemblers/va_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/handlers/va-handlers.go
  backend/pkg/x509engines/x509engine.go
Due: backend

Refactor CA service to format AuthorityKeyID with colons
  backend/pkg/services/ca.go
  engines/storage/postgres/subsystem/subsystem.go
Due: storage-postgres, backend

Create VASDK and Refactor to use it
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/services/va.go
  sdk/external/crl.go
  sdk/external/ocsp.go
  sdk/va.go
Due: core, sdk, backend

add non root user
  ci/monolithic.dockerfile
Due: none

remove self ref go package
  backend/go.mod
  backend/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
Due: storage-postgres, backend

solving requested changes
  backend/pkg/fs-storage/builder/builder.go
  backend/pkg/fs-storage/builder/registrar_s3.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: backend

adding sleep retry
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va_test.go
Due: none

adding other VARole tests
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va_test.go
Due: none

adding iteration in sleepretry
  backend/pkg/assemblers/va_test.go
Due: none

refactor: Update JSON Patch usage and Patch Builder created
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/jobs/crypto-monitor-job.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/test/e2e/usecase-1.go
  connectors/awsiot/pkg/service.go
  core/pkg/helpers/jsonpatches.go
  core/pkg/helpers/jsonpatches_test.go
  core/pkg/models/patches.go
  core/pkg/resources/careq.go
  core/pkg/resources/devreq.go
  core/pkg/services/ca.go
  core/pkg/services/devicemanager.go
Due: core, backend

updating crl test
  backend/pkg/assemblers/va_test.go
Due: none

updating crl test
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va_test.go
Due: none

feat: Change device and CA metadata handling by using JSONPatch expressions (#229)
  backend/go.sum
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/jobs/ca-crypto-monitor-job.go
  backend/pkg/services/ca.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/test/e2e/usecase-1.go
  connectors/awsiot/pkg/service.go
  core/go.mod
  core/go.sum
  core/pkg/helpers/jsonpatches.go
  core/pkg/helpers/jsonpatches_test.go
  core/pkg/models/patches.go
  core/pkg/resources/careq.go
  core/pkg/resources/devreq.go
  core/pkg/services/ca.go
  core/pkg/services/devicemanager.go
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/ca.go
  sdk/devicemanager.go
Due: core, sdk, backend

prevent creating files in tmp folder
  engines/fs-storage/localfs/registrar.go
Due: none

fix crl init handler
  backend/pkg/services/crl.go
  backend/pkg/services/handlers/va-handlers.go
  backend/pkg/x509engines/x509engine.go
Due: backend

refactor: remove comments and TODOs
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
Due: none

feat:monolithic:lammassui-ui is launched with monolithic. disable-ui flag added to avoid
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
Due: none

feat:monolithic:lammassui-ui is launched with monolithic. disable-ui flag added to avoid (#232)
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
Due: none

chore: update contributing guidelines
  CONTRIBUTING.md
Due: none

chore: update contributing guidelines (#233)
  CONTRIBUTING.md
Due: none

fix: MonitoringJob: Enable job using negated value of disableMonitor flag
  monolithic/cmd/development/main.go
Due: none

fix: Monolithic: Enable MonitoringJob using negated value of disableMonitor flag (#234)
  monolithic/cmd/development/main.go
Due: none

feat: DMS Manager: add AWS ALB identity extractor
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/aws_alb.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/aws_alb_test.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate_test.go
Due: backend

feat: DMS Manager: add AWS ALB identity extractor (#237)
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/aws_alb.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/aws_alb_test.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate_test.go
Due: backend

adding disable authz
  backend/go.sum
  backend/pkg/controllers/va.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  core/pkg/config/authz.go
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  monolithic/pkg/assembler.go
Due: core, backend

launch UI in a random docker port
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: none

chore: launch monolithic UI in a random docker port (#238)
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: none

Update CHANGELOG and RELEASE-NOTES
  CHANGELOG.md
  RELEASE-NOTES.md
Due: none

separate RA protocols
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/middlewares/eventpub/est.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/ra/est.go
  core/pkg/services/dmsmanager.go
Due: core, backend

fix: ui port now being served correctly
  monolithic/cmd/development/main.go
Due: none

adjust monolithic monitoring job
  monolithic/cmd/development/main.go
Due: none
