Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

Comment out job dependencies in CI workflow
  .github/workflows/ci-test.yaml
Due: none

Uncomment job dependencies for SonarQube
  .github/workflows/ci-test.yaml
Due: none

Change coverage artifact path from .txt to .xml
  .github/workflows/ci-test.yaml
Due: none

Disable Codecov report uploads in CI
  .github/workflows/ci-test.yaml
Due: none

Update coverage report path in sonar-project.properties
  sonar-project.properties
Due: none

Change coverage artifact path from xml to out
  .github/workflows/ci-test.yaml
Due: none

Set retention days for coverage reports
  .github/workflows/ci-test.yaml
Due: none

Modify CI workflow for Go tests and coverage output
  .github/workflows/ci-test.yaml
Due: none

ci: add conventional commits validation workflow and fix some cliff configs
  .github/workflows/conventional-commits.yaml
  cliff.toml
Due: none

Update ci-test.yaml
  .github/workflows/ci-test.yaml
Due: none

Enable Codecov report uploads in CI workflow
  .github/workflows/ci-test.yaml
Due: none

refactor(authz): unify x-current-user and x-principal-id into a single header
  connectors/authz/pkg/api/ext_authz_controller.go
  connectors/authz/pkg/api/ext_authz_controller_test.go
  monolithic/pkg/assembler.go
  monolithic/pkg/assembler_test.go
Due: none

Change sonar.sources to current directory
  sonar-project.properties
Due: none

refactor(authz): unify x-current-user and x-principal-id into a single header (#749)
  connectors/authz/pkg/api/ext_authz_controller.go
  connectors/authz/pkg/api/ext_authz_controller_test.go
  monolithic/pkg/assembler.go
  monolithic/pkg/assembler_test.go
Due: none

Chore: change authz docker to use uid 65532 (#747)
  ci/authz.dockerfile
Due: none

fix(kms): drop aliases shadowed by key_ids to prevent conflicts
  engines/storage/postgres/migrations/kms/20260909084500_kms_key_composite_pk.sql
  engines/storage/postgres/migrations_test/kms_test.go
  monolithic/pkg/storage/sqlite/kms_test.go
  monolithic/pkg/storage/sqlite/schema.go
Due: storage-postgres

chore: remove duplicate import of specs in assembler.go
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/engine/engine.go
Due: none

chore: remove redundant package declaration in authz.go
  connectors/authz/pkg/middlewares/otel/authz.go
Due: none

chore: enhance OTEL tracing in eventbus and SDK components
  backend/pkg/eventbus/pubsub.go
  core/pkg/engines/eventbus/messaging.go
  sdk/utils.go
Due: core, sdk, backend

Refactor PrincipalManager and DefaultMatchService for improved error handling
  backend/go.mod
  backend/go.sum
  connectors/authz/go.mod
  connectors/authz/go.sum
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/ext_authz_controller.go
  connectors/authz/pkg/engine/capabilities.go
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/middlewares/otel/authz.go
  connectors/authz/pkg/service/capabilities.go
  connectors/authz/pkg/service/identity.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/store/matcher.go
  engines/crypto/software/go.mod
  go.work.sum
  sdk/go.sum
Due: sdk, backend

chore: replace svcTracerName with models.OtelTracerName for consistent OTEL tracing
  connectors/authz/pkg/middlewares/otel/authz.go
  connectors/authz/pkg/models/events.go
  connectors/authz/pkg/service/capabilities.go
  connectors/authz/pkg/service/identity.go
Due: none

chore: enhance authorization schema with default actions and route constraints
  connectors/authz/docs/spec.md
  connectors/authz/examples/wfx/wfx.json
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/engine/http_schema.go
  connectors/authz/pkg/engine/http_schema_test.go
  connectors/authz/pkg/engine/policy.go
  connectors/authz/pkg/engine/policy_test.go
  connectors/authz/pkg/models/policy.go
  connectors/authz/wfx.json
Due: none

chore: enhance param_constraints to support dynamic request values and improve validation
  connectors/authz/docs/spec.md
  connectors/authz/pkg/engine/http_schema.go
  connectors/authz/pkg/engine/http_schema_test.go
  connectors/authz/pkg/engine/policy.go
  connectors/authz/pkg/engine/policy_test.go
  connectors/authz/pkg/models/policy.go
Due: none

fix(kms): make (key_id, engine_id) the identity of a KMS key (#720)
  backend/pkg/assemblers/tests/ca/ca_create_certificate_test.go
  backend/pkg/assemblers/tests/kms/create_import_tags_metadata_test.go
  backend/pkg/assemblers/tests/kms/key_filter_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/assemblers/tests/kms/tags_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/kms.go
  backend/pkg/migration/catokms/migration.go
  backend/pkg/migration/catokms/migration_test.go
  backend/pkg/routes/kms.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/services/kms.go
  backend/pkg/specs/ca-openapi.yaml
  connectors/authz/config.yaml
  connectors/authz/sdk/gin-middleware/middleware.go
  core/pkg/engines/storage/kms.go
  core/pkg/errs/ca.go
  core/pkg/services/ca.go
  core/pkg/services/kms.go
  engines/storage/postgres/kmsstorage.go
  engines/storage/postgres/migrations/kms/20260909084500_kms_key_composite_pk.sql
  engines/storage/postgres/migrations_test/kms_test.go
  engines/storage/postgres/test/kms_composite_key_test.go
  monolithic/pkg/storage/sqlite/kms_test.go
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres, backend

chore: enhance HTTP authorization logging and improve schema default action handling
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/engine/http_schema.go
  connectors/authz/pkg/engine/http_schema_test.go
  connectors/authz/pkg/service/capabilities.go
Due: none

chore: improve HTTP schema loading validation and add related tests
  connectors/authz/pkg/engine/http_schema.go
  connectors/authz/pkg/engine/http_schema_test.go
Due: none

feat(ci): enable ARM64 support in Docker builds (#746)
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
  ci/alerts.dockerfile
  ci/authz.dockerfile
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/va.dockerfile
Due: none

chore: update tracing span name in CheckHTTPRequest method for clarity
  connectors/authz/pkg/engine/engine.go
Due: none

chore: add validation to prevent updates on system-managed policies and enhance related tests
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/service/policy.go
  connectors/authz/pkg/service/policy_manager_test.go
Due: none

chore: implement system policy validation and reject creation of system-managed policies
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/policy_controller_test.go
  connectors/authz/pkg/service/policy.go
Due: none

fix(dev): override wfx entrypoint to bind APIs on published ports
  monolithic/cmd/development/main.go
Due: none

feat(cmp): add mTLS authentication options for CMP enrollment settings
  monolithic/pkg/sampledata/generator.go
Due: none

feat(cmp): enhance job workflow handling in Emit method and add tests for phased workflow
  backend/pkg/integrations/wfx/cmp.go
  backend/pkg/integrations/wfx/cmp_test.go
Due: backend

Refactor CMP transaction states and schema
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_crosscert.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_enrollment_variants_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_kga_dispatch_test.go
  backend/pkg/controllers/cmp/cmp_nested_batch_test.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/cmp_rfc_compliance_test.go
  backend/pkg/controllers/cmp/cmp_testhelpers_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/integrations/wfx/cmp.go
  backend/pkg/integrations/wfx/cmp_test.go
  backend/pkg/jobs/cmp-confirmation-monitor-job.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  backend/pkg/specs/dms-manager-openapi.yaml
  core/pkg/cmp/responses.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/errs/dms.go
  core/pkg/models/cmp_transaction.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/resources/cmpresp.go
  core/pkg/services/dmsmanager.go
  docs/rfcs/internal/RFC011-cmp-per-operation-settings.md
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/migrations/dmsmanager/20260521120000_cmp_tables.sql
  engines/storage/postgres/test/cmptxstore_test.go
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres, backend

chore(authz): add default actions, route constraints and OTEL tracing to the authz engine (#685)
  backend/go.mod
  backend/go.sum
  backend/pkg/eventbus/pubsub.go
  connectors/authz/docs/spec.md
  connectors/authz/examples/wfx/wfx.json
  connectors/authz/go.mod
  connectors/authz/go.sum
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/ext_authz_controller.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/policy_controller_test.go
  connectors/authz/pkg/engine/capabilities.go
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/engine/http_schema.go
  connectors/authz/pkg/engine/http_schema_test.go
  connectors/authz/pkg/engine/policy.go
  connectors/authz/pkg/engine/policy_test.go
  connectors/authz/pkg/middlewares/otel/authz.go
  connectors/authz/pkg/models/events.go
  connectors/authz/pkg/models/policy.go
  connectors/authz/pkg/service/capabilities.go
  connectors/authz/pkg/service/identity.go
  connectors/authz/pkg/service/policy.go
  connectors/authz/pkg/service/policy_manager_test.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/store/matcher.go
  connectors/authz/wfx.json
  core/pkg/engines/eventbus/messaging.go
  engines/crypto/software/go.mod
  go.work.sum
  sdk/go.sum
  sdk/utils.go
Due: core, sdk, backend

chore: remove legacy changelog configuration files
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
Due: none

chore: remove unused changelog configuration files (#759)
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
Due: none

feat(ca): add duplicate CA ID check and corresponding error handling
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/ca_import_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/ca_import_test.go
  sdk/ca.go
Due: sdk, backend

feat: Enhance CA service with GetCertificateKey functionality
  backend/cmd/va/main.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/services/certificatekey_test.go
  backend/pkg/services/crl.go
  backend/pkg/services/handlers/va-handlers.go
  backend/pkg/services/handlers/va-handlers_test.go
  backend/pkg/services/kmssigner.go
  backend/pkg/services/ocsp.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  monolithic/pkg/assembler.go
  sdk/ca.go
  sdk/ca_test.go
  sdk/kms.go
Due: core, sdk, backend

Refactor principal controller: Remove OpenAPI documentation for CRUD operations
  backend/pkg/controllers/ca.go
  backend/pkg/migration/catokms/migration_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/ca_import_test.go
  backend/pkg/specs/ca-openapi.yaml
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  core/pkg/engines/storage/ca.go
  docs/authz-openapi.yaml
  engines/storage/postgres/castore.go
  engines/storage/postgres/castore_test.go
  engines/storage/postgres/migrations/ca/20261008120000_unique_ca_id.sql
  engines/storage/postgres/test/test_suite.go
  engines/storage/postgres/utils.go
  monolithic/pkg/storage/sqlite/ca_import_test.go
  monolithic/pkg/storage/sqlite/castore.go
  monolithic/pkg/storage/sqlite/connection.go
  monolithic/pkg/storage/sqlite/engine.go
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres, backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
