Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

feat: add support for 384-bit ECDSA keys in AWS Secrets Manager engine
  engines/crypto/aws/secretsmanager.go
Due: crypto-aws

feat: add 384-bit support in AWS Secrets Manager tests
  .serena/.gitignore
  .serena/project.yml
  engines/crypto/aws/secretsmanager_test.go
Due: none

feat: add 384-bit support in Vault crypto engine and tests
  backend/pkg/assemblers/tests/kms/stats_test.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/crypto/vaultkv2/vaultkv2_test.go
Due: crypto-vaultkv2

feat: add support for 384-bit ECDSA keys in AWS Secrets Manager and Vault engines (#391)
  .serena/.gitignore
  .serena/project.yml
  backend/pkg/assemblers/tests/kms/stats_test.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/aws/secretsmanager_test.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/crypto/vaultkv2/vaultkv2_test.go
Due: crypto-aws, crypto-vaultkv2

feat(kms): adds automatic migration for cas previous to kms implementation
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/tests/ca/register_keys_kms_test.go
  backend/pkg/assemblers/tests/kms/register_existing_key_test.go
  backend/pkg/config/ca.go
  backend/pkg/controllers/kms.go
  backend/pkg/middlewares/audit/kms.go
  backend/pkg/middlewares/eventpub/kms.go
  backend/pkg/middlewares/otel/kms.go
  backend/pkg/routes/kms.go
  backend/pkg/services/kms.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/kms.go
  docs/kms-openapi.yaml
  sdk/kms.go
Due: core, sdk, backend

feat(x509engine): enhance CN preservation logic in issuance profile application
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_subject_test.go
Due: backend

feat: add UpdateDeviceEvent endpoint and related functionality for Otaq service.
  .github/workflows/ci-test.yaml
  backend/go.mod
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/kms.go
  backend/pkg/helpers/pkcs7.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/kms.go
  ci/build-all.sh
  ci/build-pq-images.sh
  ci/pq_alerts.dockerfile
  ci/pq_ca.dockerfile
  ci/pq_devmanager.dockerfile
  ci/pq_kms.dockerfile
  ci/pq_va.dockerfile
  connectors/awsiot/pkg/service.go
  core/pkg/models/device.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/resources/devreq.go
  core/pkg/services/devicemanager.go
  core/pkg/services/eventhandling/handler.go
  core/pkg/services/kms.go
  core/pkg/services/mock/devicemanager_mock.go
  sdk/devicemanager.go
  sdk/kms.go
Due: core, sdk, backend

feat: Handle WFX events
  last_commit.patch
Due: none

feat(x509engine): enhance CN preservation logic in issuance profile application
  backend/pkg/x509engines/x509engine_subject_test.go
Due: none

Enhance logging and HTTP client configuration
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/device-manager.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/kms.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  backend/pkg/routes/devmanager.go
  core/pkg/resources/query.go
  docs/RFC-004-DynamicDeviceGroups.md
  engines/storage/postgres/utils.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/sampledata/generator.go
Due: core, storage-postgres, backend

feat: add support for CBOMkit integration with additional ports routing
  engines/storage/postgres/test/postgres.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: storage-postgres

feat: enhance authorization integration in device manager and PostgreSQL storage
  backend/pkg/controllers/utils.go
  backend/pkg/routes/devmanager.go
  engines/storage/postgres/utils.go
Due: storage-postgres, backend

feat: integrate authorization middleware in CA and device manager routes
  backend/pkg/assemblers/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
Due: backend

feat: update authorization middleware parameters for CA and device manager routes
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
Due: backend

feat: enhance identity extraction with additional context for JWT and client certificates
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
  core/context.go
Due: core, backend

feat: unify context key type for client certificate and JWT extractors
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
Due: backend

feat: update CBOMkit Docker configuration for improved routing and port bindings
  monolithic/cmd/development/main.go
Due: none

Add DeepWiki badge to README
  README.md
Due: none

Add DeepWiki badge to README (#394)
  README.md
Due: none

Enhance HTTP Client Configuration with Custom Headers
  backend/go.mod
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/services/dmsmanager.go
  go.work.sum
  monolithic/pkg/assembler.go
Due: backend

add event bus dlq
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/va.go
  connectors/awsiot/pkg/assembler.go
  core/pkg/engines/eventbus/messaging.go
  go.work.sum
Due: core, backend

Downgraded all required dependencies so as to make the codebase compatible with go 1.22, as required by the PQC fork
  backend/go.mod
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  go.work
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

CA: added support for the creation of pure PQC CA Roots using ML-DSA (44, 65 and 87)
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/services/casigner.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/errs/device.go
  core/pkg/models/cryptokey.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/storage/postgres/utils.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, backend

Added more tests for MLDSA CA creation. Modified the CryptoEngine interface to add the ImportMLDSAPrivateKey operation and added the required changes in the different engines.
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/controllers/ca.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/services/ca.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, backend

Added the ImportMLDSAPrivateKey function to fulfill the interface requirements
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  engines/crypto/pkcs11/pkcs11.go
Due: crypto-pkcs11

Added CA Sign and Verify support for MLDSA certificates. CRL generation and verification has been fixed
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/services/ca.go
Due: core, backend

Added function ImportEd25519PrivateKey to all cryptoengines. Some of them will require implementation further on
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11

CryptoEngine supports Ed25519 key generation
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11

Added CA Creation tests for the assembler
  backend/pkg/assemblers/tests/ca/ca_main_test.go
Due: none

Added support for Ed25519 CA creation in x509Engine.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/helpers/cryptoutils.go
Due: core, backend

Added support for the Ed25519 CA creation and certificate issuing via CSR.
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/services/ca.go
Due: core, backend

x509engine: added support for chameleon root CA creation
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/x509engines/x509engine.go
Due: backend

Added support for Chameleon Root CA Creation
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  sdk/ca.go
Due: core, sdk, backend

Refactored x509engine to remove unused parameters from the newly created function's signature
  backend/pkg/x509engines/x509engine.go
Due: backend

Refactored x509Engine to set the grounds for PQ hybrid CSR signing
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/x509engines/x509engine.go
Due: backend

Added support for chameleon root CA creation, chameleon subordinate CA creation in progress.
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  engines/crypto/filesystem/filesystem.go
  sdk/ca.go
Due: core, sdk, crypto-filesystem, backend

Added support for Subordinate Chameleon CA creation
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/helpers/cryptoutils_test.go
  core/pkg/helpers/readcerts.go
  core/pkg/services/ca.go
  sdk/ca.go
Due: core, sdk, backend

Added Dockerfile for hybrid CA deployment
  ci/pq_ca.dockerfile
Due: none

Added makefile for ease of development
  Makefile
Due: none

CA: added metadata to hybrid delta cas
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
Due: backend
