Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

chore: update Go version from 1.24.x to 1.26.2 across all modules and Dockerfiles
  .github/copilot-instructions.md
  .github/workflows/ci-test.yaml
  .github/workflows/release_finalize.yaml
  README.md
  backend/go.mod
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
  connectors/awsiot/go.mod
  core/go.mod
  engines/crypto/aws/go.mod
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/vaultkv2/go.mod
  engines/eventbus/amqp/go.mod
  engines/eventbus/aws/go.mod
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/s3/go.mod
  go.work
  sdk/go.mod
  shared/aws/go.mod
  shared/http/go.mod
  shared/subsystems/go.mod
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, eventbus-amqp, eventbus-aws, backend

chore: update base image from ubuntu:20.04 to ubuntu:26.04 in Dockerfiles
  .github/copilot-instructions.md
  backend/pkg/test/subsystems/pest-test/dockerfile
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
  engines/storage/postgres/go.mod
  monolithic/go.mod
Due: storage-postgres, backend

chore: update Dockerfiles to remove user creation and permissions handling
  .github/workflows/dev-release.yaml
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
Due: none

chore: update CMake configuration for pkcs11-proxy to handle GCC 15 warnings
  ci/kms.dockerfile
Due: none

chore: add system user 'lamassu' to Dockerfiles for improved security
  ci/aws-connector.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
Due: none

chore: simplify user and group creation in Dockerfiles for alerts and aws-connector
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
Due: none

chore: update runtime stage in copilot instructions to use non-root 'lamassu' user
  .github/copilot-instructions.md
Due: none

chore: update Go version from 1.24.x to 1.26.2 across all modules (#607)
  .github/copilot-instructions.md
  .github/workflows/ci-test.yaml
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
  README.md
  backend/go.mod
  backend/pkg/test/subsystems/pest-test/dockerfile
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
  connectors/awsiot/go.mod
  core/go.mod
  engines/crypto/aws/go.mod
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/vaultkv2/go.mod
  engines/eventbus/amqp/go.mod
  engines/eventbus/aws/go.mod
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/s3/go.mod
  engines/storage/postgres/go.mod
  go.work
  monolithic/go.mod
  sdk/go.mod
  shared/aws/go.mod
  shared/http/go.mod
  shared/subsystems/go.mod
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

Update dependencies in go.mod and go.sum
  .gitignore
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

Update dependencies across multiple modules
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

Update dependencies in go.mod and go.sum (#613)
  .gitignore
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

feat: implement CA to KMS key migration functionality
  backend/cmd/ca-to-kms-migration/main.go
Due: backend

test: add unit tests
  backend/cmd/ca-to-kms-migration/main.go
  backend/cmd/ca-to-kms-migration/main_test.go
Due: backend

docs: add README
  backend/cmd/ca-to-kms-migration/README.md
Due: backend

Refactor PostgreSQL storage to support schemas instead of databases
  engines/storage/postgres/cmd/goose-lamassu/main.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrate.go
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/migrations_test/utils.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/test/migrate_test.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/postgres_test.go
  engines/storage/postgres/test/test_suite.go
  engines/storage/postgres/utils.go
Due: storage-postgres

feat: enhance authorization integration in device manager and PostgreSQL storage
  backend/pkg/controllers/utils.go
  backend/pkg/routes/devmanager.go
  engines/storage/postgres/utils.go
Due: storage-postgres, backend

feat: integrate authorization middleware in CA and device manager routes
  backend/pkg/assemblers/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
Due: backend

Enhance logging and HTTP client configuration
  backend/go.mod
  backend/pkg/assemblers/device-manager.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/kms.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  backend/pkg/routes/devmanager.go
  core/pkg/resources/query.go
  docs/RFC-004-DynamicDeviceGroups.md
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/sampledata/generator.go
Due: core, storage-postgres, backend

feat: update authorization middleware parameters for CA and device manager routes
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
Due: backend

feat: unify context key type for client certificate and JWT extractors
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
Due: backend

feat: enhance identity extraction with additional context for JWT and client certificates
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
  core/context.go
Due: core, backend

fix: update authz path in go.mod to correct directory
  backend/go.mod
Due: backend

Enhance HTTP Client Configuration with Custom Headers
  backend/go.mod
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/services/dmsmanager.go
  monolithic/pkg/assembler.go
Due: backend

feat: integrate authorization middleware across various services and routes
  backend/go.mod
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/kms.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/sampledata/generator.go
Due: storage-postgres, backend

feat: refactor authorization middleware to use simplified version and update key URI parsing
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  core/pkg/models/kms.go
Due: core, backend

feat: enhance HTTP client configuration with custom headers for KMS and sample data population
  monolithic/pkg/assembler.go
  monolithic/pkg/sampledata/generator.go
Due: none

fix: update FilterQuery calls in tests to use nil context
  backend/pkg/controllers/utils_test.go
Due: none

feat: integrate authorization service and update API routes for authz
  backend/pkg/routes/alerts.go
  connectors/authz/cmd/main.go
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/sdk/sdk.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: backend

Refactor authorization logic and introduce new PrincipalMatcher
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/authz/identity_resolver.go
  connectors/authz/pkg/authz/policy_manager.go
  connectors/authz/pkg/authz/policy_manager_test.go
  connectors/authz/pkg/authz/ports.go
  connectors/authz/pkg/authz/principal_manager.go
  connectors/authz/pkg/authz/principal_manager_test.go
  connectors/authz/pkg/authz/principal_matcher.go
  connectors/authz/pkg/authz/principal_store_gorm.go
  connectors/authz/pkg/authz/service.go
Due: none

refactor: extract migration logic to reusable package
  backend/cmd/ca-to-kms-migration/main.go
  backend/pkg/migration/catokms/migration.go
  backend/pkg/migration/catokms/migration_test.go
Due: backend

feat: update principal policy handling to return detailed grant information
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/authz/identity_resolver.go
  connectors/authz/pkg/authz/ports.go
  connectors/authz/pkg/authz/principal_manager.go
  connectors/authz/pkg/authz/principal_manager_test.go
  connectors/authz/pkg/authz/principal_store_gorm.go
  connectors/authz/sdk/gin-middleware/middleware.go
  connectors/authz/sdk/gin-middleware/middleware_test.go
  connectors/authz/sdk/sdk.go
  connectors/authz/sdk/sdk_test.go
Due: none

Refactor authorization engine to use context and improve logging
  connectors/authz/cmd/main.go
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/authz/capabilities.go
  connectors/authz/pkg/authz/capabilities_integration_test.go
  connectors/authz/pkg/authz/capabilities_test.go
  connectors/authz/pkg/authz/engine.go
  connectors/authz/pkg/authz/engine_test.go
  connectors/authz/pkg/authz/service.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/config/server.go
  connectors/authz/pkg/core/engine.go
  connectors/authz/sdk/gin-middleware/middleware.go
  connectors/authz/sdk/gin-middleware/middleware_test.go
  connectors/authz/sdk/remote_engine.go
Due: none

feat: implement OrderedJSONFormatter for stable log output and enable debug logging in AuthzConfig
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/log_formatter.go
  monolithic/pkg/assembler.go
Due: none

Implement feature X to enhance user experience and fix bug Y in module Z
  connectors/authz/docs/architecture.html
Due: none

feat: Implement PrincipalManager and GormPrincipalStore for managing principals and policies
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/log_formatter.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/api/schema_controller.go
  connectors/authz/pkg/authz/capabilities.go
  connectors/authz/pkg/engine/capabilities.go
  connectors/authz/pkg/engine/control_test.go
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/engine/engine_test.go
  connectors/authz/pkg/engine/filter.go
  connectors/authz/pkg/engine/filter_test.go
  connectors/authz/pkg/engine/graph.go
  connectors/authz/pkg/engine/graph_test.go
  connectors/authz/pkg/engine/policy.go
  connectors/authz/pkg/engine/policy_test.go
  connectors/authz/pkg/engine/ports.go
  connectors/authz/pkg/engine/schema.go
  connectors/authz/pkg/engine/schema_test.go
  connectors/authz/pkg/service/authz.go
  connectors/authz/pkg/service/capabilities.go
  connectors/authz/pkg/service/capabilities_integration_test.go
  connectors/authz/pkg/service/capabilities_test.go
  connectors/authz/pkg/service/identity.go
  connectors/authz/pkg/service/policy.go
  connectors/authz/pkg/service/policy_manager_test.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/store/gorm.go
  connectors/authz/pkg/store/matcher.go
  connectors/authz/sdk/sdk.go
Due: none

feat(authz): enrich context with authentication details and improve logging
  backend/pkg/controllers/utils_test.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  connectors/authz/docs/architecture.html
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/sdk/sdk.go
  connectors/authz/sdk/sdk_test.go
  core/pkg/helpers/logger.go
Due: core, backend

feat(authz): enhance context handling for authentication materials and ensure context propagation in GormPrincipalStore methods
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/store/gorm.go
Due: none

feat(authz): enhance authorization logging with context and matched policy IDs
  connectors/authz/pkg/engine/engine.go
Due: none

feat: implement CMP RA protocol with custom ASN.1 types and in-memory transaction store
  docs/RFC009-cmp.md
Due: none
