Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

feat(pkcs11): update CI workflow for PKCS11 and add NetHSM/SoftHSM Docker emulators
  .github/workflows/ci-test.yaml
  engines/crypto/pkcs11/docker/nethsm_emulator.go
  engines/crypto/pkcs11/docker/softhsmv2_emulator.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/pkcs11/pkcs11_test.go
Due: crypto-pkcs11

fix(ci): update PKCS11_MODULE_PATH to use GitHub workspace for better compatibility
  .github/workflows/ci-test.yaml
Due: none

fix(tests): update ECDSA key generation to use P256 instead of P521
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
Due: none

Potential fix for pull request finding
  engines/crypto/pkcs11/pkcs11.go
Due: crypto-pkcs11

Potential fix for pull request finding
  engines/crypto/aws/awskms.go
Due: crypto-aws

fix(pkcs11): update Dockerfile to use distroless image and improve error handling in NetHSM config
  ci/kms.dockerfile
  engines/crypto/aws/awskms.go
  engines/crypto/pkcs11/docker/nethsm_emulator.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/pkcs11/pkcs11_test.go
Due: crypto-aws, crypto-pkcs11

fix(awskms): add error handling for GetPublicKey in newKmsKeyCryptoSignerWrapper
  engines/crypto/aws/awskms.go
Due: crypto-aws

feat(wfx): add WFX docker deployment to monolithic dev setup
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: none

refactor(monolithic): deduplicate service helpers and add CORS
  monolithic/pkg/assembler.go
Due: none

fix(wfx): gate WFX docker launch on --disable-wfx instead of --sqlite
  monolithic/cmd/development/main.go
Due: none

refactor: update WFX port configuration and migration handling
  engines/storage/postgres/migrate.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: storage-postgres

Potential fix for pull request finding
  monolithic/cmd/development/main.go
Due: none

feat: initialize routeList for proxy route mapping
  monolithic/pkg/assembler.go
Due: none

Feat/wfx (#667)
  engines/storage/postgres/migrate.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/utils.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: storage-postgres

hotfix: update WFX Docker repository to use official Siemens image
  monolithic/cmd/development/main.go
Due: none

refactor(pkcs11): streamline environment variable handling and improve key attribute setting logic
  engines/crypto/pkcs11/pkcs11.go
Due: crypto-pkcs11

fix(sonar): reduce code duplication in pkcs11 and testset
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/pkcs11/pkcs11.go
Due: crypto-pkcs11

fix(pkcs11): improve error handling for container port parsing and key retrieval
  engines/crypto/pkcs11/docker/nethsm_emulator.go
  engines/crypto/pkcs11/pkcs11.go
Due: crypto-pkcs11

Fix: PKCS11 initialization & refactor KMS APIs to Propagate Context Across Crypto Operations (#665)
  .github/workflows/ci-test.yaml
  backend/pkg/assemblers/kms.go
  backend/pkg/helpers/x509utils.go
  backend/pkg/helpers/x509utils_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/services/kms.go
  backend/pkg/x509engines/x509engine.go
  ci/kms.dockerfile
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/pkcs11/docker/nethsm_emulator.go
  engines/crypto/pkcs11/docker/softhsmv2_emulator.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/pkcs11/pkcs11_test.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/storage/postgres/migrations/ca/20250915090500_update_ski_aki.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, backend

feat: add has_private_key field to certificates and implement related functionality
  backend/pkg/assemblers/tests/ca/ca_has_private_key_test.go
  backend/pkg/assemblers/tests/ca/ca_reissuance_test.go
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  core/pkg/resources/fields.go
  engines/storage/postgres/migrations/ca/20260414120000_add_has_private_key.sql
  engines/storage/postgres/migrations_test/ca_test.go
  go.work.sum
Due: core, storage-postgres, backend

Chore: Refactor Service Dockerfiles for Distroless Containers and Optimized Builds (#668)
  .github/workflows/dev-release.yaml
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
Due: none

feat: update ImportCA to track private key presence accurately
  backend/pkg/services/ca.go
Due: backend

feat: enhance KMS key retrieval and certificate import handling for private keys
  backend/pkg/services/ca.go
Due: backend

feat(migrations): add new migration for certificate fingerprints
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/tests/ca/ca_fingerprints_test.go
  backend/pkg/assemblers/tests/ca/ca_has_private_key_test.go
  backend/pkg/services/ca.go
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/pkg/models/ca.go
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  engines/storage/postgres/migrations/ca/20260622120000_add_certificate_fingerprints.go
  engines/storage/postgres/migrations/gomigrations.go
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

feat: implement functionality to manage private key presence in certificates and CAs
  backend/pkg/assemblers/ca.go
  backend/pkg/config/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/handlers/ca-kms-handlers.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  sdk/ca.go
Due: core, sdk, backend

Feat: Add BasePath to OTELTracesConfig and update tracer provider setup
  core/pkg/config/otel.go
  sdk/otel.go
Due: core, sdk

Feat: Add BasePath to OTELTracesConfig and update tracer provider setup (#669)
  core/pkg/config/otel.go
  sdk/otel.go
Due: core, sdk

feat(authz): refactor authorization checks to use custom key mapping for role endpoints
  backend/pkg/routes/va.go
Due: backend

feat(authz): register authz gorm plugin in PostgreSQL connection
  connectors/authz/pkg/api/assembler.go
Due: none

feat(authz): add AuthzClient configuration to multiple service assemblies
  monolithic/pkg/assembler.go
Due: none

Refactor authorization logic and introduce new PrincipalMatcher
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/authz/identity_resolver.go
  connectors/authz/pkg/authz/policy_manager.go
  connectors/authz/pkg/authz/policy_manager_test.go
  connectors/authz/pkg/authz/ports.go
  connectors/authz/pkg/authz/principal_manager.go
  connectors/authz/pkg/authz/principal_manager_test.go
  connectors/authz/pkg/authz/principal_matcher.go
  connectors/authz/pkg/authz/principal_store_gorm.go
  connectors/authz/pkg/authz/service.go
Due: none

feat(authz): add Dockerfile for building and deploying authz service
  ci/authz.dockerfile
Due: none

feat(authz): replace error message with custom noMatchError for unauthorized access
  connectors/authz/pkg/service/authz.go
  connectors/authz/pkg/service/identity.go
Due: none

feat(authz): add 'wfx' database to Postgres Docker setup
  backend/go.mod
  backend/go.sum
  connectors/authz/go.mod
  connectors/authz/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  engines/storage/postgres/test/postgres.go
  monolithic/cmd/development/main.go
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
Due: shared-aws, shared-http, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

feat(authz): update HTTP client initialization to include custom headers for admin mode
  connectors/awsiot/cmd/main.go
Due: none

feat(authz): standardize schema field names to snake_case in authorization definitions
  connectors/authz/schemas.pki-v2.json
Due: none

feat(authz): add authz connector to workflow jobs for release and dev processes
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
Due: none

feat(authz): integrate authorization client configuration into PKI service assembly
  monolithic/pkg/assembler.go
Due: none

feat(authz): standardize schema field names to snake_case in authorization JSON files
  connectors/authz/cmd/preload/03c50968-8b68-46b9-832b-37536816a045.json
  connectors/authz/cmd/preload/75519529-be16-4f18-bc12-8e7745902e4e.json
  connectors/authz/cmd/preload/77fb978b-3c25-4d2f-8402-d02541b9a708.json
  connectors/authz/cmd/preload/a66e2570-3117-45b0-8e90-e4a9f0610b43.json
  connectors/authz/cmd/preload/a6811b60-5f89-4ce7-badb-78ea234794d3.json
  connectors/authz/cmd/preload/a97075a0-93c2-4ff3-b91f-d28d58cb093d.json
  connectors/authz/cmd/preload/c6e330e2-752d-4ab1-8182-7a8d9bb1c85c.json
  connectors/authz/cmd/preload/cec5d897-3a3f-43d1-b67a-dd220719572b.json
  connectors/authz/cmd/preload/d5dea139-a704-432e-9870-973d56fffb90.json
Due: none
