Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

feat(storage): adds support for rds data api transport in storage engine
  engines/storage/postgres/castore.go
  engines/storage/postgres/config/config.go
  engines/storage/postgres/config/config_test.go
  engines/storage/postgres/device_groups.go
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  engines/storage/postgres/kmsstorage.go
  engines/storage/postgres/rds_data_api_test.go
  engines/storage/postgres/transport/capabilities.go
  engines/storage/postgres/transport/direct.go
  engines/storage/postgres/transport/rds_data_api.go
  engines/storage/postgres/transport/transport.go
  engines/storage/postgres/utils.go
  go.work
  go.work.sum
  monolithic/cmd/development/main.go
Due: storage-postgres

feat(ci): enable sbom generation in releases
  .github/workflows/release_finalize.yaml
Due: none

feat(ci): apply least-privilege permissions in actions
  .github/workflows/bump-goversion.yaml
  .github/workflows/ci-test.yaml
  .github/workflows/dev-release.yaml
  .github/workflows/gosec.yml
  .github/workflows/pinact.yaml
  .github/workflows/release_finalize.yaml
  .github/workflows/release_open_pr.yaml
Due: none

feat(ci): publish source SBOM with releases (#708)
  .github/workflows/release_finalize.yaml
Due: none

feat(ci): apply least-privilege permissions to workflows (#709)
  .github/workflows/bump-goversion.yaml
  .github/workflows/ci-test.yaml
  .github/workflows/dev-release.yaml
  .github/workflows/gosec.yml
  .github/workflows/pinact.yaml
  .github/workflows/release_finalize.yaml
  .github/workflows/release_open_pr.yaml
Due: none

feat(ci): enable SBOM generation in Docker image builds (#688)
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
  ci/alerts.dockerfile
  ci/authz.dockerfile
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/va.dockerfile
Due: none

feat(ci): add dependency review workflow
  .github/workflows/dependency-review.yml
  CONTRIBUTING.md
Due: none

feat(ci): add dependabot.yaml configuration for security and version updates
  .github/dependabot.yml
Due: none

Applied required modifications to ensure that ML-DSA still works making use of internal go implementation. This requires the minimum version to be bumped to go 1.27.
  backend/go.mod
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/services/kms.go
  connectors/awsiot/go.mod
  core/go.mod
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/readcerts.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/go.mod
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/go.mod
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/vaultkv2.go
  engines/eventbus/amqp/go.mod
  engines/eventbus/aws/go.mod
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/s3/go.mod
  engines/storage/postgres/go.mod
  go.work
  monolithic/go.mod
  sdk/ca.go
  sdk/go.mod
  shared/aws/go.mod
  shared/http/go.mod
  shared/subsystems/go.mod
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

chore(ci): verify SHA-256 checksum of PKCS#11 proxy dependency
  .github/workflows/ci-test.yaml
Due: none

chore(ci): verify SHA-256 checksum of PKCS#11 proxy dependency (#712)
  .github/workflows/ci-test.yaml
Due: none

feat(ci): add dependency review workflow (#710)
  .github/workflows/dependency-review.yml
  CONTRIBUTING.md
Due: none

chore(deps): configure Dependabot update workflow (#711)
  .github/dependabot.yml
Due: none

feat(cmp): enhance logging for CMP failures and add principals tracking in transitions
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_logging_test.go
  backend/pkg/integrations/wfx/cmp.go
  backend/pkg/integrations/wfx/cmp_test.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
Due: backend

feat(cmp): enhance handlePoll to report CMP state and handle response DER
  backend/pkg/controllers/cmp/cmp.go
  connectors/authz/pki.json
Due: backend

fix kur poll
  backend/pkg/controllers/cmp/cmp.go
Due: backend

fix some tests
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_cmp_settings.go
  core/pkg/models/dms_cmp_settings_test.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/test/cmptxstore_test.go
  monolithic/pkg/sampledata/generator.go
Due: core, storage-postgres, backend

feat(cmp): remove deprecated registration mode and existing device policy from CMP settings
  backend/pkg/assemblers/tests/dms-manager/cmp/settings_roundtrip_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/context.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_cmp_settings.go
  core/pkg/models/dms_cmp_settings_test.go
  monolithic/pkg/sampledata/generator.go
Due: core, backend

storing cmp ctx info
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_crosscert.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_enrollment_variants_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_p10cr.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/cmp_security_metadata_test.go
  core/pkg/models/cmp_transaction.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/migrations/dmsmanager/20260521120000_cmp_tables.sql
Due: core, storage-postgres, backend

docs: add enroll/reenroll webhook openapi
  docs/dms-manager-openapi.yaml
  docs/enroll-reenroll-webhook-openapi.yaml
Due: none

feat(cmp): enforce signer certificate presence in LWCRevokeCertificate method
  backend/pkg/services/dmsmanager_lwcmp.go
Due: backend

feat(authz): add init and migrate commands for standalone database setup
  connectors/authz/cmd/main.go
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/init.go
  connectors/authz/pkg/service/test_helpers_test.go
  connectors/authz/pkg/store/gorm_test.go
  connectors/authz/pkg/store/migrate.go
Due: none

docs(authz): correct what migrate down actually rolls back
  connectors/authz/cmd/main.go
  connectors/authz/pkg/store/migrate.go
Due: none

fix(authz): create the schema without building SQL from a variable
  connectors/authz/pkg/store/migrate.go
Due: none

docs: link properly DMS and webhook openapis with scalar
  backend/pkg/specs/dms-manager-openapi.yaml
  backend/pkg/specs/enroll-reenroll-webhook-openapi.yaml
  docs/enroll-reenroll-webhook-openapi.yaml
  docs/enroll-reenroll-webhook-openapi.yaml~HEAD
  docs/index.html
Due: backend

docs: embed webhook openapi
  backend/pkg/specs/embed.go
Due: backend

docs: remove openapi with conflict
  docs/enroll-reenroll-webhook-openapi.yaml~HEAD
Due: none

feat(authz): add init and migrate commands for standalone database setup (#719)
  connectors/authz/cmd/main.go
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/init.go
  connectors/authz/pkg/service/test_helpers_test.go
  connectors/authz/pkg/store/gorm_test.go
  connectors/authz/pkg/store/migrate.go
Due: none

fix(kms): make (key_id, engine_id) the identity of a KMS key
  backend/pkg/assemblers/tests/ca/ca_create_certificate_test.go
  backend/pkg/assemblers/tests/kms/create_import_tags_metadata_test.go
  backend/pkg/assemblers/tests/kms/key_filter_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/assemblers/tests/kms/tags_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/kms.go
  backend/pkg/migration/catokms/migration.go
  backend/pkg/migration/catokms/migration_test.go
  backend/pkg/routes/kms.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/services/kms.go
  backend/pkg/specs/ca-openapi.yaml
  connectors/authz/config.yaml
  connectors/authz/sdk/gin-middleware/middleware.go
  core/pkg/engines/storage/kms.go
  core/pkg/errs/ca.go
  core/pkg/services/ca.go
  core/pkg/services/kms.go
  engines/storage/postgres/kmsstorage.go
  engines/storage/postgres/migrations/kms/20260909084500_kms_key_composite_pk.sql
  engines/storage/postgres/migrations_test/kms_test.go
  engines/storage/postgres/test/kms_composite_key_test.go
  monolithic/pkg/storage/sqlite/kms_test.go
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres, backend

refactor(kms): collapse the controller's repeated error mapping
  backend/pkg/controllers/kms.go
Due: backend

fix(kms): keyID precedence, uniform authz denial, SQLite key upgrade
  backend/pkg/controllers/kms.go
  backend/pkg/routes/kms.go
  backend/pkg/services/kms.go
  core/pkg/errs/ca.go
  monolithic/pkg/storage/sqlite/kms_test.go
  monolithic/pkg/storage/sqlite/schema.go
Due: core, backend

ci: sets permissions in gosec workflow
  .github/workflows/gosec.yml
Due: none

ci: pin gosec workflow actions
  .github/workflows/gosec.yml
Due: none

feat: implement CMP RA protocol with custom ASN.1 types and in-memory transaction store
  docs/RFC009-cmp.md
Due: none

feat: add SelectIncludingExpired method to inMemoryCMPStore for transaction retrieval
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_handler_test.go
Due: backend

feat: add WFX configuration to MonolithicConfig and update DMS Manager service
  go.work.sum
Due: none

fix(cmp): enforce RFC 9483 senderKID, reject EE raVerified, precise failInfo
  .github/patches/cmp-test-suite/lamassu.robot
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_enrollment.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_validator.go
Due: backend

Implement CMP RA Protocol as per RFC 4210 and RFC 9480
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_parse_test.go
  core/pkg/services/lwcmp.go
  docs/rfcs/cmp_audit_2023_03_13.md
  docs/rfcs/external/RFC4210.txt
  docs/rfcs/external/RFC4211.txt
  docs/rfcs/external/RFC5280.txt
  docs/rfcs/external/RFC6712.txt
  docs/rfcs/external/RFC9480.txt
  docs/rfcs/external/RFC9481.txt
  docs/rfcs/external/RFC9483.txt
  docs/rfcs/external/RFC9810.txt
  docs/rfcs/external/RFC9811.txt
  docs/rfcs/internal/RFC004-DynamicDeviceGroups.md
  docs/rfcs/internal/RFC005-jsonpath-sorting.md
  docs/rfcs/internal/RFC007-idslot-jsonb.md
  docs/rfcs/internal/RFC008-filtered-stats.md
  docs/rfcs/internal/RFC009-cmp.md
Due: core, backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
