Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

feat: Implement device event management
  backend/pkg/assemblers/tests/alerts/main_test.go
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/alerts.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  connectors/awsiot/pkg/service.go
  core/pkg/engines/storage/alerts.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/models/device.go
  core/pkg/resources/caresp.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/resources/fields.go
  core/pkg/services/alerts.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  docs/alerts-openapi.yaml
  engines/storage/postgres/device_events.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/eventstore.go
  engines/storage/postgres/migrations/devicemanager/20260317120000_create_device_events.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
  sdk/alerts.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

feat: update client certificate handling to support multiple certificates and chain validation
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/envoy.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate_test.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/services/dmsmanager.go
Due: backend

feat: enhance AWS ALB client certificate extraction to support multiple certificates
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/aws_alb.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/aws_alb_test.go
Due: backend

test: add validation for expected number of certificates in Envoy extractor
  backend/pkg/routes/middlewares/identity-extractors/client-certificate_test.go
Due: none

feat: enhance certificate validation to support multiple certificates and improve error handling
  backend/pkg/helpers/x509validation.go
  backend/pkg/services/dmsmanager.go
  monolithic/pkg/assembler.go
Due: backend

fix: improve client certificate handling to ensure proper validation and error handling
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/aws_alb_test.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate_test.go
  backend/pkg/services/dmsmanager.go
Due: backend

feat: add certificate extensions support and filtering
  backend/pkg/assemblers/tests/ca/ca_certificates_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  core/pkg/models/x509_keyusage.go
  core/pkg/models/x509_keyusage_test.go
  core/pkg/resources/careq.go
  core/pkg/resources/fields.go
  engines/storage/postgres/migrations/ca/20260331120000_add_certificate_extensions.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/utils.go
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres, backend

fix: enhance certificate extraction to support multiple certificates and improve error handling
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/nginx.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/nginx_test.go
Due: backend

fix: Support full client certificate chain extraction and validation (#406)
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/helpers/x509validation.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/aws_alb.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/aws_alb_test.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/envoy.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/nginx.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate-extractor/nginx_test.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate_test.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/services/dmsmanager.go
  monolithic/pkg/assembler.go
Due: backend

feat: enhance filtering documentation and update certificate extensions migration
  docs/filtering.md
  engines/storage/postgres/migrations/ca/20260331120000_add_certificate_extensions.go
Due: storage-postgres

feat: simplify certificate extensions migration test by removing unnecessary metadata checks
  engines/storage/postgres/migrations_test/ca_test.go
Due: none

feat: Implement SSE support for device events with new SSE hub and handlers
  backend/pkg/assemblers/device-manager.go
  backend/pkg/config/devicemanger.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/sse_hub.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/handlers/device-sse-handlers.go
  core/pkg/models/events.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: core, backend

Add ECCG v2 and PQC policies for quantum-safe algorithm classification
  monolithic/cmd/development/main.go
  monolithic/cmd/development/opa-testdata/eccg_v2.rego
  monolithic/cmd/development/opa-testdata/pqc.rego
Due: none

feat: implement CMP RA protocol with custom ASN.1 types and in-memory transaction store
  docs/RFC009-cmp.md
Due: none

Implement CMP (Certificate Management Protocol) HTTP handler and ASN.1 encoding/decoding
  backend/go.mod
  backend/go.sum
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/routes/cmp.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms.go
  go.work.sum
Due: core, backend

Implement CMP RA Protocol as per RFC 4210 and RFC 9480
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_parse_test.go
  core/pkg/services/lwcmp.go
  docs/rfcs/cmp_audit_2023_03_13.md
  docs/rfcs/external/RFC4210.txt
  docs/rfcs/external/RFC4211.txt
  docs/rfcs/external/RFC5280.txt
  docs/rfcs/external/RFC6712.txt
  docs/rfcs/external/RFC9480.txt
  docs/rfcs/external/RFC9481.txt
  docs/rfcs/external/RFC9483.txt
  docs/rfcs/external/RFC9810.txt
  docs/rfcs/external/RFC9811.txt
  docs/rfcs/internal/RFC004-DynamicDeviceGroups.md
  docs/rfcs/internal/RFC005-jsonpath-sorting.md
  docs/rfcs/internal/RFC007-idslot-jsonb.md
  docs/rfcs/internal/RFC008-filtered-stats.md
  docs/rfcs/internal/RFC009-cmp.md
Due: core, backend

feat: add tests for SenderNonce and CertReqID in CMP message parsing
  backend/pkg/controllers/cmp_parse_test.go
Due: none

feat: add CMP message sample files and parsing tests
  backend/pkg/controllers/cmp_message_samples/0001.ip
  backend/pkg/controllers/cmp_message_samples/0002.cr
  backend/pkg/controllers/cmp_parse_test.go
Due: backend

feat: Enhance CMP protection and enrollment options
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/cmp_mock.go
  core/pkg/services/mock/dms_mock.go
  docs/rfcs/internal/RFC010-lwc-cmp-rfc9483.md
  sdk/dmsmanager.go
Due: core, sdk, backend

feat: Implement Lightweight CMP service methods in DMSManager
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/audit/dms_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

feat: Enhance DMS Manager Service with KMS integration and CMP improvements
  backend/cmd/dms-manager/main.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/config/dms.go
  backend/pkg/controllers/cmp.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
  cmp.sh
  core/pkg/models/dms.go
  core/pkg/models/dms_est_options.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/services/lwcmp.go
  monolithic/pkg/assembler.go
Due: core, backend

Add ASN.1 module definitions for PKIX and related algorithms
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_parse_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/routes/cmp.go
  backend/pkg/services/dmsmanager.go
  cmp.ir
  core/pkg/helpers/readcerts.go
  core/pkg/services/lwcmp.go
  docs/rfcs/openssl_cmp.md
  pyasn1/main.py
  pyasn1/myasn1/AlgorithmInformation-2009.asn
  pyasn1/myasn1/AttributeCertificateVersion1-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2010.asn
  pyasn1/myasn1/CryptographicMessageSyntaxAlgorithms-2009.asn
  pyasn1/myasn1/KEMAlgorithmInformation-2023.asn
  pyasn1/myasn1/PKCS-10.asn
  pyasn1/myasn1/PKCS-9.asn
  pyasn1/myasn1/PKIX-CommonTypes-2009.asn
  pyasn1/myasn1/PKIX-X400Address-2009.asn
  pyasn1/myasn1/PKIX1-PSS-OAEP-Algorithms-2009.asn
  pyasn1/myasn1/PKIX1Explicit-2009.asn
  pyasn1/myasn1/PKIX1Implicit-2009.asn
  pyasn1/myasn1/PKIXAlgs-2009.asn
  pyasn1/myasn1/PKIXAttributeCertificate-2009.asn
  pyasn1/myasn1/PKIXCRMF-2009.asn
  pyasn1/myasn1/SecureMimeMessageV3dot1-2009.asn
  pyasn1/myasn1/cmp.asn
  pyasn1/myasn1/cmp_comp.json
  pyasn1/myasn1/cmp_comp.py
  pyasn1/myasn1/load_mod.txt
  pyasn1/myasn1/load_obj.txt
Due: core, backend

feat: Update DMS Manager to support Lightweight CMP (RFC 9483) features
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms_lwcmp_options.go
  docs/rfcs/internal/RFC010-lwc-cmp-rfc9483.md
Due: core, backend

feat: add has_private_key field to certificates and implement related functionality
  backend/pkg/assemblers/tests/ca/ca_has_private_key_test.go
  backend/pkg/assemblers/tests/ca/ca_reissuance_test.go
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  core/pkg/resources/careq.go
  core/pkg/resources/fields.go
  engines/storage/postgres/migrations/ca/20260414120000_add_has_private_key.sql
  engines/storage/postgres/migrations_test/ca_test.go
Due: core, storage-postgres, backend

feat: enhance certificate extension backfill process and improve filtering documentation
  backend/pkg/services/ca.go
  docs/filtering.md
  engines/storage/postgres/migrations/ca/20260331120000_add_certificate_extensions.go
Due: storage-postgres, backend

feat: enhance filtering logic for StringArrayContains in PostgreSQL to support JSONB casting
  engines/storage/postgres/utils.go
Due: storage-postgres

feat: implement deterministic default engine ID retrieval for KMS statistics tests
  backend/pkg/assemblers/tests/kms/stats_test.go
Due: none

feat: enhance StringArrayContainsIgnoreCase filtering and add corresponding test
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
Due: backend

refactor: Remove local real-world device data test from migration tests
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: none

feat: Add real-world device data migration tests for device events
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: none

feat: add X.509 certificate extensions support and enhance filtering capabilities (#407)
  backend/pkg/assemblers/tests/ca/ca_certificates_test.go
  backend/pkg/assemblers/tests/kms/stats_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  core/pkg/models/x509_keyusage.go
  core/pkg/models/x509_keyusage_test.go
  core/pkg/resources/careq.go
  core/pkg/resources/fields.go
  docs/filtering.md
  engines/storage/postgres/migrations/ca/20260331120000_add_certificate_extensions.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/utils.go
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres, backend

fix: handle nil revocation reasons and update related logic across services
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/crl.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/handlers/va-handlers.go
  backend/pkg/services/ocsp.go
  core/pkg/models/ca.go
  core/pkg/models/revocation_reason.go
  engines/storage/postgres/migrations/ca/20260421000000_nullable_revocation_reason.go
  engines/storage/postgres/migrations/gomigrations.go
Due: core, storage-postgres, backend

fix: handle nil revocation reasons in certificate status updates
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  connectors/awsiot/pkg/service.go
Due: none

fix: streamline revocation reason updates for certificates and CA certificates
  engines/storage/postgres/migrations/ca/20260421000000_nullable_revocation_reason.go
Due: storage-postgres

fix: handle nil values in TextSerializer for database operations
  engines/storage/postgres/utils.go
Due: storage-postgres

fix: add grace period to delta monitoring test to prevent race condition
  backend/pkg/assemblers/tests/ca/ca_main_test.go
Due: none

fix: adjust delta monitoring test condition to prevent race condition
  backend/pkg/assemblers/tests/ca/ca_main_test.go
Due: none

fix: add grace period to delta monitoring test to prevent race condition (#606)
  backend/pkg/assemblers/tests/ca/ca_main_test.go
Due: none
