Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

implement changes
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/kms_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/controllers/ca.go
  backend/pkg/routes/kms.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  core/pkg/helpers/jsonpatches.go
  core/pkg/helpers/jsonpatches_test.go
  core/pkg/models/ca.go
  core/pkg/models/cryptokey.go
  core/pkg/models/kms.go
  core/pkg/services/ca.go
  engines/storage/postgres/kmsstorage.go
  sdk/kms.go
Due: core, sdk, storage-postgres, backend

remove sensitive info in audit events
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/audit/kms.go
Due: backend

add goose in release workflow
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
Due: none

moving tests
  backend/pkg/assemblers/kms_test.go
  backend/pkg/assemblers/x509engine_sign_test.go
  backend/pkg/assemblers/x509engine_test.go
Due: none

fix VA ski encoding
  backend/pkg/services/crl.go
Due: backend

fix: VA ski encoding in crl dp (#358)
  backend/pkg/services/crl.go
Due: backend

fix issues
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/config/ca.go
  backend/pkg/controllers/va.go
  sdk/external/ocsp.go
Due: sdk, backend

Remove commented-out test cases and related TODOs in AWS KMS crypto engine tests
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/x509engine_sign_test.go
  backend/pkg/assemblers/x509engine_test.go
  engines/crypto/aws/awskms_test.go
Due: none

Rename setup function to setupX509TestSuite for clarity in x509 engine tests
  backend/pkg/assemblers/x509engine_test.go
Due: none

Replace setup function call with setupX509TestSuite for clarity in TestSignCertificateRequest
  backend/pkg/assemblers/x509engine_test.go
Due: none

Refactor calculateDigest function to improve readability by simplifying control flow
  backend/pkg/services/kms.go
Due: backend

Handle error from GetSubjectKeyID in Sign method for improved error handling
  backend/pkg/services/casigner.go
Due: backend

Add OpenAPI specifications for Device Manager and DMS Manager APIs; update documentation index
  docs/alerts-openapi.yaml
  docs/ca-openapi.yaml
  docs/device-manager-openapi.yaml
  docs/dms-manager-openapi.yaml
  docs/index.html
Due: none

Update docs/dms-manager-openapi.yaml
  docs/dms-manager-openapi.yaml
Due: none

Update docs/alerts-openapi.yaml
  docs/alerts-openapi.yaml
Due: none

Update docs/device-manager-openapi.yaml
  docs/device-manager-openapi.yaml
Due: none

Update license information to Mozilla Public License 2.0 and adjust API server URLs in OpenAPI specifications
  docs/alerts-openapi.yaml
  docs/ca-openapi.yaml
  docs/device-manager-openapi.yaml
  docs/dms-manager-openapi.yaml
  docs/kms-openapi.yaml
  docs/va-openapi.yaml
Due: none

Chore: Add OpenAPI specifications for all APIs (#363)
  docs/alerts-openapi.yaml
  docs/ca-openapi.yaml
  docs/device-manager-openapi.yaml
  docs/dms-manager-openapi.yaml
  docs/index.html
  docs/kms-openapi.yaml
  docs/va-openapi.yaml
Due: none

Remove unused dependencies from go.mod and go.sum; add new dependencies for GORM and time manipulation
  backend/go.mod
  backend/go.sum
  core/go.mod
  core/go.sum
  docs/index.html
  go.work.sum
Due: core, backend

chore: update title and subtitle in API reference documentation
  docs/index.html
Due: none

Add comprehensive tests for VA service CRL and OCSP functionalities
  .github/workflows/ci-test.yaml
  backend/pkg/assemblers/tests/alerts/main_test.go
  backend/pkg/assemblers/tests/ca/ca_certificates_test.go
  backend/pkg/assemblers/tests/ca/ca_issuance_profile_crud_test.go
  backend/pkg/assemblers/tests/ca/ca_issuance_profile_edit_test.go
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/assemblers/tests/kms/create_import_tags_metadata_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/assemblers/tests/kms/tags_test.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/assemblers/tests/va/main_test.go
Due: backend

Refactor CI workflow names for clarity by removing redundant suffixes
  .github/workflows/ci-test.yaml
Due: none

chore: add permissions section to CI workflow for clarity
  .github/workflows/ci-test.yaml
Due: none

refactor: Isolate backend assembler tests for better coverage and optimize CI timeouts (#365)
  .github/workflows/ci-test.yaml
  backend/pkg/assemblers/tests/alerts/main_test.go
  backend/pkg/assemblers/tests/ca/ca_certificates_test.go
  backend/pkg/assemblers/tests/ca/ca_issuance_profile_crud_test.go
  backend/pkg/assemblers/tests/ca/ca_issuance_profile_edit_test.go
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/assemblers/tests/kms/create_import_tags_metadata_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/assemblers/tests/kms/tags_test.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/assemblers/tests/va/main_test.go
Due: backend

chore: Go dependency cleanup (#364)
  backend/go.mod
  backend/go.sum
  core/go.mod
  core/go.sum
  docs/index.html
  go.work.sum
Due: core, backend

Merge stash 'device-event-endpoint' into develop_cms_pkcs11 and resolve conflicts: add UpdateWFXStatus and event logging truncation
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/services/devicemanager.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  sdk/devicemanager.go
Due: core, sdk, backend

feat: Implement CA reissuance functionality
  backend/pkg/assemblers/ca_reissuance_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/pkg/errs/ca.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  sdk/ca.go
Due: core, sdk, backend

feat: Add tests for CA reissuance functionality
  backend/pkg/assemblers/ca_reissuance_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
Due: core, backend

feat: Generate a CSR from cert for reissuance
  backend/pkg/services/ca.go
Due: backend

feat: Enhance CA reissuance with issuance profile and validity checks
  backend/pkg/assemblers/ca_reissuance_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
Due: backend

test: Add unit tests for CA reissuance functionality
  backend/pkg/assemblers/ca_reissuance_test.go
Due: none

feat: Add audit event publisher tests for CA, CRL, devices, and DMS functionalities
  backend/pkg/middlewares/audit/ca_test.go
  backend/pkg/middlewares/audit/crl_test.go
  backend/pkg/middlewares/audit/devices_test.go
  backend/pkg/middlewares/audit/dms_test.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
Due: none

test: Add unit tests for CA reissuance service and SDK
  backend/pkg/assemblers/ca_reissuance_test.go
Due: none

feat: Refactor CA reissuance process and enhance CSR generation with SAN support
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_san_test.go
  core/pkg/helpers/cryptoutils.go
Due: core, backend

feat: Implement enhancements for CA reissuance process and validity checks
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
Due: backend

fix: apply changes after rebasing main with new kms
  backend/pkg/assemblers/tests/ca/ca_reissuance_test.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_san_test.go
Due: backend

refactor: remove unnecessary testcases CA event publisher test
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
Due: none

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
