Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

first impl
  backend/pkg/assemblers/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/services/ca.go
  core/pkg/engines/storage/ca.go
  core/pkg/engines/storage/engine.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/models/ca.go
  core/pkg/models/issuance_profiles.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/issuance_profile.go
  engines/storage/postgres/migrations/ca/20250702124800_create_issuance_profile.sql
  monolithic/pkg/assembler.go
Due: core, storage-postgres, backend

fix endpoints
  backend/pkg/controllers/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/go.sum
  core/pkg/models/issuance_profiles.go
  core/pkg/resources/careq.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrations/ca/20250702124800_create_issuance_profile.sql
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

feat: DMS: implement update metadata endpoint (#283)
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  connectors/awsiot/pkg/event-handlers.go
  core/pkg/models/events.go
  core/pkg/models/patches.go
  core/pkg/resources/dmsreq.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

add profileid for signing using profiles
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
Due: core, backend

implementing missing rules
  backend/pkg/assemblers/ca_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/helpers/cryptoutils.go
  sdk/ca.go
Due: core, sdk, backend

fix profiles
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/models/issuance_profiles.go
  core/pkg/resources/careq.go
  engines/storage/postgres/migrations/ca/20250702124800_create_issuance_profile.sql
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

complete implementation
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/models/issuance_profiles.go
  core/pkg/resources/careq.go
  engines/storage/postgres/migrations/ca/20250702124800_create_issuance_profile.sql
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

Update engines/storage/postgres/migrations/ca/20250704101200_add_version_schema.sql
  engines/storage/postgres/migrations/ca/20250704101200_add_version_schema.sql
Due: storage-postgres

chore: fix some lint and typo issues
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/est.go
  backend/pkg/cryptoengines/builder/registrar_aws.go
  backend/pkg/cryptoengines/builder/registrar_pkcs11.go
  backend/pkg/cryptoengines/builder/registrar_vault.go
  backend/pkg/routes/utils.go
  backend/pkg/storage/builder/postgres_registrar.go
  backend/pkg/test/e2e/usecase-1.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  connectors/awsiot/cmd/main.go
  connectors/awsiot/pkg/event-handlers.go
  engines/crypto/vaultkv2/docker/vaultkv2.go
  engines/storage/postgres/test/postgres.go
Due: crypto-vaultkv2, storage-postgres, backend

Apply suggestion from @Copilot
  backend/pkg/assemblers/ca_test.go
Due: none

Remove unused variable from ca_test.go
  backend/pkg/assemblers/ca_test.go
Due: none

Remove unused import in ca_test.go
  backend/pkg/assemblers/ca_test.go
Due: none

Add tests for extracting key usage from CSR with various scenarios
  core/pkg/helpers/cryptoutils_test.go
Due: none

Update go-viper/mapstructure to v2.4.0 in multiple modules
  core/go.mod
  core/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, core, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp

chore: fix linting and typo issues (#287)
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/est.go
  backend/pkg/cryptoengines/builder/registrar_aws.go
  backend/pkg/cryptoengines/builder/registrar_pkcs11.go
  backend/pkg/cryptoengines/builder/registrar_vault.go
  backend/pkg/routes/utils.go
  backend/pkg/storage/builder/postgres_registrar.go
  backend/pkg/test/e2e/usecase-1.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  connectors/awsiot/cmd/main.go
  connectors/awsiot/pkg/event-handlers.go
  engines/crypto/vaultkv2/docker/vaultkv2.go
  engines/storage/postgres/test/postgres.go
Due: crypto-vaultkv2, storage-postgres, backend

Add basic issuance profile tests
  backend/pkg/assemblers/ca_issuance_profile_test.go
  sdk/utils.go
Due: sdk

fix expected domain message
  backend/pkg/x509engines/x509engine_test.go
Due: none

refactor: CA: homogenize certificate SN format
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/helpers/serialnumber.go
  backend/pkg/helpers/serialnumber_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/ocsp.go
  backend/pkg/x509engines/x509engine.go
  connectors/awsiot/pkg/service.go
Due: backend

Add DB migration to update certificate serial numbers
  engines/storage/postgres/migrations/ca/20250904183000_update_serial_numbers.sql
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres

adding issuance profiles to CAs
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/helpers/expiration.go
  backend/pkg/helpers/expiration_test.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/test/e2e/usecase-1.go
  connectors/awsiot/pkg/service.go
  core/pkg/models/ca.go
  core/pkg/models/dms.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/storage/postgres/migrations/ca/20250908074250_add_profile_id.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/ca_test.go
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

fix testsd
  backend/pkg/assemblers/ca_csr_test.go
  backend/pkg/assemblers/dms-manager_test.go
Due: none

add profileid to test
  backend/pkg/assemblers/ca_csr_test.go
Due: none

adding edit profile endpoint
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  sdk/ca.go
Due: core, sdk, backend

added tests
  backend/pkg/assemblers/ca_issuance_profile_crud_test.go
  backend/pkg/assemblers/ca_issuance_profile_test.go
  sdk/ca.go
Due: sdk

added downgrade migration
  backend/pkg/assemblers/ca_edit_issuance_profile_test.go
  engines/storage/postgres/migrations/ca/20250908074250_add_profile_id.go
Due: storage-postgres

add tests for UpdateCAProfile with and without errors
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
Due: none

refactor reuse getCA functions
  backend/pkg/services/ca.go
Due: backend

refactor issuance profile resolution in DMSManagerServiceBackend
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
Due: backend

adding default ekus in data migration & added more eku tests
  backend/pkg/assemblers/ca_edit_issuance_profile_test.go
  engines/storage/postgres/migrations/ca/20250908074250_add_profile_id.go
Due: storage-postgres

feat: ca: default issuance profiles for CAs and integrate in dms EST processes (#290)
  backend/pkg/assemblers/ca_csr_test.go
  backend/pkg/assemblers/ca_edit_issuance_profile_test.go
  backend/pkg/assemblers/ca_issuance_profile_crud_test.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/helpers/expiration.go
  backend/pkg/helpers/expiration_test.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/test/e2e/usecase-1.go
  connectors/awsiot/pkg/service.go
  core/pkg/models/ca.go
  core/pkg/models/dms.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/storage/postgres/migrations/ca/20250908074250_add_profile_id.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/ca_test.go
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

first poc for audit events
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/va.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/audit/crl.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/audit/utils.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/middlewares/eventpub/crl.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/middlewares/eventpub/devices_publisher_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
  backend/pkg/middlewares/eventpub/utils.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors_test.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/services/handlers/alerts-handlers.go
  backend/pkg/services/handlers/device-handlers.go
  backend/pkg/services/handlers/va-handlers.go
  connectors/awsiot/pkg/event-handlers.go
  core/context.go
  core/pkg/helpers/events.go
  core/pkg/helpers/events_test.go
  core/pkg/helpers/logger.go
  core/pkg/helpers/logger_test.go
  core/pkg/services/eventhandling/handler.go
  core/pkg/services/eventhandling/handler_test.go
  go.work.sum
  monolithic/pkg/assembler.go
Due: core, backend

audit events uptodate
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/audit/crl.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/audit/utils.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
  core/pkg/models/events.go
Due: core, backend

fix event audit typo
  backend/pkg/middlewares/audit/utils.go
Due: backend

Update core/pkg/helpers/events.go
  core/pkg/helpers/events.go
Due: core

fix function typo
  connectors/awsiot/pkg/event-handlers.go
Due: none

Add DB migration to update certificate serial numbers
  engines/crypto/software/software.go
  engines/storage/postgres/migrations/ca/20250904183000_update_serial_numbers.sql
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres

fix source in test
  core/pkg/helpers/events_test.go
Due: none

refactor: CA: homogenize certificate SN format (#289)
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/helpers/serialnumber.go
  backend/pkg/helpers/serialnumber_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/ocsp.go
  backend/pkg/x509engines/x509engine.go
  connectors/awsiot/pkg/service.go
  engines/crypto/software/software.go
  engines/storage/postgres/migrations/ca/20250904183000_update_serial_numbers.sql
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres, backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
