Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

feat: change migrator error handling to warning and return nil
  engines/storage/postgres/utils.go
Due: storage-postgres

Refactor crypto material generation to use KeySpec instead of AlgorithmID
  backend/pkg/controllers/kmsv2.go
  core/pkg/engines/cryptoengines_v2/algorithms.go
  core/pkg/engines/cryptoengines_v2/backend.go
  core/pkg/engines/cryptoengines_v2/backendregistry/multi.go
  core/pkg/engines/cryptoengines_v2/backendregistry/single.go
  core/pkg/engines/cryptoengines_v2/backendregistry/support.go
  core/pkg/engines/cryptoengines_v2/caps_agree.go
  core/pkg/engines/cryptoengines_v2/caps_encrypt.go
  core/pkg/engines/cryptoengines_v2/caps_mac.go
  core/pkg/engines/cryptoengines_v2/caps_sign.go
  core/pkg/engines/cryptoengines_v2/caps_wrap.go
  core/pkg/engines/cryptoengines_v2/http.go
  core/pkg/engines/cryptoengines_v2/key_specs.go
  core/pkg/engines/cryptoengines_v2/key_types.go
  core/pkg/engines/cryptoengines_v2/registry.go
  core/pkg/engines/cryptoengines_v2/registry/builtin.go
  core/pkg/engines/cryptoengines_v2/registry/builtin_test.go
  core/pkg/engines/cryptoengines_v2/registry/static.go
  core/pkg/engines/cryptoengines_v2/service_impl.go
  core/pkg/engines/cryptoengines_v2/service_specs.go
  core/pkg/engines/cryptoengines_v2/validate.go
  docs/kms-v2-openapi.yaml
  engines/crypto/softwarev2/algorithms.go
  engines/crypto/softwarev2/backend.go
  engines/crypto/softwarev2/backend_test.go
  engines/crypto/softwarev2/handle_aes.go
  engines/crypto/softwarev2/handle_ecdh.go
  engines/crypto/softwarev2/handle_ecdsa.go
  engines/crypto/softwarev2/handle_hmac.go
  engines/crypto/softwarev2/handle_mlkem.go
  engines/crypto/softwarev2/handle_rsa.go
  engines/crypto/softwarev2/material.go
  monolithic/cmd/v2/main.go
  scripts/migrate-service-dbs-to-pki-schemas.sql
Due: core, backend

feat(kms): add cryptographic operations for signing, verifying, encrypting, and decrypting keys
  backend/pkg/assemblers/kms.go
  backend/pkg/controllers/kmsv2.go
  backend/pkg/routes/kmsv2.go
  backend/pkg/specs/kms-v2-openapi.yaml
  core/pkg/engines/cryptoengines_v2/errors.go
  core/pkg/engines/cryptoengines_v2/http.go
  engines/crypto/softwarev2/handle_hmac.go
Due: core, backend

chore: enhance authorization schema with default actions and route constraints
  connectors/authz/docs/spec.md
  connectors/authz/examples/wfx/wfx.json
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/engine/http_schema.go
  connectors/authz/pkg/engine/http_schema_test.go
  connectors/authz/pkg/engine/policy.go
  connectors/authz/pkg/engine/policy_test.go
  connectors/authz/pkg/models/policy.go
  connectors/authz/wfx.json
Due: none

chore: enhance param_constraints to support dynamic request values and improve validation
  connectors/authz/docs/spec.md
  connectors/authz/pkg/engine/http_schema.go
  connectors/authz/pkg/engine/http_schema_test.go
  connectors/authz/pkg/engine/policy.go
  connectors/authz/pkg/engine/policy_test.go
  connectors/authz/pkg/models/policy.go
Due: none

feat(chore): refactors assemblers tests to create test servers per test suite and optimize tests execution time
  backend/pkg/assemblers/tests/alerts/main_test.go
  backend/pkg/assemblers/tests/alerts/setup_test.go
  backend/pkg/assemblers/tests/ca/ca_certificates_jsonpath_test.go
  backend/pkg/assemblers/tests/ca/ca_certificates_test.go
  backend/pkg/assemblers/tests/ca/ca_create_certificate_test.go
  backend/pkg/assemblers/tests/ca/ca_issuance_profile_crud_test.go
  backend/pkg/assemblers/tests/ca/ca_issuance_profile_edit_test.go
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/ca_reissuance_test.go
  backend/pkg/assemblers/tests/ca/ca_stats_filtered_test.go
  backend/pkg/assemblers/tests/ca/setup_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/tests/device-manager/device_filter_test.go
  backend/pkg/assemblers/tests/device-manager/device_groups_test.go
  backend/pkg/assemblers/tests/device-manager/device_sort_test.go
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/assemblers/tests/device-manager/setup_test.go
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/dms_filter_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/filtered_stats_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/assemblers/tests/dms-manager/setup_test.go
  backend/pkg/assemblers/tests/kms/create_import_tags_metadata_test.go
  backend/pkg/assemblers/tests/kms/key_filter_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/assemblers/tests/kms/setup_test.go
  backend/pkg/assemblers/tests/kms/stats_test.go
  backend/pkg/assemblers/tests/kms/tags_test.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/assemblers/tests/va/main_test.go
  backend/pkg/assemblers/tests/va/setup_test.go
  engines/eventbus/amqp/subsystem/subsystem.go
  engines/storage/postgres/subsystem/subsystem.go
  shared/subsystems/pkg/test/dockerrunner/docker.go
Due: storage-postgres, eventbus-amqp, backend

fix(chore): refactor from dbname to schemaname
  engines/storage/postgres/subsystem/subsystem.go
Due: storage-postgres

fix(chore): adds certificate monitoring job exec in expired update ca certificate test
  backend/pkg/assemblers/tests/ca/ca_main_test.go
Due: none

chore: define permissions for dev release workflow
  .github/workflows/dev-release.yaml
Due: none

chore: move permissions to validate_tag job in dev release workflow
  .github/workflows/dev-release.yaml
Due: none

fix(cryptoengines): adjusts Azure cryptoengine to new signing methods
  engines/crypto/azure/keyvault.go
  engines/crypto/azure/keyvault_test.go
  engines/crypto/azure/secrets.go
Due: none

fix(cryptoengines): migrates floci-az emulator to dockertest v4
  shared/azure/docker-emulator.go
Due: none

feat: add WFX configuration to MonolithicConfig and update DMS Manager service
  go.work.sum
Due: none

Implement CMP (Certificate Management Protocol) HTTP handler and ASN.1 encoding/decoding
  backend/go.mod
  backend/go.sum
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/routes/cmp.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms.go
  go.work.sum
Due: core, backend

Add CMP simulation scripts for drop-and-poll and full lifecycle testing
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_parse_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/engines/storage/engine.go
  core/pkg/errs/dms.go
  core/pkg/models/dms.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/services/ca.go
  core/pkg/services/devicemanager.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/cmp_mock.go
  docs/rfcs/internal/RFC009-cmp.md
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrations/dmsmanager/20260511120000_cmp_transactions.sql
  engines/storage/postgres/migrations/dmsmanager/20260518120000_cmp_transactions_async.sql
  engines/storage/postgres/test/cmptxstore_test.go
  go.work.sum
  monolithic/pkg/assembler.go
  monolithic/pkg/sampledata/generator.go
  monolithic/pkg/storage/sqlite/engine.go
  monolithic/pkg/storage/sqlite/schema.go
  scripts/__pycache__/cmp_pollreq.cpython-314.pyc
  scripts/cmp-disconnect-recovery.sh
  scripts/cmp-drop-and-poll.sh
  scripts/cmp-full-lifecycle.sh
  scripts/cmp_pollreq.py
Due: core, storage-postgres, backend

feat: add WFX configuration to MonolithicConfig and update DMS Manager service
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/config/dms.go
  backend/pkg/controllers/cmp.go
  backend/pkg/integrations/wfx/cmp.go
  backend/pkg/integrations/wfx/cmp_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  ci/wfx.dockerfile
  go.work.sum
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: backend

feat: Enhance CMP handling by including signer cert in extraCerts and improving EE certificate parsing
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_protection.go
Due: backend

Feat: Add BasePath to OTELTracesConfig and update tracer provider setup (#669)
  core/pkg/config/otel.go
  sdk/otel.go
Due: core, sdk

feat: Enhance DMS Manager Service with KMS integration and CMP improvements
  backend/cmd/dms-manager/main.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/config/dms.go
  backend/pkg/controllers/cmp.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
  cmp.sh
  core/pkg/models/dms.go
  core/pkg/models/dms_est_options.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/services/lwcmp.go
  monolithic/pkg/assembler.go
Due: core, backend

feat: add tests for SenderNonce and CertReqID in CMP message parsing
  backend/pkg/controllers/cmp_parse_test.go
Due: none

feat: Update DMS Manager to support Lightweight CMP (RFC 9483) features
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms_lwcmp_options.go
  docs/rfcs/internal/RFC010-lwc-cmp-rfc9483.md
Due: core, backend

feat: add CMP message sample files and parsing tests
  backend/pkg/controllers/cmp_message_samples/0001.ip
  backend/pkg/controllers/cmp_message_samples/0002.cr
  backend/pkg/controllers/cmp_parse_test.go
Due: backend

small fixes
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_handler_test.go
  core/pkg/models/dms_lwcmp_options.go
Due: core, backend

feat: enhance CMP transaction management and bootstrap setup
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/resources/cmpresp.go
  core/pkg/resources/fields.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/mock/dms_mock.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/migrations/dmsmanager/20260519120000_cmp_transactions_persistence.sql
  go.work.sum
  monolithic/pkg/storage/sqlite/schema.go
  scripts/cmp-bootstrap-setup.sh
  scripts/cmp-disconnect-recovery.sh
  scripts/cmp-drop-and-poll.sh
  scripts/cmp-full-lifecycle.sh
  sdk/dmsmanager.go
Due: core, sdk, storage-postgres, backend

Device events v2 (#405)
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/alerts/main_test.go
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/config/devicemanger.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/sse_hub.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/alerts.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/handlers/device-sse-handlers.go
  connectors/awsiot/pkg/service.go
  core/pkg/engines/storage/alerts.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/models/device.go
  core/pkg/models/device_test.go
  core/pkg/models/events.go
  core/pkg/resources/caresp.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/resources/fields.go
  core/pkg/services/alerts.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  docs/alerts-openapi.yaml
  docs/device-manager-openapi.yaml
  engines/storage/postgres/device_events.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/eventstore.go
  engines/storage/postgres/migrations/devicemanager/20260317120000_create_device_events.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
  monolithic/pkg/storage/sqlite/schema.go
  sdk/alerts.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

fix
  backend/pkg/controllers/cmp_handler_test.go
Due: none

feat: implement CMP RA protocol with custom ASN.1 types and in-memory transaction store
  docs/RFC009-cmp.md
Due: none

hotfix: update WFX Docker repository to use official Siemens image
  monolithic/cmd/development/main.go
Due: none

Fix: PKCS11 initialization & refactor KMS APIs to Propagate Context Across Crypto Operations (#665)
  .github/workflows/ci-test.yaml
  backend/pkg/assemblers/kms.go
  backend/pkg/helpers/x509utils.go
  backend/pkg/helpers/x509utils_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/services/kms.go
  backend/pkg/x509engines/x509engine.go
  ci/kms.dockerfile
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/pkcs11/docker/nethsm_emulator.go
  engines/crypto/pkcs11/docker/softhsmv2_emulator.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/pkcs11/pkcs11_test.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/storage/postgres/migrations/ca/20250915090500_update_ski_aki.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, backend

feat: Enhance CMP protection and enrollment options
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/cmp_mock.go
  core/pkg/services/mock/dms_mock.go
  docs/rfcs/internal/RFC010-lwc-cmp-rfc9483.md
  sdk/dmsmanager.go
Due: core, sdk, backend

feat: Implement Lightweight CMP service methods in DMSManager
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/audit/dms_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

Implement CMP RA Protocol as per RFC 4210 and RFC 9480
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_parse_test.go
  core/pkg/services/lwcmp.go
  docs/rfcs/cmp_audit_2023_03_13.md
  docs/rfcs/external/RFC4210.txt
  docs/rfcs/external/RFC4211.txt
  docs/rfcs/external/RFC5280.txt
  docs/rfcs/external/RFC6712.txt
  docs/rfcs/external/RFC9480.txt
  docs/rfcs/external/RFC9481.txt
  docs/rfcs/external/RFC9483.txt
  docs/rfcs/external/RFC9810.txt
  docs/rfcs/external/RFC9811.txt
  docs/rfcs/internal/RFC004-DynamicDeviceGroups.md
  docs/rfcs/internal/RFC005-jsonpath-sorting.md
  docs/rfcs/internal/RFC007-idslot-jsonb.md
  docs/rfcs/internal/RFC008-filtered-stats.md
  docs/rfcs/internal/RFC009-cmp.md
Due: core, backend

Chore: Refactor Service Dockerfiles for Distroless Containers and Optimized Builds (#668)
  .github/workflows/dev-release.yaml
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
Due: none

Add ASN.1 module definitions for PKIX and related algorithms
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_parse_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/routes/cmp.go
  backend/pkg/services/dmsmanager.go
  cmp.ir
  core/pkg/helpers/readcerts.go
  core/pkg/services/lwcmp.go
  docs/rfcs/openssl_cmp.md
  pyasn1/main.py
  pyasn1/myasn1/AlgorithmInformation-2009.asn
  pyasn1/myasn1/AttributeCertificateVersion1-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2010.asn
  pyasn1/myasn1/CryptographicMessageSyntaxAlgorithms-2009.asn
  pyasn1/myasn1/KEMAlgorithmInformation-2023.asn
  pyasn1/myasn1/PKCS-10.asn
  pyasn1/myasn1/PKCS-9.asn
  pyasn1/myasn1/PKIX-CommonTypes-2009.asn
  pyasn1/myasn1/PKIX-X400Address-2009.asn
  pyasn1/myasn1/PKIX1-PSS-OAEP-Algorithms-2009.asn
  pyasn1/myasn1/PKIX1Explicit-2009.asn
  pyasn1/myasn1/PKIX1Implicit-2009.asn
  pyasn1/myasn1/PKIXAlgs-2009.asn
  pyasn1/myasn1/PKIXAttributeCertificate-2009.asn
  pyasn1/myasn1/PKIXCRMF-2009.asn
  pyasn1/myasn1/SecureMimeMessageV3dot1-2009.asn
  pyasn1/myasn1/cmp.asn
  pyasn1/myasn1/cmp_comp.json
  pyasn1/myasn1/cmp_comp.py
  pyasn1/myasn1/load_mod.txt
  pyasn1/myasn1/load_obj.txt
Due: core, backend

Feat/wfx (#667)
  engines/storage/postgres/migrate.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/utils.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: storage-postgres

feat: enhance CMP transaction management with WFX job integration
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/integrations/wfx/cmp.go
  backend/pkg/jobs/cmp-confirmation-monitor-job.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/resources/cmpresp.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/migrations/dmsmanager/20260521120000_cmp_transactions_request_metadata.sql
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres, backend

feat(cmp): general messages (genm/genp) and RFC 9483 conformance refinements
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_certconf_decode_test.go
  backend/pkg/controllers/cmp_genmsg.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/controllers/cmp_unit_test.go
  backend/pkg/controllers/cmp_validator.go
  backend/pkg/services/dmsmanager_lwcmp.go
  monolithic/pkg/sampledata/generator.go
Due: backend

Refactor code structure cmp files
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_enrollment.go
  backend/pkg/controllers/cmp_genmsg.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_message_samples/0001.ip
  backend/pkg/controllers/cmp_message_samples/0002.cr
  backend/pkg/controllers/cmp_rfc_compliance_test.go
Due: backend

fix(ci): run cmp-test-suite PQ-free; drop liboqs source build
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  scripts/run-cmp-test-suite.sh
Due: none

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
