Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

test: add test cases for issuance profile validation
  backend/pkg/assemblers/ca_issuance_profile_edit_test.go
  backend/pkg/assemblers/ca_test.go
Due: none

add independent svc
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/handlers/device-handlers.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine.go
  connectors/awsiot/pkg/event-handlers.go
  core/pkg/engines/storage/ca.go
  core/pkg/engines/storage/engine.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/engines/storage/kms.go
  core/pkg/models/ca.go
  core/pkg/models/kms.go
  core/pkg/services/ca.go
  core/pkg/services/kms.go
Due: core, backend

fix: CA: add issuance profile validation for CA operations (#339)
  backend/pkg/assemblers/ca_issuance_profile_edit_test.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/errs/ca.go
  sdk/ca.go
Due: core, sdk, backend

fix: incorrect IoT metadata key in log messages
  connectors/awsiot/pkg/event-handlers.go
Due: none

fix: remove duplicated deferred function in RegisterCA
  connectors/awsiot/pkg/service.go
Due: none

implement changes
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/kms_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/controllers/ca.go
  backend/pkg/routes/kms.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  core/pkg/helpers/jsonpatches.go
  core/pkg/helpers/jsonpatches_test.go
  core/pkg/models/ca.go
  core/pkg/models/cryptokey.go
  core/pkg/models/kms.go
  core/pkg/services/ca.go
  engines/storage/postgres/kmsstorage.go
  sdk/kms.go
Due: core, sdk, storage-postgres, backend

fixing signig process
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  core/pkg/services/ca.go
  core/pkg/services/kms.go
  sdk/ca.go
Due: core, sdk, backend

Added Dockerfile for hybrid CA deployment
  ci/pq_ca.dockerfile
Due: none

fix: AWS Connector: incorrect IoT metadata key in error messages (#340)
  connectors/awsiot/pkg/event-handlers.go
  connectors/awsiot/pkg/service.go
Due: none

feat: add independent database migration tool (#337)
  ci/goose-lamassu.dockerfile
  engines/storage/postgres/cmd/goose-lamassu/README.md
  engines/storage/postgres/cmd/goose-lamassu/main.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrate.go
  engines/storage/postgres/test/migrate_test.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/postgres_test.go
  engines/storage/postgres/test/test_suite.go
  engines/storage/postgres/utils.go
Due: storage-postgres

added tag to KMS key
  backend/pkg/assemblers/kms_create_import_tags_metadata_test.go
  backend/pkg/assemblers/kms_tags_test.go
  backend/pkg/controllers/kms.go
  backend/pkg/middlewares/audit/kms.go
  backend/pkg/middlewares/eventpub/kms.go
  backend/pkg/routes/kms.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  core/pkg/models/events.go
  core/pkg/models/kms.go
  core/pkg/resources/careq.go
  core/pkg/services/kms.go
  engines/storage/postgres/migrations/kms/20251031174938_key.sql
  sdk/kms.go
Due: core, sdk, storage-postgres, backend

add manual trigger
  .github/workflows/ci-test.yaml
Due: none

tests: enabling manual triggering of the workflow (#347)
  .github/workflows/ci-test.yaml
Due: none

fix migrations ca_certificate_requests
  engines/storage/postgres/migrations_test/ca_test.go
Due: none

fix event
  connectors/awsiot/pkg/testdata/cloudevents/cert_update_metadata__preventive_delta_false_to_true.json
  engines/storage/postgres/migrations/ca/20251106000000_drop_certificate_requests_table.sql
  engines/storage/postgres/migrations/ca/20251106120000_update_metadata_key_attached_to.sql
Due: storage-postgres

fix events
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
  backend/pkg/middlewares/eventpub/kms_publisher_test.go
  backend/pkg/middlewares/eventpub/utils_test.go
  core/pkg/services/mock/kms_mock.go
Due: none

fix log
  backend/pkg/services/ca.go
Due: backend

increase timeout
  .github/workflows/ci-test.yaml
Due: none

Adjust test timeout in CI workflow
  .github/workflows/ci-test.yaml
Due: none

chore: Adjust test timeout in CI workflow (#348)
  .github/workflows/ci-test.yaml
Due: none

backend test first in ci
  .github/workflows/ci-test.yaml
Due: none

minor fixes
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/kms_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/crl.go
Due: backend

fix migration table
  engines/storage/postgres/test/migrate_test.go
Due: none

copilot fixes
  engines/storage/postgres/kmsstorage.go
  engines/storage/postgres/migrations/ca/20251106120000_update_metadata_key_attached_to.sql
  sdk/ca.go
Due: sdk, storage-postgres

split tests
  .github/workflows/ci-test.yaml
Due: none

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
