Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

feat: avoid redundancy on issuance profiles generation
  engines/storage/postgres/migrations/ca/20250908074250_add_profile_id.go
Due: storage-postgres

feat: add profile ID assignment for CA certificates and ensure deduplication in issuance profiles
  engines/storage/postgres/migrations_test/ca_test.go
Due: none

feat: ca: avoid redundancy on issuance profiles generation (#292)
  engines/storage/postgres/migrations/ca/20250908074250_add_profile_id.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres

fix tests
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
Due: backend

fix typo
  core/pkg/helpers/events.go
Due: core

fix tests
  backend/pkg/middlewares/eventpub/devices_publisher_test.go
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors_test.go
Due: none

feat: add support for deleting devices in decommissioned state (#294)
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/devicemanager.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/errs/device.go
  core/pkg/models/events.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  sdk/devicemanager.go
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

fix source in events
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/audit/crl.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/audit/utils.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/crl.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/middlewares/eventpub/devices_publisher_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/middlewares/eventpub/utils.go
  core/pkg/models/events.go
Due: core, backend

testing gh
  backend/pkg/assemblers/ca_test.go
Due: none

fix typo in 'filterable'
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  core/pkg/resources/careq.go
  core/pkg/resources/fields.go
Due: core, backend

remove cache in unit tests
  .github/workflows/ci-test.yaml
  .github/workflows/dev-release.yaml
Due: none

chore: update CONTRIBUTING.md to clarify setup instructions
  CONTRIBUTING.md
Due: none

feat: add support for CRL certificate reactivation from hold and update CRL handling logic
  backend/pkg/assemblers/va_test.go
  backend/pkg/services/handlers/va-handlers.go
Due: backend

chore: update CONTRIBUTING.md to clarify setup instructions (#296)
  CONTRIBUTING.md
Due: none

feat: va: add support for CRL certificate reactivation from hold (#297)
  backend/pkg/assemblers/va_test.go
  backend/pkg/services/handlers/va-handlers.go
Due: backend

feat: all: add audit events (#291)
  .github/workflows/ci-test.yaml
  .github/workflows/dev-release.yaml
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/audit/crl.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/audit/utils.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/middlewares/eventpub/crl.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/middlewares/eventpub/devices_publisher_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
  backend/pkg/middlewares/eventpub/utils.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors_test.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/services/handlers/alerts-handlers.go
  backend/pkg/services/handlers/device-handlers.go
  backend/pkg/services/handlers/va-handlers.go
  connectors/awsiot/pkg/event-handlers.go
  core/context.go
  core/pkg/helpers/events.go
  core/pkg/helpers/events_test.go
  core/pkg/helpers/logger.go
  core/pkg/helpers/logger_test.go
  core/pkg/models/events.go
  core/pkg/services/eventhandling/handler.go
  core/pkg/services/eventhandling/handler_test.go
  go.work.sum
  monolithic/pkg/assembler.go
Due: core, backend

fix: middleware: missing DeleteDevice operation
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
Due: backend

test: middleware: add DeleteDevice case to event publisher
  backend/pkg/middlewares/eventpub/devices_publisher_test.go
Due: none

test: middleware: add DeleteDevice case to event publisher (#298)
  backend/pkg/middlewares/eventpub/devices_publisher_test.go
Due: none

fix: certificate SKI and AKI obtention
  backend/pkg/helpers/x509utils.go
  backend/pkg/helpers/x509utils_test.go
  backend/pkg/services/ca.go
  core/pkg/engines/storage/utils.go
Due: core, backend

Add migration
  backend/pkg/helpers/x509utils.go
  engines/storage/postgres/migrations/ca/20250915090500_update_ski_aki.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations/helpers/certificate.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres, backend

Rename imported private key with SKI
  backend/pkg/services/ca.go
  engines/crypto/software/software.go
Due: backend

allow signing certs expiring after ca
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
Due: backend

revert tests to enable issuing certs after ca
  backend/pkg/assemblers/ca_test.go
  backend/pkg/x509engines/x509engine_test.go
Due: none

add event bus dlq
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/va.go
  connectors/awsiot/pkg/assembler.go
  core/pkg/engines/eventbus/eventbus_testset.go
  core/pkg/engines/eventbus/messaging.go
  core/pkg/engines/eventbus/subscriber.go
  engines/eventbus/amqp/engine_test.go
  engines/eventbus/aws/engine_test.go
Due: core, backend

Refactor DeleteCertificate tests for improved clarity and coverage
  backend/pkg/assemblers/ca_certificates_test.go
Due: none

test: add filtering for CA issuance profiles
  backend/pkg/assemblers/ca_issuance_profile_crud_test.go
  core/pkg/resources/careq.go
Due: core

feat: add support for filtering CAs based on profile_id (#303)
  backend/pkg/assemblers/ca_issuance_profile_crud_test.go
  core/pkg/resources/careq.go
Due: core

feat: add DELETE certificate endpoint for orphaned certificate cleanup with issuer CA validation (#301)
  backend/pkg/assemblers/ca_certificates_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/pkg/engines/storage/ca.go
  core/pkg/errs/ca.go
  core/pkg/models/events.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/storage/postgres/certstore.go
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

fix: allow signing certs expiring after ca (#299)
  backend/pkg/assemblers/ca_test.go
  backend/pkg/x509engines/x509engine.go
Due: backend

fixed and standarized dqlPublisher in all relevant svcs
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/va.go
  connectors/awsiot/pkg/assembler.go
  core/pkg/engines/eventbus/messaging.go
Due: core, backend

added missing file in merge
  sdk/ca.go
Due: sdk

fix kms api compilation
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  core/pkg/models/events.go
Due: core, backend

fix test by adding kms db in init
  backend/pkg/assemblers/ca_issuance_profile_crud_test.go
  backend/pkg/assemblers/ca_issuance_profile_edit_test.go
Due: none

fix kms api compilation
  backend/pkg/assemblers/ca_certificates_test.go
Due: none

adding v3 KMS key migration
  backend/pkg/assemblers/ca.go
Due: backend

imrpoove test
  core/pkg/engines/eventbus/eventbus_testset.go
Due: none

Downgraded all required dependencies so as to make the codebase compatible with go 1.22, as required by the PQC fork
  backend/go.mod
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  go.work
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

added changes
  backend/pkg/assemblers/ca_certificates_test.go
  backend/pkg/assemblers/ca_issuance_profile_crud_test.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/storage/ca.go
  core/pkg/errs/ca.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/storage/postgres/certstore.go
  sdk/ca.go
Due: core, sdk, storage-postgres, backend
