Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

Refactored x509Engine to set the grounds for PQ hybrid CSR signing
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  connectors/awsiot/pkg/assembler.go
  core/pkg/services/mock/caservice_mock.go
Due: backend

Implemented necessary changes to complete the merge. PQ support is back.
  .gitignore
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_sign_test.go
  core/pkg/engines/eventbus/messaging.go
  core/pkg/models/events.go
  engines/crypto/filesystem/filesystem.go
  go.work.sum
Due: core, crypto-filesystem, backend

Added dockerfile to deploy the fixed KMS for PQ operations
  ci/pq_kms.dockerfile
Due: none

Fixed issues with the generation of certain types of certificates. PQ support seems fully fixed.
  Makefile
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine_sign_test.go
  sdk/ca.go
Due: sdk, backend

Fixed errors caused by the rebase
  Makefile
  core/pkg/engines/eventbus/messaging.go
  deploy-lamassuq.sh
  go.work.sum
Due: core

added go version
  monolithic/cmd/development/main.go
Due: none

feat: update CA creation and key management logic, enhance test coverage, and refactor key handling
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine.go
Due: backend

refactor: streamline CA creation and signing process, enhance error handling, and apply issuance profile
  backend/pkg/x509engines/x509engine.go
Due: backend

fix: update import paths for mldsa packages to remove redundant prefix
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  engines/crypto/software/software.go
Due: core

feat: implement chameleon CA creation and enhance key management, improve error handling and logging
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/services/kms.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/aws/secretsmanager_test.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/crypto/vaultkv2/vaultkv2_test.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, backend

refactor: update MLDSA references to use x509.MLDSA for consistency across the codebase
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/services/kmssigner.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/cryptokey.go
Due: core, backend

feat: Add support for SLH-DSA and Composite ML-DSA-RSA key types
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine_pqc_test.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/cryptokey.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, backend

Updated images to use custom go fork. Replaced normal dockerfiles with their pq equivalents.
  ci/alerts.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/pq_alerts.dockerfile
  ci/pq_ca.dockerfile
  ci/pq_devmanager.dockerfile
  ci/pq_dmsmanager.dockerfile
  ci/pq_kms.dockerfile
  ci/pq_va.dockerfile
  ci/va.dockerfile
Due: none

feat: update Dockerfiles to use custom golang-pqc image instead of golang:1.26.2-bookworm
  ci/monolithic.dockerfile
Due: none

Fixed key import errors for PQ keys
  backend/pkg/services/kms.go
  core/pkg/helpers/readcerts.go
  go.work.sum
  sdk/ca.go
Due: core, sdk, backend

feat: integrate ML-DSA key generation and verification into KMS and crypto engines
  backend/pkg/services/kms.go
  core/pkg/helpers/cryptoutils.go
  engines/crypto/software/software.go
Due: core, backend

Refactor CA service by removing Hybrid CA creation functionality
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  sdk/ca.go
Due: core, sdk, backend

Applied required modifications to ensure that ML-DSA still works making use of internal go implementation. This requires the minimum version to be bumped to go 1.27.
  backend/go.mod
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/services/kms.go
  connectors/awsiot/go.mod
  core/go.mod
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/readcerts.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/go.mod
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/go.mod
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/vaultkv2.go
  engines/eventbus/amqp/go.mod
  engines/eventbus/aws/go.mod
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/s3/go.mod
  engines/storage/postgres/go.mod
  go.work
  monolithic/go.mod
  sdk/ca.go
  sdk/go.mod
  shared/aws/go.mod
  shared/http/go.mod
  shared/subsystems/go.mod
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

Fixed rebase errors and inconsistencies.
  backend/pkg/assemblers/tests/kms/main_test.go
  ci/ca.dockerfile
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/azure/go.mod
  engines/crypto/azure/keyvault.go
  engines/crypto/azure/secrets.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11

chore(deps): bump golang.org/x/net (#737)
  shared/http/go.mod
  shared/http/go.sum
Due: shared-http

docs: add webhook OpenAPI documentation (#718)
  backend/pkg/specs/dms-manager-openapi.yaml
  backend/pkg/specs/embed.go
  backend/pkg/specs/enroll-reenroll-webhook-openapi.yaml
  docs/dms-manager-openapi.yaml
  docs/enroll-reenroll-webhook-openapi.yaml
  docs/index.html
Due: backend

ci: migrate from git changelog to git cliff
  .github/workflows/release_open_pr.yaml
  cliff.toml
Due: none

ci: migrate release changelog workflow to git-cliff (#739)
  .github/workflows/release_open_pr.yaml
  cliff.toml
Due: none

chore: bump module versions to v3.8.1
  backend/go.mod
  connectors/awsiot/go.mod
  engines/crypto/aws/go.mod
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/vaultkv2/go.mod
  engines/eventbus/amqp/go.mod
  engines/eventbus/aws/go.mod
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/s3/go.mod
  engines/storage/postgres/go.mod
  monolithic/go.mod
  sdk/go.mod
  shared/aws/go.mod
  shared/http/go.mod
Due: shared-aws, shared-http, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

feat: add support for Composite ML-DSA key types and algorithms in KMS and related services
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/services/kms.go
  backend/pkg/services/kms_composite_test.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine_pqc_test.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/helpers/cryptoutils_test.go
  core/pkg/models/cryptokey.go
  core/pkg/models/cryptokey_test.go
  engines/crypto/software/software.go
Due: core, backend

feat(ci): enable ARM64 support in Docker builds with QEMU and cross-compilation
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
  ci/alerts.dockerfile
  ci/authz.dockerfile
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/va.dockerfile
Due: none

feat(ci): enhance custom builder validation for arm64 KMS builds
  .github/workflows/dev-release.yaml
  ci/kms.dockerfile
Due: none

chore(ci): move GitHub Registry login step to the correct position in the workflow
  .github/workflows/dev-release.yaml
Due: none

fix(dockerfile): specify UID and GID for lamassu user creation
  ci/authz.dockerfile
Due: none

Add GitHub Actions workflow for SonarQube analysis
  .github/workflows/build.yml
Due: none

Add sonar-project.properties for SonarCloud configuration
  sonar-project.properties
Due: none

prueba de build.yml de sonarcloud
  README.md
Due: none

Add SonarQube scanning to CI workflow
  .github/workflows/ci-test.yaml
Due: none

Delete .github/workflows/build.yml
  .github/workflows/build.yml
Due: none

Remove Build step from CI workflow
  .github/workflows/ci-test.yaml
Due: none

prueba de añadir job en ci-test.yaml de sonarcloud
  README.md
Due: none

Update sonar-project.properties with project settings
  sonar-project.properties
Due: none

Enhance CI workflow with coverage reporting
  .github/workflows/ci-test.yaml
Due: none

Specify Go coverage report paths in properties
  sonar-project.properties
Due: none
