Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

feat(ca): refactor error handling in CA import and creation methods
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/ca_import_test.go
Due: backend

fix(va): skip CRL role initialization for imported CAs without private keys
  backend/pkg/services/handlers/va-handlers.go
  backend/pkg/services/handlers/va-handlers_test.go
Due: backend

fix(va): handle existing CRL roles and improve error handling for role initialization
  backend/pkg/services/handlers/va-handlers.go
  backend/pkg/services/handlers/va-handlers_test.go
  core/pkg/errs/va.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/test_suite.go
  engines/storage/postgres/utils.go
  engines/storage/postgres/vastore.go
Due: core, storage-postgres, backend

fix(va): refactor CA service to remove GetCertificateKey method and streamline certificate key resolution
  backend/cmd/va/main.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/services/certificatekey_test.go
  backend/pkg/services/crl.go
  backend/pkg/services/ocsp.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  monolithic/pkg/assembler.go
  sdk/ca.go
  sdk/ca_test.go
Due: core, sdk, backend

fix(va): enhance ImportCA to handle keys in different engines and add corresponding error handling
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/certificatekey_test.go
  core/pkg/errs/ca.go
Due: core, backend

fix(va): add validation for public key match during CA import to prevent orphaned keys
  backend/pkg/services/ca.go
  backend/pkg/services/certificatekey_test.go
Due: backend

fix(va): update comments for key identifier clarity in KMS service
  core/pkg/services/kms.go
Due: core

fix(va): implement WithIDLock method for certificateKeyCARepo to support callback execution
  backend/pkg/services/certificatekey_test.go
Due: none

fix(va): add error handling for key engine requirements in ImportCA method
  sdk/ca.go
Due: sdk

feat(kms): enhance error handling for crypto engine not found and unsupported key specs
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  core/pkg/errs/ca.go
  monolithic/pkg/storage/sqlite/engine.go
Due: core, backend

Revert "feat(kms): enhance error handling for crypto engine not found and unsupported key specs"
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  core/pkg/errs/ca.go
  monolithic/pkg/storage/sqlite/engine.go
Due: core, backend

fix(ca): map crypto engine errors to 400 on CA import
  backend/pkg/controllers/ca.go
  backend/pkg/services/kms.go
  core/pkg/errs/ca.go
Due: core, backend

fix(dmsmanager): take the DMS ID of PUT /v1/dms/:id from the URL path
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/specs/dms-manager-openapi.yaml
  connectors/awsiot/pkg/service.go
  core/pkg/resources/dmsreq.go
  core/pkg/services/dmsmanager.go
  sdk/dmsmanager.go
Due: core, sdk, backend

refactor: remove SQLite storage engine support
  .github/copilot-instructions.md
  core/pkg/config/storageengines.go
  engines/storage/postgres/kmsstorage.go
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
  monolithic/go.mod
  monolithic/pkg/storage/sqlite/connection.go
  monolithic/pkg/storage/sqlite/connection_test.go
  monolithic/pkg/storage/sqlite/engine.go
  monolithic/pkg/storage/sqlite/kms_test.go
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres

refactor(monolithic): drop dead Postgres guard for wfx
  monolithic/cmd/development/main.go
Due: none

docs(monolithic): fix -inmemory-eventbus help text
  monolithic/cmd/development/main.go
Due: none

docs(monolithic): fix in-memory eventbus startup message
  monolithic/cmd/development/main.go
Due: none

fix(dmsmanager): reject incomplete bodies in PUT /v1/dms/:id
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/specs/dms-manager-openapi.yaml
  core/pkg/resources/dmsreq.go
  core/pkg/services/dmsmanager.go
  sdk/dmsmanager.go
Due: core, sdk, backend

docs(dmsmanager): document UpdateDMSBody for PUT /v1/dms/{id}
  docs/dms-manager-openapi.yaml
Due: none

test(dmsmanager): assert creation_ts in the body is ignored on the updated DMS
  backend/pkg/assemblers/tests/dms-manager/main_test.go
Due: none

fix(dmsmanager): keep stored metadata when PUT /v1/dms/{id} omits it
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/specs/dms-manager-openapi.yaml
  core/pkg/resources/dmsreq.go
  docs/dms-manager-openapi.yaml
Due: core, backend

docs(dmsmanager): make docs/dms-manager-openapi.yaml a symlink to the backend spec
  docs/dms-manager-openapi.yaml
Due: none

refactor(dmsmanager): reuse GetDMSByID in UpdateDMS to remove duplicated lookup
  backend/pkg/services/dmsmanager.go
Due: backend

refactor: remove SQLite storage engine support (#766)
  .github/copilot-instructions.md
  core/pkg/config/storageengines.go
  engines/storage/postgres/kmsstorage.go
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
  monolithic/go.mod
  monolithic/pkg/storage/sqlite/connection.go
  monolithic/pkg/storage/sqlite/connection_test.go
  monolithic/pkg/storage/sqlite/engine.go
  monolithic/pkg/storage/sqlite/kms_test.go
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres

chore(deps): fix runc dependency version in azure shared module
  shared/azure/go.mod
Due: none

chore(deps): update go.opentelemetry.io/contrib/bridges/otellogrus to 0.19.0
  backend/go.mod
  connectors/authz/go.mod
  connectors/awsiot/go.mod
  core/go.mod
  engines/crypto/aws/go.mod
  engines/crypto/azure/go.mod
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/vaultkv2/go.mod
  engines/eventbus/amqp/go.mod
  engines/eventbus/aws/go.mod
  engines/storage/postgres/go.mod
  monolithic/go.mod
  sdk/go.mod
  shared/http/go.mod
Due: shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

chore(deps): update otel related dependencies
  backend/go.mod
  connectors/authz/go.mod
  connectors/awsiot/go.mod
  core/go.mod
  engines/crypto/aws/go.mod
  engines/crypto/azure/go.mod
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/vaultkv2/go.mod
  engines/eventbus/amqp/go.mod
  engines/eventbus/aws/go.mod
  engines/storage/postgres/go.mod
  monolithic/go.mod
  sdk/go.mod
  shared/http/go.mod
Due: shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

feat(authz): document admin-mode header bypass in OpenAPI spec and tests
  connectors/authz/pkg/specs/authz-openapi.yaml
  connectors/authz/sdk/gin-middleware/middleware_test.go
Due: none

feat(authz): rename EST route registration functions for clarity and update tests
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/est.go
  backend/pkg/routes/est_test.go
  backend/pkg/routes/remaining_contract_test.go
  connectors/authz/sdk/gin-middleware/README.md
  connectors/authz/sdk/gin-middleware/contract.go
  connectors/authz/sdk/gin-middleware/contract_test.go
Due: backend

feat(authz): rename RegisterESTRoutes to registerESTRoutes for consistency
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/est.go
  backend/pkg/routes/est_test.go
  backend/pkg/routes/remaining_contract_test.go
Due: backend

feat(authz): replace DisableJWTValidation with InsecureSkipJWTVerify for JWT handling
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/init.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/service/capabilities_integration_test.go
  connectors/authz/pkg/service/capabilities_test.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/store/matcher.go
  monolithic/cmd/development/main.go
Due: none

Refactor route registration to use sub-groups and introduce trust boundaries
  backend/pkg/routes/alerts.go
  backend/pkg/routes/authz_engine.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/ca_contract_test.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/devmanager_contract_test.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/est.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/kms_contract_test.go
  backend/pkg/routes/spec_inventory_test.go
  backend/pkg/routes/va.go
  backend/pkg/routes/va_contract_test.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/specs/authz-openapi.yaml
  connectors/authz/sdk/gin-middleware/README.md
  connectors/authz/sdk/gin-middleware/contract.go
  connectors/authz/sdk/gin-middleware/contract_test.go
  docs/dms-manager-openapi.yaml
Due: backend

feat(authz): Implement Gin middleware for authorization contracts
  backend/pkg/helpers/webhook-client/client.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/ca_contract_test.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/devmanager_contract_test.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/est.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/kms_contract_test.go
  backend/pkg/routes/remaining_contract_test.go
  backend/pkg/routes/spec_inventory_test.go
  backend/pkg/routes/va.go
  backend/pkg/routes/va_contract_test.go
  backend/pkg/services/webhook_contract_test.go
  backend/pkg/specs/alerts-openapi.yaml
  backend/pkg/specs/ca-openapi.yaml
  backend/pkg/specs/device-manager-openapi.yaml
  backend/pkg/specs/dms-manager-openapi.yaml
  backend/pkg/specs/kms-openapi.yaml
  backend/pkg/specs/va-openapi.yaml
  connectors/authz/cmd/preload/lamassu.77fb978b-3c25-4d2f-8402-d02541b9a708.json
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/api/routes_contract_test.go
  connectors/authz/pkg/engine/schema.go
  connectors/authz/pkg/specs/authz-openapi.yaml
  connectors/authz/pki.json
  connectors/authz/schemas.go
  connectors/authz/sdk/gin-middleware/README.md
  connectors/authz/sdk/gin-middleware/contract.go
  connectors/authz/sdk/gin-middleware/contract_test.go
  connectors/authz/sdk/gin-middleware/middleware.go
  docs/dms-manager-openapi.yaml
Due: backend

feat(authz): rename registerESTRoutes to RegisterESTRoutes for consistency
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/est.go
  backend/pkg/routes/est_test.go
  backend/pkg/routes/remaining_contract_test.go
Due: backend

feat(authz): update HTTP method handling in routes and OpenAPI spec
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/api/routes_contract_test.go
  connectors/authz/pkg/specs/authz-openapi.yaml
  connectors/authz/sdk/gin-middleware/contract.go
  connectors/authz/sdk/gin-middleware/contract_test.go
Due: none

feat(authz): add test for rejecting duplicate parameter bindings in composite keys
  connectors/authz/sdk/gin-middleware/contract.go
  connectors/authz/sdk/gin-middleware/contract_test.go
Due: none

fix(kms): correct endpoint for updating key aliases in KMS client
  sdk/kms.go
Due: sdk

feat(authz): update HTTP method handling in routes and OpenAPI spec
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/init.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/store/matcher.go
  connectors/authz/sdk/gin-middleware/README.md
  monolithic/cmd/development/main.go
Due: none
