Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

feat(authz): enhance context handling for authentication materials and ensure context propagation in GormPrincipalStore methods
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/store/gorm.go
Due: none

feat(authz): propagate matched principals in context and enhance audit logging
  backend/pkg/middlewares/audit/utils.go
  connectors/authz/sdk/gin-middleware/middleware.go
  connectors/authz/sdk/gin-middleware/middleware_test.go
  core/context.go
  core/pkg/helpers/events_test.go
  monolithic/pkg/assembler.go
Due: core, backend

feat(authz): update certificate authorization checks to use custom field mapping for serial numbers
  backend/pkg/routes/ca.go
Due: backend

feat: unify context key type for client certificate and JWT extractors
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
Due: backend

Enhance logging and HTTP client configuration
  backend/go.mod
  backend/pkg/assemblers/device-manager.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/kms.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  backend/pkg/routes/devmanager.go
  core/pkg/resources/query.go
  docs/RFC-004-DynamicDeviceGroups.md
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/sampledata/generator.go
Due: core, storage-postgres, backend

Implement feature X to enhance user experience and fix bug Y in module Z
  connectors/authz/docs/architecture.html
Due: none

feat(authz): add IoT authorization schemas, policies, and example migrations
  .github/workflows/ci-test.yaml
  connectors/authz/examples/iot/migrations.sql
  connectors/authz/examples/iot/policies.json
  connectors/authz/examples/iot/schemas.json
Due: none

feat: enhance authorization integration in device manager and PostgreSQL storage
  backend/pkg/controllers/utils.go
  backend/pkg/routes/devmanager.go
  engines/storage/postgres/utils.go
Due: storage-postgres, backend

Refactor authorization engine to use context and improve logging
  connectors/authz/cmd/main.go
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/authz/capabilities.go
  connectors/authz/pkg/authz/capabilities_integration_test.go
  connectors/authz/pkg/authz/capabilities_test.go
  connectors/authz/pkg/authz/engine.go
  connectors/authz/pkg/authz/engine_test.go
  connectors/authz/pkg/authz/service.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/config/server.go
  connectors/authz/pkg/core/engine.go
  connectors/authz/sdk/gin-middleware/middleware.go
  connectors/authz/sdk/gin-middleware/middleware_test.go
  connectors/authz/sdk/remote_engine.go
Due: none

feat(authz): rename auth type case from "x509" to "client_certificate" for clarity
  connectors/authz/sdk/gin-middleware/middleware.go
Due: none

Refactor authz service configuration and introduce audit middleware
  connectors/authz/cmd/main.go
  connectors/authz/go.mod
  connectors/authz/go.sum
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/gorm_logger.go
  connectors/authz/pkg/api/log_formatter.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/middlewares/audit/policy.go
  connectors/authz/pkg/middlewares/audit/principal.go
  connectors/authz/pkg/middlewares/eventpub/policy.go
  connectors/authz/pkg/middlewares/eventpub/principal.go
  connectors/authz/pkg/models/events.go
  connectors/authz/pkg/service/capabilities.go
  connectors/authz/pkg/service/interfaces.go
  connectors/authz/pkg/service/principal.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: none

feat(authz): enrich context with authentication details and improve logging
  backend/pkg/controllers/utils_test.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  connectors/authz/docs/architecture.html
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/sdk/sdk.go
  connectors/authz/sdk/sdk_test.go
  core/pkg/helpers/logger.go
Due: core, backend

feat(authz): enhance authorization logging with detailed reasons for decisions
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/service/authz.go
Due: none

feat(authz): update buildAuthzConfig to include event bus parameters for enhanced event handling
  monolithic/cmd/development/main.go
Due: none

feat(authz): enhance authorization checks and integrate new schemas for improved security
  backend/pkg/routes/devmanager.go
  connectors/authz/authz.json
  connectors/authz/config.yaml
  connectors/authz/sdk/gin-middleware/middleware.go
  docs/alerts-openapi.yaml
  docs/ca-openapi.yaml
  docs/device-manager-openapi.yaml
  docs/dms-manager-openapi.yaml
  docs/kms-openapi.yaml
  docs/va-openapi.yaml
  monolithic/cmd/development/main.go
Due: backend

feat: implement OrderedJSONFormatter for stable log output and enable debug logging in AuthzConfig
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/log_formatter.go
  monolithic/pkg/assembler.go
Due: none

feat(authz): enhance PrincipalManager with JWT support and update schema paths
  ci/authz.dockerfile
  connectors/authz/config.yaml
  connectors/authz/go.mod
  connectors/authz/go.sum
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/engine/filter_test.go
  connectors/authz/pkg/service/capabilities_integration_test.go
  connectors/authz/pkg/service/capabilities_test.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/store/matcher.go
  connectors/authz/pki.json
  monolithic/cmd/development/main.go
Due: none

feat(authz): update JSON field names to snake_case in schema definitions
  connectors/authz/examples/iot/schemas.json
  connectors/authz/pkg/authz/testdata/test-schema.json
  connectors/authz/pkg/engine/schema.go
  connectors/authz/pkg/engine/schema_test.go
  connectors/authz/pkg/engine/testdata/test-schema.json
  connectors/authz/pkg/service/testdata/test-schema.json
Due: none

feat(authz): update WFX API paths and enhance ext_authz controller with header-based credential handling
  connectors/authz/examples/wfx/wfx.json
  connectors/authz/pkg/api/ext_authz_controller.go
  connectors/authz/pkg/api/ext_authz_controller_test.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/engine/http_schema_test.go
Due: none

feat(authz): add WFX API route definitions and update Dockerfile to include wfx.json
  ci/authz.dockerfile
  connectors/authz/wfx.json
Due: none

feat(authz): enhance HTTP authorization with subject-aware constraints
  connectors/authz/cmd/preload/lamassu.6ff9becb-5628-4c45-a7d7-687945445d35.json
  connectors/authz/cmd/preload/lamassu.d20ad425-6d0c-4fb7-8a96-7ad729774628.json
  connectors/authz/cmd/preload/lamassu.ef6b9203-6702-4ace-ae99-2bed32c5b18d.json
  connectors/authz/docs/logging.md
  connectors/authz/docs/spec.md
  connectors/authz/examples/wfx/wfx.json
  connectors/authz/pkg/api/ext_authz_controller.go
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/engine/http_schema.go
  connectors/authz/pkg/engine/http_schema_test.go
  connectors/authz/pkg/engine/ports.go
  connectors/authz/pkg/service/capabilities_integration_test.go
  connectors/authz/pkg/service/identity.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/store/matcher.go
  connectors/authz/wfx.json
Due: none

feat(authz): add new Job Manager configurations for Observer, Device Client, and Operator roles with expanded HTTP actions
  connectors/authz/cmd/preload/lamassu.646f5f34-8095-4f63-9727-1876ed6aa679.json
  connectors/authz/cmd/preload/lamassu.6ff9becb-5628-4c45-a7d7-687945445d35.json
  connectors/authz/cmd/preload/lamassu.70ae6186-15c5-422d-aed2-2edf372759a4.json
  connectors/authz/cmd/preload/lamassu.7df018c1-3140-4a35-9067-2e7d6cec3ed2.json
  connectors/authz/cmd/preload/lamassu.cecf72c8-5745-40df-bc42-2a5e681cfa58.json
Due: none

feat(authz): enhance ext_authz controller to support original URL handling and logging
  connectors/authz/pkg/api/ext_authz_controller.go
  connectors/authz/pkg/api/ext_authz_controller_test.go
  connectors/authz/pkg/api/routes.go
Due: none

feat(authz): enhance logging in ext_authz controller with detailed decision metrics
  connectors/authz/pkg/api/ext_authz_controller.go
  connectors/authz/pkg/api/ext_authz_controller_test.go
Due: none

feat(authz): add Device SBI and Mgmt NBI Job Manager configurations with updated HTTP actions and routes
  connectors/authz/cmd/preload/lamassu.4cb612a7-be35-474a-a092-94582a7fde0e.json
  connectors/authz/cmd/preload/lamassu.646f5f34-8095-4f63-9727-1876ed6aa679.json
  connectors/authz/cmd/preload/lamassu.70ae6186-15c5-422d-aed2-2edf372759a4.json
  connectors/authz/cmd/preload/lamassu.7df018c1-3140-4a35-9067-2e7d6cec3ed2.json
  connectors/authz/cmd/preload/lamassu.cecf72c8-5745-40df-bc42-2a5e681cfa58.json
  connectors/authz/cmd/preload/lamassu.d20ad425-6d0c-4fb7-8a96-7ad729774628.json
  connectors/authz/cmd/preload/lamassu.ef6b9203-6702-4ace-ae99-2bed32c5b18d.json
  connectors/authz/examples/wfx/wfx.json
  connectors/authz/pkg/engine/http_schema_test.go
  connectors/authz/wfx.json
Due: none

feat(authz): improve error handling in authorization graph and refactor FilterQuery function
  backend/pkg/assemblers/device-manager.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/kms.go
  backend/pkg/controllers/sse_hub.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/engine/filter.go
Due: backend

Feat: Implement configurable log format across multiple services
  backend/cmd/alerts/main.go
  backend/cmd/ca-to-kms-migration/main.go
  backend/cmd/ca/main.go
  backend/cmd/device-manager/main.go
  backend/cmd/dms-manager/main.go
  backend/cmd/kms/main.go
  backend/cmd/va/main.go
  connectors/awsiot/cmd/main.go
  core/pkg/config/logging.go
  core/pkg/helpers/logger.go
  monolithic/pkg/assembler.go
  sdk/otel.go
Due: core, sdk, backend

feat(authz): implement job context initialization and add auth context span processor
  backend/pkg/jobs/ca-crypto-monitor-job.go
  backend/pkg/jobs/va-crl-job.go
  core/pkg/helpers/logger.go
  sdk/otel.go
  sdk/spanprocessor.go
Due: core, sdk, backend

feat(authz): inject admin-mode header when authorization service is disabled
  monolithic/pkg/assembler.go
Due: none

feat(authz): change GORM logger mode to silent in RunPostgresWithMigration
  connectors/authz/pkg/testutil/postgres.go
Due: none

feat(authz): refactor authorization engine initialization and improve unsubscribe logic
  backend/pkg/controllers/sse_hub.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/authz_engine.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
Due: backend

feat(authz): introduce mustNewFilterGenerator helper for filter generator initialization
  connectors/authz/pkg/engine/control_test.go
  connectors/authz/pkg/engine/filter_test.go
Due: none

feat(authz): refactor filter query logic to use centralized controller method and remove unused utils
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/api/utils.go
Due: none

feat(authz): refactor JWT handling and error responses for improved clarity and maintainability
  backend/go.mod
  backend/pkg/helpers/jwt.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
  connectors/authz/pkg/api/api_errors.go
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/service/identity.go
Due: backend

Refactor Postgres storage layer to use generic DBQuerier
  backend/pkg/storage/builder/postgres_registrar.go
  connectors/authz/go.mod
  connectors/authz/go.sum
  connectors/authz/pkg/store/gorm.go
  connectors/authz/pkg/store/policy_gorm.go
  connectors/authz/pkg/store/querier.go
  engines/storage/postgres/castore.go
  engines/storage/postgres/certstore.go
  engines/storage/postgres/device_events.go
  engines/storage/postgres/device_groups.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/dmsmanager.go
  engines/storage/postgres/eventstore.go
  engines/storage/postgres/issuance_profile.go
  engines/storage/postgres/kmsstorage.go
  engines/storage/postgres/subscriptionstore.go
  engines/storage/postgres/utils.go
  engines/storage/postgres/vastore.go
Due: storage-postgres, backend

feat(authz): refactor authorization engine and filter generation for improved clarity and maintainability
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/engine/filter.go
  connectors/authz/pkg/engine/graph.go
Due: none

feat(authz): add comprehensive tests for column filter security and authorization engine
  connectors/authz/pkg/engine/column_filter_security_test.go
  connectors/authz/pkg/engine/engine_critical_path_test.go
Due: none

feat(authz): add unit tests for HTTP route matching and constraint validation
  connectors/authz/pkg/engine/http_route_match_test.go
Due: none

feat: update service assembly functions to include service version in OpenTelemetry SDK initialization
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/jobs/ca-crypto-monitor-job.go
  backend/pkg/jobs/va-crl-job.go
  connectors/authz/pkg/api/assembler.go
  core/pkg/helpers/logger.go
  monolithic/pkg/assembler.go
  sdk/otel.go
Due: core, sdk, backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
