Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

fix: explicitly return nil rather than returning err
  backend/pkg/services/dmsmanager.go
Due: backend

bumping go version 1.24
  backend/go.mod
  connectors/awsiot/go.mod
  core/go.mod
  engines/crypto/aws/go.mod
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/vaultkv2/go.mod
  engines/eventbus/amqp/go.mod
  engines/eventbus/aws/go.mod
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/s3/go.mod
  engines/storage/postgres/go.mod
  go.work
  monolithic/go.mod
  sdk/go.mod
  shared/aws/go.mod
  shared/http/go.mod
  shared/subsystems/go.mod
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

fix fmt prints
  shared/http/pkg/utils/gindump/request.go
Due: shared-http

Update backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/dms-manager_test.go
Due: none

fixed linter issues with printf
  shared/http/pkg/utils/gindump/parse.go
  shared/http/pkg/utils/gindump/request.go
  shared/http/pkg/utils/gindump/response.go
  shared/http/pkg/utils/gindump/response_writter.go
Due: shared-http

feat: DMS Manager: add DMS delete operation (#252)
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/models/events.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/mock/dms_mock.go
  engines/storage/postgres/dmsmanager.go
  sdk/dmsmanager.go
Due: core, sdk, storage-postgres, backend

fixed linter issues with printf
  shared/http/pkg/helpers/httpclientbuilder.go
Due: shared-http

fix rsa min key size to addapt to 1.24
  backend/pkg/helpers/keystrength_test.go
Due: none

fix: DMS Manager: ReEnroll - Add a check to validate the presence of a CommonName in the CSR (#251)
  backend/pkg/services/dmsmanager.go
Due: backend

bump go version in dockerfiles and gh ci
  .github/workflows/ci-test.yaml
  .github/workflows/main-release.yaml
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
  go.work.sum
Due: none

Potential fix for code scanning alert no. 277: Workflow does not contain permissions
  .github/workflows/main-release.yaml
Due: none

chore: bumping go version 1.24 (#255)
  .github/workflows/ci-test.yaml
  .github/workflows/main-release.yaml
  backend/go.mod
  backend/pkg/helpers/keystrength_test.go
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
  connectors/awsiot/go.mod
  core/go.mod
  engines/crypto/aws/go.mod
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/vaultkv2/go.mod
  engines/eventbus/amqp/go.mod
  engines/eventbus/aws/go.mod
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/s3/go.mod
  engines/storage/postgres/go.mod
  go.work
  go.work.sum
  monolithic/go.mod
  sdk/go.mod
  shared/aws/go.mod
  shared/http/go.mod
  shared/http/pkg/helpers/httpclientbuilder.go
  shared/http/pkg/utils/gindump/parse.go
  shared/http/pkg/utils/gindump/request.go
  shared/http/pkg/utils/gindump/response.go
  shared/http/pkg/utils/gindump/response_writter.go
  shared/subsystems/go.mod
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

Bump x/crypto to v0.38.0
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

Bump x/crypto to v0.38.0 (#257)
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

Bump golang-jwt to 4.5.2
  backend/go.mod
  backend/go.sum
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
  go.work.sum
Due: backend

chore: Bump golang-jwt to 4.5.2 (#258)
  backend/go.mod
  backend/go.sum
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
  go.work.sum
Due: backend

bump ory/dockertest 3.12.0
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

chore: bump ory/dockertest 3.12.0 (#259)
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

bump aws sdk 1.36.3
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  go.work.sum
  shared/aws/go.mod
  shared/aws/go.sum
Due: shared-aws, core, crypto-aws, eventbus-aws, backend

chore: bump aws sdk 1.36.3 (#260)
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  go.work.sum
  shared/aws/go.mod
  shared/aws/go.sum
Due: shared-aws, core, crypto-aws, eventbus-aws, backend

bump: update go-playground/validator to v10.26.0
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  shared/http/go.mod
  shared/http/go.sum
Due: shared-http, core, crypto-vaultkv2, backend

chore: bump go-playground/validator to v10.26.0 (#261)
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  shared/http/go.mod
  shared/http/go.sum
Due: shared-http, core, crypto-vaultkv2, backend

bump x/net to 0.38.0
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  shared/http/go.mod
  shared/http/go.sum
Due: shared-http, core, crypto-vaultkv2, backend

chore: bump x/net to 0.38.0 (#262)
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  shared/http/go.mod
  shared/http/go.sum
Due: shared-http, core, crypto-vaultkv2, backend

bump: go-jose to 4.0.5
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  go.work.sum
Due: crypto-vaultkv2

bump: go-jose to 4.0.5 (#263)
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  go.work.sum
Due: crypto-vaultkv2

bump backend direct deps
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  shared/http/go.mod
  shared/http/go.sum
Due: shared-http, core, eventbus-amqp, eventbus-aws, backend

bump: backend direct deps (#264)
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  shared/http/go.mod
  shared/http/go.sum
Due: shared-http, core, eventbus-amqp, eventbus-aws, backend

fix: CA: fix filtering CAs by CN
  engines/storage/postgres/castore.go
Due: storage-postgres

fix: CA: discard aws reserved kms aliases
  engines/crypto/aws/awskms.go
Due: crypto-aws

perf: improve performance by only joining when CN filter is present
  engines/storage/postgres/castore.go
Due: storage-postgres

fix: CA: discard aws reserved kms aliases (#266)
  engines/crypto/aws/awskms.go
Due: crypto-aws

fix: CA: fix filtering CAs by CN (#265)
  engines/storage/postgres/castore.go
Due: storage-postgres

Update CHANGELOG and RELEASE-NOTES
  CHANGELOG.md
  RELEASE-NOTES.md
Due: none

feat: Key Management System
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/kms_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/config/ca.go
  backend/pkg/config/kms.go
  backend/pkg/controllers/kms.go
  backend/pkg/middlewares/eventpub/kms.go
  backend/pkg/routes/kms.go
  backend/pkg/services/kms.go
  core/pkg/errs/kms.go
  core/pkg/models/events.go
  core/pkg/models/kms.go
  core/pkg/models/serviceinfo.go
  core/pkg/resources/kmsreq.go
  core/pkg/services/kms.go
  monolithic/pkg/assembler.go
  sdk/kms.go
Due: core, sdk, backend

feat: KMS - New signing algorithms added.
  backend/pkg/services/kms.go
Due: backend

feat: add verify_csr_signature to enrollment settings
  core/pkg/models/dms.go
Due: core

feat: check CSR signature when setting is enabled
  backend/pkg/services/dmsmanager.go
Due: backend

test: set VerifyCSRSignature to true in existing tests
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/test/e2e/usecase-1.go
Due: backend

test: add test cases to enroll and reenroll operations
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/services/dmsmanager.go
Due: backend
