Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

test(cmp): add --per-suite-isolated mode to recover passable tests
  scripts/run-cmp-test-suite.sh
Due: none

test(cmp): add simple test runner against a running monolithic
  scripts/cmp-tests.sh
Due: none

feat: enhance CMP state reporting and add WFX support in monolithic setup
  backend/pkg/controllers/cmp.go
  monolithic/cmd/development/main.go
Due: backend

feat: implement CMP RA protocol with custom ASN.1 types and in-memory transaction store
  docs/RFC009-cmp.md
Due: none

Device events v2 (#405)
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/alerts/main_test.go
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/config/devicemanger.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/sse_hub.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/alerts.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/handlers/device-sse-handlers.go
  connectors/awsiot/pkg/service.go
  core/pkg/engines/storage/alerts.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/models/device.go
  core/pkg/models/device_test.go
  core/pkg/models/events.go
  core/pkg/resources/caresp.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/resources/fields.go
  core/pkg/services/alerts.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  docs/alerts-openapi.yaml
  docs/device-manager-openapi.yaml
  engines/storage/postgres/device_events.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/eventstore.go
  engines/storage/postgres/migrations/devicemanager/20260317120000_create_device_events.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
  monolithic/pkg/storage/sqlite/schema.go
  sdk/alerts.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

feat: refactor CMP transaction management to support enhanced metadata and state transitions
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/dmsmanager.go
  core/pkg/engines/storage/dmsmanager.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/migrations/dmsmanager/20260511120000_cmp_transactions.sql
  engines/storage/postgres/migrations/dmsmanager/20260518120000_cmp_transactions_async.sql
  engines/storage/postgres/migrations/dmsmanager/20260519120000_cmp_transactions_persistence.sql
  engines/storage/postgres/migrations/dmsmanager/20260521120000_cmp_transactions_request_metadata.sql
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres, backend

feat: enhance CMP transaction management with WFX job integration
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/integrations/wfx/cmp.go
  backend/pkg/jobs/cmp-confirmation-monitor-job.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/resources/cmpresp.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/migrations/dmsmanager/20260521120000_cmp_transactions_request_metadata.sql
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres, backend

feat: Enhance CMP handling by including signer cert in extraCerts and improving EE certificate parsing
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_protection.go
Due: backend

feat(cmp): enhance ASN.1 decoding for ExtraCerts and improve protection verification logic
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_protection.go
Due: backend

feat: add WFX configuration to MonolithicConfig and update DMS Manager service
  go.work.sum
Due: none

fix
  backend/pkg/controllers/cmp_handler_test.go
Due: none

feat(cmp): implement cert-request-level rejection handling and improve RFC compliance
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_enrollment.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_rfc_compliance_test.go
Due: backend

feat: add CMP message sample files and parsing tests
  backend/pkg/controllers/cmp_message_samples/0001.ip
  backend/pkg/controllers/cmp_message_samples/0002.cr
  backend/pkg/controllers/cmp_parse_test.go
Due: backend

fix(cmp): enforce RFC 9483 senderKID, reject EE raVerified, precise failInfo
  .github/patches/cmp-test-suite/lamassu.robot
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_enrollment.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_validator.go
Due: backend

feat: add SelectIncludingExpired method to inMemoryCMPStore for transaction retrieval
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_handler_test.go
Due: backend

feat: refactor CMP state management and update workflow transitions
  backend/pkg/controllers/cmp.go
  backend/pkg/integrations/wfx/cmp.go
  backend/pkg/integrations/wfx/cmp_test.go
  scripts/cmp-ir.sh
Due: backend

Fix: PKCS11 initialization & refactor KMS APIs to Propagate Context Across Crypto Operations (#665)
  .github/workflows/ci-test.yaml
  backend/pkg/assemblers/kms.go
  backend/pkg/helpers/x509utils.go
  backend/pkg/helpers/x509utils_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/services/kms.go
  backend/pkg/x509engines/x509engine.go
  ci/kms.dockerfile
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/pkcs11/docker/nethsm_emulator.go
  engines/crypto/pkcs11/docker/softhsmv2_emulator.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/pkcs11/pkcs11_test.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/storage/postgres/migrations/ca/20250915090500_update_ski_aki.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, backend

feat(cmp): add compatibility patches for CMP test suite and enhance CI workflow
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  .github/workflows/ci-test.yaml
Due: none

chore: migrate dockertest from v3 to v4
  shared/subsystems/go.mod
  shared/subsystems/go.sum
  shared/subsystems/pkg/test/dockerrunner/docker.go
Due: none

chore: migrate all services to use dockertest v4 syntax
  engines/crypto/pkcs11/docker/emulator.go
  engines/crypto/pkcs11/go.sum
  engines/crypto/vaultkv2/docker/vaultkv2.go
  engines/eventbus/amqp/go.sum
  engines/eventbus/amqp/test/rabbitmq.go
  engines/storage/postgres/go.sum
  engines/storage/postgres/test/postgres.go
  monolithic/cmd/development/main.go
  monolithic/go.sum
  shared/aws/docker-emulator.go
  shared/aws/go.sum
Due: shared-aws, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp

chore: migrates nethsm and softhsmv2 to dockertest v4
  engines/crypto/pkcs11/docker/nethsm_emulator.go
  engines/crypto/pkcs11/docker/softhsmv2_emulator.go
Due: crypto-pkcs11

Add OpenAPI specifications for KMS and VA services; refactor OpenAPI config usage
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/specs/alerts-openapi.yaml
  backend/pkg/specs/ca-openapi.yaml
  backend/pkg/specs/device-manager-openapi.yaml
  backend/pkg/specs/dms-manager-openapi.yaml
  backend/pkg/specs/embed.go
  backend/pkg/specs/kms-openapi.yaml
  backend/pkg/specs/va-openapi.yaml
  core/pkg/config/openapi.go
  monolithic/pkg/assembler.go
Due: core, backend

chore: remove unused docs-dir flag from main function
  monolithic/cmd/development/main.go
Due: none

chore: updates wfx to dockertest v4
  monolithic/cmd/development/main.go
Due: none

chore: migrates nethsm and softhsmv2 to dockertest v4
  engines/crypto/pkcs11/docker/nethsm_emulator.go
Due: crypto-pkcs11

chore: migrate all services to use dockertest v4 syntax
  engines/crypto/pkcs11/docker/softhsmv2_emulator.go
  engines/crypto/pkcs11/go.sum
  engines/crypto/vaultkv2/docker/vaultkv2.go
  engines/eventbus/amqp/go.sum
  engines/eventbus/amqp/test/rabbitmq.go
  engines/storage/postgres/go.sum
  engines/storage/postgres/test/postgres.go
  monolithic/cmd/development/main.go
  monolithic/go.sum
  shared/aws/docker-emulator.go
  shared/aws/go.sum
Due: shared-aws, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp

test: add unit tests for InjectVersionIntoOpenAPI function
  backend/pkg/routes/utils_test.go
Due: none

chore: remove commented-out warning for empty OpenAPI spec and unused docs-dir field
  backend/pkg/routes/utils.go
  monolithic/pkg/config.go
Due: backend

feat: add OpenAPI spec handling (#373)
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/ca.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/dms.go
  backend/pkg/config/kms.go
  backend/pkg/config/va.go
  backend/pkg/routes/utils.go
  backend/pkg/routes/utils_test.go
  backend/pkg/specs/alerts-openapi.yaml
  backend/pkg/specs/ca-openapi.yaml
  backend/pkg/specs/device-manager-openapi.yaml
  backend/pkg/specs/dms-manager-openapi.yaml
  backend/pkg/specs/embed.go
  backend/pkg/specs/kms-openapi.yaml
  backend/pkg/specs/va-openapi.yaml
  core/pkg/config/openapi.go
  core/pkg/models/alerts.go
  core/pkg/resources/careq.go
  monolithic/pkg/assembler.go
Due: core, backend

chore: disables containers reuse by default in dockertest v4
  shared/subsystems/pkg/test/dockerrunner/docker.go
Due: none

feat: Refactor authorization service and enhance OpenAPI integration
  backend/pkg/config/clients.go
  backend/pkg/config/va.go
  backend/pkg/specs/alerts-openapi.yaml
  backend/pkg/specs/ca-openapi.yaml
  backend/pkg/specs/device-manager-openapi.yaml
  backend/pkg/specs/dms-manager-openapi.yaml
  backend/pkg/specs/kms-openapi.yaml
  backend/pkg/specs/va-openapi.yaml
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/specs/authz-openapi.yaml
  connectors/authz/pkg/specs/embed.go
  docs/alerts-openapi.yaml
  docs/ca-openapi.yaml
  docs/device-manager-openapi.yaml
  docs/dms-manager-openapi.yaml
  docs/kms-openapi.yaml
  docs/va-openapi.yaml
  monolithic/pkg/assembler.go
Due: backend

chore: adds dockertest v4 to go.mod
  monolithic/go.mod
  monolithic/go.sum
Due: none

chore: adds restartPolicy and autoRemove confs to docker run
  shared/subsystems/pkg/test/dockerrunner/docker.go
Due: none

chore: fixes withhostconfig append
  shared/subsystems/pkg/test/dockerrunner/docker.go
Due: none

feat(authz): update OpenAPI paths and enhance authorization service assembly
  connectors/authz/pkg/specs/authz-openapi.yaml
  monolithic/pkg/assembler.go
Due: none

fix(core): add GetCMPTransactionStorage to MockStorageEngine
  core/pkg/engines/storage/engine_test.go
Due: none

chore: migrates from localstack in floci image in AWS emulator
  shared/aws/docker-emulator.go
Due: shared-aws

chore: renames function to floci
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager_test.go
  engines/crypto/aws/subsystem/subsystem.go
  shared/aws/docker-emulator.go
Due: shared-aws, crypto-aws

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
