Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

feat(authz): add endpoint for creating certificates with authorization checks
  backend/pkg/routes/ca.go
Due: backend

feat(authz): refactor schema handling and improve query injection logic
  connectors/authz/pkg/api/dto/principal_dto.go
  connectors/authz/pkg/engine/filter.go
  connectors/authz/pkg/engine/graph.go
  connectors/authz/pkg/engine/schema.go
  connectors/authz/sdk/gorm/plugin.go
Due: none

feat(authz): remove local authz module replacement and dependency
  backend/go.mod
Due: backend

feat(authz): implement bootstrap functionality for initial principal and policy grants
  connectors/authz/cmd/preload/lamassu.03c50968-8b68-46b9-832b-37536816a045.json
  connectors/authz/cmd/preload/lamassu.75519529-be16-4f18-bc12-8e7745902e4e.json
  connectors/authz/cmd/preload/lamassu.77fb978b-3c25-4d2f-8402-d02541b9a708.json
  connectors/authz/cmd/preload/lamassu.7ec5d897-3a3f-43d1-b67a-dd220719572b.json
  connectors/authz/cmd/preload/lamassu.a66e2570-3117-45b0-8e90-e4a9f0610b43.json
  connectors/authz/cmd/preload/lamassu.a6811b60-5f89-4ce7-badb-78ea234794d3.json
  connectors/authz/cmd/preload/lamassu.a97075a0-93c2-4ff3-b91f-d28d58cb093d.json
  connectors/authz/cmd/preload/lamassu.c6e330e2-752d-4ab1-8182-7a8d9bb1c85c.json
  connectors/authz/cmd/preload/lamassu.d5dea139-a704-432e-9870-973d56fffb90.json
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/bootstrap.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/service/policy.go
  connectors/authz/sdk/gin-middleware/middleware.go
  monolithic/cmd/development/main.go
Due: none

feat: enhance HTTP client configuration with custom headers for KMS and sample data population
  monolithic/pkg/assembler.go
  monolithic/pkg/sampledata/generator.go
Due: none

feat(authz): add new schema definitions for authorization entities and actions
  connectors/authz/schemas.pki-v2.json
Due: none

feat: update authorization middleware parameters for CA and device manager routes
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
Due: backend

Refactor PostgreSQL storage to support schemas instead of databases
  engines/storage/postgres/cmd/goose-lamassu/main.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrate.go
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/migrations_test/utils.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/test/migrate_test.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/postgres_test.go
  engines/storage/postgres/test/test_suite.go
  engines/storage/postgres/utils.go
Due: storage-postgres

fix(authz): update Codecov action to v7.0.0 and improve client certificate extraction tests
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate_test.go
Due: backend

feat(authz): add context parameter to principal manager methods for improved context handling
  connectors/authz/pkg/service/capabilities_integration_test.go
  connectors/authz/pkg/service/capabilities_test.go
  connectors/authz/pkg/service/principal_manager_test.go
Due: none

feat(authz): standardize field names to snake_case in policy and schema definitions
  connectors/authz/examples/iot/policies.json
  connectors/authz/pkg/engine/control_test.go
  connectors/authz/pkg/engine/engine_test.go
  connectors/authz/pkg/engine/filter_test.go
  connectors/authz/pkg/engine/graph_test.go
  connectors/authz/pkg/engine/policy_test.go
  connectors/authz/pkg/engine/testdata/schemas.tests.json
  connectors/authz/pkg/engine/testdata/test-policy-control.json
  connectors/authz/pkg/service/testdata/init.sql
  connectors/authz/schemas.pki-v2.json
  monolithic/pkg/assembler.go
Due: none

feat(authz): update database connection logic to use configurable database name
  connectors/authz/pkg/api/assembler.go
Due: none

feat(authz): integrate helper logger for improved error logging in capabilities and middleware
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/sdk/gin-middleware/middleware.go
Due: none

refactor(authz): remove unnecessary string manipulation in MatchAndGetFilter
  connectors/authz/pkg/service/authz.go
Due: none

feat: integrate authorization service and update API routes for authz
  backend/pkg/routes/alerts.go
  connectors/authz/cmd/main.go
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/sdk/sdk.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: backend

Enhance HTTP Client Configuration with Custom Headers
  backend/go.mod
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  go.work.sum
  monolithic/pkg/assembler.go
Due: backend

feat: add HTTP schema introspection and ext_authz support
  connectors/authz/config.yaml
  connectors/authz/examples/wfx/policies.json
  connectors/authz/examples/wfx/wfx.json
  connectors/authz/go.mod
  connectors/authz/go.sum
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/dto/ext_authz_dto.go
  connectors/authz/pkg/api/dto/policy_dto.go
  connectors/authz/pkg/api/ext_authz_controller.go
  connectors/authz/pkg/api/http_schema_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/api/schema_controller.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/engine/http_schema.go
  connectors/authz/pkg/engine/policy.go
  connectors/authz/pkg/models/policy.go
  connectors/authz/pkg/service/capabilities_integration_test.go
  connectors/authz/pkg/service/capabilities_test.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/service/test_helpers_test.go
  connectors/authz/pkg/store/gorm.go
  connectors/authz/pkg/store/gorm_test.go
  connectors/authz/pkg/store/migrate.go
  connectors/authz/pkg/store/migrations/00000000000001_create_tables.sql
  connectors/authz/pkg/store/migrations/20250619000001_add_http_rules.sql
  connectors/authz/pkg/store/policy_gorm.go
  connectors/authz/pkg/testutil/postgres.go
  monolithic/cmd/development/main.go
Due: none

chore: update cloud.google.com/go/storage to v1.59.2
  backend/go.mod
  backend/go.sum
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/devmanager.go
  connectors/authz/go.mod
  connectors/authz/go.sum
  core/go.mod
  core/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
Due: core, backend

Refactor policy management to use GORM for persistence
  connectors/authz/cmd/main.go
  connectors/authz/config.yaml
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/dto/policy_dto.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/models/policy.go
  connectors/authz/pkg/service/capabilities_integration_test.go
  connectors/authz/pkg/service/capabilities_test.go
  connectors/authz/pkg/service/policy.go
  connectors/authz/pkg/service/policy_manager_test.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/store/policy_gorm.go
  connectors/authz/pkg/store/policy_mem.go
  connectors/authz/pkg/store/policy_store.go
  connectors/authz/pkg/store/querier.go
  connectors/authz/schemas.pki-v2.json
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/test/postgres.go
  monolithic/cmd/development/main.go
Due: storage-postgres

fix: update FilterQuery calls in tests to use nil context
  backend/pkg/controllers/utils_test.go
Due: none

feat: refactor authorization middleware to use simplified version and update key URI parsing
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  core/pkg/models/kms.go
Due: core, backend

feat: enhance identity extraction with additional context for JWT and client certificates
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
  core/context.go
Due: core, backend

feat: update DTO field names to snake_case and implement filtering for principals and policies
  connectors/authz/pkg/api/dto/authz_dto.go
  connectors/authz/pkg/api/dto/common_dto.go
  connectors/authz/pkg/api/dto/policy_dto.go
  connectors/authz/pkg/api/dto/principal_dto.go
  connectors/authz/pkg/api/fields.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/api/utils.go
  connectors/authz/pkg/engine/ports.go
  connectors/authz/pkg/engine/schema.go
  connectors/authz/pkg/models/policy.go
  connectors/authz/pkg/models/principal.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/store/gorm.go
  connectors/authz/pkg/store/gorm_test.go
  connectors/authz/sdk/sdk.go
Due: none

feat(authz): enhance context handling in contextSourceRoundTripper for improved request propagation
  connectors/authz/sdk/sdk.go
Due: none

fix: update authz path in go.mod to correct directory
  backend/go.mod
Due: backend

feat: update principal policy handling to return detailed grant information
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/authz/identity_resolver.go
  connectors/authz/pkg/authz/ports.go
  connectors/authz/pkg/authz/principal_manager.go
  connectors/authz/pkg/authz/principal_manager_test.go
  connectors/authz/pkg/authz/principal_store_gorm.go
  connectors/authz/sdk/gin-middleware/middleware.go
  connectors/authz/sdk/gin-middleware/middleware_test.go
  connectors/authz/sdk/sdk.go
  connectors/authz/sdk/sdk_test.go
Due: none

feat(authz): add example IoT authorization schema, test data, and update JSON schema format
  backend/pkg/services/dmsmanager.go
  connectors/authz/.gitignore
  connectors/authz/pkg/authz/testdata/init.sql
  connectors/authz/pkg/authz/testdata/test-schema.json
  connectors/authz/pkg/engine/schema.go
  connectors/authz/pkg/engine/testdata/init.sql
  connectors/authz/pkg/engine/testdata/test-schema.json
  connectors/authz/pkg/service/testdata/init.sql
  connectors/authz/pkg/service/testdata/test-schema.json
Due: backend

feat: integrate authorization middleware in CA and device manager routes
  backend/pkg/assemblers/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
Due: backend

feat(authz): enhance authorization middleware and add new authorization schemas
  connectors/authz/authz.json
  connectors/authz/cmd/preload/lamassu.0aa383b1-1308-48c6-ae23-7c0eb4fd2a51.json
  connectors/authz/cmd/preload/lamassu.3aa4c081-4f5f-40a2-9238-1846d960c17c.json
  connectors/authz/cmd/preload/lamassu.5098c50b-afdf-4bc4-8aa0-67bea7c1d9a6.json
  connectors/authz/cmd/preload/lamassu.abb8f890-b269-47b0-b5cc-b0f4b7e03921.json
  connectors/authz/cmd/preload/lamassu.c299ff00-83bc-4bf8-ba6a-7337a3afe417.json
  connectors/authz/cmd/preload/lamassu.c3e714c9-863f-4714-a0b3-4d4b068a4228.json
  connectors/authz/cmd/preload/lamassu.caec5d9a-2b67-469c-9e6e-de883643a208.json
  connectors/authz/pkg/api/dto/policy_dto.go
  connectors/authz/pkg/api/dto/principal_dto.go
  connectors/authz/pkg/api/fields.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/engine/ports.go
  connectors/authz/pkg/middlewares/audit/principal.go
  connectors/authz/pkg/middlewares/eventpub/principal.go
  connectors/authz/pkg/service/identity.go
  connectors/authz/pkg/service/interfaces.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/store/gorm.go
Due: none

Refactor authz SQL parsing and GORM integration
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/authz.go
  backend/pkg/config/ca.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/dms.go
  backend/pkg/config/kms.go
  backend/pkg/config/va.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  connectors/authz/go.mod
  connectors/authz/go.sum
  connectors/authz/sdk/gorm/ast.go
  connectors/authz/sdk/gorm/ast_test.go
  connectors/authz/sdk/gorm/plugin.go
Due: backend

feat: Implement PrincipalManager and GormPrincipalStore for managing principals and policies
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/log_formatter.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/api/schema_controller.go
  connectors/authz/pkg/authz/capabilities.go
  connectors/authz/pkg/engine/capabilities.go
  connectors/authz/pkg/engine/control_test.go
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/engine/engine_test.go
  connectors/authz/pkg/engine/filter.go
  connectors/authz/pkg/engine/filter_test.go
  connectors/authz/pkg/engine/graph.go
  connectors/authz/pkg/engine/graph_test.go
  connectors/authz/pkg/engine/policy.go
  connectors/authz/pkg/engine/policy_test.go
  connectors/authz/pkg/engine/ports.go
  connectors/authz/pkg/engine/schema.go
  connectors/authz/pkg/engine/schema_test.go
  connectors/authz/pkg/service/authz.go
  connectors/authz/pkg/service/capabilities.go
  connectors/authz/pkg/service/capabilities_integration_test.go
  connectors/authz/pkg/service/capabilities_test.go
  connectors/authz/pkg/service/identity.go
  connectors/authz/pkg/service/policy.go
  connectors/authz/pkg/service/policy_manager_test.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/store/gorm.go
  connectors/authz/pkg/store/matcher.go
  connectors/authz/sdk/sdk.go
Due: none

feat(authz): enhance authorization logging with context and matched policy IDs
  connectors/authz/pkg/engine/engine.go
Due: none

feat(authz): enhance X.509 certificate extraction to support base64 encoded strings
  connectors/authz/pkg/store/matcher.go
Due: none

feat(authz): update HTTP client initialization to include custom headers for admin mode
  backend/cmd/ca/main.go
  backend/cmd/device-manager/main.go
  backend/cmd/dms-manager/main.go
  backend/cmd/va/main.go
Due: backend

Refactor code structure for improved readability and maintainability
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/assemblers/tests/test_http_client.go
  engines/storage/postgres/test/migrate_test.go
  engines/storage/postgres/test/test_dump.sql
Due: storage-postgres, backend

feat(authz): standardize status update action in authorization checks and schemas
  backend/pkg/routes/ca.go
  connectors/authz/cmd/preload/lamassu.77fb978b-3c25-4d2f-8402-d02541b9a708.json
  connectors/authz/pkg/engine/filter_test.go
  connectors/authz/schemas.pki-v2.json
  connectors/authz/sdk/gorm/plugin_test.go
  docs/ca-openapi.yaml
Due: backend

feat(authz): refactor HTTP schema to support grouped routes and update main configuration
  connectors/authz/examples/wfx/wfx.json
  connectors/authz/pkg/engine/http_schema.go
  connectors/authz/pkg/engine/http_schema_test.go
  monolithic/cmd/development/main.go
Due: none

feat(authz): add initial configuration for principals and policies with enhanced actions
  connectors/authz/authz.json
  connectors/authz/cmd/preload/lamassu.7ec5d897-3a3f-43d1-b67a-dd220719572b.json
  monolithic/cmd/development/main.go
Due: none

feat: integrate authorization middleware across various services and routes
  backend/go.mod
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/kms.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/sampledata/generator.go
Due: storage-postgres, backend
