Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

adding CRL scheduled job with event bus mw
  backend/pkg/assemblers/va.go
  backend/pkg/config/va.go
  backend/pkg/jobs/job-scheduler.go
  backend/pkg/middlewares/eventpub/crl.go
  backend/pkg/services/crl.go
  backend/pkg/services/handlers/va-handlers.go
  core/pkg/engines/storage/va.go
  core/pkg/models/events.go
  core/pkg/models/va.go
  core/pkg/services/crl.go
  engines/storage/postgres/migrations/va/00000000000001_create_table.sql
  engines/storage/postgres/vastore.go
  monolithic/pkg/assembler.go
Due: core, storage-postgres, backend

refactoring va-crl job
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/va.go
  backend/pkg/controllers/va.go
  backend/pkg/jobs/job-scheduler.go
  backend/pkg/jobs/job-scheduler_test.go
  backend/pkg/jobs/va-crl-job.go
  backend/pkg/middlewares/eventpub/crl.go
  backend/pkg/routes/va.go
  backend/pkg/services/crl.go
  backend/pkg/services/handlers/va-handlers.go
  core/pkg/models/events.go
  core/pkg/resources/vareq.go
  core/pkg/services/crl.go
Due: core, backend

feat: helpers - add JsonPathExists function and integrate into alerts service for condition evaluation
  backend/go.mod
  backend/go.sum
  backend/pkg/helpers/jsonpath.go
  backend/pkg/helpers/jsonpath_test.go
  backend/pkg/services/alerts.go
Due: backend

adding first class device event entity
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/middlewares/sse/stream.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/handlers/device-handlers.go
  connectors/awsiot/pkg/aws-sqs-event-handlers.go
  connectors/awsiot/pkg/lamassu-event-handlers.go
  connectors/awsiot/pkg/lamassu-event-handlers_test.go
  connectors/awsiot/pkg/models.go
  connectors/awsiot/pkg/service.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/engines/storage/engine.go
  core/pkg/models/device.go
  core/pkg/models/device_events.go
  core/pkg/models/events.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  engines/storage/postgres/device_events.go
  engines/storage/postgres/engine.go
  go.work.sum
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

fix merge problems
  connectors/awsiot/pkg/aws-sqs-event-handlers.go
  connectors/awsiot/pkg/service.go
  core/pkg/engines/storage/engine.go
Due: core

Refactor alerts service and add tests
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/controllers/alerts.go
  backend/pkg/routes/alerts.go
  backend/pkg/services/alerts.go
  backend/pkg/services/alerts/event_filters/eventfilters.go
  backend/pkg/services/alerts/event_filters/jsonpathfilter.go
  backend/pkg/services/alerts/event_filters/jsonschemafilter.go
  backend/pkg/services/alerts/output_channels/msteams.go
  backend/pkg/services/alerts/output_channels/outputservices.go
  backend/pkg/services/alerts/output_channels/smtp.go
  backend/pkg/services/alerts/output_channels/webhook.go
  backend/pkg/services/handlers/alerts-handlers.go
  core/pkg/services/alerts.go
  sdk/alerts.go
Due: core, sdk, backend

feat: aws-connector - report CA registration error in metadata
  connectors/awsiot/pkg/service.go
Due: none

Refactor sendAlert
  backend/pkg/services/alerts.go
  backend/pkg/services/alerts/event_filters/eventfilters.go
  backend/pkg/services/alerts/output_channels/outputservices.go
Due: backend

test: add webhook output subscription tests to alerts service
  backend/pkg/assemblers/alerts_test.go
Due: none

test: add support for MSTeams webhook in subscription tests
  backend/pkg/assemblers/alerts_test.go
Due: none

feat: add SMTP mock support for alerts service testing
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/service-assembler_test.go
Due: backend

adding authz http mw first version
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/ca.go
  backend/pkg/config/ca.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/mock/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/middlewares/authz/authz.go
  backend/pkg/routes/middlewares/authz/authz_test.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
  backend/pkg/routes/utils.go
  core/pkg/config/authz.go
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
Due: core, crypto-pkcs11, backend

Move JSONPath eval to eventfilters
  backend/pkg/helpers/jsonpath.go
  backend/pkg/services/alerts/event_filters/jsonpathfilter.go
  backend/pkg/services/alerts/event_filters/jsonpathfilter_test.go
Due: backend

Use webhook client support for alerts output services
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/helpers/webhook-client/client.go
  backend/pkg/services/alerts.go
  backend/pkg/services/alerts/output_channels/msteams.go
  backend/pkg/services/alerts/output_channels/outputservices.go
  backend/pkg/services/alerts/output_channels/smtp.go
  backend/pkg/services/alerts/output_channels/webhook.go
  core/pkg/models/webhook-call.go
Due: core, backend

feat: Implement JSONPath and JSONSchema filter options for alert subscriptions (#217)
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/controllers/alerts.go
  backend/pkg/helpers/webhook-client/client.go
  backend/pkg/routes/alerts.go
  backend/pkg/services/alerts.go
  backend/pkg/services/alerts/event_filters/eventfilters.go
  backend/pkg/services/alerts/event_filters/jsonpathfilter.go
  backend/pkg/services/alerts/event_filters/jsonpathfilter_test.go
  backend/pkg/services/alerts/event_filters/jsonschemafilter.go
  backend/pkg/services/alerts/output_channels/msteams.go
  backend/pkg/services/alerts/output_channels/outputservices.go
  backend/pkg/services/alerts/output_channels/smtp.go
  backend/pkg/services/alerts/output_channels/webhook.go
  backend/pkg/services/handlers/alerts-handlers.go
  core/pkg/models/webhook-call.go
  core/pkg/services/alerts.go
  sdk/alerts.go
Due: core, sdk, backend

feat: aws-connector - report CA registration error in metadata (#218)
  connectors/awsiot/pkg/service.go
Due: none

chore: show codecov flag for backend module
  README.md
Due: none

chore: show codecov flag for backend module (#220)
  README.md
Due: none

chore: modularize engine registration with build tags to favour custom builds
  backend/pkg/cryptoengines/builder/builder.go
  backend/pkg/cryptoengines/builder/registrar_aws.go
  backend/pkg/cryptoengines/builder/registrar_pkcs11.go
  backend/pkg/cryptoengines/builder/registrar_vault.go
  backend/pkg/eventbus/builder/builder.go
  backend/pkg/eventbus/builder/registrar_amqp.go
  backend/pkg/eventbus/builder/registrar_aws.go
  monolithic/pkg/assembler.go
  monolithic/pkg/assembler_awsiot.go
  monolithic/pkg/assembler_noaws.go
Due: backend

feat: add javascript filters support to subscription conditions
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/services/alerts/event_filters/eventfilters.go
  backend/pkg/services/alerts/event_filters/javascriptfilter.go
  backend/pkg/services/alerts/event_filters/javascriptfilter_test.go
  core/pkg/models/alerts.go
  go.work.sum
Due: core, backend

chore: add build tag to allow js support exclusion
  backend/pkg/services/alerts/event_filters/eventfilters.go
  backend/pkg/services/alerts/event_filters/javascript_registrar.go
Due: backend

chore: modularize engine registration with build tags to favour custom builds (#222)
  backend/pkg/cryptoengines/builder/builder.go
  backend/pkg/cryptoengines/builder/registrar_aws.go
  backend/pkg/cryptoengines/builder/registrar_pkcs11.go
  backend/pkg/cryptoengines/builder/registrar_vault.go
  backend/pkg/eventbus/builder/builder.go
  backend/pkg/eventbus/builder/registrar_amqp.go
  backend/pkg/eventbus/builder/registrar_aws.go
  monolithic/pkg/assembler.go
  monolithic/pkg/assembler_awsiot.go
  monolithic/pkg/assembler_noaws.go
Due: backend

feat: add javascript filters support to subscription conditions (#221)
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/alerts_test.go
  backend/pkg/services/alerts/event_filters/javascript_registrar.go
  backend/pkg/services/alerts/event_filters/javascriptfilter.go
  backend/pkg/services/alerts/event_filters/javascriptfilter_test.go
  core/pkg/models/alerts.go
  go.work.sum
Due: core, backend

adding test for CRL job
  backend/pkg/assemblers/va_test.go
  backend/pkg/jobs/va-crl-job_test.go
  backend/pkg/services/crl.go
  core/pkg/models/va.go
  core/pkg/services/mock/crl_mock.go
Due: core, backend

Job Refactor proposal
  backend/pkg/assemblers/va.go
  backend/pkg/jobs/va-crl-job.go
  backend/pkg/jobs/va-crl-job_test.go
  backend/pkg/services/crl.go
Due: backend

add mw role check for all main services
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/ca.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/va.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/middlewares/authz/authz.go
  backend/pkg/routes/middlewares/authz/authz_test.go
  backend/pkg/routes/va.go
  core/pkg/config/authz.go
  core/pkg/config/httpservice.go
Due: core, backend

skip authz for internal calls
  backend/pkg/routes/middlewares/authz/authz.go
Due: backend

Improved ImportCA to update level based on DSN and KID
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/helpers/x509utils.go
  backend/pkg/services/ca.go
  backend/pkg/services/crl.go
  core/pkg/engines/storage/ca.go
  core/pkg/models/ca.go
  core/pkg/services/ca.go
  engines/storage/postgres/castore.go
  engines/storage/postgres/migrations/ca/20250226114600_ca_add_kids.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/ca_test.go
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

adding missing import
  backend/pkg/routes/middlewares/authz/authz.go
Due: backend

partial implementation
  backend/pkg/assemblers/asymmetric_kms.go
  backend/pkg/assemblers/asymmetric_kms_test.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/config/asymmetric_kms.go
  backend/pkg/config/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/services/asymmetric_kms.go
  backend/pkg/services/asymmetric_kms/keystrength.go
  backend/pkg/services/asymmetric_kms/keystrength_test.go
  backend/pkg/services/asymmetric_kms_sign_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/services/crl.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/storage/asymmetric_kms.go
  core/pkg/engines/storage/engine.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/models/asymmetric_kms.go
  core/pkg/models/ca.go
  core/pkg/models/engine.go
  core/pkg/models/x509.go
  core/pkg/models/x509_test.go
  core/pkg/resources/asymmetric_kms.go
  core/pkg/resources/careq.go
  core/pkg/services/asymmetric_kms.go
  core/pkg/services/asymmetric_kms_signer.go
  core/pkg/services/ca.go
  engines/storage/postgres/asymmetric_kms.go
  engines/storage/postgres/careqstore.go
  engines/storage/postgres/castore.go
  engines/storage/postgres/engine.go
Due: core, storage-postgres, backend

chore: Improved gorm queries to reduce it and avoid recordNotFound errors
  engines/storage/postgres/utils.go
Due: storage-postgres

Job Refactor proposal (#223)
  backend/pkg/assemblers/va.go
  backend/pkg/jobs/va-crl-job.go
  backend/pkg/jobs/va-crl-job_test.go
  backend/pkg/services/crl.go
Due: backend

fix: Improved gorm queries to reduce it and avoid recordNotFound errors (#227)
  engines/storage/postgres/utils.go
Due: storage-postgres

adding test changes
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/config/ca.go
  backend/pkg/config/va.go
  backend/pkg/jobs/job-scheduler.go
  backend/pkg/jobs/va-crl-job.go
  backend/pkg/services/ca.go
  backend/pkg/services/crl.go
  backend/pkg/services/handlers/va-handlers.go
  connectors/awsiot/pkg/assembler.go
  core/go.mod
  core/go.sum
  core/pkg/config/fsstorage.go
  core/pkg/engines/eventbus/eventbus_testset.go
  core/pkg/engines/eventbus/subscriber.go
  core/pkg/engines/fs-storage/fs-storage.go
  core/pkg/models/serviceinfo.go
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  engines/storage/postgres/migrations/va/00000000000001_create_table.sql
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/go.mod
  monolithic/go.sum
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: core, crypto-vaultkv2, storage-postgres, backend

added fs-storage module
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/va.go
  backend/pkg/config/va.go
  backend/pkg/cryptoengines/builder/builder.go
  backend/pkg/fs-storage/builder/builder.go
  backend/pkg/services/crl.go
  core/go.mod
  core/go.sum
  core/pkg/config/fsstorage.go
  core/pkg/engines/fs-storage/fs-storage.go
  engines/fs-storage/localfs/config.go
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/localfs/registrar.go
  engines/fs-storage/s3/config.go
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/fs-storage/s3/registrar.go
  go.work
  go.work.sum
  monolithic/pkg/assembler.go
Due: core, backend

refactor: Update device and CA metadata handling
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/helpers/jsonpatches.go
  backend/pkg/helpers/jsonpatches_test.go
  backend/pkg/jobs/crypto-monitor-job.go
  backend/pkg/services/ca.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/test/e2e/usecase-1.go
  connectors/awsiot/pkg/service.go
  core/pkg/models/patches.go
  core/pkg/resources/careq.go
  core/pkg/resources/devreq.go
  core/pkg/services/ca.go
  core/pkg/services/devicemanager.go
  go.work.sum
  sdk/ca.go
  sdk/devicemanager.go
Due: core, sdk, backend

refactor: Update logging format for CA metadata update
  connectors/awsiot/pkg/service.go
Due: none

refactor: Update JSON Patch helper function and usage
  backend/pkg/jobs/crypto-monitor-job.go
  backend/pkg/services/ca.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/test/e2e/usecase-1.go
  connectors/awsiot/pkg/service.go
  core/pkg/helpers/jsonpatches.go
  core/pkg/helpers/jsonpatches_test.go
Due: core, backend

refactor: Moved JSON Patch dependency
  backend/go.mod
  backend/go.sum
  core/go.mod
  core/go.sum
Due: core, backend

Refactor x509utils and ca.go to use helper function for self-signed certificate check
  backend/pkg/helpers/x509utils.go
  backend/pkg/services/ca.go
  engines/storage/postgres/migrations/ca/20250123125500_ca_aws_metadata.go
  engines/storage/postgres/migrations/ca/20250226114600_ca_add_kids.go
  engines/storage/postgres/migrations/dmsmanager/20241230124809_serverkeygen_revokereenroll.go
  engines/storage/postgres/migrations/gomigrations.go
Due: storage-postgres, backend
