Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

docs: leave unrelated internal RFC drafts untouched at their v4 paths
  docs/RFC-004-DynamicDeviceGroups.md
  docs/RFC005-jsonpath-sorting.md
  docs/RFC007-idslot-jsonb.md
  docs/RFC008-filtered-stats.md
Due: none

fix: restore client certificate propagation for EST enrollment auth
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
Due: backend

fix(dms): restore independent re-enrollment auth config lost in CMP auth refactor
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager_est.go
  core/pkg/models/dms_est_options.go
  monolithic/pkg/sampledata/generator.go
Due: core, backend

feat(ci): pins github actions to SHA hashes
  .github/workflows/bump-goversion.yaml
  .github/workflows/ci-test.yaml
  .github/workflows/dev-release.yaml
  .github/workflows/gosec.yml
  .github/workflows/release_finalize.yaml
  .github/workflows/release_open_pr.yaml
Due: none

feat(ci): add pinact workflow to verify actions are pinned
  .github/workflows/pinact.yaml
Due: none

Refactor: "Match v4 branch"
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_auth.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
Due: backend

Fix: "Switch authentication options CMP"
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/models/dms_est_options.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/services/lwcmp.go
Due: core, backend

refactor: " Restore EST model auth"
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_protection.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp_policy_test.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  backend/pkg/x509engines/x509engine_subject_test.go
  core/pkg/models/dms_est_options.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/models/est.go
  monolithic/pkg/sampledata/generator.go
Due: core, backend

Refactoring code to move routes into controllers and add x509 cert as first class param in functions
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_enrollment_variants_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_kga_dispatch_test.go
  backend/pkg/controllers/cmp/cmp_nested_batch_test.go
  backend/pkg/controllers/cmp/cmp_p10cr.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/cmp_rfc_compliance_test.go
  backend/pkg/controllers/cmp/cmp_testhelpers_test.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/routes/cmp.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_policy_test.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/cmp_mock.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

simplfy code
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/services/dmsmanager_lwcmp.go
Due: backend

simplfy code
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
Due: backend

refactor models for CMPTransactions
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_enrollment_variants_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/cmp_rfc_compliance_test.go
  backend/pkg/controllers/cmp/cmp_testhelpers_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/jobs/cmp-confirmation-monitor-job.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  ci/wfx.dockerfile
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/models/cmp_transaction.go
  core/pkg/resources/cmpresp.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/mock/dms_mock.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/test/cmptxstore_test.go
  sdk/dmsmanager.go
Due: core, sdk, storage-postgres, backend

refactor: remove unused import and add context for CMP signer certificate
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
Due: backend

refactor: update LWCRevokeCertificate to include signer certificate parameter
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_enrollment_variants_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_nested_batch_test.go
  backend/pkg/controllers/cmp/cmp_rfc_compliance_test.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/cmp_mock.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

refactor: remove identityextractors and update CMP handlers to use signer certificate parameter
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_crosscert.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_nested.go
  backend/pkg/controllers/cmp/cmp_p10cr.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
Due: backend

refactor: remove identityextractors and update client certificate retrieval in DMSManagerServiceBackend
  backend/pkg/services/dmsmanager.go
Due: backend

ci(codecov): report once after all uploads via after_n_builds
  codecov.yml
Due: none

ci(codecov): upload coverage even when tests fail; drop commit_parent
  .github/workflows/ci-test.yaml
Due: none

feat(cmp): add end-to-end tests for CMP enrollment and re-enrollment flows
  backend/pkg/assemblers/tests/dms-manager/cmp/ir_test.go
  backend/pkg/assemblers/tests/dms-manager/cmp/openssl_e2e_test.go
  backend/pkg/assemblers/tests/dms-manager/cmp/setup_test.go
  backend/pkg/specs/dms-manager-openapi.yaml
Due: backend

feat(cmp): add KMS client setup and update HTTP client initialization
  backend/cmd/dms-manager/main.go
Due: backend

chore: updates floci image and comments kms import functions
  engines/crypto/aws/awskms_test.go
  engines/eventbus/aws/engine_test.go
  shared/aws/docker-emulator.go
Due: shared-aws

Implement CMS for Central Key Management
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_kga.go
  backend/pkg/controllers/cmp/cmp_kga_crypto_test.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/internal/kga/cms_asn1.go
  backend/pkg/controllers/cmp/internal/kga/kga.go
  backend/pkg/controllers/cmp/internal/kga/kga_test.go
  backend/pkg/controllers/cmp/internal/kga/recipients.go
  backend/pkg/controllers/cmp/internal/kga/signeddata.go
  core/pkg/cmp/decoding.go
  core/pkg/cmp/kga.go
  core/pkg/cmp/message.go
  core/pkg/cms/akp.go
  core/pkg/cms/asn1.go
  core/pkg/cms/build_enveloped.go
  core/pkg/cms/build_signed.go
  core/pkg/cms/cms_test.go
  core/pkg/cms/decode.go
  core/pkg/cms/doc.go
  core/pkg/cms/kdf.go
  core/pkg/cms/keywrap.go
  core/pkg/cms/oids.go
  core/pkg/cms/rand.go
  core/pkg/cms/technique.go
Due: core, backend

Implement CMP Per-Operation Settings and Associated Tests
  backend/pkg/assemblers/tests/dms-manager/cmp/settings_roundtrip_test.go
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_crosscert.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_enrollment_variants_test.go
  backend/pkg/controllers/cmp/cmp_genmsg.go
  backend/pkg/controllers/cmp/cmp_genmsg_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_kga_dispatch_test.go
  backend/pkg/controllers/cmp/cmp_nested_batch_test.go
  backend/pkg/controllers/cmp/cmp_rfc_compliance_test.go
  backend/pkg/controllers/cmp/cmp_testhelpers_test.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  core/context.go
  core/pkg/cmp/crmf.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_cmp_settings.go
  core/pkg/models/dms_cmp_settings_test.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/resources/dmsreq.go
  core/pkg/services/lwcmp.go
  docs/rfcs/internal/RFC011-cmp-per-operation-settings.md
  monolithic/pkg/sampledata/generator.go
Due: core, backend

feat(ci): makes pinact workflow only run when there is a change in workflow files
  .github/workflows/pinact.yaml
Due: none

Modified dev-release workflow to allow selection of builder image (go version to be used to compile the app). Updated dockerfiles accordingly.
  .github/workflows/dev-release.yaml
  ci/alerts.dockerfile
  ci/authz.dockerfile
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/va.dockerfile
Due: none

Added missing punctuation mark.
  .github/workflows/dev-release.yaml
Due: none

Enhance and several fixes for CMP KGA functionality and tests
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_kga_dispatch_test.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/internal/kga/kga.go
  backend/pkg/controllers/cmp/internal/kga/kga_test.go
  backend/pkg/controllers/cmp/internal/kga/signeddata.go
  core/pkg/cmp/kga.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_cmp_operations_test.go
Due: core, backend

feat: add exposed ports for OPA Docker container and enhance ECCG v2 assessment logging
  monolithic/cmd/development/main.go
Due: none

feat: enhance ECCG v2 assessments with additional algorithm and TLS checks
  monolithic/cmd/development/main.go
  monolithic/cmd/development/opa-testdata/eccg_v2.rego
Due: none

feat: Enhance CMP functionality with new features and validations
  .gitignore
  backend/cmd/dms-manager/main.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/config/dms.go
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_genmsg.go
  backend/pkg/controllers/cmp/cmp_genmsg_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_cmp_settings.go
  core/pkg/models/dms_cmp_settings_test.go
  core/pkg/services/lwcmp.go
  monolithic/pkg/assembler.go
Due: core, backend

feat(ci): Update dev workflow to allow go version selection (#707)
  .github/workflows/dev-release.yaml
  ci/alerts.dockerfile
  ci/authz.dockerfile
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/va.dockerfile
Due: none

feat: Add support for central key generation (CKG) and improve transaction handling
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_genmsg.go
  backend/pkg/controllers/cmp/cmp_genmsg_test.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_kga_dispatch_test.go
  backend/pkg/controllers/cmp/cmp_nested.go
  backend/pkg/controllers/cmp/cmp_nested_batch_test.go
  backend/pkg/controllers/cmp/cmp_popo.go
  backend/pkg/controllers/cmp/cmp_testhelpers_test.go
  backend/pkg/jobs/cmp-confirmation-monitor-job.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/cmp_optional_interfaces_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_policy_test.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  core/pkg/cmp/crmf.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/models/cmp_transaction.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/services/lwcmp.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/test/cmptxstore_test.go
Due: core, storage-postgres, backend

feat(cmp): enhance PKIHeader structure and decoding
  backend/pkg/controllers/cmp/cmp.go
  backend/pkg/controllers/cmp/cmp_crosscert.go
  backend/pkg/controllers/cmp/cmp_crosscert_test.go
  backend/pkg/controllers/cmp/cmp_enrollment.go
  backend/pkg/controllers/cmp/cmp_handler_test.go
  backend/pkg/controllers/cmp/cmp_kga_dispatch_test.go
  backend/pkg/controllers/cmp/cmp_nested.go
  backend/pkg/controllers/cmp/cmp_protection.go
  backend/pkg/controllers/cmp/cmp_testhelpers_test.go
  backend/pkg/services/dmsmanager_lwcmp.go
  backend/pkg/services/dmsmanager_lwcmp_revoke_test.go
  core/pkg/cmp/message.go
  core/pkg/cmp/message_test.go
  core/pkg/cmp/types.go
  core/pkg/cmp/wire.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/models/cmp_transaction.go
  core/pkg/models/dms_cmp_operations.go
  core/pkg/models/dms_cmp_settings_test.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/cmptxstore_devicelock_test.go
  engines/storage/postgres/migrations/dmsmanager/20260730150000_cmp_transactions_central_key_generation.sql
  engines/storage/postgres/migrations/dmsmanager/20260730160000_cmp_reg_token_claims.sql
Due: core, storage-postgres, backend

feat(ci): pin all Github Actions to full commit SHAs and add pinact enforcement (#705)
  .github/workflows/bump-goversion.yaml
  .github/workflows/ci-test.yaml
  .github/workflows/dev-release.yaml
  .github/workflows/gosec.yml
  .github/workflows/pinact.yaml
  .github/workflows/release_finalize.yaml
  .github/workflows/release_open_pr.yaml
Due: none

feat(ci): update docker/build-push-action to v7 and enable SBOM generation
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
Due: none

feat(ci): upgrade docker/login-action to v4 and docker/setup-buildx-action to v4
  .github/workflows/dev-release.yaml
Due: none

feat(ci): upgrade docker/login-action to v4 and setup Docker Buildx
  .github/workflows/release_finalize.yaml
Due: none

feat(ci): enable SBOM attestation generation for intermediate Docker build stages
  ci/alerts.dockerfile
  ci/authz.dockerfile
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/va.dockerfile
Due: none

feat(ci): pins set upd buildx action
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
Due: none
