Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

feat: Add tests for CA reissuance functionality
  backend/pkg/assemblers/ca_reissuance_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
Due: core, backend

feat: Implement CA reissuance functionality (#357)
  backend/pkg/assemblers/tests/ca/ca_reissuance_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/audit/ca_test.go
  backend/pkg/middlewares/audit/crl_test.go
  backend/pkg/middlewares/audit/devices_test.go
  backend/pkg/middlewares/audit/dms_test.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_san_test.go
  core/pkg/errs/ca.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  docs/ca-openapi.yaml
  sdk/ca.go
Due: core, sdk, backend

feat: enhance FilterQuery to support JSON path expressions and handle query unescaping errors
  backend/pkg/controllers/utils.go
Due: backend

feat: add JSONPath filter tests for metadata queries and handle invalid operands
  backend/pkg/controllers/utils_test.go
Due: none

Add filtering tests for devices, DMS, and keys with JSON metadata
  backend/pkg/assemblers/tests/ca/ca_certificates_test.go
  backend/pkg/assemblers/tests/device-manager/device_filter_test.go
  backend/pkg/assemblers/tests/device-manager/device_filter_tests.go
  backend/pkg/assemblers/tests/dms-manager/dms_filter_test.go
  backend/pkg/assemblers/tests/kms/key_filter_test.go
  core/pkg/resources/fields.go
  engines/storage/postgres/migrations/dmsmanager/20260113212700_settings_text_to_jsonb.sql
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

feat: add comprehensive documentation for filtering and JSONPath support
  docs/filtering.md
Due: none

refactor: remove outdated device filter tests for JSONPath
  backend/pkg/assemblers/tests/device-manager/device_filter_tests.go
Due: backend

fix: increase test timeout to improve stability of coverage reports
  .github/workflows/ci-test.yaml
Due: none

Refactor code structure for improved readability and maintainability
  backend/pkg/assemblers/tests/ca/ca_certificates_jsonpath_test.go
  backend/pkg/assemblers/tests/ca/ca_certificates_test.go
Due: none

feat: Add JSON Patch support documentation (RFC 6902)
  docs/json-patch.md
Due: none

chore: Add JSON Patch support documentation (RFC 6902) (#379)
  docs/json-patch.md
Due: none

feat: migrate metadata columns to JSONB and add JSONPath filtering (#378)
  .github/workflows/ci-test.yaml
  backend/pkg/assemblers/tests/ca/ca_certificates_jsonpath_test.go
  backend/pkg/assemblers/tests/device-manager/device_filter_test.go
  backend/pkg/assemblers/tests/dms-manager/dms_filter_test.go
  backend/pkg/assemblers/tests/kms/key_filter_test.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  core/pkg/resources/careq.go
  core/pkg/resources/fields.go
  core/pkg/resources/query.go
  docs/filtering.md
  engines/storage/postgres/migrations/ca/20251217120000_metadata_text_to_jsonb.sql
  engines/storage/postgres/migrations/devicemanager/20251217120000_metadata_text_to_jsonb.sql
  engines/storage/postgres/migrations/dmsmanager/20251217120000_metadata_text_to_jsonb.sql
  engines/storage/postgres/migrations/dmsmanager/20260113212700_settings_text_to_jsonb.sql
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/migrations_test/devicemanager_test.go
  engines/storage/postgres/migrations_test/dms_test.go
  engines/storage/postgres/utils.go
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

feat: Add RFC for multi-tenancy strategy in Lamassu IoT
  docs/RFC-001-Multitenancy.md
Due: none

doc: Enhance multi-tenancy support with event bus propagation and tenant management service
  docs/RFC-001-Multitenancy.md
Due: none

feat: Add RFC for Azure Key Vault Crypto Engine integration
  docs/RFC-002-AzureKeyVaultCryptoEngine.md
Due: none

feat: Add RFC for Azure Native Integration with engine implementations for Crypto, Storage, Event Bus, and File System
  docs/RFC-003-AzureNativeIntegration.md
Due: none

feat: RFC-004 Step 1.2 - Add DeviceGroup domain model
  core/pkg/models/device.go
Due: core

feat: RFC-004 Step 1.1 - Add device_groups database schema and migration
  engines/storage/postgres/migrations/devicemanager/20260115161136_create_device_groups.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: storage-postgres

feat: RFC-004 Step 1.3 - Add DeviceGroupsRepo storage interface
  core/pkg/engines/storage/devicemanager.go
Due: core

feat: RFC-004 Step 1.4 - Implement DeviceGroupsRepo for Postgres
  engines/storage/postgres/device_groups.go
  engines/storage/postgres/device_groups_test.go
Due: storage-postgres

feat(device-groups): Step 2.2 - Service Implementation
  .github/copilot-instructions.md
  .serena/.gitignore
  .serena/project.yml
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/services/devicemanager.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/errs/device.go
  core/pkg/models/events.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/services/devicemanager.go
  docs/EST.md
  docs/RFC-004-DynamicDeviceGroups.md
  engines/storage/postgres/devicemanager.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

feat: RFC-004 Step 2.1 - Add DeviceGroup service interface definition
  core/pkg/services/devicemanager.go
Due: core

feat(device-groups): Step 3.1 - HTTP Controllers & Routes
  backend/pkg/controllers/devmanager.go
  backend/pkg/routes/devmanager.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/errs/device.go
  engines/storage/postgres/devicemanager.go
Due: core, storage-postgres, backend

feat(device-groups): Add mock methods for device group management
  backend/pkg/assemblers/tests/device-manager/device_groups_test.go
  core/pkg/services/mock/devicemanager_mock.go
Due: none

feat(device-groups): Step 4.2 - Integration Tests
  backend/pkg/assemblers/tests/device-manager/device_groups_test.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/devicemanager.go
Due: backend

feat(device-groups): Step 5.1 - OpenAPI Specification
  docs/device-manager-openapi.yaml
Due: none

implement changes
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
Due: backend

move docs
  doc/kms-openapi.yaml
Due: none

add independent svc
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
Due: backend

fix migrations ca_certificate_requests
  engines/storage/postgres/migrations_test/ca_test.go
Due: none

backend test first in ci
  .github/workflows/ci-test.yaml
Due: none

added tag to KMS key
  backend/pkg/assemblers/kms_create_import_tags_metadata_test.go
  backend/pkg/assemblers/kms_tags_test.go
  core/pkg/resources/careq.go
Due: core

adding changes
  backend/pkg/services/ca.go
  core/pkg/resources/careq.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: core, backend

fixing signig process
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
Due: backend

add doc
  .github/openapi-doc/kms-openapi.yaml
Due: none

Added OTEL tracing to HTTP, DB and internal calls. Very experimental metric support added (more work is required).
  .gitignore
  LICENSE
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/middlewares/otel/crl.go
  backend/pkg/middlewares/otel/kms.go
  backend/pkg/routes/utils.go
  core/pkg/errs/device.go
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  engines/storage/postgres/utils.go
  go.work.sum
  otel/config.alloy
  otel/docker-compose.yaml
  otel/grafana-datasources.yaml
  otel/jaeger.yaml
  otel/jaeger/docker-compose.yaml
  otel/loki.yaml
  otel/prometheus.yaml
  otel/tempo.yaml
  sdk/ca.go
  sdk/go.mod
  sdk/go.sum
  sdk/otel.go
  sdk/utils.go
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: core, sdk, storage-postgres, backend

Update OpenTelemetry dependencies and refactor metrics handling in CA and KMS middleware
  backend/go.mod
  backend/go.sum
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/middlewares/otel/kms.go
  engines/crypto/filesystem/filesystem.go
  go.work.sum
  sdk/otel.go
Due: sdk, crypto-filesystem, backend

Refactor context handling in service and controller methods to use context.Request.Context() for improved traceability and consistency
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/est.go
  backend/pkg/controllers/kms.go
  backend/pkg/services/ca.go
  backend/pkg/services/crl.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/kms.go
  backend/pkg/x509engines/x509engine.go
  engines/crypto/software/software.go
  go.work.sum
  otel/jaeger/docker-compose.yaml
Due: backend
