Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

chore: configure codecov flags for monorepo (#192)
  .github/workflows/ci-test.yaml
  codecov.yml
Due: none

Tests: Add tests to core module
  core/pkg/config/cryptoengines_test.go
  core/pkg/config/password_test.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/eventbus/eventbus_test.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/helpers/events_test.go
Due: none

Test: Add new tests to core module (#193)
  core/pkg/config/cryptoengines_test.go
  core/pkg/config/password_test.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/eventbus/eventbus_test.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/helpers/events_test.go
Due: none

feature: organic keyID
  backend/cmd/test/main.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_sign_test.go
  backend/pkg/x509engines/x509engine_test.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/models/ca.go
  core/pkg/services/ca.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/aws/secretsmanager_test.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/config/config.go
  engines/crypto/pkcs11/docker/emultaor.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/pkcs11/pkcs11_test.go
  engines/crypto/pkcs11/registrar.go
  engines/crypto/pkcs11/subsystem/subsystem.go
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/docker/vaultkv2.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/crypto/vaultkv2/vaultkv2_test.go
  go.work
  monolithic/pkg/assembler.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, backend

fixing cryptoengine mock service
  core/pkg/engines/cryptoengines/cryptoengine_test.go
Due: none

deleting unused file
  backend/cmd/test/main.go
Due: backend

removing fake env setup for pkcs11 so file
  engines/crypto/pkcs11/pkcs11_test.go
Due: none

adding pkcs11 tests
  .github/workflows/ci-test.yaml
Due: none

installing required dep for pkcs11-proxy build
  .github/workflows/ci-test.yaml
Due: none

split signature and keygen into different tests
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager_test.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11_test.go
  engines/crypto/vaultkv2/vaultkv2_test.go
Due: crypto-aws

add sudo in pkcs11 build tools installation
  .github/workflows/ci-test.yaml
Due: none

installing pkcs11 proxy with sudo perms
  .github/workflows/ci-test.yaml
Due: none

bugfixing keyID for issuing CAs
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
Due: backend

Fix module paths to v3
  Makefile
  engines/crypto/aws/plugin.go
  engines/crypto/filesystem/plugin.go
  engines/crypto/pkcs11/plugin.go
  engines/crypto/pkcs11/subsystem/subsystem.go
  engines/crypto/pkcs11/test/softhsm.go
  engines/crypto/vaultkv2/plugin.go
  engines/eventbus/amqp/plugin.go
  engines/eventbus/aws/plugin.go
  engines/eventbus/channel/plugin.go
  engines/storage/couchdb/plugin.go
  engines/storage/postgres/plugin.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/sqlite/plugin.go
  engines/storage/sqlite/test/test_suite.go
Due: crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel

Fix: module paths
  .gitignore
  backend/go.mod
  backend/go.sum
  monolithic/go.sum
Due: backend

fixing fs cryptotests
  .gitignore
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/storage/postgres/castore.go
  engines/storage/postgres/certstore.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/dmsmanager.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/eventstore.go
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  engines/storage/postgres/migrations/ca/00000000000001_create_table.sql
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/subscriptionstore.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/utils.go
  engines/storage/sqlite/castore.go
  engines/storage/sqlite/certstore.go
  engines/storage/sqlite/devicemanager.go
  engines/storage/sqlite/dmsmanager.go
  engines/storage/sqlite/eventstore.go
  engines/storage/sqlite/subscriptionstore.go
  engines/storage/sqlite/utils.go
Due: crypto-pkcs11, storage-postgres, storage-sqlite

adding second migration test
  engines/storage/postgres/migrations_test/ca_test.go
Due: none

fixing dates localization
  engines/storage/postgres/migrations_test/ca_test.go
Due: none

Remove experimental engines
  .github/workflows/build-with-experimental.yaml
  .github/workflows/ci-test.yaml
  backend/pkg/eventbus/builder/builder.go
  backend/pkg/storage/builder/builder_couchdb_test.go
  backend/pkg/storage/builder/couchdb_register.go
  backend/pkg/storage/builder/sqlite_reqister.go
  engines/eventbus/channel/engine.go
  engines/eventbus/channel/go.mod
  engines/eventbus/channel/go.sum
  engines/eventbus/channel/gochannel-pubsub.go
  engines/storage/couchdb/castore.go
  engines/storage/couchdb/certstore.go
  engines/storage/couchdb/config/config.go
  engines/storage/couchdb/devicemanager.go
  engines/storage/couchdb/dmsmanger.go
  engines/storage/couchdb/engine.go
  engines/storage/couchdb/eventstore.go
  engines/storage/couchdb/go.mod
  engines/storage/couchdb/go.sum
  engines/storage/couchdb/placeholder.go
  engines/storage/couchdb/subscriptionstore.go
  engines/storage/couchdb/subsystem/subsystem.go
  engines/storage/couchdb/test/couchdb.go
  engines/storage/couchdb/utils.go
  engines/storage/sqlite/castore.go
  engines/storage/sqlite/certstore.go
  engines/storage/sqlite/config/config.go
  engines/storage/sqlite/devicemanager.go
  engines/storage/sqlite/dmsmanager.go
  engines/storage/sqlite/engine.go
  engines/storage/sqlite/eventstore.go
  engines/storage/sqlite/go.mod
  engines/storage/sqlite/go.sum
  engines/storage/sqlite/placeholder.go
  engines/storage/sqlite/subscriptionstore.go
  engines/storage/sqlite/test/test_suite.go
  engines/storage/sqlite/utils.go
  go.work
  monolithic/cmd/development/main.go
Due: storage-sqlite, storage-couchdb, eventbus-channel, backend

simplyfing migration
  backend/pkg/assemblers/ca_test.go
  backend/pkg/jobs/crypto-monitor-job.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  connectors/awsiot/pkg/event-handlers.go
  connectors/awsiot/pkg/service.go
  engines/storage/postgres/migrations/ca/20241215165048_add_key_id.sql
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres, backend

embedding Migrations
  engines/storage/postgres/config/config.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/utils.go
Due: storage-postgres

moving keyID to cacertificate
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
Due: core, backend

Remove experimental engines (#195)
  .github/workflows/build-with-experimental.yaml
  .github/workflows/ci-test.yaml
  backend/pkg/eventbus/builder/builder.go
  backend/pkg/storage/builder/builder_couchdb_test.go
  backend/pkg/storage/builder/couchdb_register.go
  backend/pkg/storage/builder/sqlite_reqister.go
  engines/eventbus/channel/engine.go
  engines/eventbus/channel/go.mod
  engines/eventbus/channel/go.sum
  engines/eventbus/channel/gochannel-pubsub.go
  engines/storage/couchdb/castore.go
  engines/storage/couchdb/certstore.go
  engines/storage/couchdb/config/config.go
  engines/storage/couchdb/devicemanager.go
  engines/storage/couchdb/dmsmanger.go
  engines/storage/couchdb/engine.go
  engines/storage/couchdb/eventstore.go
  engines/storage/couchdb/go.mod
  engines/storage/couchdb/go.sum
  engines/storage/couchdb/placeholder.go
  engines/storage/couchdb/subscriptionstore.go
  engines/storage/couchdb/subsystem/subsystem.go
  engines/storage/couchdb/test/couchdb.go
  engines/storage/couchdb/utils.go
  engines/storage/sqlite/castore.go
  engines/storage/sqlite/certstore.go
  engines/storage/sqlite/config/config.go
  engines/storage/sqlite/devicemanager.go
  engines/storage/sqlite/dmsmanager.go
  engines/storage/sqlite/engine.go
  engines/storage/sqlite/eventstore.go
  engines/storage/sqlite/go.mod
  engines/storage/sqlite/go.sum
  engines/storage/sqlite/placeholder.go
  engines/storage/sqlite/subscriptionstore.go
  engines/storage/sqlite/test/test_suite.go
  engines/storage/sqlite/utils.go
  go.work
  monolithic/cmd/development/main.go
Due: storage-sqlite, storage-couchdb, eventbus-channel, backend

add random filesystem dir for tests
  backend/pkg/assemblers/service-assembler_test.go
Due: none

chore: clean up codecov configuration
  backend/pkg/storage/builder/builder_experimental_test.go
  codecov.yml
Due: none

fix: update dockerrunner references and clean up unused test suite
  codecov.yml
  engines/crypto/pkcs11/test/softhsm.go
  engines/crypto/vaultkv2/docker/vaultkv2.go
  engines/eventbus/amqp/test/rabbitmq.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/postgres_test.go
  go.work.sum
  shared/aws/docker-emulator.go
  shared/subsystems/go.mod
  shared/subsystems/pkg/test/dockerrunner/docker.go
  shared/subsystems/pkg/test/dockerrunner/test_suite.go
  shared/subsystems/pkg/test/subsystems/subsystems_test.go
Due: shared-aws, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp

Upgrade codecov action in ci
  .github/workflows/ci-test.yaml
Due: none

chore: clean up codecov configuration (#196)
  .github/workflows/ci-test.yaml
  backend/pkg/storage/builder/builder_experimental_test.go
  codecov.yml
  engines/crypto/pkcs11/test/softhsm.go
  engines/crypto/vaultkv2/docker/vaultkv2.go
  engines/eventbus/amqp/test/rabbitmq.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/postgres_test.go
  go.work.sum
  shared/aws/docker-emulator.go
  shared/subsystems/go.mod
  shared/subsystems/pkg/test/dockerrunner/docker.go
  shared/subsystems/pkg/test/dockerrunner/test_suite.go
  shared/subsystems/pkg/test/subsystems/subsystems_test.go
Due: shared-aws, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp

refactoring ca postgres model
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/helpers/expiration.go
  backend/pkg/helpers/expiration_test.go
  backend/pkg/jobs/crypto-monitor-job.go
  backend/pkg/jobs/crypto-monitor-job_test.go
  backend/pkg/services/ca.go
  backend/pkg/test/e2e/usecase-1.go
  core/pkg/errs/ca.go
  core/pkg/models/ca.go
  core/pkg/models/cryptokey.go
  core/pkg/models/timeduration.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  engines/storage/postgres/castore.go
  engines/storage/postgres/certstore.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/dmsmanager.go
  engines/storage/postgres/eventstore.go
  engines/storage/postgres/migrations/ca/20241223183344_unified_ca_models.sql
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/subscriptionstore.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/test/test_suite.go
  engines/storage/postgres/utils.go
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

uncomenting tests
  backend/pkg/assemblers/ca_test.go
Due: none

remove old func call
  backend/pkg/assemblers/ca.go
Due: backend

refactor software crypto engine instantiation
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11

refactor software crypto engine instantiation in missing files
  backend/pkg/x509engines/x509engine.go
  engines/crypto/aws/awskms.go
Due: crypto-aws, backend

fix tests and add extra tests
  backend/pkg/assemblers/dms-manager_test.go
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/migrations_test/utils.go
Due: storage-postgres

feat: conditional revoke in reenroll
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms.go
  engines/storage/postgres/migrations/dmsmanager/20241230124809_serverkeygen_revokereenroll.go
  engines/storage/postgres/migrations/utils.go
  engines/storage/postgres/migrations_test/dms_test.go
Due: core, storage-postgres, backend

fxing go-based migrations for multiple DBs avoiding ctx conflict
  backend/pkg/assemblers/device-manager_test.go
  core/pkg/models/cryptokey.go
  engines/storage/postgres/migrations/dmsmanager/20241230124809_serverkeygen_revokereenroll.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations/helpers/rows_iterator.go
  engines/storage/postgres/utils.go
Due: core, storage-postgres

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
