Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

test: update context handling in TestUpdateContextWithRequest for source verification
  backend/pkg/routes/middlewares/basic-header-extractors/extractors_test.go
Due: none

feat: integrate OpenTelemetry SDK with service configurations and enhance context handling
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/ca.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/dms.go
  backend/pkg/config/kms.go
  backend/pkg/config/va.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors_test.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  core/pkg/config/otel.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
  sdk/otel.go
Due: core, sdk, backend

feat: add signature verification test case and update CA service import logic
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  go.work.sum
Due: backend

feat: enhance context handling in VA routes and improve logging with OpenTelemetry trace IDs
  backend/pkg/controllers/va.go
  core/pkg/helpers/events.go
  core/pkg/helpers/logger.go
  otel/docker-compose.yaml
Due: core, backend

fix: remove redundant backend module from CI matrix and ensure proper formatting in LICENSE
  .github/workflows/ci-test.yaml
  .gitignore
  LICENSE
Due: none

feat: update context handling to store HTTP request in context and refactor header extractor function
  backend/pkg/routes/middlewares/basic-header-extractors/extractors.go
  backend/pkg/services/dmsmanager.go
  core/context.go
Due: core, backend

Refactor context handling in service and controller methods to use context.Request.Context() for improved traceability and consistency
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/est.go
  backend/pkg/controllers/kms.go
  backend/pkg/services/ca.go
  backend/pkg/services/crl.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/kms.go
  backend/pkg/x509engines/x509engine.go
  engines/crypto/software/software.go
  go.work.sum
  otel/jaeger/docker-compose.yaml
Due: backend

Added OTEL tracing to HTTP, DB and internal calls. Very experimental metric support added (more work is required).
  .gitignore
  LICENSE
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/middlewares/otel/crl.go
  backend/pkg/middlewares/otel/kms.go
  backend/pkg/routes/utils.go
  core/pkg/errs/device.go
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  engines/storage/postgres/utils.go
  go.work.sum
  otel/config.alloy
  otel/docker-compose.yaml
  otel/grafana-datasources.yaml
  otel/jaeger.yaml
  otel/jaeger/docker-compose.yaml
  otel/loki.yaml
  otel/prometheus.yaml
  otel/tempo.yaml
  sdk/ca.go
  sdk/go.mod
  sdk/go.sum
  sdk/otel.go
  sdk/utils.go
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: core, sdk, storage-postgres, backend

feat: add support for JSONPath expressions in sorting options
  docs/RFC005-jsonpath-sorting.md
Due: none

feat: support sorting with jsonpath expressions
  backend/pkg/assemblers/tests/device-manager/device_sort_test.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  core/pkg/resources/query.go
  docs/RFC005-jsonpath-sorting.md
  docs/filtering.md
  engines/storage/postgres/test/device_sort_jsonpath_test.go
  engines/storage/postgres/utils.go
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

feat: implement JSONPath validation and SQL injection prevention in sorting
  backend/pkg/assemblers/tests/device-manager/device_sort_test.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  docs/RFC005-jsonpath-sorting.md
  engines/storage/postgres/utils.go
Due: storage-postgres, backend

feat: enhance JSONPath validation and sorting security with simple path checks
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  engines/storage/postgres/utils.go
Due: storage-postgres, backend

feat: support sort using jsonpath expressions (#381)
  backend/pkg/assemblers/tests/device-manager/device_sort_test.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  core/pkg/resources/query.go
  docs/RFC005-jsonpath-sorting.md
  docs/filtering.md
  engines/storage/postgres/test/device_sort_jsonpath_test.go
  engines/storage/postgres/utils.go
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

KMS modification: signature with cms cert structure
  backend/go.mod
  backend/pkg/controllers/kms.go
  backend/pkg/helpers/pkcs7.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/kms.go
  connectors/awsiot/go.mod
  core/go.mod
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/resources/devreq.go
  core/pkg/services/devicemanager.go
  core/pkg/services/eventhandling/handler.go
  core/pkg/services/kms.go
  core/pkg/services/updating device.code-search
  engines/crypto/aws/go.mod
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/vaultkv2/go.mod
  engines/eventbus/amqp/go.mod
  engines/eventbus/aws/go.mod
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/s3/go.mod
  engines/storage/postgres/go.mod
  go.work
  monolithic/cmd/development/main.go
  monolithic/go.mod
  scripts/sign-swupdate.sh
  sdk/devicemanager.go
  sdk/go.mod
  sdk/kms.go
  shared/aws/go.mod
  shared/http/go.mod
  shared/subsystems/go.mod
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

feat: add OpenAPI spec handling and API diff agent workflow
  .github/agents/api-diff.agent.md
  .github/workflows/api-diff.yaml
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/ca.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/dms.go
  backend/pkg/config/kms.go
  backend/pkg/config/va.go
  backend/pkg/routes/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: backend

refactor: clarify API Diff Agent documentation for PR commit analysis
  .github/agents/api-diff.agent.md
Due: none

feat: refactor OpenAPI configuration handling across services and routes
  .github/agents/api-diff.agent.md
  .github/workflows/api-diff.yaml
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/ca.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/dms.go
  backend/pkg/config/kms.go
  backend/pkg/config/va.go
  backend/pkg/routes/utils.go
  core/pkg/config/openapi.go
Due: core, backend

feat: add PR comment step to API Diff Agent workflow for assessment reporting
  .github/workflows/api-diff.yaml
Due: none

feat: enhance OpenAPI integration by enabling dynamic spec loading and version injection
  backend/pkg/assemblers/alerts.go
  backend/pkg/routes/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
Due: backend

Update core/pkg/errs/device.go
  core/pkg/errs/device.go
Due: core

feat: add RFC for converting Device IdentitySlot to JSONB and enabling filtering
  docs/rfc007_idslot_jsonb.md
Due: none

feat: convert identity_slot column to jsonb and enable filtering in Device API
  core/pkg/resources/fields.go
  docs/RFC007-idslot-jsonb.md
  engines/storage/postgres/migrations/devicemanager/20260120114735_idslot_text_to_jsonb.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: core, storage-postgres

feat: update identity_slot migration tests to use jsonb and improve query methods
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: none

feat: update RFC to correct references from 'identity' to 'identity_slot' for JSONB filtering
  docs/RFC007-idslot-jsonb.md
Due: none

feat(device-manager): transform identity slot into jsonb and make it filterable (#382)
  core/pkg/resources/fields.go
  docs/RFC007-idslot-jsonb.md
  engines/storage/postgres/migrations/devicemanager/20260120114735_idslot_text_to_jsonb.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: core, storage-postgres

feat: RFC-004 Step 1.1 - Add device_groups database schema and migration
  engines/storage/postgres/migrations/devicemanager/20260115161136_create_device_groups.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: storage-postgres

feat: RFC-004 Step 1.2 - Add DeviceGroup domain model
  core/pkg/models/device.go
Due: core

feat: RFC-004 Step 1.3 - Add DeviceGroupsRepo storage interface
  core/pkg/engines/storage/devicemanager.go
Due: core

feat: RFC-004 Step 1.4 - Implement DeviceGroupsRepo for Postgres
  engines/storage/postgres/device_groups.go
  engines/storage/postgres/device_groups_test.go
Due: storage-postgres

feat: RFC-004 Step 2.1 - Add DeviceGroup service interface definition
  core/pkg/services/devicemanager.go
Due: core

feat(device-groups): Step 2.2 - Service Implementation
  .github/copilot-instructions.md
  .serena/.gitignore
  .serena/project.yml
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/services/devicemanager.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/errs/device.go
  core/pkg/models/events.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/services/devicemanager.go
  docs/EST.md
  docs/RFC-004-DynamicDeviceGroups.md
  engines/storage/postgres/devicemanager.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

feat(device-groups): Step 3.1 - HTTP Controllers & Routes
  backend/pkg/controllers/devmanager.go
  backend/pkg/routes/devmanager.go
  core/pkg/engines/storage/devicemanager.go
  engines/storage/postgres/devicemanager.go
Due: core, storage-postgres, backend

feat(device-groups): Step 5.1 - OpenAPI Specification
  docs/device-manager-openapi.yaml
Due: none

feat(device-groups): Step 4.2 - Integration Tests
  backend/pkg/assemblers/tests/device-manager/device_groups_test.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/devicemanager.go
Due: backend

feat(device-groups): Add mock methods for device group management
  backend/pkg/assemblers/tests/device-manager/device_groups_test.go
  core/pkg/services/mock/devicemanager_mock.go
Due: none

feat(sampledata): Implement sample data population for testing
  monolithic/cmd/development/main.go
  monolithic/pkg/config.go
  monolithic/pkg/sampledata/README.md
  monolithic/pkg/sampledata/generator.go
Due: none

feat(monolithic): Enhance sample data population with KMS integration and new issuance profiles
  monolithic/pkg/sampledata/generator.go
Due: none

feat(monolithic): Enroll 10 sample devices with certificates during data population
  monolithic/pkg/sampledata/generator.go
Due: none

feat(device-groups): Enhance device group management with criteria conversion and response formatting
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/utils.go
  backend/pkg/services/devicemanager.go
  core/pkg/models/device.go
  core/pkg/resources/devreq.go
  core/pkg/resources/query.go
  docs/device-manager-openapi.yaml
  sdk/devicemanager.go
Due: core, sdk, backend
