Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

feat: update tracer provider to use NeverSample for disabled tracing
  sdk/otel.go
Due: sdk

feat: add migration for creating device_groups table and update test references
  engines/storage/postgres/migrations/devicemanager/20260120114736_create_device_groups.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: storage-postgres

feat: chnage Device Group migration ID to prevent disordered migrations from release 3.7 (#401)
  engines/storage/postgres/migrations/devicemanager/20260120114736_create_device_groups.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: storage-postgres

feat: implement CMP RA protocol with custom ASN.1 types and in-memory transaction store
  docs/RFC009-cmp.md
Due: none

feat: add tests for SenderNonce and CertReqID in CMP message parsing
  backend/pkg/controllers/cmp_parse_test.go
Due: none

feat: Enhance DMS Manager Service with KMS integration and CMP improvements
  backend/cmd/dms-manager/main.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/config/dms.go
  backend/pkg/controllers/cmp.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
  cmp.sh
  core/pkg/models/dms.go
  core/pkg/models/dms_est_options.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/services/lwcmp.go
  monolithic/pkg/assembler.go
Due: core, backend

Implement CMP RA Protocol as per RFC 4210 and RFC 9480
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_parse_test.go
  core/pkg/services/lwcmp.go
  docs/rfcs/cmp_audit_2023_03_13.md
  docs/rfcs/external/RFC4210.txt
  docs/rfcs/external/RFC4211.txt
  docs/rfcs/external/RFC5280.txt
  docs/rfcs/external/RFC6712.txt
  docs/rfcs/external/RFC9480.txt
  docs/rfcs/external/RFC9481.txt
  docs/rfcs/external/RFC9483.txt
  docs/rfcs/external/RFC9810.txt
  docs/rfcs/external/RFC9811.txt
  docs/rfcs/internal/RFC004-DynamicDeviceGroups.md
  docs/rfcs/internal/RFC005-jsonpath-sorting.md
  docs/rfcs/internal/RFC007-idslot-jsonb.md
  docs/rfcs/internal/RFC008-filtered-stats.md
  docs/rfcs/internal/RFC009-cmp.md
Due: core, backend

feat: add CMP message sample files and parsing tests
  backend/pkg/controllers/cmp_message_samples/0001.ip
  backend/pkg/controllers/cmp_message_samples/0002.cr
  backend/pkg/controllers/cmp_parse_test.go
Due: backend

feat: Implement Lightweight CMP service methods in DMSManager
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/audit/dms_test.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_est.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/services/dmsmanager.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/dms_mock.go
  sdk/dmsmanager.go
Due: core, sdk, backend

Add ASN.1 module definitions for PKIX and related algorithms
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_parse_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/routes/cmp.go
  backend/pkg/services/dmsmanager.go
  cmp.ir
  core/pkg/helpers/readcerts.go
  core/pkg/services/lwcmp.go
  docs/rfcs/openssl_cmp.md
  pyasn1/main.py
  pyasn1/myasn1/AlgorithmInformation-2009.asn
  pyasn1/myasn1/AttributeCertificateVersion1-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2010.asn
  pyasn1/myasn1/CryptographicMessageSyntaxAlgorithms-2009.asn
  pyasn1/myasn1/KEMAlgorithmInformation-2023.asn
  pyasn1/myasn1/PKCS-10.asn
  pyasn1/myasn1/PKCS-9.asn
  pyasn1/myasn1/PKIX-CommonTypes-2009.asn
  pyasn1/myasn1/PKIX-X400Address-2009.asn
  pyasn1/myasn1/PKIX1-PSS-OAEP-Algorithms-2009.asn
  pyasn1/myasn1/PKIX1Explicit-2009.asn
  pyasn1/myasn1/PKIX1Implicit-2009.asn
  pyasn1/myasn1/PKIXAlgs-2009.asn
  pyasn1/myasn1/PKIXAttributeCertificate-2009.asn
  pyasn1/myasn1/PKIXCRMF-2009.asn
  pyasn1/myasn1/SecureMimeMessageV3dot1-2009.asn
  pyasn1/myasn1/cmp.asn
  pyasn1/myasn1/cmp_comp.json
  pyasn1/myasn1/cmp_comp.py
  pyasn1/myasn1/load_mod.txt
  pyasn1/myasn1/load_obj.txt
Due: core, backend

Implement CMP (Certificate Management Protocol) HTTP handler and ASN.1 encoding/decoding
  backend/go.mod
  backend/go.sum
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/routes/cmp.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms.go
  go.work.sum
Due: core, backend

feat: Update DMS Manager to support Lightweight CMP (RFC 9483) features
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms_lwcmp_options.go
  docs/rfcs/internal/RFC010-lwc-cmp-rfc9483.md
Due: core, backend

feat: add OTEL-logrus bridge, and bump dependencies (#400)
  .gitignore
  backend/pkg/services/alerts/output_channels/webhook.go
  core/go.mod
  core/go.sum
  core/pkg/config/otel.go
  core/pkg/helpers/logger.go
  go.work.sum
  sdk/go.mod
  sdk/go.sum
  sdk/otel.go
Due: core, sdk, backend

feat: Enhance CMP protection and enrollment options
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/middlewares/audit/dms.go
  backend/pkg/middlewares/eventpub/dms.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/services/lwcmp.go
  core/pkg/services/mock/cmp_mock.go
  core/pkg/services/mock/dms_mock.go
  docs/rfcs/internal/RFC010-lwc-cmp-rfc9483.md
  sdk/dmsmanager.go
Due: core, sdk, backend

refactor: update event bus handling and context propagation in CRL and device services
  backend/pkg/assemblers/va.go
  backend/pkg/middlewares/eventpub/crl.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/services/crl.go
Due: backend

refactor: Ensure correct context propagation in event publishing and fix CRL service assembly bugs (#402)
  backend/pkg/assemblers/va.go
  backend/pkg/middlewares/eventpub/crl.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/services/crl.go
Due: backend

feat: update codecov configuration for backend assemblers and rest services
  codecov.yml
Due: none

fix: update codecov flags for backend and related services
  .github/workflows/ci-test.yaml
  codecov.yml
Due: none

feat: add JSONPath filtering tests for device groups in device manager
  backend/pkg/assemblers/tests/device-manager/device_groups_test.go
Due: none

feat: add support for CBOMkit integration with additional ports routing
  engines/storage/postgres/test/postgres.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: storage-postgres

feat: update CBOMkit Docker configuration for improved routing and port bindings
  monolithic/cmd/development/main.go
Due: none

Refactor PostgreSQL storage to support schemas instead of databases
  engines/storage/postgres/cmd/goose-lamassu/main.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrate.go
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/migrations_test/utils.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/test/migrate_test.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/postgres_test.go
  engines/storage/postgres/test/test_suite.go
  engines/storage/postgres/utils.go
Due: storage-postgres

feat: unify context key type for client certificate and JWT extractors
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
Due: backend

feat: enhance authorization integration in device manager and PostgreSQL storage
  backend/pkg/controllers/utils.go
  backend/pkg/routes/devmanager.go
  engines/storage/postgres/utils.go
Due: storage-postgres, backend

feat: update authorization middleware parameters for CA and device manager routes
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
Due: backend

feat: integrate authorization middleware in CA and device manager routes
  backend/pkg/assemblers/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
Due: backend

feat: enhance identity extraction with additional context for JWT and client certificates
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/extractors.go
  backend/pkg/routes/middlewares/identity-extractors/jwt.go
  core/context.go
Due: core, backend

Enhance logging and HTTP client configuration
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/device-manager.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/kms.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  backend/pkg/routes/devmanager.go
  core/pkg/resources/query.go
  docs/RFC-004-DynamicDeviceGroups.md
  engines/storage/postgres/utils.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/sampledata/generator.go
Due: core, storage-postgres, backend

fix: update authz path in go.mod to correct directory
  backend/go.mod
Due: backend

Enhance HTTP Client Configuration with Custom Headers
  backend/go.mod
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/services/dmsmanager.go
  go.work.sum
  monolithic/pkg/assembler.go
Due: backend

feat: integrate authorization middleware across various services and routes
  backend/go.mod
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/kms.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  engines/storage/postgres/utils.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/sampledata/generator.go
Due: storage-postgres, backend

feat: enhance HTTP client configuration with custom headers for KMS and sample data population
  monolithic/pkg/assembler.go
  monolithic/pkg/sampledata/generator.go
Due: none

feat: refactor authorization middleware to use simplified version and update key URI parsing
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  core/pkg/models/kms.go
Due: core, backend

fix: update FilterQuery calls in tests to use nil context
  backend/pkg/controllers/utils_test.go
Due: none

feat: integrate authorization service and update API routes for authz
  backend/pkg/routes/alerts.go
  connectors/authz/cmd/main.go
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/sdk/sdk.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: backend

Refactor authorization logic and introduce new PrincipalMatcher
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/authz/identity_resolver.go
  connectors/authz/pkg/authz/policy_manager.go
  connectors/authz/pkg/authz/policy_manager_test.go
  connectors/authz/pkg/authz/ports.go
  connectors/authz/pkg/authz/principal_manager.go
  connectors/authz/pkg/authz/principal_manager_test.go
  connectors/authz/pkg/authz/principal_matcher.go
  connectors/authz/pkg/authz/principal_store_gorm.go
  connectors/authz/pkg/authz/service.go
Due: none

feat: improveJSONPath filtering tests for device groups in device manager (#404)
  backend/pkg/assemblers/tests/device-manager/device_groups_test.go
Due: none

refactor: Remove local real-world device data test from migration tests
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: none

feat: Add real-world device data migration tests for device events
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: none

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
