Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

feat: refactor CMP state management and update workflow transitions
  backend/pkg/controllers/cmp.go
  backend/pkg/integrations/wfx/cmp.go
  backend/pkg/integrations/wfx/cmp_test.go
  scripts/cmp-ir.sh
Due: backend

chore: untrack committed __pycache__ artifacts
  scripts/__pycache__/cmp_certconf.cpython-314.pyc
  scripts/__pycache__/cmp_pollreq.cpython-314.pyc
Due: none

feat(cmp): validate KUR oldCertId control, reject mismatch as badCertId
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_enrollment.go
Due: backend

Implement CMP Transaction Management and Confirmation Timeout Tests
  .claude/skills
  backend/go.mod
  backend/go.sum
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_parse_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/controllers/cmp_rfc_compliance_test.go
  backend/pkg/controllers/cmp_types.go
  core/pkg/engines/storage/dmsmanager.go
  engines/storage/postgres/cmptxstore.go
  scripts/cmp-certconf-explicit.sh
  scripts/cmp-ir-explicit.sh
Due: core, storage-postgres, backend

fix(ci): repair CMP E2E pipeline
  .github/workflows/ci-test.yaml
Due: none

feat(cmp): enhance ASN.1 decoding for ExtraCerts and improve protection verification logic
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_protection.go
Due: backend

test(cmp): add simple test runner against a running monolithic
  scripts/cmp-tests.sh
Due: none

test(cmp): update postgres CMP transaction store tests to current model
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/test/cmptxstore_test.go
Due: storage-postgres

fix(ci): pin cmp-test-suite checkout to the patch's base commit
  .github/workflows/ci-test.yaml
Due: none

feat: add README for pyasn1 tooling and enhance main.py with argument parsing
  pyasn1/README.md
  pyasn1/main.py
Due: none

feat: refactor CMP transaction management to support enhanced metadata and state transitions
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/dmsmanager.go
  core/pkg/engines/storage/dmsmanager.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/migrations/dmsmanager/20260511120000_cmp_transactions.sql
  engines/storage/postgres/migrations/dmsmanager/20260518120000_cmp_transactions_async.sql
  engines/storage/postgres/migrations/dmsmanager/20260519120000_cmp_transactions_persistence.sql
  engines/storage/postgres/migrations/dmsmanager/20260521120000_cmp_transactions_request_metadata.sql
  monolithic/pkg/storage/sqlite/schema.go
Due: core, storage-postgres, backend

fix(monolithic): unify CMP WFX wiring onto v4 North/South ports
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  monolithic/cmd/development/main.go
  monolithic/go.mod
  monolithic/go.sum
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
Due: shared-aws, shared-http, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

fix(ci): install cmp-test-suite deps instead of the un-buildable package
  scripts/run-cmp-test-suite.sh
Due: none

test(cmp): add --per-suite-isolated mode to recover passable tests
  scripts/run-cmp-test-suite.sh
Due: none

feat: enhance CMP handling with base64 metadata and WFX integration
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_handler_test.go
Due: backend

test(cmp): pass -tls_used so openssl cmp E2E works on OpenSSL 3.0.x
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
Due: none

feat: add CMP ASN.1 Inspector interface and update PEM loading logic
  pyasn1/index.html
  pyasn1/main.py
Due: none

feat: add SelectIncludingExpired method to inMemoryCMPStore for transaction retrieval
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_handler_test.go
Due: backend

test(dms): set enrollment protocol in minimal DMS test fixtures
  backend/pkg/assemblers/tests/dms-manager/main_test.go
Due: none

fix(cmp): enforce RFC 9483 senderKID, reject EE raVerified, precise failInfo
  .github/patches/cmp-test-suite/lamassu.robot
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_enrollment.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_validator.go
Due: backend

fix(sampledata): align CMP sample DMS with refactored ReEnrollmentSettings
  monolithic/pkg/sampledata/generator.go
Due: none

feat(cmp): implement cert-request-level rejection handling and improve RFC compliance
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_enrollment.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_rfc_compliance_test.go
Due: backend

test(cmp): e2e test runner + bootstrap trust for renewals
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  .github/patches/cmp-test-suite/lamassu.robot
  .gitignore
  go.work.sum
  scripts/cmp-bootstrap-setup.sh
  scripts/run-cmp-test-suite.sh
Due: none

feat(cmp): add compatibility patches for CMP test suite and enhance CI workflow
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  .github/workflows/ci-test.yaml
Due: none

feat: update logging level to None for event bus configurations and add CORS support in monolithic assembler
  backend/pkg/integrations/wfx/cmp.go
  engines/eventbus/amqp/subsystem/subsystem.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
Due: eventbus-amqp, backend

fix(ci): install cmp-test-suite deps from an extracted requirements list
  scripts/run-cmp-test-suite.sh
Due: none

fix(dms): restore full re-enrollment auth dispatch and update tests
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager_est.go
Due: backend

fix(core): add GetCMPTransactionStorage to MockStorageEngine
  core/pkg/engines/storage/engine_test.go
Due: none

fix(ci): install liboqs-python so cmp-test-suite setup doesn't crash
  scripts/run-cmp-test-suite.sh
Due: none

feat: refactor CMP routing and update CMP path in scripts
  cmp.ir
  cmp.sh
  monolithic/pkg/assembler.go
  scripts/cmp-ir.sh
Due: none

Add CMP certConf client script for certificate confirmation
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/config/dms.go
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/jobs/cmp-confirmation-monitor-job.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_lwcmp.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/errs/dms.go
  core/pkg/models/dms_lwcmp_options.go
  core/pkg/resources/cmpresp.go
  core/pkg/resources/fields.go
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/migrations/dmsmanager/20260521120000_cmp_transactions_request_metadata.sql
  monolithic/pkg/assembler.go
  monolithic/pkg/storage/sqlite/schema.go
  scripts/__pycache__/cmp_certconf.cpython-314.pyc
  scripts/__pycache__/cmp_pollreq.cpython-314.pyc
  scripts/cmp-drop-and-poll.sh
  scripts/cmp_certconf.py
Due: core, storage-postgres, backend

feat: enhance CMP state reporting and add WFX support in monolithic setup
  backend/pkg/controllers/cmp.go
  monolithic/cmd/development/main.go
Due: backend

fix(cryptoengines): remove unused context from keyVaultSignerWrapper
  engines/crypto/azure/keyvault.go
Due: none

fix: CMP Sample files
  backend/pkg/controllers/cmp/cmp_message_samples/0001.ip
  backend/pkg/controllers/cmp/cmp_message_samples/0002.cr
Due: backend

fix(cryptoengines): removes replace from go.work
  go.work
Due: none

fix: CMP Sample files
  .github/workflows/ci-test.yaml
  .github/workflows/test-report.yaml
  scripts/run-cmp-test-suite.sh
Due: none

fix: test result report not appearing correctly
  .github/workflows/ci-test.yaml
Due: none

fix(cryptoengines): deletes azure package reference in go.mod
  engines/crypto/azure/go.mod
Due: none
