Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

Added Dockerfiles for hybrid deployment
  ci/devmanager.dockerfile
  ci/pq_alerts.dockerfile
  ci/pq_devmanager.dockerfile
  ci/pq_dmsmanager.dockerfile
  ci/pq_va.dockerfile
Due: none

CA: removed old metadata so as to conform to the new specification
  backend/pkg/services/ca.go
Due: backend

Implemented necessary changes to complete the merge. PQ support is back.
  .gitignore
  backend/go.mod
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_sign_test.go
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  connectors/awsiot/pkg/assembler.go
  core/go.mod
  core/pkg/engines/eventbus/messaging.go
  core/pkg/models/events.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/storage/postgres/cmd/goose-lamassu/main.go
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/ca.go
  shared/subsystems/go.sum
Due: core, sdk, crypto-filesystem, storage-postgres, backend

Added dockerfile to deploy the fixed KMS for PQ operations
  ci/pq_kms.dockerfile
Due: none

Fixed issues with the generation of certain types of certificates. PQ support seems fully fixed.
  Makefile
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_sign_test.go
  sdk/ca.go
Due: sdk, backend

fix: update authz path in go.mod to correct directory
  backend/go.mod
Due: backend

Fixed errors caused by the rebase
  Makefile
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/x509engines/x509engine.go
  connectors/awsiot/pkg/assembler.go
  core/pkg/engines/eventbus/messaging.go
  deploy-lamassuq.sh
  go.work.sum
Due: core, backend

Improve logging messages across services for clarity and consistency
  backend/cmd/alerts/main.go
  backend/cmd/ca/main.go
  backend/cmd/device-manager/main.go
  backend/cmd/dms-manager/main.go
  backend/cmd/kms/main.go
  backend/cmd/va/main.go
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/controllers/va.go
  backend/pkg/cryptoengines/builder/registrar_aws.go
  backend/pkg/cryptoengines/builder/registrar_pkcs11.go
  backend/pkg/cryptoengines/builder/registrar_vault.go
  backend/pkg/jobs/ca-crypto-monitor-job.go
  backend/pkg/jobs/job-scheduler.go
  backend/pkg/jobs/va-crl-job.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/services/ca.go
  backend/pkg/services/crl.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/kms.go
Due: backend

feat: integrate authorization middleware across various services and routes
  backend/go.mod
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/kms.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
  monolithic/pkg/sampledata/generator.go
Due: storage-postgres, backend

feat: implement CreateCertificate endpoint and associated logic
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/pkg/errs/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  monolithic/pkg/sampledata/generator.go
  sdk/ca.go
Due: core, sdk, backend

Potential fix for pull request finding
  core/pkg/services/ca.go
Due: core

feat: refactor CreateCertificate to streamline input structure and error handling
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  sdk/ca.go
Due: core, sdk, backend

Adding tests
  backend/pkg/assemblers/tests/ca/ca_create_certificate_test.go
Due: none

feat: enhance HTTP client configuration with custom headers for KMS and sample data population
  monolithic/pkg/assembler.go
  monolithic/pkg/sampledata/generator.go
Due: none

feat: update CreateCertificate logic to refine key spec validation and enhance error handling
  backend/pkg/services/ca.go
Due: backend

Potential fix for pull request finding
  backend/pkg/controllers/ca.go
Due: backend

Potential fix for pull request finding
  backend/pkg/services/ca.go
Due: backend

feat: enhance certificate creation logic with additional test cases and error handling
  backend/pkg/assemblers/tests/ca/ca_create_certificate_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  sdk/kms.go
Due: sdk, backend

feat: enhance certificate issuance logic with key usage and extended key usage handling
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
Due: backend

feat: remove debug logging for issuance profile key usage and extended key usages
  backend/pkg/services/ca.go
Due: backend

feat: invert key usage and extended key usage application logic in issuance profile
  backend/pkg/x509engines/x509engine.go
Due: backend

feat: update key usage and extended key usage handling in certificate signing tests
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/x509engines/x509engine.go
Due: backend

feat: refactor authorization middleware to use simplified version and update key URI parsing
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  core/pkg/models/kms.go
Due: core, backend

Apply suggestions from code review
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_subject_test.go
Due: backend

feat: add support for 'not in' and 'not in ignore case' filters in query parameters
  backend/pkg/assemblers/tests/ca/ca_certificates_test.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  core/pkg/resources/query.go
  docs/filtering.md
  engines/storage/postgres/utils.go
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

Update dependencies in go.mod and go.sum
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

Potential fix for code scanning alert no. 345: Workflow does not contain permissions
  .github/workflows/release_finalize.yaml
Due: none

feat: implement CreateCertificate endpoint and associated logic (#396)
  backend/pkg/assemblers/tests/ca/ca_create_certificate_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/errs/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  monolithic/pkg/sampledata/generator.go
  sdk/ca.go
  sdk/kms.go
Due: core, sdk, backend

Potential fix for code scanning alert no. 345: Workflow does not contain permissions (#397)
  .github/workflows/release_finalize.yaml
Due: none

Add `in` and `in_ic` filter operators for string and enum fields (#395)
  backend/pkg/assemblers/tests/ca/ca_certificates_test.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
  core/pkg/resources/query.go
  docs/filtering.md
  engines/storage/postgres/utils.go
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

fix: downgrade Go version to 1.24.0 in go.mod files
  backend/go.mod
  engines/storage/postgres/go.mod
  monolithic/go.mod
Due: storage-postgres, backend

security: Update dependencies in go.mod and go.sum (#398)
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.mod
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

Potential fix for code scanning alert no. 344: Workflow does not contain permissions
  .github/workflows/release_finalize.yaml
Due: none

feat: refactor CA and KMS service initialization, add service builder for middleware application
  backend/cmd/ca/main.go
  backend/cmd/kms/main.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/kms.go
  backend/pkg/config/ca.go
  backend/pkg/config/kms.go
  backend/pkg/servicebuilder/builder.go
Due: backend

feat(x509engine): improve issuance profile handling and test clarity
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_subject_test.go
Due: backend

feat: enable OpenTelemetry logging and update dependencies
  .gitignore
  backend/pkg/services/alerts/output_channels/webhook.go
  core/go.mod
  core/go.sum
  core/pkg/config/otel.go
  core/pkg/helpers/logger.go
  docker-compose.yaml
  go.work.sum
  monolithic/cmd/development/main.go
  nginx.conf
  sdk/go.mod
  sdk/go.sum
  sdk/otel.go
Due: core, sdk, backend

feat: remove VictoriaLogs and related configurations, disable OpenTelemetry logging
  .gitignore
  core/pkg/helpers/logger.go
  docker-compose.yaml
  monolithic/cmd/development/main.go
  nginx.conf
  sdk/otel.go
Due: core, sdk

fix: update OTEL logging configuration for base path and improve URL handling
  core/pkg/config/otel.go
  core/pkg/helpers/logger.go
  sdk/otel.go
Due: core, sdk

feat ca: enhance CN preservation logic in issuance profile application (#392)
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_subject_test.go
Due: backend
