Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

chore: CA: reorder migration ca-csr-request (#208)
  engines/storage/postgres/migrations/ca/20250115095852_create_requests_table.sql
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres

update pkcs11 tests and refactor RenameKey method
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/pkcs11/pkcs11_test.go
Due: crypto-pkcs11

Refactor connector
  connectors/awsiot/cmd/main.go
  connectors/awsiot/pkg/config.go
  connectors/awsiot/pkg/models.go
  core/pkg/models/events.go
Due: core

Update CHANGELOG and RELEASE-NOTES
  CHANGELOG.md
  RELEASE-NOTES.md
Due: none

Refactor: move aws connector structures and ID composition logic to connector implementation (#205)
  backend/pkg/test/e2e/usecase-1.go
  connectors/awsiot/cmd/main.go
  connectors/awsiot/pkg/event-handlers.go
  connectors/awsiot/pkg/models.go
  connectors/awsiot/pkg/service.go
  core/pkg/models/events.go
  monolithic/pkg/assembler.go
Due: core, backend

add aws-related metadata migration to new schema defined in #166
  engines/storage/postgres/migrations/ca/20250123125500_ca_aws_metadata.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres

refactor GetKey for software-based engines
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: crypto-aws, crypto-filesystem, crypto-vaultkv2

standarize time format
  engines/storage/postgres/migrations/ca/20250123125500_ca_aws_metadata.go
Due: storage-postgres

adding missing timeformat normalization in aws ca metadata
  engines/storage/postgres/migrations_test/ca_test.go
Due: none

added GetKey specific tests
  engines/crypto/software/software_test.go
Due: none

migration: add aws-related metadata migration to new schema defined in #166 (#209)
  engines/storage/postgres/migrations/ca/20250123125500_ca_aws_metadata.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres

refactor GetKey for software-based engines (#210)
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/software/software.go
  engines/crypto/software/software_test.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: crypto-aws, crypto-filesystem, crypto-vaultkv2

hotfixing ca service renaming
  backend/pkg/services/ca.go
Due: backend

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: hotfix - remove unseting ENV variables befbore PKCS11 proxy connection
  engines/crypto/pkcs11/pkcs11.go
Due: crypto-pkcs11

fixed x509 key serialization
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  core/pkg/models/ca.go
  core/pkg/models/x509_keyusage.go
  core/pkg/models/x509_keyusage_test.go
  engines/storage/postgres/migrations_test/utils.go
Due: core, storage-postgres, backend

rename ci-test worflow
  .github/workflows/ci-test.yaml
Due: none

chore: rename ci-test worflow (#212)
  .github/workflows/ci-test.yaml
Due: none

Fix: CA - fixed x509 key serialization (#211)
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  core/pkg/models/ca.go
  core/pkg/models/x509_keyusage.go
  core/pkg/models/x509_keyusage_test.go
  engines/storage/postgres/migrations_test/utils.go
Due: core, storage-postgres, backend

adding multi va services for ocsp and crl as well as http access
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/config/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
Due: backend

pinning docker dependency
  shared/aws/docker-emulator.go
Due: shared-aws

fixing monolithic build
  monolithic/pkg/assembler.go
Due: none

CRL with AKI instead of CAID
  backend/pkg/assemblers/va_test.go
  backend/pkg/controllers/va.go
  backend/pkg/routes/va.go
  backend/pkg/services/crl.go
  core/pkg/services/crl.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
  sdk/utils.go
Due: core, sdk, backend

adding missing imports
  backend/pkg/services/crl.go
Due: backend

ensure sns topic exists before subscribing
  engines/eventbus/aws/aws-sqs-sns.go
  shared/aws/docker-emulator.go
Due: shared-aws, eventbus-aws

fix: aws eventbus - ensure sns topic exists before subscribing to sns (#215)
  engines/eventbus/aws/aws-sqs-sns.go
  shared/aws/docker-emulator.go
Due: shared-aws, eventbus-aws

adding first implementation to scheduled crls
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/va.go
  backend/pkg/controllers/va.go
  backend/pkg/jobs/ca-crypto-monitor-job.go
  backend/pkg/jobs/ca-crypto-monitor-job_test.go
  backend/pkg/jobs/job-scheduler.go
  backend/pkg/jobs/job-scheduler_test.go
  backend/pkg/services/crl.go
  backend/pkg/services/handlers/va-handlers.go
  ci/monolithic.dockerfile
  core/pkg/engines/storage/engine.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/engines/storage/va.go
  core/pkg/models/va.go
  core/pkg/services/crl.go
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrations/va/00000000000001_create_table.sql
  engines/storage/postgres/vastore.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
Due: core, crypto-pkcs11, storage-postgres, backend

use keyid as aki in crl query
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/services/crl.go
  core/pkg/resources/careq.go
  monolithic/pkg/assembler.go
Due: core, backend

feat: ca - Add multiple URLs to CRL and OCSP fields in certificates as well as accesing over http instead of https (#213)
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/config/ca.go
  backend/pkg/controllers/va.go
  backend/pkg/routes/va.go
  backend/pkg/services/ca.go
  backend/pkg/services/crl.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  core/pkg/resources/careq.go
  core/pkg/services/crl.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
  sdk/utils.go
Due: core, sdk, backend

fixing db serialization
  backend/pkg/services/crl.go
  core/pkg/models/bigint.go
  core/pkg/models/va.go
  engines/storage/postgres/migrations/va/00000000000001_create_table.sql
Due: core, storage-postgres, backend

adding idp extension to crl
  backend/pkg/services/crl.go
Due: backend

rm example domain in idp and add customizable uris
  backend/pkg/assemblers/va.go
  backend/pkg/config/va.go
  backend/pkg/services/crl.go
  monolithic/pkg/assembler.go
Due: backend

fixing merge issued + adding http port for monolithic PKI
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/services/crl.go
  monolithic/pkg/assembler.go
Due: backend

feat: va - add Issuing Distribution Point extension to CRL (#214)
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/va.go
  backend/pkg/services/crl.go
  monolithic/pkg/assembler.go
Due: backend
