Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

Added support for Chameleon Root CA Creation
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  sdk/ca.go
Due: core, sdk, backend

Refactored x509engine to remove unused parameters from the newly created function's signature
  backend/pkg/x509engines/x509engine.go
Due: backend

Refactored x509Engine to set the grounds for PQ hybrid CSR signing
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  connectors/awsiot/pkg/assembler.go
  core/pkg/services/mock/caservice_mock.go
Due: backend

Added support for chameleon root CA creation, chameleon subordinate CA creation in progress.
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  engines/crypto/filesystem/filesystem.go
Due: core, crypto-filesystem, backend

Added support for Subordinate Chameleon CA creation
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/ca.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/helpers/cryptoutils_test.go
  core/pkg/helpers/readcerts.go
  core/pkg/services/ca.go
Due: core, backend

CA: added metadata to hybrid delta cas
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
Due: backend

Added Dockerfile for hybrid CA deployment
  ci/pq_ca.dockerfile
Due: none

CA: removed old metadata so as to conform to the new specification
  backend/pkg/services/ca.go
Due: backend

Added makefile for ease of development
  Makefile
Due: none

Added Dockerfiles for hybrid deployment
  ci/pq_alerts.dockerfile
  ci/pq_devmanager.dockerfile
  ci/pq_dmsmanager.dockerfile
  ci/pq_va.dockerfile
  core/pkg/helpers/readcerts.go
Due: core

Implemented necessary changes to complete the merge. PQ support is back.
  .gitignore
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_sign_test.go
  core/pkg/engines/eventbus/messaging.go
  core/pkg/models/events.go
  engines/crypto/filesystem/filesystem.go
  engines/storage/postgres/cmd/goose-lamassu/main.go
  go.work.sum
Due: core, crypto-filesystem, storage-postgres, backend

Added dockerfile to deploy the fixed KMS for PQ operations
  ci/pq_kms.dockerfile
Due: none

Fixed issues with the generation of certain types of certificates. PQ support seems fully fixed.
  Makefile
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine_sign_test.go
  sdk/ca.go
Due: sdk, backend

Fixed errors caused by the rebase
  Makefile
  core/pkg/engines/eventbus/messaging.go
  deploy-lamassuq.sh
  go.work.sum
Due: core

added go version
  monolithic/cmd/development/main.go
Due: none

feat: update CA creation and key management logic, enhance test coverage, and refactor key handling
  backend/go.sum
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine.go
Due: backend

fix: update import paths for mldsa packages to remove redundant prefix
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  engines/crypto/software/software.go
Due: core

refactor: streamline CA creation and signing process, enhance error handling, and apply issuance profile
  backend/pkg/x509engines/x509engine.go
Due: backend

refactor: replace identity extractor references with client certificate EST auth mode constant
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
Due: none

fix: update workflow permissions
  .github/workflows/bump-goversion.yaml
  .github/workflows/release_finalize.yaml
  .github/workflows/release_open_pr.yaml
Due: none

fix: update workflow permissions (#622)
  .github/workflows/bump-goversion.yaml
  .github/workflows/release_finalize.yaml
  .github/workflows/release_open_pr.yaml
Due: none

feat: implement chameleon CA creation and enhance key management, improve error handling and logging
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/services/kms.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/aws/secretsmanager_test.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/crypto/vaultkv2/vaultkv2_test.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, backend

refactor: update MLDSA references to use x509.MLDSA for consistency across the codebase
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/services/kmssigner.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/cryptokey.go
Due: core, backend

feat: Add support for SLH-DSA and Composite ML-DSA-RSA key types
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine_pqc_test.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/cryptokey.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, backend

fix: allow unauthenticated reenrollment only with explicit NO_AUTH case
  backend/pkg/services/dmsmanager.go
Due: backend

refactor: rename invokeEnrollmentWebhook to invokeWebhook and update logging for operation context
  backend/pkg/services/dmsmanager.go
Due: backend

fix: improve logging message for certificate revocation status verification
  backend/pkg/services/dmsmanager.go
Due: backend

test: add webhook call count verification for client certificate validation in EST enroll and reenroll tests
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager.go
Due: backend

fix: update device key usage in TestESTReEnroll and add certificate validation
  backend/pkg/assemblers/tests/dms-manager/main_test.go
Due: none

fix: enforce CommonName validation in client certificate re-enrollment process
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager.go
Due: backend

fix: improve future-dated certificate validation logic
  backend/pkg/helpers/x509validation.go
Due: backend

test: add unit test
  backend/pkg/helpers/x509validation_test.go
Due: none

feat: enhance device event logging with previous and new status tracking
  backend/pkg/services/devicemanager.go
Due: backend

feat: Add real-world device data migration tests for device events
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: none

refactor: Remove local real-world device data test from migration tests
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: none

feat: Implement device event management
  backend/pkg/assemblers/tests/alerts/main_test.go
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/alerts.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  connectors/awsiot/pkg/service.go
  core/pkg/engines/storage/alerts.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/models/device.go
  core/pkg/resources/caresp.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/resources/fields.go
  core/pkg/services/alerts.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  docs/alerts-openapi.yaml
  engines/storage/postgres/device_events.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/eventstore.go
  engines/storage/postgres/migrations/devicemanager/20260317120000_create_device_events.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
  sdk/alerts.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

feat: Implement SSE support for device events with new SSE hub and handlers
  backend/pkg/assemblers/device-manager.go
  backend/pkg/config/devicemanger.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/sse_hub.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/handlers/device-sse-handlers.go
  core/pkg/models/events.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: core, backend

fix: improve future-dated certificate validation logic (#642)
  backend/pkg/helpers/x509validation.go
  backend/pkg/helpers/x509validation_test.go
Due: backend

feat: implement timeout handling for external webhook authorization
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/webhook-call.go
Due: core, backend
