Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

chore: untrack .claude directory
  .claude/skills
Due: none

test(cmp): pass -tls_used so openssl cmp E2E works on OpenSSL 3.0.x
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
Due: none

fix: CMP Sample files
  .github/workflows/ci-test.yaml
  .github/workflows/test-report.yaml
  scripts/run-cmp-test-suite.sh
Due: none

fix: test result report not appearing correctly
  scripts/run-cmp-test-suite.sh
Due: none

fix(ci): run cmp-test-suite PQ-free; drop liboqs source build
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  scripts/run-cmp-test-suite.sh
Due: none

fix: floor phased-approval delivery window to cover a full poll cycle
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/dmsmanager_cmp_approve_test.go
Due: backend

fix(ci): install liboqs-python so cmp-test-suite setup doesn't crash
  scripts/run-cmp-test-suite.sh
Due: none

feat(cmp): add compatibility patches for CMP test suite and enhance CI workflow
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  .github/workflows/ci-test.yaml
Due: none

Refactor code structure cmp files
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_enrollment.go
  backend/pkg/controllers/cmp_genmsg.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_message_samples/0001.ip
  backend/pkg/controllers/cmp_message_samples/0002.cr
  backend/pkg/controllers/cmp_rfc_compliance_test.go
Due: backend

fix: add checkout step for test report job to resolve annotation paths
  .github/workflows/ci-test.yaml
Due: none

Remove obsolete RFC 9811 and add RFC index table in ietf.md
  docs/rfcs/external/RFC4210.txt
  docs/rfcs/external/RFC4211.txt
  docs/rfcs/external/RFC5280.txt
  docs/rfcs/external/RFC6712.txt
  docs/rfcs/external/RFC9480.txt
  docs/rfcs/external/RFC9481.txt
  docs/rfcs/external/RFC9483.txt
  docs/rfcs/external/RFC9810.txt
  docs/rfcs/external/RFC9811.txt
  docs/rfcs/ietf.md
Due: none

feat(cmp): implement cert-request-level rejection handling and improve RFC compliance
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_enrollment.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_rfc_compliance_test.go
Due: backend

fix(cmp): enforce RFC 9483 senderKID, reject EE raVerified, precise failInfo
  .github/patches/cmp-test-suite/lamassu.robot
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_enrollment.go
  backend/pkg/controllers/cmp_handler_test.go
  backend/pkg/controllers/cmp_validator.go
Due: backend

fix(monolithic): unify CMP WFX wiring onto v4 North/South ports
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: none

fix: reconcile CMP test helpers with v4 test-harness refactor after rebase
  backend/pkg/assemblers/tests/dms-manager/cmp_e2e_test.go
  engines/storage/postgres/test/cmptxstore_test.go
Due: none

Remove obsolete ASN.1 module and object definitions from load_mod.txt and load_obj.txt
  docs/rfcs/cmp_audit_2023_03_13.md
  docs/rfcs/openssl_cmp.md
  pyasn1/README.md
  pyasn1/index.html
  pyasn1/main.py
  pyasn1/myasn1/AlgorithmInformation-2009.asn
  pyasn1/myasn1/AttributeCertificateVersion1-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2009.asn
  pyasn1/myasn1/CryptographicMessageSyntax-2010.asn
  pyasn1/myasn1/CryptographicMessageSyntaxAlgorithms-2009.asn
  pyasn1/myasn1/KEMAlgorithmInformation-2023.asn
  pyasn1/myasn1/PKCS-10.asn
  pyasn1/myasn1/PKCS-9.asn
  pyasn1/myasn1/PKIX-CommonTypes-2009.asn
  pyasn1/myasn1/PKIX-X400Address-2009.asn
  pyasn1/myasn1/PKIX1-PSS-OAEP-Algorithms-2009.asn
  pyasn1/myasn1/PKIX1Explicit-2009.asn
  pyasn1/myasn1/PKIX1Implicit-2009.asn
  pyasn1/myasn1/PKIXAlgs-2009.asn
  pyasn1/myasn1/PKIXAttributeCertificate-2009.asn
  pyasn1/myasn1/PKIXCRMF-2009.asn
  pyasn1/myasn1/SecureMimeMessageV3dot1-2009.asn
  pyasn1/myasn1/cmp.asn
  pyasn1/myasn1/cmp_comp.json
  pyasn1/myasn1/cmp_comp.py
  pyasn1/myasn1/load_mod.txt
  pyasn1/myasn1/load_obj.txt
Due: none

fix(sampledata): align CMP sample DMS with refactored ReEnrollmentSettings
  monolithic/pkg/sampledata/generator.go
Due: none

test(cmp): e2e test runner + bootstrap trust for renewals
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  .github/patches/cmp-test-suite/lamassu.robot
  .gitignore
  scripts/cmp-bootstrap-setup.sh
  scripts/run-cmp-test-suite.sh
Due: none

ci: take CMP test suite from lamassuiot fork instead of patching upstream
  .github/patches/cmp-test-suite/0001-lamassu-compat.patch
  .github/patches/cmp-test-suite/lamassu.robot
  .github/workflows/ci-test.yaml
  scripts/cmp-tests.sh
  scripts/run-cmp-test-suite.sh
Due: none

fix(ci): repair CMP E2E pipeline
  .github/workflows/ci-test.yaml
Due: none

fix: test result report not appearing correctly
  .github/workflows/ci-test.yaml
  scripts/run-cmp-test-suite.sh
Due: none

feat(cmp): enhance ASN.1 decoding for ExtraCerts and improve protection verification logic
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_protection.go
Due: backend

fix: test result report not appearing correctly
  .github/workflows/ci-test.yaml
Due: none

fix(dms): restore full re-enrollment auth dispatch and update tests
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager_est.go
  core/pkg/models/dms_est_options.go
Due: core, backend

test(cmp): update postgres CMP transaction store tests to current model
  engines/storage/postgres/cmptxstore.go
  engines/storage/postgres/test/cmptxstore_test.go
Due: storage-postgres

fix(ci): install cmp-test-suite deps instead of the un-buildable package
  scripts/run-cmp-test-suite.sh
Due: none

Implement CMP Transaction Management and Confirmation Timeout Tests
  .claude/skills
  backend/go.mod
  backend/pkg/controllers/cmp.go
  backend/pkg/controllers/cmp_asn1.go
  backend/pkg/controllers/cmp_parse_test.go
  backend/pkg/controllers/cmp_protection.go
  backend/pkg/controllers/cmp_rfc_compliance_test.go
  backend/pkg/controllers/cmp_types.go
  core/pkg/engines/storage/dmsmanager.go
  engines/storage/postgres/cmptxstore.go
  scripts/cmp-certconf-explicit.sh
  scripts/cmp-ir-explicit.sh
Due: core, storage-postgres, backend

feat: refactor CMP routing and update CMP path in scripts
  cmp.ir
  cmp.sh
  monolithic/pkg/assembler.go
  scripts/cmp-ir.sh
Due: none

fix(ci): install cmp-test-suite deps from an extracted requirements list
  scripts/run-cmp-test-suite.sh
Due: none

fix: CMP Sample files
  backend/pkg/controllers/cmp/cmp_message_samples/0001.ip
  backend/pkg/controllers/cmp/cmp_message_samples/0002.cr
Due: backend

test(cmp): add --per-suite-isolated mode to recover passable tests
  scripts/run-cmp-test-suite.sh
Due: none

chore: untrack committed __pycache__ artifacts
  scripts/__pycache__/cmp_certconf.cpython-314.pyc
  scripts/__pycache__/cmp_pollreq.cpython-314.pyc
Due: none

chore: untrack .claude directory
  .gitignore
Due: none

test(cmp): add simple test runner against a running monolithic
  scripts/cmp-tests.sh
Due: none

fix(core): add GetCMPTransactionStorage to MockStorageEngine
  core/pkg/engines/storage/engine_test.go
Due: none

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
