Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

Add sample private key for sample data population
  monolithic/pkg/sampledata/ecdsa_p256_key.pem
Due: none

feat(device-groups): Refactor operand name conversion to use new common FormatOperandName function
  backend/pkg/controllers/utils.go
  core/pkg/resources/query.go
  sdk/devicemanager.go
Due: core, sdk, backend

feat(monolithic): Refactor certificate profile creation and signing logic for improved readability and maintainability
  monolithic/pkg/sampledata/generator.go
Due: none

feat(device-groups): Update device group tests to use SDK
  backend/pkg/assemblers/tests/device-manager/device_groups_test.go
  sdk/devicemanager.go
Due: sdk

feat(device-groups): Refactor device group creation and update logic reducing code duplication
  backend/pkg/services/devicemanager.go
Due: backend

feat(device-groups): Enhance GetAllDeviceGroups response format to include operand names
  backend/pkg/controllers/devmanager.go
Due: backend

fix(errs): Correct typo in ErrDeviceAlreadyExists error message
  docs/device-manager-openapi.yaml
Due: none

feat: add lamassu-db-migration Dockerfile and update references in workflows and README
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
  ci/lamassu-db-migration.dockerfile
  engines/storage/postgres/cmd/goose-lamassu/README.md
Due: storage-postgres

Update .github/workflows/dev-release.yaml
  .github/workflows/dev-release.yaml
Due: none

Update engines/storage/postgres/cmd/goose-lamassu/README.md
  engines/storage/postgres/cmd/goose-lamassu/README.md
Due: storage-postgres

Update .github/workflows/release_finalize.yaml
  .github/workflows/release_finalize.yaml
Due: none

feat: add lamassu-db-migration Dockerfile and update references in workflows and README (#383)
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
  ci/lamassu-db-migration.dockerfile
  engines/storage/postgres/cmd/goose-lamassu/README.md
Due: storage-postgres

fix: update service name to lamassu-db-migration in docker image workflows
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
Due: none

fix: update service name to lamassu-db-migration in docker image work… (#385)
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
Due: none

feat(storage/postgres): add CountWithFilters methods for CA, Certificate, DMS, and KMS stores
  core/go.mod
  core/go.sum
  core/pkg/engines/storage/ca.go
  core/pkg/engines/storage/dmsmanager.go
  core/pkg/engines/storage/kms.go
  docs/RFC008-filtered-stats.md
  engines/storage/postgres/castore.go
  engines/storage/postgres/certstore.go
  engines/storage/postgres/dmsmanager.go
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  engines/storage/postgres/kmsstorage.go
  monolithic/go.mod
  monolithic/go.sum
Due: core, storage-postgres

feat(dms): implement filtered statistics retrieval with query parameters
  backend/pkg/assemblers/tests/dms-manager/filtered_stats_test.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/services/dmsmanager.go
  core/pkg/services/dmsmanager.go
  docs/RFC008-filtered-stats.md
  docs/dms-manager-openapi.yaml
  sdk/dmsmanager.go
Due: core, sdk, backend

feat(kms): add GetKeyStats endpoint for retrieving key statistics with filtering
  backend/pkg/controllers/kms.go
  backend/pkg/middlewares/audit/kms.go
  backend/pkg/middlewares/eventpub/kms.go
  backend/pkg/middlewares/otel/kms.go
  backend/pkg/routes/kms.go
  backend/pkg/services/kms.go
  core/pkg/models/kms.go
  core/pkg/services/kms.go
  docs/kms-openapi.yaml
  sdk/kms.go
Due: core, sdk, backend

feat: Enhance GetStats API to support filtering with CA and Certificate parameters
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/ca_stats_filtered_test.go
  backend/pkg/assemblers/tests/kms/stats_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/utils.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/services/ca.go
  core/pkg/services/ca.go
  sdk/ca.go
  sdk/utils.go
Due: core, sdk, backend

feat: Implement filtered statistics endpoints and enhance sample data feature for testing
  docs/RFC008-filtered-stats.md
  docs/filtering.md
Due: none

Added dockerfile to deploy the fixed KMS for PQ operations
  ci/pq_kms.dockerfile
Due: none

fix cherrypick build error
  backend/pkg/controllers/utils.go
Due: backend

feat: Update GetStats method in MockCAService to accept input parameters
  backend/pkg/controllers/utils.go
  core/pkg/services/mock/caservice_mock.go
Due: backend

feat(tests): add 'critical' metadata field in test data setup
  backend/pkg/assemblers/tests/dms-manager/filtered_stats_test.go
Due: none

feat(mock): implement GetKeyStats method with optional filtering
  core/pkg/services/mock/kms_mock.go
Due: none

feat: enhance error handling in query parameter filtering functions
  backend/pkg/controllers/ca.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/dmsmanager.go
  backend/pkg/controllers/kms.go
  backend/pkg/controllers/utils.go
  backend/pkg/controllers/utils_test.go
Due: backend

fix: upgrade lamassu module dependencies to latest version
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/crypto/aws/go.mod
  engines/crypto/aws/go.sum
  engines/crypto/filesystem/go.mod
  engines/crypto/filesystem/go.sum
  engines/crypto/pkcs11/go.mod
  engines/crypto/pkcs11/go.sum
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/vaultkv2/go.mod
  engines/crypto/vaultkv2/go.sum
  engines/eventbus/amqp/go.mod
  engines/eventbus/amqp/go.sum
  engines/eventbus/aws/go.mod
  engines/eventbus/aws/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  engines/storage/postgres/migrations/db-to-schema.md
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
  shared/aws/go.mod
  shared/aws/go.sum
  shared/http/go.mod
  shared/http/go.sum
  shared/subsystems/go.sum
Due: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

chore: add bump_versions job that runs before tagging
  .github/workflows/bump-goversion.yaml
  .github/workflows/release_finalize.yaml
  scripts/README.md
  scripts/bump-version.sh
Due: none

feat: remove internal dependencies based on go.work
  backend/go.mod
  backend/go.sum
  connectors/awsiot/go.mod
  connectors/awsiot/go.sum
  core/go.mod
  core/go.sum
  engines/storage/postgres/go.mod
  engines/storage/postgres/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
  sdk/go.mod
  sdk/go.sum
Due: core, sdk, storage-postgres, backend

feat(device-manager): add dynamic device groups support (#380)
  .github/copilot-instructions.md
  .serena/.gitignore
  .serena/project.yml
  backend/pkg/assemblers/tests/device-manager/device_groups_test.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/utils.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/devicemanager.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/errs/device.go
  core/pkg/models/device.go
  core/pkg/models/events.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/resources/query.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  docs/EST.md
  docs/RFC-004-DynamicDeviceGroups.md
  docs/device-manager-openapi.yaml
  engines/storage/postgres/device_groups.go
  engines/storage/postgres/device_groups_test.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/migrations/devicemanager/20260115161136_create_device_groups.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
  monolithic/cmd/development/main.go
  monolithic/pkg/config.go
  monolithic/pkg/sampledata/README.md
  monolithic/pkg/sampledata/ecdsa_p256_key.pem
  monolithic/pkg/sampledata/generator.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

fix go sum dependencies
  engines/storage/postgres/go.sum
  monolithic/go.sum
Due: storage-postgres

fix: correct function closure in FilterQueryWithPrefix
  backend/pkg/controllers/utils.go
Due: backend

fix: handle errors in GetAllDeviceGroups and GetDevicesByGroup methods
  backend/pkg/controllers/devmanager.go
Due: backend

Refactor PostgreSQL storage to support schemas instead of databases
  engines/storage/postgres/cmd/goose-lamassu/main.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrate.go
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/migrations_test/utils.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/test/migrate_test.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/test/postgres_test.go
  engines/storage/postgres/test/test_suite.go
  engines/storage/postgres/utils.go
Due: storage-postgres
