Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

fix(tests): ensure webhook is not called on client certificate validation failure
  backend/pkg/assemblers/tests/dms-manager/main_test.go
Due: none

refactor(DMS): streamline authentication process for enrollment and reenrollment
  backend/pkg/services/dmsmanager.go
Due: backend

feat: add WFX service integration and new crypto engine tests
  core/pkg/engines/cryptoengines_v2/backend.go
  core/pkg/engines/cryptoengines_v2/backendregistry/multi.go
  core/pkg/engines/cryptoengines_v2/backendregistry/single.go
  core/pkg/engines/cryptoengines_v2/backendregistry/support.go
  core/pkg/engines/cryptoengines_v2/caps_agree.go
  core/pkg/engines/cryptoengines_v2/caps_encrypt.go
  core/pkg/engines/cryptoengines_v2/caps_kem.go
  core/pkg/engines/cryptoengines_v2/caps_mac.go
  core/pkg/engines/cryptoengines_v2/caps_sign.go
  core/pkg/engines/cryptoengines_v2/caps_wrap.go
  core/pkg/engines/cryptoengines_v2/errors.go
  core/pkg/engines/cryptoengines_v2/key_handle.go
  core/pkg/engines/cryptoengines_v2/key_types.go
  core/pkg/engines/cryptoengines_v2/operations.go
  core/pkg/engines/cryptoengines_v2/registry.go
  core/pkg/engines/cryptoengines_v2/registry/builtin.go
  core/pkg/engines/cryptoengines_v2/registry/static.go
  core/pkg/engines/cryptoengines_v2/service.go
  core/pkg/engines/cryptoengines_v2/service_impl.go
  core/pkg/engines/cryptoengines_v2/service_ops_spec.go
  core/pkg/engines/cryptoengines_v2/service_specs.go
  core/pkg/engines/cryptoengines_v2/store.go
  core/pkg/engines/cryptoengines_v2/store/memory/store.go
  core/pkg/engines/cryptoengines_v2/validate.go
  engines/crypto/softwarev2/algorithms.go
  engines/crypto/softwarev2/backend.go
  engines/crypto/softwarev2/go.mod
  engines/crypto/softwarev2/go.sum
  engines/crypto/softwarev2/handle_aes.go
  engines/crypto/softwarev2/handle_base.go
  engines/crypto/softwarev2/handle_ecdsa.go
  engines/crypto/softwarev2/handle_mlkem.go
  engines/crypto/softwarev2/handle_rsa.go
  engines/crypto/softwarev2/material.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/utils.go
  go.work
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/cmd/v2/main.go
Due: core, storage-postgres

feat: enhance ML-KEM integration with context-aware encapsulation and decapsulation methods
  engines/crypto/softwarev2/handle_mlkem.go
  monolithic/cmd/v2/main.go
Due: none

feat: implement ECDH and HMAC handling with corresponding tests
  engines/crypto/softwarev2/backend.go
  engines/crypto/softwarev2/backend_test.go
  engines/crypto/softwarev2/handle_ecdh.go
  engines/crypto/softwarev2/handle_hmac.go
  monolithic/cmd/development/main.go
  monolithic/cmd/v2/main.go
Due: none

feat: enhance DEV release workflow with tag validation and dynamic versioning
  .github/workflows/dev-release.yaml
Due: none

Potential fix for pull request finding
  .github/workflows/dev-release.yaml
Due: none

chore: enhance DEV release workflow with tag validation (#648)
  .github/workflows/dev-release.yaml
Due: none

Added Dockerfile for hybrid CA deployment
  ci/pq_ca.dockerfile
Due: none

CA: removed old metadata so as to conform to the new specification
  backend/pkg/services/ca.go
Due: backend

Refactored x509Engine to set the grounds for PQ hybrid CSR signing
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/middlewares/otel/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  connectors/awsiot/pkg/assembler.go
  core/pkg/services/mock/caservice_mock.go
Due: backend

Refactored x509engine to remove unused parameters from the newly created function's signature
  backend/pkg/x509engines/x509engine.go
Due: backend

Added support for Subordinate Chameleon CA creation
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/ca.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/helpers/cryptoutils_test.go
  core/pkg/helpers/readcerts.go
  core/pkg/services/ca.go
Due: core, backend

Added support for Ed25519 CA creation in x509Engine.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  core/pkg/helpers/cryptoutils.go
Due: core

x509engine: added support for chameleon root CA creation
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/cryptokey.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, backend

Added function ImportEd25519PrivateKey to all cryptoengines. Some of them will require implementation further on
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11

Added the ImportMLDSAPrivateKey function to fulfill the interface requirements
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  engines/crypto/pkcs11/pkcs11.go
Due: crypto-pkcs11

Added CA Creation tests for the assembler
  backend/pkg/assemblers/tests/ca/ca_main_test.go
Due: none

Added support for chameleon root CA creation, chameleon subordinate CA creation in progress.
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  engines/crypto/filesystem/filesystem.go
Due: core, crypto-filesystem, backend

Added CA Sign and Verify support for MLDSA certificates. CRL generation and verification has been fixed
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/services/ca.go
Due: core, backend

add event bus dlq
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/va.go
  connectors/awsiot/pkg/assembler.go
Due: backend

Added support for the Ed25519 CA creation and certificate issuing via CSR.
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  core/pkg/helpers/cryptoutils.go
Due: core, backend

Implemented necessary changes to complete the merge. PQ support is back.
  .gitignore
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_sign_test.go
  core/pkg/engines/eventbus/messaging.go
  core/pkg/models/events.go
  engines/crypto/filesystem/filesystem.go
  engines/storage/postgres/cmd/goose-lamassu/main.go
  go.work.sum
Due: core, crypto-filesystem, storage-postgres, backend

Added more tests for MLDSA CA creation. Modified the CryptoEngine interface to add the ImportMLDSAPrivateKey operation and added the required changes in the different engines.
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/controllers/ca.go
  core/go.mod
  core/go.sum
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/services/ca.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, backend

Added makefile for ease of development
  Makefile
Due: none

CA: added metadata to hybrid delta cas
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
Due: backend

CryptoEngine supports Ed25519 key generation
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11

CA: added support for the creation of pure PQC CA Roots using ML-DSA (44, 65 and 87)
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/services/casigner.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/models/cryptokey.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/go.mod
  engines/crypto/software/go.sum
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/storage/postgres/utils.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, backend

Added Dockerfiles for hybrid deployment
  ci/pq_alerts.dockerfile
  ci/pq_devmanager.dockerfile
  ci/pq_dmsmanager.dockerfile
  ci/pq_va.dockerfile
  core/pkg/helpers/readcerts.go
Due: core

Added support for Chameleon Root CA Creation
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  sdk/ca.go
Due: core, sdk, backend

refactor: streamline CA creation and signing process, enhance error handling, and apply issuance profile
  backend/pkg/x509engines/x509engine.go
Due: backend

Added dockerfile to deploy the fixed KMS for PQ operations
  ci/pq_kms.dockerfile
Due: none

added go version
  monolithic/cmd/development/main.go
Due: none

feat: implement chameleon CA creation and enhance key management, improve error handling and logging
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/services/kms.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/aws/secretsmanager_test.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/crypto/vaultkv2/vaultkv2_test.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, backend

Fixed errors caused by the rebase
  Makefile
  core/pkg/engines/eventbus/messaging.go
  deploy-lamassuq.sh
  go.work.sum
Due: core

Fixed issues with the generation of certain types of certificates. PQ support seems fully fixed.
  Makefile
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine_sign_test.go
  sdk/ca.go
Due: sdk, backend

feat: Add support for SLH-DSA and Composite ML-DSA-RSA key types
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine_pqc_test.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/cryptokey.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, backend

fix: update import paths for mldsa packages to remove redundant prefix
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  engines/crypto/software/software.go
Due: core

feat: update CA creation and key management logic, enhance test coverage, and refactor key handling
  backend/go.sum
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/assemblers/tests/kms/main_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine.go
Due: backend

refactor: update MLDSA references to use x509.MLDSA for consistency across the codebase
  backend/pkg/assemblers/tests/ca/ca_main_test.go
  backend/pkg/assemblers/tests/ca/x509engine_test.go
  backend/pkg/services/kmssigner.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/cryptokey.go
Due: core, backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
