Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

refactor(authz): remove unnecessary string manipulation in MatchAndGetFilter
  connectors/authz/pkg/service/authz.go
Due: none

feat(authz): enhance authorization middleware and add new authorization schemas
  connectors/authz/authz.json
  connectors/authz/cmd/preload/lamassu.0aa383b1-1308-48c6-ae23-7c0eb4fd2a51.json
  connectors/authz/cmd/preload/lamassu.3aa4c081-4f5f-40a2-9238-1846d960c17c.json
  connectors/authz/cmd/preload/lamassu.5098c50b-afdf-4bc4-8aa0-67bea7c1d9a6.json
  connectors/authz/cmd/preload/lamassu.abb8f890-b269-47b0-b5cc-b0f4b7e03921.json
  connectors/authz/cmd/preload/lamassu.c299ff00-83bc-4bf8-ba6a-7337a3afe417.json
  connectors/authz/cmd/preload/lamassu.c3e714c9-863f-4714-a0b3-4d4b068a4228.json
  connectors/authz/cmd/preload/lamassu.caec5d9a-2b67-469c-9e6e-de883643a208.json
  connectors/authz/pkg/api/dto/policy_dto.go
  connectors/authz/pkg/api/dto/principal_dto.go
  connectors/authz/pkg/api/fields.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/engine/ports.go
  connectors/authz/pkg/middlewares/audit/principal.go
  connectors/authz/pkg/middlewares/eventpub/principal.go
  connectors/authz/pkg/service/identity.go
  connectors/authz/pkg/service/interfaces.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/store/gorm.go
Due: none

feat(authz): replace error message with custom noMatchError for unauthorized access
  connectors/authz/pkg/service/authz.go
  connectors/authz/pkg/service/identity.go
Due: none

feat(authz): add Dockerfile for building and deploying authz service
  ci/authz.dockerfile
Due: none

fix(ci): update Codecov action to version 7 across all jobs
  .github/workflows/ci-test.yaml
Due: none

fix(ci): bump Codecov action to v7 (#657)
  .github/workflows/ci-test.yaml
Due: none

Refactor authz SQL parsing and GORM integration
  backend/go.mod
  backend/go.sum
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/kms.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/authz.go
  backend/pkg/config/ca.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/dms.go
  backend/pkg/config/kms.go
  backend/pkg/config/va.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  connectors/authz/go.mod
  connectors/authz/go.sum
  connectors/authz/sdk/gorm/ast.go
  connectors/authz/sdk/gorm/ast_test.go
  connectors/authz/sdk/gorm/plugin.go
Due: backend

feat(authz): update HTTP client initialization to include custom headers for admin mode
  backend/cmd/ca/main.go
  backend/cmd/device-manager/main.go
  backend/cmd/dms-manager/main.go
  backend/cmd/va/main.go
Due: backend

feat(authz): rename auth type case from "x509" to "client_certificate" for clarity
  connectors/authz/sdk/gin-middleware/middleware.go
Due: none

feat(authz): enhance X.509 certificate extraction to support base64 encoded strings
  connectors/authz/pkg/store/matcher.go
Due: none

feat(authz): add endpoint for creating certificates with authorization checks
  backend/pkg/routes/ca.go
Due: backend

feat(authz): add authz connector to workflow jobs for release and dev processes
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
Due: none

Fix release workflow token/permissions for Bump Module Versions job (#659)
  .github/workflows/release_finalize.yaml
Due: none

Revert "chore: release: prepare release 3.8.0 (#660)"
  CHANGELOG.md
  RELEASE-NOTES.md
Due: none

fix(ci): skip go mod tidy in bump-version when tags don't exist yet
  .github/workflows/release_finalize.yaml
  scripts/bump-version.sh
Due: none

chore: release: prepare release 3.8.0
  RELEASE-NOTES.md
Due: none

chore: bump module versions to v3.8.0
  backend/go.mod
  connectors/awsiot/go.mod
  engines/crypto/aws/go.mod
  engines/crypto/filesystem/go.mod
  engines/crypto/pkcs11/go.mod
  engines/crypto/software/go.mod
  engines/crypto/vaultkv2/go.mod
  engines/eventbus/amqp/go.mod
  engines/eventbus/aws/go.mod
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/s3/go.mod
  engines/storage/postgres/go.mod
  monolithic/go.mod
  sdk/go.mod
  shared/aws/go.mod
  shared/http/go.mod
Due: shared-aws, shared-http, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, eventbus-amqp, eventbus-aws, backend

chore: release: prepare release 3.8.0
  .github/workflows/release_finalize.yaml
  RELEASE-NOTES.md
Due: none

chore: release: prepare release 3.8.0
  .github/workflows/release_finalize.yaml
  RELEASE-NOTES.md
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
Due: none

feat(authz): update certificate authorization checks to use custom field mapping for serial numbers
  backend/pkg/routes/ca.go
Due: backend

feat(authz): standardize status update action in authorization checks and schemas
  backend/pkg/routes/ca.go
  connectors/authz/cmd/preload/lamassu.77fb978b-3c25-4d2f-8402-d02541b9a708.json
  connectors/authz/pkg/engine/filter_test.go
  connectors/authz/schemas.pki-v2.json
  connectors/authz/sdk/gorm/plugin_test.go
  docs/ca-openapi.yaml
Due: backend

fix(changelog): update header pattern to fully support conventional commits spec
  .chglog/config.yml
Due: none

feat(authz): integrate authorization client configuration into PKI service assembly
  monolithic/pkg/assembler.go
Due: none

feat(authz): add AuthzClient configuration to multiple service assemblies
  monolithic/pkg/assembler.go
Due: none

feat(authz): refactor authorization checks to use custom key mapping for role endpoints
  backend/pkg/routes/va.go
Due: backend

feat: streamline Postgres migration handling and remove WFX integration
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
Due: storage-postgres

Add ECCG v2 and PQC policies for quantum-safe algorithm classification
  monolithic/cmd/development/main.go
  monolithic/cmd/development/opa-testdata/eccg_v2.rego
  monolithic/cmd/development/opa-testdata/pqc.rego
Due: none

feat: update CBOMkit Docker configuration for improved routing and port bindings
  monolithic/cmd/development/main.go
Due: none

feat: add support for CBOMkit integration with additional ports routing
  engines/storage/postgres/test/postgres.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: storage-postgres

feat: update Docker configuration to expose CBOMkit API port and log the port number
  monolithic/cmd/development/main.go
Due: none

feat(kms-v2): introduce new KMS v2 API for key management
  backend/pkg/controllers/kmsv2.go
  backend/pkg/routes/kmsv2.go
  core/pkg/engines/cryptoengines_v2/http.go
  core/pkg/engines/cryptoengines_v2/key_types.go
  core/pkg/engines/cryptoengines_v2/service_impl.go
  docs/kms-v2-openapi.yaml
Due: core, backend

fix(changelog): update header pattern to fully support conventional commits (#663)
  .chglog/config.yml
Due: none

Device events v2 (#405)
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/tests/alerts/main_test.go
  backend/pkg/assemblers/tests/device-manager/main_test.go
  backend/pkg/config/devicemanger.go
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/controllers/sse_hub.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/alerts.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/handlers/device-sse-handlers.go
  connectors/awsiot/pkg/service.go
  core/pkg/engines/storage/alerts.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/models/device.go
  core/pkg/models/device_test.go
  core/pkg/models/events.go
  core/pkg/resources/caresp.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/resources/fields.go
  core/pkg/services/alerts.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  docs/alerts-openapi.yaml
  docs/device-manager-openapi.yaml
  engines/storage/postgres/device_events.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/eventstore.go
  engines/storage/postgres/migrations/devicemanager/20260317120000_create_device_events.sql
  engines/storage/postgres/migrations_test/devicemanager_test.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
  monolithic/pkg/storage/sqlite/schema.go
  sdk/alerts.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

fix: update KMS key signer wrapper to include context and improve error handling in PKCS11 engine
  engines/crypto/aws/awskms.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
Due: crypto-aws, crypto-pkcs11

Refactor crypto engine methods to include context for logging
  backend/pkg/assemblers/kms.go
  backend/pkg/helpers/x509utils.go
  backend/pkg/helpers/x509utils_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/casigner.go
  backend/pkg/services/kms.go
  backend/pkg/x509engines/x509engine.go
  ci/kms.dockerfile
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/storage/postgres/migrations/ca/20250915090500_update_ski_aki.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, backend

feat: #621
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms-noproxy.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
Due: none

refactor: update Dockerfiles to improve caching and build efficiency
  ci/alerts.dockerfile
  ci/aws-connector.dockerfile
  ci/ca-to-kms-migration.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/kms-noproxy.dockerfile
  ci/kms.dockerfile
  ci/lamassu-db-migration.dockerfile
  ci/monolithic.dockerfile
  ci/va.dockerfile
Due: none

chore: remove 'monolithic' service from DEV release workflow
  .github/workflows/dev-release.yaml
Due: none

fix: add nopkcs11 build tag to Dockerfiles for alerts, ca, devmanager, dmsmanager, and va
  ci/alerts.dockerfile
  ci/ca.dockerfile
  ci/devmanager.dockerfile
  ci/dmsmanager.dockerfile
  ci/va.dockerfile
Due: none
