Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

add event bus dlq
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/va.go
  connectors/awsiot/pkg/assembler.go
  core/pkg/engines/eventbus/eventbus_testset.go
  core/pkg/engines/eventbus/messaging.go
  core/pkg/engines/eventbus/subscriber.go
  engines/eventbus/amqp/engine_test.go
  engines/eventbus/aws/engine_test.go
Due: core, backend

fix: add dlq to event bus after 3 retries (#302)
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/va.go
  connectors/awsiot/pkg/assembler.go
  core/pkg/engines/eventbus/eventbus_testset.go
  core/pkg/engines/eventbus/messaging.go
  core/pkg/engines/eventbus/subscriber.go
  engines/eventbus/amqp/engine_test.go
  engines/eventbus/aws/engine_test.go
Due: core, backend

adding v3 KMS key migration
  backend/pkg/assemblers/ca.go
Due: backend

Rename imported private key with SKI
  backend/pkg/services/ca.go
  engines/crypto/software/software.go
Due: backend

fix: aply V3 key transform only to imported CAs
  backend/pkg/assemblers/ca.go
Due: backend

Add migration
  backend/pkg/helpers/x509utils.go
  engines/storage/postgres/migrations/ca/20250915090500_update_ski_aki.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations/helpers/certificate.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres, backend

fix: certificate SKI and AKI obtention
  backend/pkg/helpers/x509utils.go
  backend/pkg/helpers/x509utils_test.go
  backend/pkg/services/ca.go
  core/pkg/engines/storage/utils.go
Due: core, backend

fix: ca: SKI and AKI extracrted from certificates (if any) (#295)
  backend/pkg/assemblers/ca.go
  backend/pkg/helpers/x509utils.go
  backend/pkg/helpers/x509utils_test.go
  backend/pkg/services/ca.go
  core/pkg/engines/storage/utils.go
  engines/crypto/software/software.go
  engines/storage/postgres/migrations/ca/20250915090500_update_ski_aki.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations/helpers/certificate.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: core, storage-postgres, backend

refactoring release process
  .github/workflows/main-release.yaml
  .github/workflows/release_finalize.yaml
  .github/workflows/release_open_pr.yaml
Due: none

fix errors
  .github/workflows/release_finalize.yaml
  .github/workflows/release_open_pr.yaml
Due: none

add exit on bad commit
  .github/workflows/release_finalize.yaml
Due: none

chore: refactoring release process (#304)
  .github/workflows/main-release.yaml
  .github/workflows/release_finalize.yaml
  .github/workflows/release_open_pr.yaml
Due: none

chore(release): prepare release 3.5.0
  CHANGELOG.md
  RELEASE-NOTES.md
Due: none

chore: fix release notes in open-pr-release workflow
  .github/workflows/release_finalize.yaml
  .github/workflows/release_open_pr.yaml
Due: none

chore: release: prepare release 3.5.0
  CHANGELOG.md
  RELEASE-NOTES.md
Due: none

CA: added support for the creation of pure PQC CA Roots using ML-DSA (44, 65 and 87)
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/services/casigner.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/errs/device.go
  core/pkg/models/cryptokey.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/storage/postgres/utils.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, backend

Added more tests for MLDSA CA creation. Modified the CryptoEngine interface to add the ImportMLDSAPrivateKey operation and added the required changes in the different engines.
  backend/pkg/controllers/ca.go
  backend/pkg/x509engines/x509engine_test.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/services/ca.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, backend

Added the ImportMLDSAPrivateKey function to fulfill the interface requirements
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  engines/crypto/pkcs11/pkcs11.go
Due: crypto-pkcs11

fix import ca without key when profileid not supplied
  backend/pkg/assemblers/ca_test.go
  backend/pkg/services/ca.go
  core/pkg/services/ca.go
Due: core, backend

fix source in cloud events
  backend/pkg/middlewares/eventpub/utils.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors.go
  connectors/awsiot/pkg/event-handlers.go
  connectors/awsiot/pkg/models.go
Due: backend

fix v4 ui deployment
  monolithic/cmd/development/main.go
Due: none

fix: ca: import ca without key when profileid not supplied (#309)
  backend/pkg/assemblers/ca_test.go
  backend/pkg/services/ca.go
  core/pkg/services/ca.go
Due: core, backend

Added CA Sign and Verify support for MLDSA certificates. CRL generation and verification has been fixed
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_sign_test.go
  core/pkg/services/ca.go
Due: core, backend

fix: monolithic: deploy v4 ui in monolithic with correct port mapping (#310)
  monolithic/cmd/development/main.go
Due: none

fix: add missing engines to the release_finalize workflow
  .github/workflows/release_finalize.yaml
Due: none

fix eventbus tests
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors_test.go
Due: none

fix: add missing engines to release finalization workflow (#312)
  .github/workflows/release_finalize.yaml
Due: none

Update connectors/awsiot/pkg/event-handlers.go
  connectors/awsiot/pkg/event-handlers.go
Due: none

Update backend/pkg/middlewares/eventpub/utils.go
  backend/pkg/middlewares/eventpub/utils.go
Due: backend

fix updercase field to lowercase
  connectors/awsiot/pkg/service.go
Due: none

fix: all: add correct source in cloud events (#311)
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/middlewares/eventpub/utils.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors.go
  backend/pkg/routes/middlewares/basic-header-extractors/extractors_test.go
  connectors/awsiot/pkg/event-handlers.go
  connectors/awsiot/pkg/models.go
  connectors/awsiot/pkg/service.go
Due: backend

fix: ca: add migration for profile_id column in ca_certificates table
  engines/storage/postgres/migrations/ca/20250908074250_add_profile_id.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres

Refactor DeleteCA
  backend/pkg/services/ca.go
Due: backend

Add test cases for new logic
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/services/ca.go
Due: backend

Update DeleteCA to allow cascade deletion of child CAs and certificates
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/services/ca.go
Due: core, backend

Add configuration-level control to allow cascade delete
  backend/pkg/assemblers/ca.go
  backend/pkg/config/ca.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/errs/ca.go
  sdk/ca.go
Due: core, sdk, backend

Delete private key after deleting CA
  backend/pkg/services/ca.go
Due: backend

Add tests for private key deletion
  backend/pkg/assemblers/ca_test.go
Due: none

CryptoEngine supports Ed25519 key generation
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/software/software.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11
