Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

codecov.yml:

coverage:
  status:
    project:
      default: off
      shared-aws:
        target: auto
        flags: 
        - shared-aws
      shared-http:
        target: auto
        flags: 
        - shared-http
      core:
        target: auto
        flags: 
        - core
      sdk:
        target: auto
        flags:
        - sdk
      crypto-aws:
        target: auto
        flags: 
        - crypto-aws
      crypto-filesystem:
        target: auto
        flags: 
        - crypto-filesystem
      crypto-vaultkv2:
        target: auto
        flags: 
        - crypto-vaultkv2
      crypto-pkc11:
        target: auto
        flags: 
        - crypto-pkcs11
      storage-postgres:
        target: auto
        flags: 
        - storage-postgres
      storage-sqlite:
        target: auto
        flags: 
        - storage-sqlite
      storage-couchdb:
        target: auto
        flags: 
        - storage-couchdb
      eventbus-amqp:
        target: auto
        flags: 
        - eventbus-amqp
      eventbus-aws:
        target: auto
        flags: 
        - eventbus-aws
      eventbus-channel:
        target: auto
        flags: 
        - eventbus-channel
      backend:
        target: auto
        flags: 
        - backend
      connector-aws:
        target: auto
        flags: 
        - connector-aws
    patch: off

flags:
  shared-aws:
    paths:
        - shared/aws/
    carryforward: true
  shared-http:
    paths:
        - shared/http/
    carryforward: true
  core:
    paths:
        - core/
    carryforward: true
  sdk:
    paths:
        - sdk/
    carryforward: true
  crypto-aws:
    paths:
        - engines/crypto/aws/
    carryforward: true
  crypto-filesystem:
    paths:
        - engines/crypto/filesystem/
    carryforward: true
  crypto-vaultkv2:
    paths:
        - engines/crypto/vaultkv2/
    carryforward: true
  crypto-pkcs11:
    paths:
        - engines/crypto/pkcs11/
    carryforward: true
  storage-postgres:
    paths:
        - engines/storage/postgres/
    carryforward: true
  storage-sqlite:
      paths:
          - engines/storage/sqlite/
      carryforward: true
  storage-couchdb:
      paths:
          - engines/storage/couchdb/
      carryforward: true
  eventbus-amqp:
    paths:
        - engines/eventbus/amqp/
    carryforward: true
  eventbus-aws:
    paths:
        - engines/eventbus/aws/
    carryforward: true
  eventbus-channel:
      paths:
          - engines/eventbus/channel/
      carryforward: true
  backend:
    paths:
        - backend/
    carryforward: true
  connector-aws:
    paths:
        - connector/aws/
    carryforward: true

ignore:
  - "**/*_mock.go"
  - "**/*_test.go"
  - "**/*_testset.go"

feat: implement OrderedJSONFormatter for stable log output and enable debug logging in AuthzConfig
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/log_formatter.go
  monolithic/pkg/assembler.go
Due: none

feat(authz): enrich context with authentication details and improve logging
  backend/pkg/controllers/utils_test.go
  backend/pkg/routes/alerts.go
  backend/pkg/routes/ca.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/dmsmanager.go
  backend/pkg/routes/kms.go
  backend/pkg/routes/va.go
  connectors/authz/docs/architecture.html
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/sdk/sdk.go
  connectors/authz/sdk/sdk_test.go
  core/pkg/helpers/logger.go
Due: core, backend

Implement feature X to enhance user experience and fix bug Y in module Z
  connectors/authz/docs/architecture.html
Due: none

feat: integrate authorization service and update API routes for authz
  backend/pkg/routes/alerts.go
  connectors/authz/cmd/main.go
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/sdk/sdk.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: backend

feat(authz): enhance authorization logging with context and matched policy IDs
  connectors/authz/pkg/engine/engine.go
Due: none

Refactor authorization engine to use context and improve logging
  connectors/authz/cmd/main.go
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/authz/capabilities.go
  connectors/authz/pkg/authz/capabilities_integration_test.go
  connectors/authz/pkg/authz/capabilities_test.go
  connectors/authz/pkg/authz/engine.go
  connectors/authz/pkg/authz/engine_test.go
  connectors/authz/pkg/authz/service.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/config/server.go
  connectors/authz/pkg/core/engine.go
  connectors/authz/sdk/gin-middleware/middleware.go
  connectors/authz/sdk/gin-middleware/middleware_test.go
  connectors/authz/sdk/remote_engine.go
Due: none

feat(authz): enhance context handling for authentication materials and ensure context propagation in GormPrincipalStore methods
  connectors/authz/pkg/api/authz_controller.go
  connectors/authz/pkg/store/gorm.go
Due: none

chore: update cloud.google.com/go/storage to v1.59.2
  backend/go.mod
  backend/go.sum
  backend/pkg/controllers/alerts.go
  backend/pkg/controllers/devmanager.go
  connectors/authz/go.mod
  connectors/authz/go.sum
  core/go.mod
  core/go.sum
  engines/fs-storage/localfs/go.mod
  engines/fs-storage/localfs/go.sum
  engines/fs-storage/s3/go.mod
  engines/fs-storage/s3/go.sum
  go.work.sum
  monolithic/go.mod
  monolithic/go.sum
Due: core, backend

feat(authz): add new schema definitions for authorization entities and actions
  connectors/authz/schemas.pki-v2.json
Due: none

feat(DMS): add EST auth config to re-enrollment options
  core/pkg/models/dms.go
Due: core

feat(DMS): update reenroll auth to use reenroll settings (not enrollment settings)
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager.go
Due: backend

docs(OpenAPI): add est_rfc7030_settings to ReEnrollmentSettings schema
  docs/dms-manager-openapi.yaml
Due: none

feat(DMS): add migration for reenroll auth settings and corresponding tests
  engines/storage/postgres/migrations/dmsmanager/20260604110000_reenroll_auth_settings.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/dms_test.go
Due: storage-postgres

feat(authz): refactor schema handling and improve query injection logic
  connectors/authz/pkg/api/dto/principal_dto.go
  connectors/authz/pkg/engine/filter.go
  connectors/authz/pkg/engine/graph.go
  connectors/authz/pkg/engine/schema.go
  connectors/authz/sdk/gorm/plugin.go
Due: none

Refactor policy management to use GORM for persistence
  connectors/authz/cmd/main.go
  connectors/authz/config.yaml
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/dto/policy_dto.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/models/policy.go
  connectors/authz/pkg/service/capabilities_integration_test.go
  connectors/authz/pkg/service/capabilities_test.go
  connectors/authz/pkg/service/policy.go
  connectors/authz/pkg/service/policy_manager_test.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/store/policy_gorm.go
  connectors/authz/pkg/store/policy_mem.go
  connectors/authz/pkg/store/policy_store.go
  connectors/authz/pkg/store/querier.go
  connectors/authz/schemas.pki-v2.json
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/test/postgres.go
  engines/storage/postgres/utils.go
  monolithic/cmd/development/main.go
Due: storage-postgres

feat(authz): update database connection logic to use configurable database name
  connectors/authz/pkg/api/assembler.go
Due: none

fix(docs): rename external_webhook to external_webhook_settings in auth options schema
  docs/dms-manager-openapi.yaml
Due: none

add auth config to monolithic sample data generator
  monolithic/pkg/sampledata/generator.go
Due: none

feat: update DTO field names to snake_case and implement filtering for principals and policies
  connectors/authz/pkg/api/dto/authz_dto.go
  connectors/authz/pkg/api/dto/common_dto.go
  connectors/authz/pkg/api/dto/policy_dto.go
  connectors/authz/pkg/api/dto/principal_dto.go
  connectors/authz/pkg/api/fields.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/api/utils.go
  connectors/authz/pkg/engine/ports.go
  connectors/authz/pkg/engine/schema.go
  connectors/authz/pkg/models/policy.go
  connectors/authz/pkg/models/principal.go
  connectors/authz/pkg/service/principal.go
  connectors/authz/pkg/service/principal_manager_test.go
  connectors/authz/pkg/store/gorm.go
  connectors/authz/pkg/store/gorm_test.go
  connectors/authz/sdk/sdk.go
Due: none

feat(authz): standardize schema field names to snake_case in authorization definitions
  connectors/authz/schemas.pki-v2.json
Due: none

feat(authz): standardize schema field names to snake_case in authorization JSON files
  connectors/authz/cmd/preload/03c50968-8b68-46b9-832b-37536816a045.json
  connectors/authz/cmd/preload/75519529-be16-4f18-bc12-8e7745902e4e.json
  connectors/authz/cmd/preload/77fb978b-3c25-4d2f-8402-d02541b9a708.json
  connectors/authz/cmd/preload/a66e2570-3117-45b0-8e90-e4a9f0610b43.json
  connectors/authz/cmd/preload/a6811b60-5f89-4ce7-badb-78ea234794d3.json
  connectors/authz/cmd/preload/a97075a0-93c2-4ff3-b91f-d28d58cb093d.json
  connectors/authz/cmd/preload/c6e330e2-752d-4ab1-8182-7a8d9bb1c85c.json
  connectors/authz/cmd/preload/cec5d897-3a3f-43d1-b67a-dd220719572b.json
  connectors/authz/cmd/preload/d5dea139-a704-432e-9870-973d56fffb90.json
Due: none

Refactor authz service configuration and introduce audit middleware
  connectors/authz/cmd/main.go
  connectors/authz/go.mod
  connectors/authz/go.sum
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/pkg/api/gorm_logger.go
  connectors/authz/pkg/api/log_formatter.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/principal_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/middlewares/audit/policy.go
  connectors/authz/pkg/middlewares/audit/principal.go
  connectors/authz/pkg/middlewares/eventpub/policy.go
  connectors/authz/pkg/middlewares/eventpub/principal.go
  connectors/authz/pkg/models/events.go
  connectors/authz/pkg/service/capabilities.go
  connectors/authz/pkg/service/interfaces.go
  connectors/authz/pkg/service/principal.go
  go.work.sum
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/config.go
Due: none

feat(authz): integrate helper logger for improved error logging in capabilities and middleware
  connectors/authz/pkg/api/capabilities_controller.go
  connectors/authz/sdk/gin-middleware/middleware.go
Due: none

feat(authz): add context parameter to principal manager methods for improved context handling
  connectors/authz/pkg/service/capabilities_integration_test.go
  connectors/authz/pkg/service/capabilities_test.go
  connectors/authz/pkg/service/principal_manager_test.go
Due: none

feat(authz): enhance context handling in contextSourceRoundTripper for improved request propagation
  connectors/authz/sdk/sdk.go
Due: none

feat(authz): implement bootstrap functionality for initial principal and policy grants
  connectors/authz/cmd/preload/lamassu.03c50968-8b68-46b9-832b-37536816a045.json
  connectors/authz/cmd/preload/lamassu.75519529-be16-4f18-bc12-8e7745902e4e.json
  connectors/authz/cmd/preload/lamassu.77fb978b-3c25-4d2f-8402-d02541b9a708.json
  connectors/authz/cmd/preload/lamassu.7ec5d897-3a3f-43d1-b67a-dd220719572b.json
  connectors/authz/cmd/preload/lamassu.a66e2570-3117-45b0-8e90-e4a9f0610b43.json
  connectors/authz/cmd/preload/lamassu.a6811b60-5f89-4ce7-badb-78ea234794d3.json
  connectors/authz/cmd/preload/lamassu.a97075a0-93c2-4ff3-b91f-d28d58cb093d.json
  connectors/authz/cmd/preload/lamassu.c6e330e2-752d-4ab1-8182-7a8d9bb1c85c.json
  connectors/authz/cmd/preload/lamassu.d5dea139-a704-432e-9870-973d56fffb90.json
  connectors/authz/pkg/api/assembler.go
  connectors/authz/pkg/api/bootstrap.go
  connectors/authz/pkg/api/policy_controller.go
  connectors/authz/pkg/api/routes.go
  connectors/authz/pkg/config/app_config.go
  connectors/authz/pkg/service/policy.go
  connectors/authz/sdk/gin-middleware/middleware.go
  monolithic/cmd/development/main.go
Due: none

feat(authz): add initial configuration for principals and policies with enhanced actions
  connectors/authz/authz.json
  connectors/authz/cmd/preload/lamassu.7ec5d897-3a3f-43d1-b67a-dd220719572b.json
  monolithic/cmd/development/main.go
Due: none

feat(authz): enhance authorization checks and integrate new schemas for improved security
  backend/pkg/routes/devmanager.go
  connectors/authz/authz.json
  connectors/authz/config.yaml
  connectors/authz/sdk/gin-middleware/middleware.go
  docs/alerts-openapi.yaml
  docs/ca-openapi.yaml
  docs/device-manager-openapi.yaml
  docs/dms-manager-openapi.yaml
  docs/kms-openapi.yaml
  docs/va-openapi.yaml
  monolithic/cmd/development/main.go
Due: backend

feat(authz): update buildAuthzConfig to include event bus parameters for enhanced event handling
  monolithic/cmd/development/main.go
Due: none

feat(authz): propagate matched principals in context and enhance audit logging
  backend/pkg/middlewares/audit/utils.go
  connectors/authz/sdk/gin-middleware/middleware.go
  connectors/authz/sdk/gin-middleware/middleware_test.go
  core/context.go
  core/pkg/helpers/events_test.go
  monolithic/pkg/assembler.go
Due: core, backend

feat(authz): enhance authorization logging with detailed reasons for decisions
  connectors/authz/pkg/engine/engine.go
  connectors/authz/pkg/service/authz.go
Due: none

feat(authz): remove local authz module replacement and dependency
  backend/go.mod
Due: backend

feat(authz): add IoT authorization schemas, policies, and example migrations
  .github/workflows/ci-test.yaml
  connectors/authz/examples/iot/migrations.sql
  connectors/authz/examples/iot/policies.json
  connectors/authz/examples/iot/schemas.json
Due: none

Refactor code structure for improved readability and maintainability
  backend/pkg/assemblers/tests/service_assembler.go
  backend/pkg/assemblers/tests/test_http_client.go
  engines/storage/postgres/test/migrate_test.go
  engines/storage/postgres/test/test_dump.sql
Due: storage-postgres, backend

fix(authz): update Codecov action to v7.0.0 and improve client certificate extraction tests
  .github/workflows/ci-test.yaml
  backend/pkg/routes/middlewares/identity-extractors/client-certificate.go
  backend/pkg/routes/middlewares/identity-extractors/client-certificate_test.go
Due: backend

feat(authz): add example IoT authorization schema, test data, and update JSON schema format
  backend/pkg/services/dmsmanager.go
  connectors/authz/.gitignore
  connectors/authz/pkg/authz/testdata/init.sql
  connectors/authz/pkg/authz/testdata/test-schema.json
  connectors/authz/pkg/engine/schema.go
  connectors/authz/pkg/engine/testdata/init.sql
  connectors/authz/pkg/engine/testdata/test-schema.json
  connectors/authz/pkg/service/testdata/init.sql
  connectors/authz/pkg/service/testdata/test-schema.json
Due: backend

feat(authz): update JSON field names to snake_case in schema definitions
  connectors/authz/examples/iot/schemas.json
  connectors/authz/pkg/authz/testdata/test-schema.json
  connectors/authz/pkg/engine/schema.go
  connectors/authz/pkg/engine/schema_test.go
  connectors/authz/pkg/engine/testdata/test-schema.json
  connectors/authz/pkg/service/testdata/test-schema.json
Due: none

feat(authz): standardize field names to snake_case in policy and schema definitions
  connectors/authz/examples/iot/policies.json
  connectors/authz/pkg/engine/control_test.go
  connectors/authz/pkg/engine/engine_test.go
  connectors/authz/pkg/engine/filter_test.go
  connectors/authz/pkg/engine/graph_test.go
  connectors/authz/pkg/engine/policy_test.go
  connectors/authz/pkg/engine/testdata/schemas.tests.json
  connectors/authz/pkg/engine/testdata/test-policy-control.json
  connectors/authz/pkg/service/testdata/init.sql
  connectors/authz/schemas.pki-v2.json
  monolithic/pkg/assembler.go
Due: none

feat(authz): register authz gorm plugin in PostgreSQL connection
  connectors/authz/pkg/api/assembler.go
Due: none

feat(DMS): add specific auth config for DMS reenroll (#654)
  backend/pkg/assemblers/tests/dms-manager/bind_identity_expiration_test.go
  backend/pkg/assemblers/tests/dms-manager/events_test.go
  backend/pkg/assemblers/tests/dms-manager/main_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms.go
  docs/dms-manager-openapi.yaml
  engines/storage/postgres/migrations/dmsmanager/20260604110000_reenroll_auth_settings.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations_test/dms_test.go
  monolithic/pkg/sampledata/generator.go
Due: core, storage-postgres, backend
