Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

split tests
  .github/workflows/ci-test.yaml
Due: none

add doc
  .github/openapi-doc/kms-openapi.yaml
Due: none

move docs
  doc/kms-openapi.yaml
Due: none

move docs
  docs/kms-openapi.yaml
Due: none

added html
  docs/index.html
Due: none

addjust colors in docs
  docs/index.html
Due: none

demo changes
  backend/pkg/controllers/devmanager.go
  backend/pkg/middlewares/audit/devices.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  connectors/awsiot/pkg/service.go
  core/pkg/models/device.go
  core/pkg/models/events.go
  core/pkg/resources/devreq.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  sdk/devicemanager.go
Due: core, sdk, backend

fix: VA: service returns 500 HTTP code for unknown SKIs
  backend/pkg/controllers/va.go
  backend/pkg/services/crl.go
  core/pkg/errs/va.go
Due: core, backend

test: add tests
  backend/pkg/controllers/va_test.go
Due: none

refactor: consolidate error handling in VA routes
  backend/pkg/controllers/va.go
Due: backend

fixing keysize for aws-based ce
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/aws/secretsmanager_test.go
Due: crypto-aws

fix tests
  engines/crypto/aws/awskms_test.go
Due: none

fix: use HTTP status code constants instead of magic numbers
  backend/pkg/controllers/va.go
Due: backend

fix: fixing keysize for aws-based cryptoengines(#353)
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/aws/secretsmanager_test.go
Due: crypto-aws

fix: VA: service returns 500 HTTP code for unknown SKIs (#352)
  backend/pkg/controllers/va.go
  backend/pkg/controllers/va_test.go
  backend/pkg/services/crl.go
  core/pkg/errs/va.go
Due: core, backend

fix ci: add kms dockerfile and update workflows to include kms service
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
  ci/ca.dockerfile
  ci/kms.dockerfile
  docs/va-openapi.yaml
Due: none

remove sensitive info in audit events
  backend/pkg/middlewares/audit/ca.go
Due: backend

remove sensitive info in audit events
  backend/pkg/middlewares/audit/ca.go
  backend/pkg/middlewares/audit/kms.go
Due: backend

add goose in release workflow
  .github/workflows/dev-release.yaml
  .github/workflows/release_finalize.yaml
Due: none

fix: ca: remove sensitive info in audit events (#356)
  backend/pkg/middlewares/audit/ca.go
Due: backend

add independent svc
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/handlers/device-handlers.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  backend/pkg/x509engines/x509engine.go
  connectors/awsiot/pkg/event-handlers.go
  core/pkg/engines/storage/ca.go
  core/pkg/engines/storage/engine.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/engines/storage/kms.go
  core/pkg/models/ca.go
  core/pkg/models/kms.go
  core/pkg/services/ca.go
  core/pkg/services/kms.go
Due: core, backend

fix events
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
  backend/pkg/middlewares/eventpub/dms_publisher_test.go
  backend/pkg/middlewares/eventpub/kms_publisher_test.go
  backend/pkg/middlewares/eventpub/utils_test.go
  core/pkg/services/mock/kms_mock.go
Due: none

bump localstack
  engines/crypto/aws/awskms_test.go
  shared/aws/docker-emulator.go
Due: shared-aws

copilot fixes
  engines/storage/postgres/kmsstorage.go
  engines/storage/postgres/migrations/ca/20251106120000_update_metadata_key_attached_to.sql
  sdk/ca.go
Due: sdk, storage-postgres

fix migration table
  engines/storage/postgres/test/migrate_test.go
Due: none

increase timeout
  .github/workflows/ci-test.yaml
Due: none

fixing signig process
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  backend/pkg/services/kmssigner.go
  core/pkg/services/ca.go
  core/pkg/services/kms.go
  sdk/ca.go
Due: core, sdk, backend

backend test first in ci
  .github/workflows/ci-test.yaml
Due: none

minor fixes
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/kms_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/crl.go
Due: backend

fix log
  backend/pkg/services/ca.go
Due: backend

added tag to KMS key
  backend/pkg/assemblers/kms_create_import_tags_metadata_test.go
  backend/pkg/assemblers/kms_tags_test.go
  backend/pkg/controllers/kms.go
  backend/pkg/middlewares/audit/kms.go
  backend/pkg/middlewares/eventpub/kms.go
  backend/pkg/routes/kms.go
  backend/pkg/services/ca.go
  backend/pkg/services/kms.go
  core/pkg/models/events.go
  core/pkg/models/kms.go
  core/pkg/resources/careq.go
  core/pkg/services/kms.go
  engines/storage/postgres/migrations/kms/20251031174938_key.sql
  sdk/kms.go
Due: core, sdk, storage-postgres, backend

fix event
  connectors/awsiot/pkg/testdata/cloudevents/cert_update_metadata__preventive_delta_false_to_true.json
  engines/storage/postgres/migrations/ca/20251106000000_drop_certificate_requests_table.sql
  engines/storage/postgres/migrations/ca/20251106120000_update_metadata_key_attached_to.sql
Due: storage-postgres

fix migrations ca_certificate_requests
  engines/storage/postgres/migrations_test/ca_test.go
Due: none

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
