Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

Added support for Ed25519 CA creation in x509Engine.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  core/pkg/helpers/cryptoutils.go
Due: core, backend

Added CA Creation tests for the assembler
  backend/pkg/assemblers/ca_test.go
Due: none

fix: devicemanager: add migration to update references to certificates serial numbers
  engines/storage/postgres/migrations/devicemanager/20250925120000_remove_serial_hyphens.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations/helpers/rows_iterator.go
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: storage-postgres

Added function ImportEd25519PrivateKey to all cryptoengines. Some of them will require implementation further on
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/vaultkv2/vaultkv2.go
Due: core, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11

fix: devicemanager: normalize device certificate serial numbers (#317)
  engines/storage/postgres/migrations/devicemanager/20250925120000_remove_serial_hyphens.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations/helpers/rows_iterator.go
  engines/storage/postgres/migrations_test/devicemanager_test.go
Due: storage-postgres

feat: make issuance profile optional at the certificate sign operation
  backend/pkg/assemblers/ca_certificates_test.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/test/e2e/usecase-1.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
Due: core, backend

fix: ca: add migration for profile_id with null in validity_time column in ca_certificates table (#316)
  engines/storage/postgres/migrations/ca/20250908074250_add_profile_id.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres

fixing dlq
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/va.go
  connectors/awsiot/pkg/assembler.go
  connectors/awsiot/pkg/config.go
  core/pkg/engines/eventbus/messaging.go
  monolithic/cmd/development/main.go
  monolithic/pkg/config.go
Due: core, backend

feat: make issuance profile optional at the certificate sign operation (#318)
  backend/pkg/assemblers/ca_certificates_test.go
  backend/pkg/assemblers/ca_test.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/test/e2e/usecase-1.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
Due: core, backend

Update core/pkg/engines/eventbus/messaging.go
  core/pkg/engines/eventbus/messaging.go
Due: core

fix deep copy
  monolithic/cmd/development/main.go
Due: none

adding missing import
  monolithic/cmd/development/main.go
Due: none

add safeguard for dlq config in services and added dlq in testsuites builders
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va.go
Due: backend

fix dlq config in testcase when disabled
  backend/pkg/assemblers/service-assembler_test.go
Due: none

fixed deepcopy in dlq exchange assigment in monolithinc and testsuite setup
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/eventbus/pubsub.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/assembler_awsiot.go
Due: backend

fixed deepcopy in dlq exchange assigment testsuite with nil protection
  backend/pkg/assemblers/service-assembler_test.go
Due: none

fix: fixed support for dedicated DLQ event bus configuration across services (#319)
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/assemblers/va.go
  backend/pkg/config/alerts.go
  backend/pkg/config/devicemanger.go
  backend/pkg/config/va.go
  backend/pkg/eventbus/pubsub.go
  connectors/awsiot/pkg/assembler.go
  connectors/awsiot/pkg/config.go
  core/pkg/engines/eventbus/messaging.go
  monolithic/cmd/development/main.go
  monolithic/pkg/assembler.go
  monolithic/pkg/assembler_awsiot.go
  monolithic/pkg/config.go
Due: core, backend

adding kms db to tests
  backend/pkg/assemblers/ca_certificates_test.go
Due: none

fix: user CRL service interface
  backend/pkg/services/handlers/va-handlers.go
Due: backend

fix: va: use CRL service interface (#322)
  backend/pkg/services/handlers/va-handlers.go
Due: backend

update readme
  README.md
Due: none

update readme
  docs/dashboard.png
  docs/monolithic.png
Due: none

Update README.md
  README.md
Due: none

chore: readme update (#323)
  README.md
  docs/dashboard.png
  docs/monolithic.png
Due: none

refactor: streamline event bus handling and service middleware integration across multiple assemblers
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/va.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
Due: backend

fix: CA: add migration to update issuer_meta_serial_number by removing dashes
  engines/storage/postgres/migrations/ca/20251001120000_update_issuer_meta_serial_numbers.sql
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres

fix: CA: add migration to remove hyphens from issuer_meta_serial_number fields (#325)
  engines/storage/postgres/migrations/ca/20251001120000_update_issuer_meta_serial_numbers.sql
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres

refactor: streamline event bus handling and service middleware integration across multiple assemblers (#324)
  backend/pkg/assemblers/alerts.go
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/device-manager.go
  backend/pkg/assemblers/dms-manager.go
  backend/pkg/assemblers/va.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
Due: backend

fixed engineID when creating and importing keys
  backend/pkg/assemblers/kms_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/kms.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  sdk/ca.go
Due: core, sdk, backend

adding key validaion when creating & importing keys
  backend/pkg/services/ca.go
Due: backend

Added support for the Ed25519 CA creation and certificate issuing via CSR.
  backend/pkg/assemblers/ca_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_sign_test.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/services/ca.go
Due: core, backend

fix tests
  backend/pkg/assemblers/kms_test.go
  backend/pkg/controllers/ca.go
  core/pkg/models/kms.go
  engines/storage/postgres/migrations/kms/00000000000001_create_table.sql
Due: core, storage-postgres, backend

fix tests
  backend/pkg/assemblers/kms_test.go
Due: none

x509engine: added support for chameleon root CA creation
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
Due: backend

feat: add support to filter certs by subject_key_id
  backend/pkg/assemblers/ca_certificates_test.go
  backend/pkg/controllers/utils_test.go
  core/pkg/resources/fields.go
Due: core

feat: add support to filter certs by subject_key_id (#326)
  backend/pkg/assemblers/ca_certificates_test.go
  backend/pkg/controllers/utils_test.go
  core/pkg/resources/fields.go
Due: core

rm dedup code
  backend/pkg/services/ca.go
Due: backend

unify kms key init
  backend/pkg/services/ca.go
Due: backend

add kms tests to eventbus
  backend/pkg/middlewares/eventpub/ca_publisher_test.go
Due: none

prevent invalid inputs
  backend/pkg/assemblers/kms_test.go
  backend/pkg/services/ca.go
Due: backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
