Repository lamassuiot/lamassuiot: changes, and which Codecov flags are due for each by the changed paths.
All: shared-aws, shared-http, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, storage-sqlite, storage-couchdb, eventbus-amqp, eventbus-aws, eventbus-channel, backend, connector-aws

minor fixes
  backend/pkg/assemblers/ca_test.go
  monolithic/pkg/assembler.go
Due: none

removing duplicate code
  backend/pkg/x509engines/x509engine.go
Due: backend

refactor: ca postgres models
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/helpers/expiration.go
  backend/pkg/helpers/expiration_test.go
  backend/pkg/jobs/crypto-monitor-job.go
  backend/pkg/jobs/crypto-monitor-job_test.go
  backend/pkg/services/ca.go
  backend/pkg/test/e2e/usecase-1.go
  core/pkg/errs/ca.go
  core/pkg/models/ca.go
  core/pkg/models/cryptokey.go
  core/pkg/models/timeduration.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  engines/storage/postgres/castore.go
  engines/storage/postgres/certstore.go
  engines/storage/postgres/devicemanager.go
  engines/storage/postgres/dmsmanager.go
  engines/storage/postgres/eventstore.go
  engines/storage/postgres/migrations/ca/20241223183344_unified_ca_models.sql
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/migrations_test/utils.go
  engines/storage/postgres/subscriptionstore.go
  engines/storage/postgres/subsystem/subsystem.go
  engines/storage/postgres/test/test_suite.go
  engines/storage/postgres/utils.go
  go.work.sum
  sdk/ca.go
Due: core, sdk, storage-postgres, backend

feat: conditional revoke in reenroll for DMS
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/cryptokey.go
  core/pkg/models/dms.go
  engines/storage/postgres/migrations/dmsmanager/20241230124809_serverkeygen_revokereenroll.go
  engines/storage/postgres/migrations/gomigrations.go
  engines/storage/postgres/migrations/helpers/rows_iterator.go
  engines/storage/postgres/migrations_test/dms_test.go
  engines/storage/postgres/utils.go
Due: core, storage-postgres, backend

feat: dmsmamager - allow verifying enroll with external webhook invoke
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/helpers/webhook-client/client.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/dms.go
  core/pkg/models/webhook-call.go
  sdk/utils.go
Due: core, sdk, backend

improving reenroll
  backend/pkg/services/dmsmanager.go
  webhooks/lambda/sandgrain/main.go
Due: backend

fix: minor fix no formatting directives in log
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  core/pkg/models/webhook-call.go
Due: core, backend

added webhook tests
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/services/dmsmanager.go
Due: backend

adding webhook field checking
  backend/pkg/assemblers/dms-manager_test.go
Due: none

feat: dmsmamager - allow verifying enroll with external webhook invoke
  backend/pkg/services/dmsmanager.go
  core/pkg/models/webhook-call.go
Due: core, backend

adding configurable http webhook cli
  backend/pkg/helpers/webhook-client/client.go
  core/pkg/config/httpservice.go
  core/pkg/models/webhook-call.go
  sdk/utils.go
  webhooks/lambda/sandgrain/main.go
Due: core, sdk, backend

fix: minor fix no formatting directives in log
  backend/pkg/services/dmsmanager.go
  core/pkg/models/webhook-call.go
Due: core, backend

removing log msg and lambda
  backend/pkg/services/dmsmanager.go
  webhooks/lambda/sandgrain/main.go
Due: backend

deduplicate est logger formatter
  backend/pkg/services/dmsmanager.go
Due: backend

feat: dmsmamager - allow verifying enroll with external webhook invoke (#188)
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/service-assembler_test.go
  backend/pkg/helpers/webhook-client/client.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  core/pkg/config/httpservice.go
  core/pkg/models/dms.go
  core/pkg/models/webhook-call.go
  sdk/utils.go
Due: core, sdk, backend

fix: add json serialization tags to CACertificate struct
  core/pkg/models/ca.go
Due: core

added isca column
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  engines/storage/postgres/migrations/ca/20250107164937_add_is_ca.sql
  engines/storage/postgres/migrations_test/ca_test.go
Due: core, storage-postgres, backend

adding first device event entity
  backend/pkg/assemblers/device-manager_test.go
  backend/pkg/controllers/devmanager.go
  backend/pkg/middlewares/eventpub/devices.go
  backend/pkg/routes/devmanager.go
  backend/pkg/routes/middlewares/sse/stream.go
  backend/pkg/services/devicemanager.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/services/handlers/device-handlers.go
  connectors/awsiot/pkg/aws-sqs-event-handlers.go
  connectors/awsiot/pkg/lamassu-event-handlers.go
  connectors/awsiot/pkg/lamassu-event-handlers_test.go
  connectors/awsiot/pkg/service.go
  core/pkg/engines/storage/devicemanager.go
  core/pkg/engines/storage/engine.go
  core/pkg/models/device.go
  core/pkg/models/device_events.go
  core/pkg/models/events.go
  core/pkg/models/iot_aws.go
  core/pkg/resources/devreq.go
  core/pkg/resources/devresp.go
  core/pkg/services/devicemanager.go
  core/pkg/services/mock/devicemanager_mock.go
  engines/storage/postgres/device_events.go
  engines/storage/postgres/engine.go
  sdk/devicemanager.go
Due: core, sdk, storage-postgres, backend

Feat: CA Service: Add Is CA indicator to certificate entity (#201)
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  engines/storage/postgres/migrations/ca/20250107164937_add_is_ca.sql
  engines/storage/postgres/migrations_test/ca_test.go
Due: core, storage-postgres, backend

feature: Allow to generate CA from externally signed CSR
  .github/workflows/ci-test.yaml
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/ca_csr_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/helpers/keystrength.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/storage/ca.go
  core/pkg/engines/storage/engine.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/helpers/cryptosubject.go
  core/pkg/helpers/cryptosubject_test.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/helpers/cryptoutils_test.go
  core/pkg/helpers/readcerts.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/models/webhook-call.go
  core/pkg/models/x509certificate.go
  core/pkg/resources/careq.go
  core/pkg/resources/caresp.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/storage/postgres/careqstore.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrations/ca/20250105155900_create_requests_table.sql
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/subsystem/subsystem.go
  sdk/ca.go
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

remove parentID from CSR generation
  backend/pkg/assemblers/ca_csr_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  core/pkg/models/ca.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  engines/storage/postgres/migrations_test/ca_test.go
Due: core, backend

Try to locate a pending request using public key fingerprint from impoted CA cert
  backend/pkg/assemblers/ca_csr_test.go
  backend/pkg/services/ca.go
  core/pkg/engines/storage/ca.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/models/ca.go
  engines/storage/postgres/careqstore.go
  engines/storage/postgres/migrations/ca/20250105155900_create_requests_table.sql
Due: core, storage-postgres, backend

fix sdk
  sdk/ca.go
Due: sdk

Fix Create CSR and Import CA tests
  backend/pkg/assemblers/ca_csr_test.go
Due: none

Allow request a CA without a parent CA
  backend/pkg/assemblers/ca_csr_test.go
  backend/pkg/services/ca.go
  core/pkg/services/ca.go
Due: core, backend

Feat: create CAs from external signed CSRs (#202)
  .github/workflows/ci-test.yaml
  backend/pkg/assemblers/ca.go
  backend/pkg/assemblers/ca_csr_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/helpers/keystrength.go
  backend/pkg/middlewares/eventpub/ca.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  core/pkg/engines/storage/ca.go
  core/pkg/engines/storage/engine.go
  core/pkg/engines/storage/engine_test.go
  core/pkg/helpers/cryptosubject.go
  core/pkg/helpers/cryptosubject_test.go
  core/pkg/helpers/cryptoutils.go
  core/pkg/helpers/cryptoutils_test.go
  core/pkg/helpers/readcerts.go
  core/pkg/models/ca.go
  core/pkg/models/events.go
  core/pkg/models/webhook-call.go
  core/pkg/models/x509certificate.go
  core/pkg/resources/careq.go
  core/pkg/resources/caresp.go
  core/pkg/services/ca.go
  core/pkg/services/mock/caservice_mock.go
  engines/storage/postgres/careqstore.go
  engines/storage/postgres/engine.go
  engines/storage/postgres/migrations/ca/20250105155900_create_requests_table.sql
  engines/storage/postgres/migrations_test/ca_test.go
  engines/storage/postgres/subsystem/subsystem.go
  sdk/ca.go
  sdk/utils.go
Due: core, sdk, storage-postgres, backend

fix: use issuer metadata to refer caid
  connectors/awsiot/pkg/service.go
Due: none

fix: AWS Connector: use issuer metadata to refer caid (#204)
  connectors/awsiot/pkg/service.go
Due: none

refactor: move connector ID composition to connectors implementation
  connectors/awsiot/cmd/main.go
  connectors/awsiot/pkg/config.go
  connectors/awsiot/pkg/event-handlers.go
  core/pkg/models/events.go
  monolithic/pkg/assembler.go
Due: core

refactor: move connector metadata key compute function to connector implementation
  connectors/awsiot/pkg/config.go
  connectors/awsiot/pkg/event-handlers.go
  connectors/awsiot/pkg/service.go
  core/pkg/models/iot_aws.go
Due: core

adding first implementation for issuance profiles
  backend/pkg/assemblers/ca_csr_test.go
  backend/pkg/services/ca.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_sign_test.go
  backend/pkg/x509engines/x509engine_test.go
  core/pkg/models/ca.go
  core/pkg/models/x509_keyusage.go
Due: core, backend

refator: move AWS IoT connector models to connector implementation module
  backend/pkg/test/e2e/usecase-1.go
  connectors/awsiot/pkg/event-handlers.go
  connectors/awsiot/pkg/iot_aws.go
  connectors/awsiot/pkg/service.go
Due: backend

add content length in cacerts download with PEM support
  backend/pkg/controllers/est.go
Due: backend

Update est.go
  backend/pkg/controllers/est.go
Due: backend

fix: EST: add content length in cacerts download with PEM support (#207)
  backend/pkg/controllers/est.go
Due: backend

order migrations
  engines/storage/postgres/migrations/ca/20250115095852_create_requests_table.sql
  engines/storage/postgres/migrations_test/ca_test.go
Due: storage-postgres

adding keyid refactor
  backend/pkg/assemblers/ca_test.go
  backend/pkg/assemblers/dms-manager_events_test.go
  backend/pkg/assemblers/dms-manager_test.go
  backend/pkg/assemblers/va_test.go
  backend/pkg/controllers/ca.go
  backend/pkg/services/ca.go
  backend/pkg/services/dmsmanager.go
  backend/pkg/test/e2e/usecase-1.go
  backend/pkg/x509engines/x509engine.go
  backend/pkg/x509engines/x509engine_test.go
  connectors/awsiot/pkg/service.go
  core/pkg/engines/cryptoengines/cryptoengine.go
  core/pkg/engines/cryptoengines/cryptoengine_test.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  core/pkg/resources/careq.go
  core/pkg/services/ca.go
  engines/crypto/aws/awskms.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager.go
  engines/crypto/aws/secretsmanager_test.go
  engines/crypto/aws/subsystem/subsystem.go
  engines/crypto/filesystem/filesystem.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/pkcs11/docker/emulator.go
  engines/crypto/pkcs11/docker/emultaor.go
  engines/crypto/pkcs11/pkcs11.go
  engines/crypto/pkcs11/pkcs11_test.go
  engines/crypto/pkcs11/subsystem/subsystem.go
  engines/crypto/vaultkv2/docker/test_suite.go
  engines/crypto/vaultkv2/docker/vaultkv2.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/crypto/vaultkv2/vaultkv2_test.go
  engines/eventbus/aws/engine_test.go
  engines/storage/postgres/utils.go
  sdk/ca.go
  shared/aws/docker-emulator.go
Due: shared-aws, core, sdk, crypto-aws, crypto-filesystem, crypto-vaultkv2, crypto-pkcs11, storage-postgres, backend

fixing various tests
  backend/pkg/assemblers/ca_test.go
  backend/pkg/routes/ca.go
  backend/pkg/services/ca.go
  core/pkg/engines/cryptoengines/cryptoengine_testset.go
  engines/crypto/aws/awskms_test.go
  engines/crypto/aws/secretsmanager_test.go
  engines/crypto/filesystem/filesystem_test.go
  engines/crypto/vaultkv2/docker/test_suite.go
  engines/crypto/vaultkv2/vaultkv2.go
  engines/crypto/vaultkv2/vaultkv2_test.go
Due: crypto-vaultkv2, backend

fixing reenroll csr signature validityt
  backend/pkg/services/dmsmanager.go
Due: backend

Path conditions:
  shared-aws: any of: shared/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  shared-http: any of: shared/http/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  core: any of: core/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  sdk: any of: sdk/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-aws: any of: engines/crypto/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-filesystem: any of: engines/crypto/filesystem/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-vaultkv2: any of: engines/crypto/vaultkv2/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  crypto-pkcs11: any of: engines/crypto/pkcs11/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-postgres: any of: engines/storage/postgres/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-sqlite: any of: engines/storage/sqlite/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  storage-couchdb: any of: engines/storage/couchdb/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-amqp: any of: engines/eventbus/amqp/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-aws: any of: engines/eventbus/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  eventbus-channel: any of: engines/eventbus/channel/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  backend: any of: backend/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
  connector-aws: any of: connector/aws/, but not: **/*_mock.go, **/*_test.go, **/*_testset.go
